force-app/main/default/flows/Assigned_Serial_Before_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_End_User_Account_and_Order</name>
        <label>Set End User Account and Order</label>
        <locationX>429</locationX>
        <locationY>550</locationY>
        <assignmentItems>
            <assignToReference>$Record.End_User_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subscription__r.SBQQ__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subscription__r.Related_Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Order_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_End_User_Account_on_Asset</name>
        <label>Set End User Account on Asset</label>
        <locationX>413</locationX>
        <locationY>407</locationY>
        <assignmentItems>
            <assignToReference>$Record.End_User_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Asset__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Subscription</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Order_Item_ID</name>
        <label>Set Order &amp; Order Item ID</label>
        <locationX>427</locationX>
        <locationY>700</locationY>
        <assignmentItems>
            <assignToReference>$Record.Order_Order_Line_ID_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Asset</name>
        <label>Update Asset</label>
        <locationX>409</locationX>
        <locationY>273</locationY>
        <assignmentItems>
            <assignToReference>$Record.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asset_Populated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Asset_Populated</name>
        <label>Asset Populated</label>
        <locationX>145</locationX>
        <locationY>393</locationY>
        <defaultConnector>
            <targetReference>Check_Subscription</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Asset_AS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Asset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_End_User_Account_on_Asset</targetReference>
            </connector>
            <label>Check Asset on AS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Order_Id</name>
        <label>Check Order Id</label>
        <locationX>138</locationX>
        <locationY>696</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Id_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order_Order_Line_ID_Text__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OrderId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Order_Item_ID</targetReference>
            </connector>
            <label>Order Id is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Subscription</name>
        <label>Check Subscription</label>
        <locationX>140</locationX>
        <locationY>547</locationY>
        <defaultConnector>
            <targetReference>Check_Order_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Subscription_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckSubscription</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_End_User_Account_and_Order</targetReference>
            </connector>
            <label>Subscription Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Subscription_for_Asset</name>
        <label>Check Subscription for Asset</label>
        <locationX>143</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Asset_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Subscription_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asset__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckSubscription</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Asset</targetReference>
            </connector>
            <label>Check Subscription for Asset</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Asset</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!$Record.Subscription__r.SBQQ__RootId__c}, &apos;02i&apos;) , {!$Record.Subscription__r.SBQQ__RootId__c}, null)</expression>
    </formulas>
    <formulas>
        <name>Check_Asset</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND(
{!$Record.Asset__c} &lt;&gt; NULL,
{!$Record.Asset__r.AccountId} &lt;&gt; NULL,
OR(ISNEW(),
ISCHANGED({!$Record.Asset__c}))),TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>CheckSubscription</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND({!$Record.Subscription__c}&lt;&gt; NULL,
OR(ISNEW(),
ISCHANGED({!$Record.Subscription__c}))),TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>OrderId</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!$Record.Subscription__c}), &quot;&quot;, {!$Record.Subscription__r.Universal_Order_Id__c} +&quot;|&quot; + {!$Record.Subscription__r.Universal_OrderItem_Id__c})</expression>
    </formulas>
    <interviewLabel>Assigned Serial Before Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assigned Serial Before Save Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>27</locationX>
        <locationY>24</locationY>
        <connector>
            <targetReference>Check_Subscription_for_Asset</targetReference>
        </connector>
        <object>Assigned_Serial__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CheckAsset</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
