force-app/main/default/flows/Auto_Populate_Oppty_before_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_18_Digit_Id</name>
        <label>Set 18 Digit Id</label>
        <locationX>193</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>$Record.X18_digit_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Partner_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Annual_Contract_Value_0</name>
        <label>Set Annual Contract Value 0</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBCF_Annual_Contract_Value2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Bypass_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpportunityClosed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set ACV for Non MSP as  = SBCF_Annual_Contract_Value__c</description>
        <name>Set_Annual_Contract_Value_for_Non_MSP</name>
        <label>Set Annual Contract Value for Non MSP</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBCF_Annual_Contract_Value2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBCF_Annual_Contract_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpportunityClosed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Insert_or_update</name>
        <label>Is Insert or update</label>
        <locationX>325</locationX>
        <locationY>1271</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Update</name>
            <conditionLogic>1 AND (2 Or 3)</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X18_digit_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X18_digit_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_18_Digit_Id</targetReference>
            </connector>
            <label>Is Update</label>
        </rules>
    </decisions>
    <decisions>
        <description>Assign ACV (Annual Contract Value) only for Non MSP Opportunity</description>
        <name>Is_Non_MSP_Opportunity</name>
        <label>Is Non MSP Opportunity?</label>
        <locationX>446</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>OpportunityClosed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Non_MSP_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Group__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MSP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Annual_Contract_Value_for_Non_MSP</targetReference>
            </connector>
            <label>Non MSP Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Primary_Quote_populated</name>
        <label>Is Primary Quote populated</label>
        <locationX>600</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>OpportunityClosed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_Quote_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__PrimaryQuote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__PrimaryQuote__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Non_MSP_Opportunity</targetReference>
            </connector>
            <label>Primary Quote Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>OpportunityClosed</name>
        <label>Opportunity Closed</label>
        <locationX>325</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Is_Insert_or_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Closed_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Is Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_Quote_Is_changed_to_Blank</name>
        <label>Primary Quote Is changed to Blank</label>
        <locationX>325</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Is_Primary_Quote_populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_Changed_to_Blank</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__PrimaryQuote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__PrimaryQuote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__PrimaryQuote__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Annual_Contract_Value_0</targetReference>
            </connector>
            <label>Quote Changed to Blank</label>
        </rules>
    </decisions>
    <description>Set Field values on Opportunity before insert or update SFDC 19804
SFDC-20095: Added extra condition to check if opportunity is non-MSP before assigning ACV field.</description>
    <environments>Default</environments>
    <formulas>
        <description>Set Annual Contact Value</description>
        <name>AnnualContactValue</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!$Record.SBQQ__PrimaryQuote__c})&amp;&amp; ISCHANGED({!$Record.SBQQ__PrimaryQuote__c}), 0, IF(NOT(ISPICKVAL({!$Record.StageName}, &apos;Close Won&apos;)) &amp;&amp; NOT(ISBLANK({!$Record.SBQQ__PrimaryQuote__c})),{!$Record.SBCF_Annual_Contract_Value__c},{!$Record.SBCF_Annual_Contract_Value__c}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Check if insert or update</description>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Auto Populate Oppty before Insert/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Populate Oppty before Insert/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Closed_Date</name>
        <label>Set Closed Date</label>
        <locationX>193</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Is_Insert_or_update</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Partner_Number</name>
        <label>Set Partner Number</label>
        <locationX>193</locationX>
        <locationY>1487</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Distributor__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Distributor__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Distributor_Partner_Number__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>199</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Primary_Quote_Is_changed_to_Blank</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
