force-app/main/default/flows/BusinessFlowNotification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Back_order_Email_Notification</name>
        <label>Back order Email Notification</label>
        <locationX>4714</locationX>
        <locationY>382</locationY>
        <actionName>Case.Notification_to_customer_on_Back_Order</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Notification_to_customer_on_Back_Order</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Bell_Notification_to_Americas_Prof_Svc_Group</name>
        <label>Bell Notification to Americas Prof Svc Group</label>
        <locationX>5330</locationX>
        <locationY>1046</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>ProfSvcAmericasGroupTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ProfSvcAmericasGroupBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Bell_Notification_to_APAC_Prof_Svc_Group</name>
        <label>Bell Notification to APAC Prof Svc Group</label>
        <locationX>5858</locationX>
        <locationY>1046</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>ProfSvcAPACGroupTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ProfSvcAPACGroupBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Bell_Notification_to_EMEA_Prof_Svc_Group</name>
        <label>Bell Notification to EMEA Prof Svc Group</label>
        <locationX>5594</locationX>
        <locationY>1046</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>EMEAProfSvcGroupTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ProfSvcEMEAGroupBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Bell_Notify_Case_Owner</name>
        <label>Bell Notify Case Owner</label>
        <locationX>7706</locationX>
        <locationY>722</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>RMAApprovalStatusTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>RMAApprovalStatusBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Bell_RMA_L2_Approver_Notification</name>
        <label>Bell- RMA L2 Approver Notification</label>
        <locationX>8343</locationX>
        <locationY>717</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>RMAApprovalL2Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>RMAApprpvalL2Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Bell_to_Escalated_by_User</name>
        <label>Bell to Escalated by User</label>
        <locationX>7970</locationX>
        <locationY>722</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TSCaseStatusChangedToDevQueueTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TSCaseStatusChangeToDevQueueBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Case_Internal_Ticket_Closed_Email_Notification</name>
        <label>Case: Internal Ticket Closed Email Notification</label>
        <locationX>4538</locationX>
        <locationY>398</locationY>
        <actionName>Case.Case_Internal_Ticket_Closed_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Internal_Ticket_Closed_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Case_Internal_Ticket_Updated_Email_Notification</name>
        <label>Case Internal Ticket Updated Email Notification</label>
        <locationX>4274</locationX>
        <locationY>398</locationY>
        <actionName>Case.Case_Internal_Ticket_Updated_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Internal_Ticket_Updated_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Case_Owner_Email_Notification</name>
        <label>Case Owner Email Notification</label>
        <locationX>3101</locationX>
        <locationY>578</locationY>
        <actionName>Case.Change_Case_Owner_Email_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Change_Case_Owner_Email_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Case_Status_Change_on_Cases_by_Dev_Email</name>
        <label>Case_Status_Change_on_Cases_by_Dev_Email</label>
        <locationX>3218</locationX>
        <locationY>398</locationY>
        <actionName>Case.Case_Status_Change_on_Cases_owned_by_Dev_Queus</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Status_Change_on_Cases_owned_by_Dev_Queus</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Community_Help_Auto_ResponseAlert</name>
        <label>Community_Help_Auto_Response</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <actionName>Case.Community_Help_Auto_Response</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Community_Help_Auto_Response</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Community_Request_to_close_caseArt</name>
        <label>Community_Request_to_close_case</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <actionName>Case.Community_Request_to_close_case</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Community_Request_to_close_case</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Community_request_to_close_Notification</name>
        <label>Community request to close Notification</label>
        <locationX>7442</locationX>
        <locationY>722</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TaskCreationNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TaskCreationNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Contact_Email_Notification</name>
        <label>Contact Email Notification</label>
        <locationX>3208</locationX>
        <locationY>567</locationY>
        <actionName>Case.Notification_to_customer_Processed_RMA</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Notification_to_customer_Processed_RMA</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Custom_Notification_Case</name>
        <label>Custom Notification Case</label>
        <locationX>6650</locationX>
        <locationY>722</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Approval Request</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>RMAApproved</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Custom_Notification_Case_0</name>
        <label>Custom Notification Case</label>
        <locationX>6914</locationX>
        <locationY>722</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Status Updated on case escalated to Support by you</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>StatusChangeEsclated</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Escalated_Notification</name>
        <label>Email Escalated Notification</label>
        <locationX>3482</locationX>
        <locationY>398</locationY>
        <actionName>Case.Escalated_Case_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Escalated_Case_email_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_to_Case_Support_Escalated_B</name>
        <label>Email_to_Case_Support_Escalated_B</label>
        <locationX>2407</locationX>
        <locationY>531</locationY>
        <actionName>Case.Email_to_Case_Support_Escalated_By</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Email_to_Case_Support_Escalated_By</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_to_Owner</name>
        <label>Email to Owner</label>
        <locationX>3746</locationX>
        <locationY>398</locationY>
        <actionName>Case.Escalated_Approval_updated_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Escalated_Approval_updated_email_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_to_Submitted_by_Customer_Agent</name>
        <label>Email to Submitted by  &amp; Customer Agent</label>
        <locationX>2963</locationX>
        <locationY>585</locationY>
        <actionName>Case.Notification_to_RMA_Customer_Agent</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Notification_to_RMA_Customer_Agent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notification_to_customer_of_RMA_submitted</name>
        <label>Notification to customer of RMA submitted</label>
        <locationX>3308</locationX>
        <locationY>567</locationY>
        <actionName>Case.Notification_to_customer_of_RMA_submitted</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Notification_to_customer_of_RMA_submitted</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Dev_Queue_Email</name>
        <label>Notify Dev Queue Email</label>
        <locationX>4010</locationX>
        <locationY>398</locationY>
        <actionName>Case.Email_Notification_to_a_Dev_Queue</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Email_Notification_to_a_Dev_Queue</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Requester_Chatter_Notification</name>
        <label>Notify Requester Chatter Notification</label>
        <locationX>8234</locationX>
        <locationY>722</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotificationType_0.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>StatusChangeNotificationInternalTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>StatusChangeNotificationInternalBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Premium_Case_Closure_Notificationalrt</name>
        <label>Premium_Case_Closure_Notification</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <actionName>Case.Premium_Case_Closure_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Premium_Case_Closure_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Premium_Case_Notification</name>
        <label>Premium Case Notification</label>
        <locationX>7178</locationX>
        <locationY>722</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotificationType_0.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>P1 Premium Case has been closed.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>PremiumCaseNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Prof_Svc_New_Case_Bell_Notify_APAC</name>
        <label>Prof Svc New Case Bell Notify APAC</label>
        <locationX>1634</locationX>
        <locationY>398</locationY>
        <actionName>Case.APAC_Proffessional_Service_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.APAC_Proffessional_Service_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Prof_Svc_New_Case_Bell_Notify_EMEA</name>
        <label>Prof Svc New Case Bell Notify EMEA</label>
        <locationX>1370</locationX>
        <locationY>398</locationY>
        <actionName>Case.Professional_Services_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Professional_Services_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Prof_Svc_New_Case_Email_Americas</name>
        <label>Prof Svc New Case Email-Americas</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <actionName>Case.AMERICAS_Professional_Service_Internal_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.AMERICAS_Professional_Service_Internal_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Prof_Svc_Resolved_Email_Alert_Americas</name>
        <label>Prof Svc Resolved Email Alert-Americas</label>
        <locationX>1898</locationX>
        <locationY>398</locationY>
        <actionName>Case.Case_AMERICAS_Professional_Services_Resolved_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_AMERICAS_Professional_Services_Resolved_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Prof_Svc_Resolved_Email_Alert_APAC</name>
        <label>Prof Svc Resolved Email Alert-APAC</label>
        <locationX>2426</locationX>
        <locationY>398</locationY>
        <actionName>Case.Case_APAC_Professional_Services_Resolved_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_APAC_Professional_Services_Resolved_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Prof_Svc_Resolved_Email_Alert_EMEA</name>
        <label>Prof Svc Resolved Email Alert-EMEA</label>
        <locationX>2162</locationX>
        <locationY>398</locationY>
        <actionName>Case.Case_EMEA_Professional_Services_Resolved_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_EMEA_Professional_Services_Resolved_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RMA_Approval_Email_EnggAlert</name>
        <label>RMA_Approval_Email_Engg</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <actionName>Case.RMA_Approval_Email_Engg</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.RMA_Approval_Email_Engg</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RMA_Approval_L2</name>
        <label>RMA Approval L2</label>
        <locationX>4640</locationX>
        <locationY>392</locationY>
        <actionName>Case.RMA_Approval_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.RMA_Approval_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RMA_Approval_Updated_Email_Notify</name>
        <label>RMA Approval Updated Email Notify</label>
        <locationX>2690</locationX>
        <locationY>398</locationY>
        <actionName>Case.RMA_Approval_Status_Changed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.RMA_Approval_Status_Changed</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_when_Case_Owner_is_changed</name>
        <label>Send Email when Case Owner is changed</label>
        <locationX>2954</locationX>
        <locationY>398</locationY>
        <actionName>Case.Change_Case_Owner_Email_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Change_Case_Owner_Email_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SKOUT_Enablement_Notification1</name>
        <label>SKOUT Enablement Notification</label>
        <locationX>6122</locationX>
        <locationY>1046</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>SKOUT_Notification_title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>SKOUT_Enablement_NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>RecipientGroup</name>
        <label>RecipientGroup</label>
        <locationX>5858</locationX>
        <locationY>830</locationY>
        <assignmentItems>
            <assignToReference>RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Group_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bell_Notifications_to_Groups</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bell_Notifications_to_Groups</name>
        <label>Bell Notifications to Groups</label>
        <locationX>5858</locationX>
        <locationY>938</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prof_Svc_New_Case_Bell_Notify_Americas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prof_Svc_New_Case_Bell_Notify_Americas_P</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bell_Notification_to_Americas_Prof_Svc_Group</targetReference>
            </connector>
            <label>Prof Svc New Case Bell Notify Americas</label>
        </rules>
        <rules>
            <name>Prof_Svc_New_Case_Bell_Notification_EMEA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prof_Svc_New_Case_Bell_Notify_EMEA_Prof</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bell_Notification_to_EMEA_Prof_Svc_Group</targetReference>
            </connector>
            <label>Prof Svc New Case Bell Notification EMEA</label>
        </rules>
        <rules>
            <name>Prof_Svc_New_Case_Bell_Notification_APAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prof_Svc_New_Case_Bell_Notify_APAC_Prof</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bell_Notification_to_APAC_Prof_Svc_Group</targetReference>
            </connector>
            <label>Prof Svc New Case Bell Notification APAC</label>
        </rules>
        <rules>
            <name>SKOUT_Enablement_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SKOUT_Enablement_Notification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SKOUT_Enablement_Notification1</targetReference>
            </connector>
            <label>SKOUT_Enablement_Notification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Notificationtype</name>
        <label>Check Notificationtype</label>
        <locationX>7178</locationX>
        <locationY>614</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Group_Name_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BellNotificationGroupName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group_Id</targetReference>
            </connector>
            <label>Group Name Exists?</label>
        </rules>
        <rules>
            <name>RMA_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RMAApproved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Notification_Case</targetReference>
            </connector>
            <label>RMA Approved</label>
        </rules>
        <rules>
            <name>CaseChangeEsclated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CaseStatusChange</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Notification_Case_0</targetReference>
            </connector>
            <label>CaseChangeEsclated</label>
        </rules>
        <rules>
            <name>Premium_Support_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premium_Support_Notification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Premium_Case_Notification</targetReference>
            </connector>
            <label>Premium_Support_Notification</label>
        </rules>
        <rules>
            <name>Task_Creation_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task_Creation_Notification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Community_request_to_close_Notification</targetReference>
            </connector>
            <label>Task_Creation_Notification</label>
        </rules>
        <rules>
            <name>RMA_Approval_Bell_Notify_to_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RMA_Approval_Bell_Notify_to_Owner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bell_Notify_Case_Owner</targetReference>
            </connector>
            <label>RMA Approval Bell Notify to Owner</label>
        </rules>
        <rules>
            <name>TS_Case_Status_changed_on_Dev_Queue_Bell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TS_Case_Status_To_Dev_Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bell_to_Escalated_by_User</targetReference>
            </connector>
            <label>TS Case Status changed on Dev Queue Bell</label>
        </rules>
        <rules>
            <name>Status_Change_Bell_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_Internal_Ticket_Updated_Notification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Requester_Chatter_Notification</targetReference>
            </connector>
            <label>Status Change Bell Notification</label>
        </rules>
        <rules>
            <name>Bell_RMA_L2_Approver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RMAApprovalL2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bell_RMA_L2_Approver_Notification</targetReference>
            </connector>
            <label>Bell- RMA L2 Approver</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Type_Email_Alert</name>
        <label>Check Type Email Alert</label>
        <locationX>5660</locationX>
        <locationY>182</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>alert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alert</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Type_Email_Alert_0</targetReference>
            </connector>
            <label>Alert</label>
        </rules>
        <rules>
            <name>Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Notification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getMergeRecord</targetReference>
            </connector>
            <label>Notification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Type_Email_Alert_0</name>
        <label>Check Type Email Alert</label>
        <locationX>2558</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RMA_Approval_Email_Engg_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RMA_Approval_Email_Engg</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RMA_Approval_Email_EnggAlert</targetReference>
            </connector>
            <label>RMA_Approval_Email_Engg</label>
        </rules>
        <rules>
            <name>Community_Help_Auto_Response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Community_Help_Auto_Response</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Community_Help_Auto_ResponseAlert</targetReference>
            </connector>
            <label>Community_Help_Auto_Response</label>
        </rules>
        <rules>
            <name>Community_Request_to_close_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Community_Request_to_close_case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Community_Request_to_close_caseArt</targetReference>
            </connector>
            <label>Community_Request_to_close_case</label>
        </rules>
        <rules>
            <name>Premium_Case_Closure_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premium_Case_Closure_Notification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Premium_Case_Closure_Notificationalrt</targetReference>
            </connector>
            <label>Premium_Case_Closure_Notification</label>
        </rules>
        <rules>
            <name>Prof_Svc_RT_Case_Creation_Americas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMERICAS_Professional_Service_Internal_Email_Alert</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prof_Svc_New_Case_Email_Americas</targetReference>
            </connector>
            <label>Prof Svc RT Case Creation_Americas</label>
        </rules>
        <rules>
            <name>Prof_Svc_RT_Case_Creation_EMEA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional_Services_Email_Alert</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prof_Svc_New_Case_Bell_Notify_EMEA</targetReference>
            </connector>
            <label>Prof Svc RT Case Creation EMEA</label>
        </rules>
        <rules>
            <name>Prof_Svc_RT_Case_Creation_APAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC_Proffessional_Service_Email_Alert</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prof_Svc_New_Case_Bell_Notify_APAC</targetReference>
            </connector>
            <label>Prof Svc RT Case Creation APAC</label>
        </rules>
        <rules>
            <name>Prof_Svc_Resolved_Email_Americas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_AMERICAS_Professional_Services_Resolved_Notification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prof_Svc_Resolved_Email_Alert_Americas</targetReference>
            </connector>
            <label>Prof Svc Resolved Email-Americas</label>
        </rules>
        <rules>
            <name>Prof_Svc_Resolved_Email_EMEA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_EMEA_Professional_Services_Resolved_Notification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prof_Svc_Resolved_Email_Alert_EMEA</targetReference>
            </connector>
            <label>Prof Svc Resolved Email-EMEA</label>
        </rules>
        <rules>
            <name>Prof_Svc_Resolved_Email_APAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_APAC_Professional_Services_Resolved_Notification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prof_Svc_Resolved_Email_Alert_APAC</targetReference>
            </connector>
            <label>Prof Svc Resolved Email-APAC</label>
        </rules>
        <rules>
            <name>RMA_Approval_Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RMA_Approval_Status_Changed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RMA_Approval_Updated_Email_Notify</targetReference>
            </connector>
            <label>RMA Approval Status Changed</label>
        </rules>
        <rules>
            <name>Case_Owner_is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change_Case_Owner_Email_alert</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_when_Case_Owner_is_changed</targetReference>
            </connector>
            <label>Case Owner is Changed</label>
        </rules>
        <rules>
            <name>TS_Case_Status_changed_on_Dev_Queue_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_Status_Change_on_Cases_owned_by_Dev_Queus</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Status_Change_on_Cases_by_Dev_Email</targetReference>
            </connector>
            <label>TS Case Status changed on Dev Queue Cases</label>
        </rules>
        <rules>
            <name>Case_Escalated_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalated_Case_email_alert</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Escalated_Notification</targetReference>
            </connector>
            <label>Case Escalated Notification</label>
        </rules>
        <rules>
            <name>Case_Escalated_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalated_Approval_updated_email_alert</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_Owner</targetReference>
            </connector>
            <label>Case Escalated Approved</label>
        </rules>
        <rules>
            <name>Case_Escalated_to_Dev_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email_Notification_to_a_Dev_Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Dev_Queue_Email</targetReference>
            </connector>
            <label>Case Escalated to Dev Queue</label>
        </rules>
        <rules>
            <name>Status_Change_Notification_Internal_Tick</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_Internal_Ticket_Updated_Notification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Internal_Ticket_Updated_Email_Notification</targetReference>
            </connector>
            <label>Status Change Notification Internal Tick</label>
        </rules>
        <rules>
            <name>Ticket_Closed_Internal_Ticket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_Internal_Ticket_Closed_Notification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Internal_Ticket_Closed_Email_Notification</targetReference>
            </connector>
            <label>Ticket Closed - Internal Ticket</label>
        </rules>
        <rules>
            <name>Email_to_Case_Support_Escalate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email_to_Case_Support_Escalated_By</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_Case_Support_Escalated_B</targetReference>
            </connector>
            <label>Email_to_Case_Support_Escalate</label>
        </rules>
        <rules>
            <name>RMA_Approval_L2_Email_Alert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RMA_Approval_L2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RMA_Approval_L2</targetReference>
            </connector>
            <label>RMA Approval L2 Email Alert</label>
        </rules>
        <rules>
            <name>Notification_on_Back_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back_order_Notification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Back_order_Email_Notification</targetReference>
            </connector>
            <label>Notification on Back Order</label>
        </rules>
        <rules>
            <name>Case_back_to_RMA_Submitted_by_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Notification_to_RMA_Customer_Agent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_Submitted_by_Customer_Agent</targetReference>
            </connector>
            <label>Case back to RMA Submitted by User</label>
        </rules>
        <rules>
            <name>RMA_Submitted_By_User_Case_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change_Case_Owner_Email_alert</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Owner_Email_Notification</targetReference>
            </connector>
            <label>RMA Submitted By User-Case Owner</label>
        </rules>
        <rules>
            <name>RMA_Status_Processed_Americas_ONLY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Notification_to_customer_Processed_RMA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Email_Notification</targetReference>
            </connector>
            <label>RMA Status=Processed(Americas ONLY)</label>
        </rules>
        <rules>
            <name>Notification_to_customer_of_RMA_submitted_Americas_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailAlert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Notification_to_customer_of_RMA_submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_to_customer_of_RMA_submitted</targetReference>
            </connector>
            <label>Notification to customer of RMA submitted(Americas Only)</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>BusinessFlowNotification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BusinessFlowNotification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Group_Id</name>
        <label>Get Group Id</label>
        <locationX>5858</locationX>
        <locationY>722</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecipientGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BellNotificationGroupName</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>Group_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCustomNotificationType</name>
        <label>GetCustomNotificationTypeBell</label>
        <locationX>7178</locationX>
        <locationY>506</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Notificationtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomNotifTypeName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell Notif</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCustomNotificationType_0</name>
        <label>GetCustomNotificationTypeChatter</label>
        <locationX>7178</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCustomNotificationType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomNotifTypeName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chatter Post</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMergeRecord</name>
        <label>getMergeRecord</label>
        <locationX>7178</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCustomNotificationType_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>5534</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Type_Email_Alert</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EMEAProfSvcGroupTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>EMEA Prof Service case #{!getMergeRecord.CaseNumber} has been created</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>PremiumCaseNotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Subject: {!getMergeRecord.Subject}
Case#{!getMergeRecord.CaseNumber}
Account Name: {!getMergeRecord.Account.Name}
Product Family: {!getMergeRecord.Product_Family_List__c}
Support Region: {{!getMergeRecord.Web_Region__c}</text>
    </textTemplates>
    <textTemplates>
        <name>ProfSvcAmericasGroupBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Americas Prof Service case #{!getMergeRecord.CaseNumber} has been created : 
{!getMergeRecord.Subject}</text>
    </textTemplates>
    <textTemplates>
        <name>ProfSvcAmericasGroupTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Americas Prof Service case #{!getMergeRecord.CaseNumber} has been created</text>
    </textTemplates>
    <textTemplates>
        <name>ProfSvcAPACGroupBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>APAC Prof Service case #{!getMergeRecord.CaseNumber} has been created : 
{!getMergeRecord.Subject}</text>
    </textTemplates>
    <textTemplates>
        <name>ProfSvcAPACGroupTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>APAC Prof Service case #{!getMergeRecord.CaseNumber} has been created</text>
    </textTemplates>
    <textTemplates>
        <name>ProfSvcEMEAGroupBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>EMEA Prof Service case #{!getMergeRecord.CaseNumber} has been created : 
{!getMergeRecord.Subject}</text>
    </textTemplates>
    <textTemplates>
        <name>RMAApprovalL2Title</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Approval Request</text>
    </textTemplates>
    <textTemplates>
        <name>RMAApprovalStatusBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Case #{!getMergeRecord.CaseNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>RMAApprovalStatusTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>RMA approval task has been updated</text>
    </textTemplates>
    <textTemplates>
        <name>RMAApproved</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>An Approval request has been sent to you for Case Number: {!getMergeRecord.CaseNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>RMAApprpvalL2Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>An Approval request has been sent to you for Case Number: {!getMergeRecord.CaseNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>SKOUT_Enablement_NotificationBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Account Name - {!getMergeRecord.Account.Name}
Subject - {!getMergeRecord.Subject} 
Opportunity Name - {!getMergeRecord.Opportunity_for_SE_Cases__r.Name}
 Case Opened Date - {!getMergeRecord.CreatedDate}</text>
    </textTemplates>
    <textTemplates>
        <name>SKOUT_Notification_title</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>New {!getMergeRecord.RecordType.Name} case Created</text>
    </textTemplates>
    <textTemplates>
        <name>StatusChangeEsclated</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Status of Case # {!getMergeRecord.CaseNumber} is changed to {!getMergeRecord.Status}</text>
    </textTemplates>
    <textTemplates>
        <name>StatusChangeNotificationInternalBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Status updated to - {!getMergeRecord.Status}</text>
    </textTemplates>
    <textTemplates>
        <name>StatusChangeNotificationInternalTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Status has been updated on your Internal Ticket</text>
    </textTemplates>
    <textTemplates>
        <name>TaskCreationNotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Account Name : {!getMergeRecord.Account.Name}
Contact Name : {!getMergeRecord.Contact.FirstName} {!getMergeRecord.Contact.LastName}
A Task has been assigned to you.</text>
    </textTemplates>
    <textTemplates>
        <name>TaskCreationNotificationTitle</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Community request to close case #{!getMergeRecord.CaseNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>TSCaseStatusChangedToDevQueueTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Status Updated on Case Escalated by you</text>
    </textTemplates>
    <textTemplates>
        <name>TSCaseStatusChangeToDevQueueBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Status of Case #{!getMergeRecord.CaseNumber} is changed to {!getMergeRecord.Status}</text>
    </textTemplates>
    <variables>
        <name>ActionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Notifications will be sent to this Group</description>
        <name>BellNotificationGroupName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailAlert</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Group_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotificationTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
