force-app/main/default/flows/Check_for_Territory_Users_for_Renewals.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Backup_Rep_User</name>
        <label>Assign Backup Rep User</label>
        <locationX>528</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>BackupRepID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Territory_User.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Territory_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Primary_Rep_User</name>
        <label>Assign Primary Rep User</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>PrimaryRenewRepID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Territory_User.UserId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Primary_Backup_Users</name>
        <label>Check Primary &amp; Backup Users</label>
        <locationX>528</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Territory_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Primary_Rep_User_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Territory_User.UserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Over_Territory_User.RoleInTerritory2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewals</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Over_Territory_User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Primary_Rep_User</targetReference>
            </connector>
            <label>If Primary Rep User exists</label>
        </rules>
        <rules>
            <name>If_Backup_Rep_User_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Territory_User.UserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Over_Territory_User.RoleInTerritory2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal - Backup Owner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Over_Territory_User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Backup_Rep_User</targetReference>
            </connector>
            <label>If Backup Rep User exists?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Check for Territory Users for Renewals {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check for Territory Users for Renewals</label>
    <loops>
        <name>Loop_Over_Territory_User</name>
        <label>Loop Over Territory User</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>TerritoryUsers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Primary_Backup_Users</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Over_Territory_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BackupRepID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PrimaryRenewRepID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>TerritoryUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>UserTerritory2Association</objectType>
    </variables>
</Flow>
