force-app/main/default/flows/Clone_Case_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Feed_Item_Values</name>
        <label>Assign Feed Item Values</label>
        <locationX>950</locationX>
        <locationY>138</locationY>
        <assignmentItems>
            <assignToReference>getChatterPostObj.Body</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChatterPostConcat</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getChatterPostObj.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Case_Obj.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Chatter_Post</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Feed_Item_Values_to_New_Case</name>
        <label>Assign Feed Item Values to New Case</label>
        <locationX>1200</locationX>
        <locationY>375</locationY>
        <assignmentItems>
            <assignToReference>getChatterPostObj.Body</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChatterPostConcat</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getChatterPostObj.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetNewCaseObj.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Chatter_Post_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clone_Case_Obj</name>
        <label>Clone Case Obj</label>
        <locationX>654</locationX>
        <locationY>179</locationY>
        <assignmentItems>
            <assignToReference>NewCaseObj.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Case_Obj.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseObj.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Case_Obj.RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseObj.Serial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Case_Obj.Serial__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseObj.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Case_Obj.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseObj.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Case_Obj.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseObj.ProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Case_Obj.ProductId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseObj.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Case_Obj.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseObj.Web_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Case_Obj.Web_Region__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseObj.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Case_Obj.Origin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseObj.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Case_Obj.Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseObj.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Case_Obj.EntitlementId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseObj.Phone_Extension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Case_Obj.Phone_Extension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseObj.Alt_Email_in_use__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Case_Obj.Alt_Email_in_use__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseObj.Alternate_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Case_Obj.Alternate_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Case_Obj.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseObj.Pick_Product_only_if_Essentials__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Case_Obj.Pick_Product_only_if_Essentials__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseObj.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Case_Obj.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseObj.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Case_Obj.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseObj.Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Case_Obj.Client__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseObj.Computer_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Case_Obj.Computer_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseObj.Username__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Case_Obj.Username__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseObj.Fix_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Case_Obj.Fix_Version__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseObj.Alert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Case_Obj.Alert__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseObj.preferred_Contact_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Case_Obj.preferred_Contact_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseObj.URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Case_Obj.URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseObj.Serial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Case_Obj.Serial__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseObj.Missing_Serial_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Case_Obj.Missing_Serial_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseObj.Product_Family_List__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Case_Obj.Product_Family_List__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Validations</name>
        <label>Case Validations</label>
        <locationX>495</locationX>
        <locationY>368</locationY>
        <defaultConnector>
            <targetReference>Clone_Case_Obj</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Dev_Phishing_queue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Original_Case_Obj.Case_Owner_Queue_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Dev</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Original_Case_Obj.Case_Owner_Queue_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>dev</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Original_Case_Obj.Case_Owner_Queue_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DEV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Original_Case_Obj.Case_Owner_Queue_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Phishline</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DisplayError</targetReference>
            </connector>
            <label>Has Dev/Phishing queue ?</label>
        </rules>
        <rules>
            <name>Complete_Missing_Serial_Information</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>Get_Original_Case_Obj.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional_Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Original_Case_Obj.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Original_Case_Obj.Serial__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Original_Case_Obj.Missing_Serial_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Original_Case_Obj.Product_Family_List__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sonian</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Original_Case_Obj.Product_Family_List__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Managed Workplace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Original_Case_Obj.Product_Family_List__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Echo Backup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DisplayError_0</targetReference>
            </connector>
            <label>Complete_Missing_Serial_Information</label>
        </rules>
        <rules>
            <name>Missing_Product</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Get_Original_Case_Obj.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&apos;Technical_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Original_Case_Obj.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>&apos;Professional_Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Original_Case_Obj.Serial__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Original_Case_Obj.Product_Family_List__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DisplayError_0_0</targetReference>
            </connector>
            <label>Missing Product</label>
        </rules>
    </decisions>
    <description>SFDC-16484 &amp; SFDC-19616</description>
    <environments>Default</environments>
    <formulas>
        <name>ChatterPostConcat</name>
        <dataType>String</dataType>
        <expression>&quot;Case &quot; + {!GetNewCaseObj.CaseNumber} + &quot; Cloned by &quot; + {!GetNewCaseObj.CreatedBy.FirstName} +&quot; &quot;+ {!GetNewCaseObj.CreatedBy.LastName}</expression>
    </formulas>
    <interviewLabel>Clone Case Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Case Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Clone_Case</name>
        <label>Clone Case</label>
        <locationX>790</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>GetNewCaseObj</targetReference>
        </connector>
        <inputReference>NewCaseObj</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Chatter_Post</name>
        <label>Create Chatter Post</label>
        <locationX>1141</locationX>
        <locationY>180</locationY>
        <connector>
            <targetReference>Assign_Feed_Item_Values_to_New_Case</targetReference>
        </connector>
        <inputReference>getChatterPostObj</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Chatter_Post_2</name>
        <label>Create Chatter Post 2</label>
        <locationX>1057</locationX>
        <locationY>454</locationY>
        <connector>
            <targetReference>Case_Clone_Complete</targetReference>
        </connector>
        <inputReference>getChatterPostObj</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Original_Case_Obj</name>
        <label>Get Original Case Obj</label>
        <locationX>363</locationX>
        <locationY>246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Validations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNewCaseObj</name>
        <label>GetNewCaseObj</label>
        <locationX>825</locationX>
        <locationY>243</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Feed_Item_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Original_Case_Obj.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Case_Clone_Complete</name>
        <label>Case Clone Complete</label>
        <locationX>891</locationX>
        <locationY>535</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Case_Is_Cloned</name>
            <fieldText>&lt;p&gt;Case has been cloned. Please refresh Case Notes for case details.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Clone_a_Case</name>
        <label>Clone a Case</label>
        <locationX>391</locationX>
        <locationY>70</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Original_Case_Obj</targetReference>
        </connector>
        <fields>
            <name>Click_Next_to_Clone</name>
            <fieldText>&lt;p&gt;Click Next to clone case &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DisplayError</name>
        <label>DisplayError</label>
        <locationX>505</locationX>
        <locationY>579</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(255, 15, 15);&quot;&gt;Cannot clone case when user is a Dev Queue.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DisplayError_0</name>
        <label>DisplayError</label>
        <locationX>658</locationX>
        <locationY>588</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; font-size: 15px; background-color: rgb(248, 248, 248);&quot;&gt;S-Record or Product family with Missing Serial Number field(s) must be completed to clone case&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DisplayError_0_0</name>
        <label>DisplayError</label>
        <locationX>733</locationX>
        <locationY>663</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Please select a Product family!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>5</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Clone_a_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>getChatterPostObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FeedItem</objectType>
    </variables>
    <variables>
        <name>NewCaseObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
