force-app/main/default/flows/Contact_Role_Management.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Distributor</name>
        <label>Assign Distributor</label>
        <locationX>279</locationX>
        <locationY>459</locationY>
        <assignmentItems>
            <assignToReference>ResellerPrimaryFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DistributorPrimaryFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryConFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Primary_Contact_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Primary</name>
        <label>Assign Primary</label>
        <locationX>206</locationX>
        <locationY>62</locationY>
        <assignmentItems>
            <assignToReference>ResellerPrimaryFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DistributorPrimaryFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryConFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Primary_Contact_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reseller</name>
        <label>Assign Reseller</label>
        <locationX>296</locationX>
        <locationY>209</locationY>
        <assignmentItems>
            <assignToReference>ResellerPrimaryFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DistributorPrimaryFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryConFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Primary_Contact_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Distributor_Contact_Id</name>
        <label>Check Distributor Contact Id</label>
        <locationX>1147</locationX>
        <locationY>382</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Distributor_Contact_Id_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DistributorConId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Distributor_Contact_Role</targetReference>
            </connector>
            <label>Distributor Contact Id Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Primary_Contact_Id</name>
        <label>Check Primary Contact Id</label>
        <locationX>425</locationX>
        <locationY>71</locationY>
        <defaultConnector>
            <targetReference>Check_Reseller_Contact_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Primary_Contact_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryConId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Related_Contact_Roles_0</targetReference>
            </connector>
            <label>Primary Contact Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Primary_Id</name>
        <label>Check Primary Id</label>
        <locationX>53</locationX>
        <locationY>299</locationY>
        <defaultConnector>
            <targetReference>Assign_Distributor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Primary_is_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DistributorConId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ResellerConId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Primary</targetReference>
            </connector>
            <label>Primary is Account</label>
        </rules>
        <rules>
            <name>Primary_is_Reseller</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DistributorConId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Reseller</targetReference>
            </connector>
            <label>Primary is Reseller</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PrimaryConId</name>
        <label>Check PrimaryConId</label>
        <locationX>445</locationX>
        <locationY>662</locationY>
        <defaultConnector>
            <targetReference>Check_Reseller_Contact_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PrimaryConId_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryConId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryConId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Primary_Contact_Role</targetReference>
            </connector>
            <label>PrimaryConId Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Reseller_Contact_Id</name>
        <label>Check Reseller Contact Id</label>
        <locationX>965</locationX>
        <locationY>98</locationY>
        <defaultConnector>
            <targetReference>Check_Distributor_Contact_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome] - No</defaultConnectorLabel>
        <rules>
            <name>Reseller_Contact_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResellerConId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Related_Contact_Roles</targetReference>
            </connector>
            <label>Reseller Contact Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ResellerConId</name>
        <label>Check ResellerConId</label>
        <locationX>884</locationX>
        <locationY>688</locationY>
        <defaultConnector>
            <targetReference>Check_Distributor_Contact_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ResellerConId_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResellerConId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ResellerConId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Reseller_Contact_Role</targetReference>
            </connector>
            <label>ResellerConId Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Distributor_Exists</name>
        <label>Contact Distributor Exists</label>
        <locationX>1385</locationX>
        <locationY>338</locationY>
        <defaultConnector>
            <targetReference>Create_Distributor_Contact_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome] - No</defaultConnectorLabel>
        <rules>
            <name>Yes_Distributor</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DistributorContactRole</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DistributorConId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DistributorConId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_Primary_Exists</name>
        <label>Partner Primary Exists</label>
        <locationX>444</locationX>
        <locationY>410</locationY>
        <defaultConnector>
            <targetReference>Check_PrimaryConId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome] - No</defaultConnectorLabel>
        <rules>
            <name>Yes_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryContactRole</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Reseller_Contact_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_Reseller_Exists</name>
        <label>Partner Reseller Exists</label>
        <locationX>787</locationX>
        <locationY>454</locationY>
        <defaultConnector>
            <targetReference>Check_ResellerConId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome] - No</defaultConnectorLabel>
        <rules>
            <name>Yes_Reseller</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResellerContactRole</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ResellerConId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Distributor_Contact_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Called from PB: Opportunity Management - Create/Edit used to update contact roles on opportunity</description>
    <interviewLabel>Contact Role Management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Role Management</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Distributor_Contact_Role</name>
        <label>Create Distributor Contact Role</label>
        <locationX>1332</locationX>
        <locationY>580</locationY>
        <assignRecordIdToReference>DistributorConRoleId</assignRecordIdToReference>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>DistributorConId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <elementReference>DistributorPrimaryFlag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Distributor Contact</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Primary_Contact_Role</name>
        <label>Create Primary Contact Role</label>
        <locationX>623</locationX>
        <locationY>473</locationY>
        <assignRecordIdToReference>PrimaryConRoleId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_Reseller_Contact_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>PrimaryConId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <elementReference>PrimaryConFlag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Company Contact</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Reseller_Contact_Role</name>
        <label>Create Reseller Contact Role</label>
        <locationX>1155</locationX>
        <locationY>624</locationY>
        <assignRecordIdToReference>ResellerConRoleId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_Distributor_Contact_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ResellerConId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <elementReference>ResellerPrimaryFlag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Reseller Contact</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordLookups>
        <name>Check_Distributor_Contact_Role</name>
        <label>Check Distributor Contact Role</label>
        <locationX>1330</locationX>
        <locationY>85</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Distributor_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DistributorConId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputReference>DistributorContactRole</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsPrimary</queriedFields>
        <queriedFields>Role</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Check_Related_Contact_Roles</name>
        <label>Check Related Contact Roles</label>
        <locationX>858</locationX>
        <locationY>277</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Partner_Reseller_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResellerConId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputReference>ResellerContactRole</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Role</queriedFields>
        <queriedFields>IsPrimary</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Check_Related_Contact_Roles_0</name>
        <label>Check Related Contact Roles</label>
        <locationX>522</locationX>
        <locationY>262</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Partner_Primary_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrimaryConId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputReference>PrimaryContactRole</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>IsPrimary</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Primary_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DistributorConId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>DistributorConRoleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DistributorContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>DistributorPrimaryFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrimaryConFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryConId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PrimaryConRoleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>PrimaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResellerConId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ResellerConRoleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResellerContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>ResellerPrimaryFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
