force-app/main/default/flows/Copy_Contract_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Amend</name>
        <label>Set Amend</label>
        <locationX>543</locationX>
        <locationY>53</locationY>
        <assignmentItems>
            <assignToReference>Contract_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amend_Contract_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Renewal</name>
        <label>Set Renewal</label>
        <locationX>397</locationX>
        <locationY>217</locationY>
        <assignmentItems>
            <assignToReference>Contract_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Renewal_Contract_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Amend_or_Renew</name>
        <label>Amend or Renew</label>
        <locationX>390</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Set_Renewal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome - Renew</defaultConnectorLabel>
        <rules>
            <name>Amend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Amend_Contract_Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Amend_Contract_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Amend</targetReference>
            </connector>
            <label>Amend</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contract_Billing_Address</name>
        <label>Check Contract Billing Address</label>
        <locationX>667</locationX>
        <locationY>219</locationY>
        <defaultConnector>
            <targetReference>Check_Contract_Shipping_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Blank_Billing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contract_Obj.BillingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contract_Obj.BillingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contract_Obj.BillingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contract_Obj.BillingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contract_Obj.BillingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Billing_Address</targetReference>
            </connector>
            <label>Is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contract_Shipping_Address</name>
        <label>Check Contract Shipping Address</label>
        <locationX>871</locationX>
        <locationY>218</locationY>
        <defaultConnector>
            <targetReference>Get_Original_Oppty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Blank_Shipping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contract_Obj.ShippingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contract_Obj.ShippingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contract_Obj.ShippingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contract_Obj.ShippingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contract_Obj.ShippingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Shipping_Address</targetReference>
            </connector>
            <label>Is Blank</label>
        </rules>
    </decisions>
    <description>Called from PB: Opportunity Management - Create/Edit set address for Amendment &amp; Renewal Opportunities</description>
    <environments>Default</environments>
    <formulas>
        <name>Billing_City</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Contract_Obj.BillingCity})), {!Contract_Obj.BillingCity}, {!Billing_Address.City__c})</expression>
    </formulas>
    <formulas>
        <name>Billing_Country</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Contract_Obj.BillingCountry})), {!Contract_Obj.BillingCountry}, 
      IF(NOT(ISBLANK({!Billing_Address.Country__c})),{!Billing_Address.Country__r.Name},&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>Billing_CountryCode</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK(TEXT({!Contract_Obj.BillingCountryCode}))), TEXT({!Contract_Obj.BillingCountryCode}), {!Billing_Address.Country_ISO__c})</expression>
    </formulas>
    <formulas>
        <name>Billing_State</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Contract_Obj.BillingState})), {!Contract_Obj.BillingState}, 
  IF(NOT(ISBLANK({!Billing_Address.State__c})),{!Billing_Address.State__r.Name},&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>Billing_Street</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Contract_Obj.BillingStreet})), {!Contract_Obj.BillingStreet}, {!Billing_Address.Street__c})</expression>
    </formulas>
    <formulas>
        <name>Billing_ZipPostal</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Contract_Obj.BillingPostalCode})), {!Contract_Obj.BillingPostalCode}, {!Billing_Address.Zip_Postal_Code__c})</expression>
    </formulas>
    <formulas>
        <name>Shipping_City</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Contract_Obj.ShippingCity})), {!Contract_Obj.ShippingCity}, {!Shipping_Address.City__c})</expression>
    </formulas>
    <formulas>
        <name>Shipping_Country</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Contract_Obj.ShippingCountry})), {!Contract_Obj.ShippingCountry}, 
   IF(NOT(ISBLANK({!Shipping_Address.Country__c})),{!Shipping_Address.Country__r.Name},&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>Shipping_CountryCode</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK(TEXT({!Contract_Obj.ShippingCountryCode}))), TEXT({!Contract_Obj.ShippingCountryCode}), {!Shipping_Address.Country_ISO__c})</expression>
    </formulas>
    <formulas>
        <name>Shipping_State</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Contract_Obj.ShippingState})), {!Contract_Obj.ShippingState}, 
  IF(NOT(ISBLANK({!Shipping_Address.State__c})),{!Shipping_Address.State__r.Name},&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>Shipping_Street</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Contract_Obj.ShippingStreet})), {!Contract_Obj.ShippingStreet}, {!Shipping_Address.Street__c})</expression>
    </formulas>
    <formulas>
        <name>Shipping_ZipPostal</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Contract_Obj.ShippingPostalCode})), {!Contract_Obj.ShippingPostalCode}, {!Shipping_Address.Zip_Postal_Code__c})</expression>
    </formulas>
    <interviewLabel>Copy Contract Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy Contract Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Billing_Address</name>
        <label>Get Billing Address</label>
        <locationX>768</locationX>
        <locationY>453</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contract_Shipping_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contract_Obj.Billing_Address__c</elementReference>
            </value>
        </filters>
        <object>Address__c</object>
        <outputReference>Billing_Address</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Street__c</queriedFields>
        <queriedFields>City__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>State__c</queriedFields>
        <queriedFields>Zip_Postal_Code__c</queriedFields>
        <queriedFields>Country_ISO__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>543</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contract_Billing_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contract_Id</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>Contract_Obj</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Billing_Address__c</queriedFields>
        <queriedFields>Shipping_Address__c</queriedFields>
        <queriedFields>Lead_Source__c</queriedFields>
        <queriedFields>ShippingAddress</queriedFields>
        <queriedFields>BillingAddress</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingCountryCode</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingStateCode</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>ShippingCountry</queriedFields>
        <queriedFields>ShippingCountryCode</queriedFields>
        <queriedFields>ShippingPostalCode</queriedFields>
        <queriedFields>ShippingState</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
        <queriedFields>ShippingStateCode</queriedFields>
        <queriedFields>SBQQ__Opportunity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_Oppty</name>
        <label>Get Original Oppty</label>
        <locationX>1089</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contract_Obj.SBQQ__Opportunity__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Orig_Opportunity_Obj</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Primary_Product_Family_2__c</queriedFields>
        <queriedFields>Model_Series__c</queriedFields>
        <queriedFields>PurchaseOrderID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Shipping_Address</name>
        <label>Get Shipping Address</label>
        <locationX>986</locationX>
        <locationY>440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Original_Oppty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contract_Obj.Shipping_Address__c</elementReference>
            </value>
        </filters>
        <object>Address__c</object>
        <outputReference>Shipping_Address</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Street__c</queriedFields>
        <queriedFields>City__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>State__c</queriedFields>
        <queriedFields>Zip_Postal_Code__c</queriedFields>
        <queriedFields>Country_ISO__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>1217</locationX>
        <locationY>214</locationY>
        <connector>
            <targetReference>Reset_Exception_Display_Flag</targetReference>
        </connector>
        <faultConnector>
            <targetReference>DML_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_Address__c</field>
            <value>
                <elementReference>Contract_Obj.Billing_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Billing_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_ISO_Code__c</field>
            <value>
                <elementReference>Billing_CountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Billing_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model_Series__c</field>
            <value>
                <elementReference>Orig_Opportunity_Obj.Model_Series__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PurchaseOrderID__c</field>
            <value>
                <elementReference>Orig_Opportunity_Obj.PurchaseOrderID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_City__c</field>
            <value>
                <elementReference>Shipping_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Country__c</field>
            <value>
                <elementReference>Shipping_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_State__c</field>
            <value>
                <elementReference>Shipping_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Street__c</field>
            <value>
                <elementReference>Shipping_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Zip_Postal_Code__c</field>
            <value>
                <elementReference>Shipping_ZipPostal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address__c</field>
            <value>
                <elementReference>Contract_Obj.Shipping_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country_ISO_Code__c</field>
            <value>
                <elementReference>Shipping_CountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>Billing_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>Billing_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip_Postal_Code__c</field>
            <value>
                <elementReference>Billing_ZipPostal</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Amend_or_Renew</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>DML_Exception</name>
        <label>DML Exception</label>
        <locationX>1218</locationX>
        <locationY>433</locationY>
        <flowName>Exception_Handler_Applog</flowName>
        <inputAssignments>
            <name>Error_Message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Id</name>
            <value>
                <elementReference>Opportunity_Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Reset_Exception_Display_Flag</name>
        <label>Reset Exception Display Flag</label>
        <locationX>1215</locationX>
        <locationY>54</locationY>
        <flowName>Exception_Reset_Display_Applog_Details</flowName>
        <inputAssignments>
            <name>Record_Ids</name>
            <value>
                <elementReference>Opportunity_Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Amend_Contract_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Billing_Address</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>Contract_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contract_Obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>Opportunity_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Orig_Opportunity_Obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Renewal_Contract_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Shipping_Address</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
</Flow>
