force-app/main/default/flows/CreatePSMtasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>CreatePSMtasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreatePSMtasks</label>
    <loops>
        <name>LoopTasks</name>
        <label>LoopTasks</label>
        <locationX>161</locationX>
        <locationY>291</locationY>
        <assignNextValueToReference>LoopTemplateTask</assignNextValueToReference>
        <collectionReference>CollectionsofTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateTask</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateTask</name>
        <label>CreateTask</label>
        <locationX>162</locationX>
        <locationY>426</locationY>
        <assignRecordIdToReference>CurrentTaskID</assignRecordIdToReference>
        <connector>
            <targetReference>LoopTasks</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>LoopTemplateTask.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PSM_Activities_to_be_performed__c</field>
            <value>
                <elementReference>LoopTemplateTask.SE_Activities_to_be_performed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Sucess_milestonePartner_Sucess_m__c</field>
            <value>
                <elementReference>ProductOnboardID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>LoopTemplateTask.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>LoopTemplateTask.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>LoopTemplateTask.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>PSM_Task__c</object>
    </recordCreates>
    <recordLookups>
        <name>DeterminTasks</name>
        <label>DeterminTasks</label>
        <locationX>160</locationX>
        <locationY>94</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopTasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductOnboardingType</elementReference>
            </value>
        </filters>
        <object>Onboarding_Task_Template__c</object>
        <outputReference>CollectionsofTasks</outputReference>
        <queriedFields>Documentation_URL__c</queriedFields>
        <queriedFields>Priority__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>SE_Activities_to_be_performed__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
    </recordLookups>
    <startElementReference>DeterminTasks</startElementReference>
    <status>Active</status>
    <variables>
        <name>CollectionsofTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Task_Template__c</objectType>
    </variables>
    <variables>
        <name>CurrentTaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopTemplateTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Task_Template__c</objectType>
    </variables>
    <variables>
        <name>ProductOnboardID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductOnboardingType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
