force-app/main/default/flows/CreateProductOnboardFromOpp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_BBS_Thankyou</name>
        <label>Send_BBS_Thankyou</label>
        <locationX>1667</locationX>
        <locationY>1922</locationY>
        <actionName>Contact.MSP_Technical_ThankYou_BBS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>LoopThroughContacts</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Current_Oppty_Contact_Role.ContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.MSP_Technical_ThankYou_BBS</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_BCS_Thank_you</name>
        <label>Send BCS Thank you</label>
        <locationX>1622</locationX>
        <locationY>2916</locationY>
        <actionName>Contact.MSP_Technical_ThankYou_BCS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>LoopThroughContacts_0_0_0_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Current_Oppty_Contact_Role.ContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.MSP_Technical_ThankYou_BCS</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_BEO_Thank_you</name>
        <label>Send BEO Thank you</label>
        <locationX>1625</locationX>
        <locationY>3203</locationY>
        <actionName>Contact.MSP_Technical_ThankYou_BEO</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>LoopThroughContacts_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Current_Oppty_Contact_Role.ContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.MSP_Technical_ThankYou_BEO</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_BNC_Thank_you</name>
        <label>Send BNC Thank you</label>
        <locationX>1608</locationX>
        <locationY>2125</locationY>
        <actionName>Contact.MSP_Technical_ThankYou_BNC</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>LoopThroughContacts_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Current_Oppty_Contact_Role.ContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.MSP_Technical_ThankYou_BNC</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_BNG_Thank_you</name>
        <label>Send BNG Thank you</label>
        <locationX>1613</locationX>
        <locationY>2284</locationY>
        <actionName>Contact.MSP_Technical_ThankYou_BNG</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>LoopThroughContacts_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Current_Oppty_Contact_Role.ContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.MSP_Technical_ThankYou_BNG</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_BSE_Thank_you</name>
        <label>Send BSE Thank you</label>
        <locationX>1648</locationX>
        <locationY>2761</locationY>
        <actionName>Contact.MSP_Technical_ThankYou_BSE</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>LoopThroughContacts_0_0_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Current_Oppty_Contact_Role.ContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.MSP_Technical_ThankYou_BSE</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_BWF_Thank_you</name>
        <label>Send BWF Thank you</label>
        <locationX>1639</locationX>
        <locationY>2622</locationY>
        <actionName>Contact.MSP_Technical_ThankYou_BWF</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>LoopThroughContacts_0_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Current_Oppty_Contact_Role.ContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.MSP_Technical_ThankYou_BWF</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_BYF_Thank_you</name>
        <label>Send BYF Thank you</label>
        <locationX>1625</locationX>
        <locationY>3059</locationY>
        <actionName>Contact.MSP_Technical_ThankYou_BYF</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>LoopThroughContacts_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Current_Oppty_Contact_Role.ContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.MSP_Technical_ThankYou_BYF</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_IBU_Thank_you</name>
        <label>Send IBU Thank you</label>
        <locationX>1744</locationX>
        <locationY>2481</locationY>
        <actionName>Contact.MSP_Technical_ThankYou_IBU</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>LoopThroughContacts_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Current_Oppty_Contact_Role.ContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.MSP_Technical_ThankYou_IBU</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_MSP_ThankYou_Email</name>
        <label>Send_MSP_ThankYou_Email</label>
        <locationX>125</locationX>
        <locationY>363</locationY>
        <actionName>Contact.MSP_Thank_You_Email</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Business_Owner_ID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.MSP_Thank_You_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_MW_thank_you</name>
        <label>Send MW thank you</label>
        <locationX>1599</locationX>
        <locationY>3436</locationY>
        <actionName>Contact.MSP_Technical_ThankYou_MW</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>LoopThroughContacts_MW</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Current_Oppty_Contact_Role.ContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.MSP_Technical_ThankYou_MW</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Busines_Owner</name>
        <label>Assign_Busines_Owner</label>
        <locationX>1340</locationX>
        <locationY>193</locationY>
        <assignmentItems>
            <assignToReference>Business_Owner_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Oppty_Contact_Role.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Primary_Contact_Role_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Oppty_Contact_Role.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Primary_Contact_Position</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_Counter</name>
        <label>Contact_Counter</label>
        <locationX>775</locationX>
        <locationY>75</locationY>
        <assignmentItems>
            <assignToReference>ContactCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Primary_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Gather_Content_Shield</name>
        <label>Gather Content Shield</label>
        <locationX>1629</locationX>
        <locationY>1061</locationY>
        <assignmentItems>
            <assignToReference>AllContentShield</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_thru_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Gather_ProServe</name>
        <label>Gather ProServe</label>
        <locationX>2444</locationX>
        <locationY>1842</locationY>
        <assignmentItems>
            <assignToReference>ALL_Proserve</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_thru_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Gather_the_rest_of_the_products</name>
        <label>Gather the rest of the products</label>
        <locationX>655</locationX>
        <locationY>1559</locationY>
        <assignmentItems>
            <assignToReference>RestOfTheProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_thru_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Gather_WAFaaS</name>
        <label>Gather WAFaaS</label>
        <locationX>1988</locationX>
        <locationY>1457</locationY>
        <assignmentItems>
            <assignToReference>AllWAFaaS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_thru_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GatherBBSProducts</name>
        <label>GatherBBSProducts</label>
        <locationX>1063</locationX>
        <locationY>706</locationY>
        <assignmentItems>
            <assignToReference>AllApplianceProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_thru_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GatherCloudEmailServices</name>
        <label>GatherCloudEmailServices</label>
        <locationX>1180</locationX>
        <locationY>789</locationY>
        <assignmentItems>
            <assignToReference>AllCloudEmailServices</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_thru_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GatherControlCenters</name>
        <label>GatherControlCenters</label>
        <locationX>1481</locationX>
        <locationY>969</locationY>
        <assignmentItems>
            <assignToReference>AllControlCenters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_thru_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GatherEchoPlatformProducts</name>
        <label>Gather EchoPlatform Products</label>
        <locationX>1733</locationX>
        <locationY>1179</locationY>
        <assignmentItems>
            <assignToReference>AllEchoPlatform</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_thru_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GatherFirewalls</name>
        <label>GatherFirewalls</label>
        <locationX>1352</locationX>
        <locationY>885</locationY>
        <assignmentItems>
            <assignToReference>AllFirewallProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_thru_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GatherManagedServices</name>
        <label>GatherManagedServices</label>
        <locationX>1852</locationX>
        <locationY>1297</locationY>
        <assignmentItems>
            <assignToReference>AllMSV</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_thru_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GatherSentinel</name>
        <label>GatherSentinel</label>
        <locationX>2091</locationX>
        <locationY>1557</locationY>
        <assignmentItems>
            <assignToReference>AllSentinel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_thru_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GatherWSG</name>
        <label>GatherWSG</label>
        <locationX>2192</locationX>
        <locationY>1663</locationY>
        <assignmentItems>
            <assignToReference>GatherWebSecurity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_thru_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Gathre_MW</name>
        <label>Gathre MW</label>
        <locationX>2285</locationX>
        <locationY>1756</locationY>
        <assignmentItems>
            <assignToReference>ALLMW</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_thru_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Primary_Contact_Position</name>
        <label>Primary_Position</label>
        <locationX>1343</locationX>
        <locationY>357</locationY>
        <assignmentItems>
            <assignToReference>Primary_Position</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>position_formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckIfTechnical</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Technical_Contact_Counter</name>
        <label>Technical Contact Counter</label>
        <locationX>424</locationX>
        <locationY>540</locationY>
        <assignmentItems>
            <assignToReference>TechCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughContactRoles</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Contact_Role</name>
        <label>Check_Contact_Role</label>
        <locationX>1448</locationX>
        <locationY>1844</locationY>
        <defaultConnector>
            <targetReference>LoopThroughContacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Technical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Oppty_Contact_Role.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Buyer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_BBS_Thankyou</targetReference>
            </connector>
            <label>Is Technical</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Role_0</name>
        <label>Check_Contact_Role</label>
        <locationX>1479</locationX>
        <locationY>2021</locationY>
        <defaultConnector>
            <targetReference>LoopThroughContacts_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Technical_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Oppty_Contact_Role.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Buyer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_BNC_Thank_you</targetReference>
            </connector>
            <label>Is Technical</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Role_0_0</name>
        <label>Check_Contact_Role</label>
        <locationX>1434</locationX>
        <locationY>2160</locationY>
        <defaultConnector>
            <targetReference>LoopThroughContacts_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Technical_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Oppty_Contact_Role.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Buyer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_BNG_Thank_you</targetReference>
            </connector>
            <label>Is Technical</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Role_0_0_0</name>
        <label>Check_Contact_Role</label>
        <locationX>1430</locationX>
        <locationY>2366</locationY>
        <defaultConnector>
            <targetReference>LoopThroughContacts_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Technical_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Oppty_Contact_Role.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Buyer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_IBU_Thank_you</targetReference>
            </connector>
            <label>Is Technical</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Role_0_0_0_0</name>
        <label>Check_Contact_Role</label>
        <locationX>1403</locationX>
        <locationY>2554</locationY>
        <defaultConnector>
            <targetReference>LoopThroughContacts_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Technical_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Oppty_Contact_Role.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Buyer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_BWF_Thank_you</targetReference>
            </connector>
            <label>Is Technical</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Role_0_0_0_0_0</name>
        <label>Check_Contact_Role</label>
        <locationX>1404</locationX>
        <locationY>2695</locationY>
        <defaultConnector>
            <targetReference>LoopThroughContacts_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Technical_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Oppty_Contact_Role.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Buyer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_BSE_Thank_you</targetReference>
            </connector>
            <label>Is Technical</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Role_0_0_0_0_0_0</name>
        <label>Check_Contact_Role</label>
        <locationX>1416</locationX>
        <locationY>2836</locationY>
        <defaultConnector>
            <targetReference>LoopThroughContacts_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Technical_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Oppty_Contact_Role.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Buyer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_BCS_Thank_you</targetReference>
            </connector>
            <label>Is Technical</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Role_0_0_0_0_0_0_0</name>
        <label>Check_Contact_Role</label>
        <locationX>1420</locationX>
        <locationY>2988</locationY>
        <defaultConnector>
            <targetReference>LoopThroughContacts_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Technical_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Oppty_Contact_Role.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Buyer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_BYF_Thank_you</targetReference>
            </connector>
            <label>Is Technical</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Role_0_0_0_0_0_0_0_0</name>
        <label>Check_Contact_Role</label>
        <locationX>1434</locationX>
        <locationY>3117</locationY>
        <defaultConnector>
            <targetReference>LoopThroughContacts_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Technical_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Oppty_Contact_Role.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Buyer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_BEO_Thank_you</targetReference>
            </connector>
            <label>Is Technical</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Role_MW</name>
        <label>Check_Contact_Role_MW</label>
        <locationX>1444</locationX>
        <locationY>3359</locationY>
        <defaultConnector>
            <targetReference>LoopThroughContacts_MW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Technical_MW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Oppty_Contact_Role.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Buyer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_MW_thank_you</targetReference>
            </connector>
            <label>Is Technical_MW</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Role_proserv</name>
        <label>Check_Contact_Role_proserv</label>
        <locationX>1532</locationX>
        <locationY>3573</locationY>
        <defaultConnector>
            <targetReference>LoopThroughContacts_proserve</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Technical_MW_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Oppty_Contact_Role.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Buyer</stringValue>
                </rightValue>
            </conditions>
            <label>Is Technical_MW</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Product_Quantity</name>
        <label>Check Product Quantity</label>
        <locationX>731</locationX>
        <locationY>1356</locationY>
        <defaultConnector>
            <targetReference>Which_Product_Sales_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Negative_Quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineItem.Quantity</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Go_thru_Line_Items</targetReference>
            </connector>
            <label>Negative Quantity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PSM_Task_Flag</name>
        <label>Check_PSM_Task_Flag</label>
        <locationX>645</locationX>
        <locationY>3754</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Need_PSM_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Need_PSM_Task</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PSM_Tasks</targetReference>
            </connector>
            <label>Yes_Need_PSM_Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Technical_Count</name>
        <label>Check Technical Count</label>
        <locationX>173</locationX>
        <locationY>584</locationY>
        <defaultConnector>
            <targetReference>Update_Primary_to_Technical</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No other Technical Contacts</defaultConnectorLabel>
        <rules>
            <name>Yes_Other_Technical_Contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TechCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPSMonAccount</targetReference>
            </connector>
            <label>Yes - Other Technical Contacts</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfTechnical</name>
        <label>CheckIfTechnical</label>
        <locationX>927</locationX>
        <locationY>521</locationY>
        <defaultConnector>
            <targetReference>LoopThroughContactRoles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>They_Are_Technical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Oppty_Contact_Role.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Buyer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Technical_Contact_Counter</targetReference>
            </connector>
            <label>They Are Technical</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_Appliances</name>
        <label>Contains Appliances or Vx?</label>
        <locationX>657</locationX>
        <locationY>1874</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>HasAppliancesOrVx</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AllApplianceProducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AllVirtualAppliances</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThroughContacts</targetReference>
            </connector>
            <label>HasAppliancesOrVx</label>
        </rules>
        <rules>
            <name>No_Appliances</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllApplianceProducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AllVirtualAppliances</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contains_Control_Centers</targetReference>
            </connector>
            <label>No Appliances</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_Cloud_Email_Serivces</name>
        <label>Contains Cloud Email Serivces?</label>
        <locationX>652</locationX>
        <locationY>3206</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_Cloud_Email_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllCloudEmailServices</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThroughContacts_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Has Cloud Email Services</label>
        </rules>
        <rules>
            <name>No_Cloud_Email_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllCloudEmailServices</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contains_MW</targetReference>
            </connector>
            <label>No Cloud Email Services</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_Content_Shield</name>
        <label>Contains Content Shield</label>
        <locationX>652</locationX>
        <locationY>2895</locationY>
        <defaultConnector>
            <targetReference>Contains_Web_Security</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Content Shield</defaultConnectorLabel>
        <rules>
            <name>Has_Content_Shield</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllContentShield</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThroughContacts_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Has Content Shield</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_Control_Centers</name>
        <label>Contains Control Centers?</label>
        <locationX>655</locationX>
        <locationY>2018</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>HasCC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllControlCenters</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThroughContacts_0</targetReference>
            </connector>
            <label>Has CC</label>
        </rules>
        <rules>
            <name>No_Firewalls</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllControlCenters</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contains_Firewalls_w_o_CC</targetReference>
            </connector>
            <label>No CC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_EchoPlatform</name>
        <label>Contains EchoPlatform?</label>
        <locationX>657</locationX>
        <locationY>2349</locationY>
        <defaultConnector>
            <targetReference>Contains_WAFaaS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No EchoPlatform</defaultConnectorLabel>
        <rules>
            <name>Has_EchoPlatform</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllEchoPlatform</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThroughContacts_0_0_0</targetReference>
            </connector>
            <label>Has EchoPlatform</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_Firewalls_w_o_CC</name>
        <label>Contains Firewalls w-o CC</label>
        <locationX>658</locationX>
        <locationY>2152</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_Firewalls</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllFirewallProducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThroughContacts_0_0</targetReference>
            </connector>
            <label>Has Firewalls</label>
        </rules>
        <rules>
            <name>No_Firewall</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllFirewallProducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contains_EchoPlatform</targetReference>
            </connector>
            <label>No Firewall</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_MW</name>
        <label>Contains MW</label>
        <locationX>645</locationX>
        <locationY>3410</locationY>
        <defaultConnector>
            <targetReference>Contains_Proserve</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No MW</defaultConnectorLabel>
        <rules>
            <name>Has_MW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ALLMW</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThroughContacts_MW</targetReference>
            </connector>
            <label>Has MW</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_Proserve</name>
        <label>Contains Proserve</label>
        <locationX>647</locationX>
        <locationY>3589</locationY>
        <defaultConnector>
            <targetReference>Check_PSM_Task_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Proserve</defaultConnectorLabel>
        <rules>
            <name>Has_MW_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ALL_Proserve</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_ID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nathan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThroughContacts_proserve</targetReference>
            </connector>
            <label>Has ProServe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_Sentinel</name>
        <label>Contains Sentinel</label>
        <locationX>658</locationX>
        <locationY>2773</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_Sentinel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllSentinel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThroughContacts_0_0_0_0_0</targetReference>
            </connector>
            <label>Has Sentinel</label>
        </rules>
        <rules>
            <name>No_Sentinel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllSentinel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contains_Content_Shield</targetReference>
            </connector>
            <label>No Sentinel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_WAFaaS</name>
        <label>Contains WAFaaS</label>
        <locationX>655</locationX>
        <locationY>2611</locationY>
        <defaultConnector>
            <targetReference>Contains_Sentinel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No WAFaaS</defaultConnectorLabel>
        <rules>
            <name>Has_WAFaaS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllWAFaaS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThroughContacts_0_0_0_0</targetReference>
            </connector>
            <label>Has WAFaaS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_Web_Security</name>
        <label>Contains Web Security</label>
        <locationX>654</locationX>
        <locationY>3017</locationY>
        <defaultConnector>
            <targetReference>Contains_Cloud_Email_Serivces</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Content Shield</defaultConnectorLabel>
        <rules>
            <name>Has_Web_Security</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GatherWebSecurity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThroughContacts_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Has Web Security</label>
        </rules>
    </decisions>
    <decisions>
        <name>Includes_Managed_Service</name>
        <label>Includes Managed Service</label>
        <locationX>564</locationX>
        <locationY>1559</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>HasManagedSvc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllMSV</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Primary_Contact_0</targetReference>
            </connector>
            <label>HasManagedSvc</label>
        </rules>
        <rules>
            <name>NoManagedSvc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllMSV</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Primary_Contact_0</targetReference>
            </connector>
            <label>NoManagedSvc</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Primary_Contact</name>
        <label>Check_If_Primary_Contact</label>
        <locationX>921</locationX>
        <locationY>203</locationY>
        <defaultConnector>
            <targetReference>LoopThroughContactRoles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Oppty_Contact_Role.IsPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Busines_Owner</targetReference>
            </connector>
            <label>Is Primary</label>
        </rules>
        <rules>
            <name>Is_Technical_Buyer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Oppty_Contact_Role.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Buyer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckIfTechnical</targetReference>
            </connector>
            <label>Is Technical Buyer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Product_Sales_Group</name>
        <label>Which Product Sales Group</label>
        <locationX>877</locationX>
        <locationY>1516</locationY>
        <defaultConnector>
            <targetReference>Gather_the_rest_of_the_products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>It_s_an_Appliance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>trim_ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BBS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GatherBBSProducts</targetReference>
            </connector>
            <label>It&apos;s a BBS</label>
        </rules>
        <rules>
            <name>It_s_Cloud_Email_Services</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>trim_ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>trim_ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BCA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>trim_ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>trim_ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BEO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GatherCloudEmailServices</targetReference>
            </connector>
            <label>It&apos;s BEO like</label>
        </rules>
        <rules>
            <name>It_s_a_Firewall</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>trim_ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BNG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GatherFirewalls</targetReference>
            </connector>
            <label>It&apos;s a Firewall</label>
        </rules>
        <rules>
            <name>It_s_a_Control_Center</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>trim_ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BNC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GatherControlCenters</targetReference>
            </connector>
            <label>It&apos;s a Control Center</label>
        </rules>
        <rules>
            <name>It_s_EchoPlatform</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineItem.ProductSalesGroupingMap__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EchoPlatform</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GatherEchoPlatformProducts</targetReference>
            </connector>
            <label>It&apos;s EchoPlatform</label>
        </rules>
        <rules>
            <name>It_s_Managed_Service</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>trim_ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BMF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>trim_ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BMB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>trim_ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BMP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GatherManagedServices</targetReference>
            </connector>
            <label>It&apos;s Managed Service</label>
        </rules>
        <rules>
            <name>It_s_Sentinel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>trim_ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BSE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GatherSentinel</targetReference>
            </connector>
            <label>It&apos;s Sentinel</label>
        </rules>
        <rules>
            <name>It_s_WAFaaS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>trim_ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BWF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gather_WAFaaS</targetReference>
            </connector>
            <label>It&apos;s WAFaaS</label>
        </rules>
        <rules>
            <name>It_s_Content_Shield</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>trim_ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BCS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gather_Content_Shield</targetReference>
            </connector>
            <label>It&apos;s Content Shield</label>
        </rules>
        <rules>
            <name>It_s_WebSecurity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>trim_ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BYF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GatherWSG</targetReference>
            </connector>
            <label>It&apos;s WebSecurity</label>
        </rules>
        <rules>
            <name>It_s_Managed_Workplace</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LineItem.ProductCode</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MW-</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gathre_MW</targetReference>
            </connector>
            <label>It&apos;s Managed Workplace</label>
        </rules>
        <rules>
            <name>It_s_ProServe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>trim_ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BT0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gather_ProServe</targetReference>
            </connector>
            <label>It&apos;s ProServe</label>
        </rules>
    </decisions>
    <description>fixed number of employees and removed debug email
added PSM_Task Flag and owner</description>
    <formulas>
        <name>position_formula</name>
        <dataType>Number</dataType>
        <expression>{!ContactCount}-1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>trim_ProductCode</name>
        <dataType>String</dataType>
        <expression>left({!LineItem.ProductCode},3)</expression>
    </formulas>
    <interviewLabel>CreateProductOnboardFromOpp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateProductOnboardFromOpp</label>
    <loops>
        <name>Go_thru_Line_Items</name>
        <label>Go thru Line Items</label>
        <locationX>667</locationX>
        <locationY>1127</locationY>
        <assignNextValueToReference>LineItem</assignNextValueToReference>
        <collectionReference>ClosedWonOppLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Product_Quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Includes_Managed_Service</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughContactRoles</name>
        <label>LoopThroughContactRoles</label>
        <locationX>428</locationX>
        <locationY>393</locationY>
        <assignNextValueToReference>Current_Oppty_Contact_Role</assignNextValueToReference>
        <collectionReference>Collection_Of_Oppty_ContactRoles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contact_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Technical_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughContacts</name>
        <label>LoopThroughContacts</label>
        <locationX>1221</locationX>
        <locationY>1890</locationY>
        <assignNextValueToReference>Current_Oppty_Contact_Role</assignNextValueToReference>
        <collectionReference>Collection_Of_Oppty_ContactRoles_2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Contact_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_BBS_Training</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughContacts_0</name>
        <label>LoopThroughContacts</label>
        <locationX>1229</locationX>
        <locationY>2052</locationY>
        <assignNextValueToReference>Current_Oppty_Contact_Role</assignNextValueToReference>
        <collectionReference>Collection_Of_Oppty_ContactRoles_2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Contact_Role_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_BNC_Training</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughContacts_0_0</name>
        <label>LoopThroughContacts</label>
        <locationX>1196</locationX>
        <locationY>2184</locationY>
        <assignNextValueToReference>Current_Oppty_Contact_Role</assignNextValueToReference>
        <collectionReference>Collection_Of_Oppty_ContactRoles_2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Contact_Role_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_BNG_Training</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughContacts_0_0_0</name>
        <label>LoopThroughContacts</label>
        <locationX>1129</locationX>
        <locationY>2477</locationY>
        <assignNextValueToReference>Current_Oppty_Contact_Role</assignNextValueToReference>
        <collectionReference>Collection_Of_Oppty_ContactRoles_2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Contact_Role_0_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_IBU_Training</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughContacts_0_0_0_0</name>
        <label>LoopThroughContacts</label>
        <locationX>1133</locationX>
        <locationY>2617</locationY>
        <assignNextValueToReference>Current_Oppty_Contact_Role</assignNextValueToReference>
        <collectionReference>Collection_Of_Oppty_ContactRoles_2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Contact_Role_0_0_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_BWF_Training</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughContacts_0_0_0_0_0</name>
        <label>LoopThroughContacts</label>
        <locationX>1170</locationX>
        <locationY>2769</locationY>
        <assignNextValueToReference>Current_Oppty_Contact_Role</assignNextValueToReference>
        <collectionReference>Collection_Of_Oppty_ContactRoles_2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Contact_Role_0_0_0_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_BSE_Training</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughContacts_0_0_0_0_0_0</name>
        <label>LoopThroughContacts</label>
        <locationX>1164</locationX>
        <locationY>2926</locationY>
        <assignNextValueToReference>Current_Oppty_Contact_Role</assignNextValueToReference>
        <collectionReference>Collection_Of_Oppty_ContactRoles_2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Contact_Role_0_0_0_0_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_BCS_Training</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughContacts_0_0_0_0_0_0_0</name>
        <label>LoopThroughContacts</label>
        <locationX>1178</locationX>
        <locationY>3059</locationY>
        <assignNextValueToReference>Current_Oppty_Contact_Role</assignNextValueToReference>
        <collectionReference>Collection_Of_Oppty_ContactRoles_2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Contact_Role_0_0_0_0_0_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_BYF_Training</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughContacts_0_0_0_0_0_0_0_0</name>
        <label>LoopThroughContacts</label>
        <locationX>1187</locationX>
        <locationY>3183</locationY>
        <assignNextValueToReference>Current_Oppty_Contact_Role</assignNextValueToReference>
        <collectionReference>Collection_Of_Oppty_ContactRoles_2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Contact_Role_0_0_0_0_0_0_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_BEO_Training</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughContacts_MW</name>
        <label>LoopThroughContacts_MW</label>
        <locationX>1174</locationX>
        <locationY>3354</locationY>
        <assignNextValueToReference>Current_Oppty_Contact_Role</assignNextValueToReference>
        <collectionReference>Collection_Of_Oppty_ContactRoles_2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Contact_Role_MW</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_MW_Training</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughContacts_proserve</name>
        <label>LoopThroughContacts_proserve</label>
        <locationX>1262</locationX>
        <locationY>3568</locationY>
        <assignNextValueToReference>Current_Oppty_Contact_Role</assignNextValueToReference>
        <collectionReference>Collection_Of_Oppty_ContactRoles_2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Contact_Role_proserv</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_MW_Training_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_PSM_Tasks</name>
        <label>Create_PSM_Tasks</label>
        <locationX>400</locationX>
        <locationY>3741</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>ClosedWonOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>PLM_Owner_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Lifecycle_Management_ID__c</field>
            <value>
                <elementReference>PLM_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Add-On</stringValue>
            </value>
        </inputAssignments>
        <object>Partner_Sucess__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Primary_Contact</name>
        <label>Lookup_Primary_Contact</label>
        <locationX>429</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughContactRoles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClosedWonOppID</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputReference>Collection_Of_Oppty_ContactRoles</outputReference>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>IsPrimary</queriedFields>
        <queriedFields>Role</queriedFields>
        <sortField>IsPrimary</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Primary_Contact_0</name>
        <label>Lookup_Primary_Contact</label>
        <locationX>363</locationX>
        <locationY>1687</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contains_Appliances</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClosedWonOppID</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputReference>Collection_Of_Oppty_ContactRoles_2</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>IsPrimary</queriedFields>
        <queriedFields>Role</queriedFields>
        <sortField>IsPrimary</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>LookupEmployees</name>
        <label>LookupEmployees</label>
        <locationX>424</locationX>
        <locationY>1000</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_s_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Number_of_Employees</assignToReference>
            <field>Employee_Count_admin_only__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Opp_s_Line_Items</name>
        <label>Opp&apos;s Line Items</label>
        <locationX>667</locationX>
        <locationY>1001</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Go_thru_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClosedWonOppID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>ClosedWonOppLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProductSalesGroupingMap__c</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <queriedFields>Quantity</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Primary_to_Technical</name>
        <label>Update_Primary_to_Technical</label>
        <locationX>321</locationX>
        <locationY>769</locationY>
        <connector>
            <targetReference>GetPSMonAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Primary_Contact_Role_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Technical Buyer</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordUpdates>
    <start>
        <locationX>430</locationX>
        <locationY>65</locationY>
        <connector>
            <targetReference>Lookup_Primary_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_BBS_Training</name>
        <label>Create_BBS_Training</label>
        <locationX>922</locationX>
        <locationY>1965</locationY>
        <connector>
            <targetReference>Contains_Control_Centers</targetReference>
        </connector>
        <flowName>CreateProductOnboard_sub</flowName>
        <inputAssignments>
            <name>AssetSKU</name>
            <value>
                <stringValue>BBS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingMaster_ID</name>
            <value>
                <elementReference>PLM_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Number_of_Employees</name>
            <value>
                <elementReference>Number_of_Employees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Opp_ID</name>
            <value>
                <elementReference>ClosedWonOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Accound_ID</name>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Need_PSM_Task</assignToReference>
            <name>Need_PSM</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_BCS_Training</name>
        <label>Create_BCS_Training</label>
        <locationX>945</locationX>
        <locationY>2974</locationY>
        <connector>
            <targetReference>Contains_Web_Security</targetReference>
        </connector>
        <flowName>CreateProductOnboard_sub</flowName>
        <inputAssignments>
            <name>AssetSKU</name>
            <value>
                <stringValue>BCS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingMaster_ID</name>
            <value>
                <elementReference>PLM_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Number_of_Employees</name>
            <value>
                <elementReference>Number_of_Employees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Opp_ID</name>
            <value>
                <elementReference>ClosedWonOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Accound_ID</name>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Need_PSM_Task</assignToReference>
            <name>Need_PSM</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_BEO_Training</name>
        <label>Create_BEO_Training</label>
        <locationX>929</locationX>
        <locationY>3267</locationY>
        <connector>
            <targetReference>Contains_MW</targetReference>
        </connector>
        <flowName>CreateProductOnboard_sub</flowName>
        <inputAssignments>
            <name>AssetSKU</name>
            <value>
                <stringValue>BEO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingMaster_ID</name>
            <value>
                <elementReference>PLM_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Number_of_Employees</name>
            <value>
                <elementReference>Number_of_Employees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Opp_ID</name>
            <value>
                <elementReference>ClosedWonOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Accound_ID</name>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Need_PSM_Task</assignToReference>
            <name>Need_PSM</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_BNC_Training</name>
        <label>Create_BNC_Training</label>
        <locationX>917</locationX>
        <locationY>2098</locationY>
        <connector>
            <targetReference>Contains_Firewalls_w_o_CC</targetReference>
        </connector>
        <flowName>CreateProductOnboard_sub</flowName>
        <inputAssignments>
            <name>AssetSKU</name>
            <value>
                <stringValue>BNC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingMaster_ID</name>
            <value>
                <elementReference>PLM_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Number_of_Employees</name>
            <value>
                <elementReference>Number_of_Employees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Opp_ID</name>
            <value>
                <elementReference>ClosedWonOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Accound_ID</name>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Need_PSM_Task</assignToReference>
            <name>Need_PSM</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_BNG_Training</name>
        <label>Create_BNG_Training</label>
        <locationX>926</locationX>
        <locationY>2297</locationY>
        <connector>
            <targetReference>Contains_EchoPlatform</targetReference>
        </connector>
        <flowName>CreateProductOnboard_sub</flowName>
        <inputAssignments>
            <name>AssetSKU</name>
            <value>
                <stringValue>BNG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingMaster_ID</name>
            <value>
                <elementReference>PLM_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Number_of_Employees</name>
            <value>
                <elementReference>Number_of_Employees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Opp_ID</name>
            <value>
                <elementReference>ClosedWonOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Accound_ID</name>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Need_PSM_Task</assignToReference>
            <name>Need_PSM</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_BSE_Training</name>
        <label>Create_BSE_Training</label>
        <locationX>959</locationX>
        <locationY>2828</locationY>
        <connector>
            <targetReference>Contains_Content_Shield</targetReference>
        </connector>
        <flowName>CreateProductOnboard_sub</flowName>
        <inputAssignments>
            <name>AssetSKU</name>
            <value>
                <stringValue>BSE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingMaster_ID</name>
            <value>
                <elementReference>PLM_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Number_of_Employees</name>
            <value>
                <elementReference>Number_of_Employees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Opp_ID</name>
            <value>
                <elementReference>ClosedWonOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Accound_ID</name>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Need_PSM_Task</assignToReference>
            <name>Need_PSM</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_BWF_Training</name>
        <label>Create_BWF_Training</label>
        <locationX>958</locationX>
        <locationY>2669</locationY>
        <connector>
            <targetReference>Contains_Sentinel</targetReference>
        </connector>
        <flowName>CreateProductOnboard_sub</flowName>
        <inputAssignments>
            <name>AssetSKU</name>
            <value>
                <stringValue>BWF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingMaster_ID</name>
            <value>
                <elementReference>PLM_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Number_of_Employees</name>
            <value>
                <elementReference>Number_of_Employees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Opp_ID</name>
            <value>
                <elementReference>ClosedWonOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Accound_ID</name>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Need_PSM_Task</assignToReference>
            <name>Need_PSM</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_BYF_Training</name>
        <label>Create_BYF_Training</label>
        <locationX>939</locationX>
        <locationY>3120</locationY>
        <connector>
            <targetReference>Contains_Cloud_Email_Serivces</targetReference>
        </connector>
        <flowName>CreateProductOnboard_sub</flowName>
        <inputAssignments>
            <name>AssetSKU</name>
            <value>
                <stringValue>BYF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingMaster_ID</name>
            <value>
                <elementReference>PLM_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Number_of_Employees</name>
            <value>
                <elementReference>Number_of_Employees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Opp_ID</name>
            <value>
                <elementReference>ClosedWonOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Accound_ID</name>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Need_PSM_Task</assignToReference>
            <name>Need_PSM</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_IBU_Training</name>
        <label>Create_IBU_Training</label>
        <locationX>875</locationX>
        <locationY>2528</locationY>
        <connector>
            <targetReference>Contains_WAFaaS</targetReference>
        </connector>
        <flowName>CreateProductOnboard_sub</flowName>
        <inputAssignments>
            <name>AssetSKU</name>
            <value>
                <stringValue>IBU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingMaster_ID</name>
            <value>
                <elementReference>PLM_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Number_of_Employees</name>
            <value>
                <elementReference>Number_of_Employees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Opp_ID</name>
            <value>
                <elementReference>ClosedWonOppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Accound_ID</name>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Need_PSM_Task</assignToReference>
            <name>Need_PSM</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_MW_Training</name>
        <label>Create_MW_Training</label>
        <locationX>909</locationX>
        <locationY>3463</locationY>
        <connector>
            <targetReference>Contains_Proserve</targetReference>
        </connector>
        <flowName>CreateProductOnboard_sub</flowName>
        <inputAssignments>
            <name>Accound_ID</name>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AssetSKU</name>
            <value>
                <stringValue>MW-</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Number_of_Employees</name>
            <value>
                <elementReference>Number_of_Employees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingMaster_ID</name>
            <value>
                <elementReference>PLM_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Opp_ID</name>
            <value>
                <elementReference>ClosedWonOppID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_MW_Training_0</name>
        <label>Create_MW_Training</label>
        <locationX>997</locationX>
        <locationY>3677</locationY>
        <connector>
            <targetReference>Check_PSM_Task_Flag</targetReference>
        </connector>
        <flowName>CreateProductOnboard_sub</flowName>
        <inputAssignments>
            <name>Accound_ID</name>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AssetSKU</name>
            <value>
                <stringValue>BT0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Number_of_Employees</name>
            <value>
                <elementReference>Number_of_Employees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OnboardingMaster_ID</name>
            <value>
                <elementReference>PLM_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Opp_ID</name>
            <value>
                <elementReference>ClosedWonOppID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>GetPSMonAccount</name>
        <label>GetPSMonAccount</label>
        <locationX>180</locationX>
        <locationY>1001</locationY>
        <connector>
            <targetReference>LookupEmployees</targetReference>
        </connector>
        <flowName>PSMonAccount</flowName>
        <inputAssignments>
            <name>Account_ID</name>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>PLM_Owner_ID</assignToReference>
            <name>UserID</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Account_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ALL_Proserve</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>all the products on the opp that have Appliances as the pProduct Sales Grouping</description>
        <name>AllApplianceProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>AllCloudEmailServices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>AllContentShield</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>product code starts with BNC (virtual) or BNG (public cloud)</description>
        <name>AllControlCenters</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>AllEchoPlatform</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>AllFirewallProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>AllMSV</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ALLMW</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>AllSentinel</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>AllVirtualAppliances</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>AllWAFaaS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>Business_Owner_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID of closed won opportunity</description>
        <name>ClosedWonOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClosedWonOppLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>Collection_Of_Oppty_ContactRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>Collection_Of_Oppty_ContactRoles_2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>Collection_of_PSM</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>CollectionofProdSalesGrps</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CudaMigrated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Currency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Current_Oppty_Contact_Role</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>Current_PSM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>GatherWebSecurity</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>LineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>LineItemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ManagedBBSFW</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>MgdLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>MSP_Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Need_PSM_Task</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Number_of_Employees</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PLM_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PLM_Owner_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Primary_Contact_Role_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>technical lead</description>
        <name>Primary_Customer_contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Primary_Position</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Prior_Products</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Product Sales Group for opportunity line item</description>
        <name>ProductSalesGroup</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RestOfTheProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>TechCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TechLeadContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
