force-app/main/default/flows/Create_TAC_SE_Services_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Create_TAC_SE_Case_Assignment_1</name>
        <label>Create TAC SE Case Assignment =1</label>
        <locationX>1878</locationX>
        <locationY>170</locationY>
        <assignmentItems>
            <assignToReference>CreateTACSECase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateTACSECases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_order_line_item_an_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Description</name>
        <label>Set Description Sale</label>
        <locationX>753</locationX>
        <locationY>260</locationY>
        <assignmentItems>
            <assignToReference>SubjectText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrimCaseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DescriptionText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Group_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCaseSubjectDescription</name>
        <label>SetCaseSubjectDescription</label>
        <locationX>1149</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>CaseSubject</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!getSingleOrderProduct.Product_Name__c} / </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!getSingleOrderProduct.Product_Name__c} / </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOrderProducts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If Order product contains  &quot;BT00&quot; and &quot;BTi00&quot;</description>
        <name>Contains_Professional_Services_SKU</name>
        <label>Contains Professional Services SKU</label>
        <locationX>1553</locationX>
        <locationY>33</locationY>
        <defaultConnector>
            <targetReference>Is_order_line_item_an_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains_PS_SKU</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getSingleOrderProduct.SKU__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>BT00</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getSingleOrderProduct.SKU__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>BTI00</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_TAC_SE_Case_Assignment_1</targetReference>
            </connector>
            <label>Contains PS SKU</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Update_TAC_SE_Case_Decision</name>
        <label>Create/Update TAC SE Case Decision</label>
        <locationX>393</locationX>
        <locationY>283</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Demo_Case</name>
            <conditionLogic>1 AND (2 or 3) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>GetOpptyFromOrder.Demo_Case_Exists__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CreateTACSECase</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOrderObj.TotalAmount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>60000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpptyFromOrder.Business_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Core</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpptyFromOrder.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Demo_Case</targetReference>
            </connector>
            <label>Update Demo Case</label>
        </rules>
        <rules>
            <name>Create_TAC_SE_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateTACSECase</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_up_Case_Recordtype</targetReference>
            </connector>
            <label>Create TAC SE Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_order_line_item_an_Asset</name>
        <label>Is order line item an Asset ?</label>
        <locationX>1439</locationX>
        <locationY>209</locationY>
        <defaultConnector>
            <targetReference>LoopOrderProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSingleOrderProduct.SBQQ__Asset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCaseSubjectDescription</targetReference>
            </connector>
            <label>Is Asset</label>
        </rules>
    </decisions>
    <description>Create TAC SE case for large paid services or evaluation (DEMO) orders</description>
    <formulas>
        <description>Incrementing the counter value</description>
        <name>CreateTACSECases</name>
        <dataType>Number</dataType>
        <expression>{!CreateTACSECase} + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TrimCaseSubject</name>
        <dataType>String</dataType>
        <expression>TRIM( LEFT( {!CaseSubject}, 255 )  )</expression>
    </formulas>
    <interviewLabel>Create TAC SE Services Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create TAC SE Services Case</label>
    <loops>
        <name>LoopOrderProducts</name>
        <label>LoopOrderProducts</label>
        <locationX>993</locationX>
        <locationY>137</locationY>
        <assignNextValueToReference>getSingleOrderProduct</assignNextValueToReference>
        <collectionReference>GetOrderProductObj</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contains_Professional_Services_SKU</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Description</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_TAC_SE_Case_Create_Record</name>
        <label>Create TAC SE Case - Create Record</label>
        <locationX>144</locationX>
        <locationY>536</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetOrderObj.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetOpptyFromOrder.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescriptionText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_for_SE_Cases__c</field>
            <value>
                <elementReference>GetOrderObj.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>passedOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Order Placed (Auto-created)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>FoundQueueID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>P3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>FoundRectypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Language_of_correspondence__c</field>
            <value>
                <stringValue>TBD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Region__c</field>
            <value>
                <stringValue>TBD</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Group_ID</name>
        <label>Find Group ID</label>
        <locationX>588</locationX>
        <locationY>260</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Update_TAC_SE_Case_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TAC_SE_Cases</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>FoundQueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetDemoCaseFromOppty</name>
        <label>GetDemoCaseFromOppty</label>
        <locationX>463</locationX>
        <locationY>114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOrderProductObj</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_for_SE_Cases__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOrderObj.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Priority</queriedFields>
        <queriedFields>Order__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpptyFromOrder</name>
        <label>GetOpptyFromOrder</label>
        <locationX>340</locationX>
        <locationY>9</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDemoCaseFromOppty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOrderObj.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Primary_Contact__c</queriedFields>
        <queriedFields>Demo_Case_Exists__c</queriedFields>
        <queriedFields>Business_Group__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOrderObj</name>
        <label>GetOrderObj</label>
        <locationX>213</locationX>
        <locationY>9</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOpptyFromOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>passedOrder</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>TotalAmount</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOrderProductObj</name>
        <label>GetOrderProductObj</label>
        <locationX>713</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOrderProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>passedOrder</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SKU__c</queriedFields>
        <queriedFields>Product_Model__c</queriedFields>
        <queriedFields>SBQQ__OrderedQuantity__c</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
        <queriedFields>SBQQ__Asset__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_up_Case_Recordtype</name>
        <label>Look up Case Recordtype</label>
        <locationX>146</locationX>
        <locationY>353</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_TAC_SE_Case_Create_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SE_Cases</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>FoundRectypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Demo_Case</name>
        <label>Update Existing Demo Case</label>
        <locationX>396</locationX>
        <locationY>506</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetDemoCaseFromOppty.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetOrderObj.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetOpptyFromOrder.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_for_SE_Cases__c</field>
            <value>
                <elementReference>GetOrderObj.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>passedOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Order Placed (Auto-created)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>P3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetOrderObj</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateTACSECase</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DescriptionText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FoundQueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FoundRectypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getSingleOrderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>ListofOrderProducts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>LoopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MatchingProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>passedOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SonianOpptyCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SubjectText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
