force-app/main/default/flows/Create_Addresses_from_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Addresses_to_Collection</name>
        <label>Add Addresses to Collection</label>
        <locationX>182</locationX>
        <locationY>1250</locationY>
        <assignmentItems>
            <assignToReference>Address_Objs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Billing_Address_Obj</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Address_Objs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Shipping_Address_Obj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Addresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Address</name>
        <label>Assign Address</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>Billing_Address_Obj.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Address_Obj.Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Address_Obj.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Address_Obj.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Address_Obj.Zip_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Zipcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Address_Obj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shipping_Address_Obj.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shipping_Address_Obj.Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shipping_Address_Obj.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shipping_Address_Obj.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shipping_Address_Obj.Zip_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Zipcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shipping_Address_Obj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Shipping</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Addresses_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Address without Street because Street has PO Box text</description>
        <name>Assign_Address_without_Street</name>
        <label>Assign Address without Street</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>Billing_Address_Obj.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Address_Obj.Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Address_Obj.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Address_Obj.Zip_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Zipcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Address_Obj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shipping_Address_Obj.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shipping_Address_Obj.Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shipping_Address_Obj.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shipping_Address_Obj.Zip_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Zipcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shipping_Address_Obj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Shipping</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Addresses_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Country</name>
        <label>Assign Country</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Billing_Address_Obj.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shipping_Address_Obj.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>State_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_State</name>
        <label>Assign State</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Billing_Address_Obj.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shipping_Address_Obj.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Street_Address_for_PO_Box_Chars</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check Street Address for PO Box Characters and do not populate Street if it has PO Box related text</description>
        <name>Check_Street_Address_for_PO_Box_Chars</name>
        <label>Check Street Address for PO Box Chars</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Assign_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Street_has_PO_Box</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Street</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PO Box</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Primary_Street</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Po Box</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Primary_Street</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>P.o. Box</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Primary_Street</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>po box</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Primary_Street</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>p.o. box</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Primary_Street</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>p.o. box</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Primary_Street</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>po Box</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Primary_Street</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>p.o. Box</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Primary_Street</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PO BOX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Primary_Street</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>P.O. Box</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Primary_Street</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Po box</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Primary_Street</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>P. O. Box</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Primary_Street</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PO BOx</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Address_without_Street</targetReference>
            </connector>
            <label>Is Street has PO Box?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Country_Exists</name>
        <label>Country Exists</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>State_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Country_is_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_CountryCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Primary_CountryCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Country</targetReference>
            </connector>
            <label>Counry is Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>State_Exists</name>
        <label>State Exists</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Check_Street_Address_for_PO_Box_Chars</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>State_is_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_StateCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Primary_StateCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_State</targetReference>
            </connector>
            <label>State is Yes</label>
        </rules>
    </decisions>
    <description>Called from PB: Account Management - Create/Edit to create default addresses associated with a new Account</description>
    <environments>Default</environments>
    <interviewLabel>Create Addresses from Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Addresses from Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Addresses</name>
        <label>Create Addresses</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <inputReference>Address_Objs</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Country</name>
        <label>Get Country</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country_ISO__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Primary_CountryCode</elementReference>
            </value>
        </filters>
        <object>Country__c</object>
        <outputAssignments>
            <assignToReference>Country_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_State</name>
        <label>Get State</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_State</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Country_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>State_ISO__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Primary_StateCode</elementReference>
            </value>
        </filters>
        <object>State__c</object>
        <outputAssignments>
            <assignToReference>State_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Country_Exists</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Address_Objs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>Billing_Address_Obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>Country_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Primary_City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Primary_CountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Primary_StateCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Primary_Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Primary_Zipcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Shipping_Address_Obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>State_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
