force-app/main/default/flows/Create_Hot_List_from_Activity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Hot_List_From_Marketo</name>
        <label>Create Hot List From Marketo</label>
        <locationX>583</locationX>
        <locationY>184</locationY>
        <actionName>HotListHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Requery_Hot_List_Object</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_MRKO_Exception</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>activityId</name>
            <value>
                <elementReference>Activity_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>source</name>
            <value>
                <elementReference>Source</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordTypeId</name>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HotListHelper</nameSegment>
        <outputParameters>
            <assignToReference>Hot_List_Id</assignToReference>
            <name>hotlistId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_from_Case_Cross_Sell</name>
        <label>Assign from Case - Cross Sell</label>
        <locationX>745</locationX>
        <locationY>1249</locationY>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Serial_Number.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Serial_Number.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Primary_Product_Family_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Obj.Primary_Product_Family_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Other_Notes2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Notes_Trimmed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Model_Series__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Obj.Model_Series__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Serial_Number.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cross Sell / Upsell</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Serial_Number.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Business_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Contact_Account_BusinessGroup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cross Sell - Support</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Hot_List_Using_Obj</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_from_Case_Renewal</name>
        <label>Assign from Case - Renewal</label>
        <locationX>735</locationX>
        <locationY>1073</locationY>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Serial_Number.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Serial_Number.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Primary_Product_Family_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Obj.Primary_Product_Family_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Other_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Notes_Trimmed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Model_Series__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Obj.Model_Series__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Serial_Number.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Serial_Number.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Business_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Contact_Account_BusinessGroup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewals - Active Cases w Expired Subs</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Hot_List_Using_Obj</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_from_Contact</name>
        <label>Assign from Contact</label>
        <locationX>970</locationX>
        <locationY>752</locationY>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Obj.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Obj.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Obj.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Primary_Product_Family_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Obj.Primary_Product_Family_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Other_Notes2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Notes_Trimmed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Model_Series__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Obj.Model_Series__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Live_Chat_Transcript__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Live_Chat_Transcript_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Business_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Obj.Business_Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Obj.Hot_List_Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Obj.Hot_List_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Website__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LiveChat_Website</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Website_Visitor_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LiveChat_Visitor_ID_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Session_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LiveChat_Session_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Existing_Serial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Obj.Existing_Serial__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Existing_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Obj.Existing_Contract__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Hot_List_Using_Obj</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_from_Opportunity</name>
        <label>Assign from Opportunity</label>
        <locationX>716</locationX>
        <locationY>885</locationY>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Obj.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Obj.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cross Sell / Upsell</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Obj.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Primary_Product_Family_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Obj.Primary_Product_Family_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Other_Notes2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Notes_Trimmed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Model_Series__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Obj.Model_Series__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Business_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Obj.Business_Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Obj.Hot_List_Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Obj.Hot_List_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Live_Chat_Transcript__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Obj.Live_Chat_Transcript__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Website__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LiveChat_Website</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Website_Visitor_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LiveChat_Visitor_ID_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Session_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LiveChat_Session_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Hot_List_Using_Obj</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Leave_Existing_Serial_Blank</name>
        <label>Leave Existing Serial Blank</label>
        <locationX>1255</locationX>
        <locationY>148</locationY>
        <assignmentItems>
            <assignToReference>Existing_Serial</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Existing_Serial</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Existing_Serial</name>
        <label>Update Existing Serial</label>
        <locationX>1040</locationX>
        <locationY>12</locationY>
        <assignmentItems>
            <assignToReference>Existing_Serial</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Serial_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Existing_Serial</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Activity_Object_Type</name>
        <label>Activity Object Type</label>
        <locationX>580</locationX>
        <locationY>520</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Marketo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Hot_List_From_Marketo</targetReference>
            </connector>
            <label>Marketo</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SFDC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Contact_Object</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SFDC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Lead_Object</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SFDC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_Up_Case</targetReference>
            </connector>
            <label>Case</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SFDC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Opportunity_Object</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Activity_Who_Type</name>
        <label>Activity Who Type</label>
        <locationX>1692</locationX>
        <locationY>370</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Lead_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Lead_Object_0</targetReference>
            </connector>
            <label>Lead Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lead_Status</name>
        <label>Check Lead Status</label>
        <locationX>1174</locationX>
        <locationY>476</locationY>
        <defaultConnector>
            <targetReference>Assign_Hot_List_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>To_Update_Lead_Status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Obj.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre MQL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead_Obj.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return to Marketing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead_Obj.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Status</targetReference>
            </connector>
            <label>To Update Lead Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Live_Chat_Transcript</name>
        <label>Check Live Chat Transcript</label>
        <locationX>1324</locationX>
        <locationY>926</locationY>
        <defaultConnector>
            <targetReference>Close_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Transcript_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hot_List_Obj.Live_Chat_Transcript__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Live_Chat_Transcript__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_LiveChat_with_Hot_List</targetReference>
            </connector>
            <label>Transcript Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_LiveChat_Transcript</name>
        <label>Check LiveChat Transcript</label>
        <locationX>163</locationX>
        <locationY>450</locationY>
        <defaultConnector>
            <targetReference>Lead_Or_Contact_Activity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>LiveChat_Id_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Live_Chat_Transcript_Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Live_Chat_Transcript_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_LiveChat_Transcript</targetReference>
            </connector>
            <label>LiveChat Id Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Serial_is_Valid</name>
        <label>Check Serial is Valid</label>
        <locationX>1030</locationX>
        <locationY>189</locationY>
        <defaultConnector>
            <targetReference>Leave_Existing_Serial_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Serial</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Serial_Record.Business_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Core</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Serial_Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Serial</targetReference>
            </connector>
            <label>Valid Serial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deal_Registration_Type</name>
        <label>Deal Registration Type</label>
        <locationX>1208</locationX>
        <locationY>347</locationY>
        <defaultConnector>
            <targetReference>Activity_Who_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Deal_Reg_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hot_List_Obj.MQL_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner DealReg &gt; Deal Registration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Dea_Registration_Record_Type</targetReference>
            </connector>
            <label>Deal Reg True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Or_Contact_Activity</name>
        <label>Lead Or Contact Activity</label>
        <locationX>161</locationX>
        <locationY>631</locationY>
        <defaultConnector>
            <targetReference>Query_Contact_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome] - Contact</defaultConnectorLabel>
        <rules>
            <name>Lead_Activity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Lead_Record_Type_0</targetReference>
            </connector>
            <label>Lead Activity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Renewal_or_Cross_Sell_Case</name>
        <label>Renewal or Cross Sell - Case</label>
        <locationX>575</locationX>
        <locationY>1174</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Task_Obj.Hot_List_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_from_Case_Renewal</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
        <rules>
            <name>Cross_Sell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Task_Obj.Hot_List_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cross Sell / Upsell</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_from_Case_Cross_Sell</targetReference>
            </connector>
            <label>Cross Sell</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Serial_is_Not_Null</name>
        <label>Verify Serial is Not Null</label>
        <locationX>744</locationX>
        <locationY>332</locationY>
        <defaultConnector>
            <targetReference>Deal_Registration_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hot_List_Obj.Serial__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Serial__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Serial_Record</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <description>Called from PB: Activity Management - Create/Edit to create a hot list from activity</description>
    <environments>Default</environments>
    <formulas>
        <name>LiveChat_Session_ID</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_LiveChat_Transcript.Custom_Session_ID__c}), &apos;&apos;, {!Get_LiveChat_Transcript.Custom_Session_ID__c})</expression>
    </formulas>
    <formulas>
        <name>LiveChat_Visitor_ID_Value</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Get_LiveChat_Transcript.Custom_Visitor_ID__c}), NULL, VALUE({!Get_LiveChat_Transcript.Custom_Visitor_ID__c}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LiveChat_Website</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_LiveChat_Transcript.Website__c}), &apos;&apos;, {!Get_LiveChat_Transcript.Website__c})</expression>
    </formulas>
    <formulas>
        <description>Removed the trim, mapping to {!Hot_List_Obj.Other_Notes2__c} field which can support long text input. (EV 10/1/19)</description>
        <name>Other_Notes_Trimmed</name>
        <dataType>String</dataType>
        <expression>{!Task_Obj.Description}</expression>
    </formulas>
    <formulas>
        <name>Trimmed_Fault_Message</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Flow.FaultMessage},255)</expression>
    </formulas>
    <interviewLabel>Hot List from Activity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Hot List from Activity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Hot_List_Using_Obj</name>
        <label>Create Hot List Using Obj</label>
        <locationX>971</locationX>
        <locationY>1138</locationY>
        <connector>
            <targetReference>Requery_Hot_List_Object_2</targetReference>
        </connector>
        <inputReference>Hot_List_Obj</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead_Hot_List</name>
        <label>Create Lead Hot List</label>
        <locationX>987</locationX>
        <locationY>617</locationY>
        <assignRecordIdToReference>Hot_List_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Requery_Hot_List_Object_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Business_Group__c</field>
            <value>
                <elementReference>Task_Obj.Business_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Contract__c</field>
            <value>
                <elementReference>Task_Obj.Existing_Contract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Serial__c</field>
            <value>
                <elementReference>Task_Obj.Existing_Serial__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source__c</field>
            <value>
                <elementReference>Task_Obj.Hot_List_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>Lead_Obj.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Live_Chat_Transcript__c</field>
            <value>
                <elementReference>Live_Chat_Transcript_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model_Series__c</field>
            <value>
                <elementReference>Task_Obj.Model_Series__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Notes2__c</field>
            <value>
                <elementReference>Other_Notes_Trimmed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Product_Family_2__c</field>
            <value>
                <elementReference>Task_Obj.Primary_Product_Family_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session_ID__c</field>
            <value>
                <elementReference>LiveChat_Session_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Task_Obj.Hot_List_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website_Visitor_ID__c</field>
            <value>
                <elementReference>LiveChat_Visitor_ID_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website__c</field>
            <value>
                <elementReference>LiveChat_Website</elementReference>
            </value>
        </inputAssignments>
        <object>Hot_List__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Contact</name>
        <label>Get Case Contact</label>
        <locationX>586</locationX>
        <locationY>907</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Contact_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Serial_Number.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Contact_AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Contact_Account</name>
        <label>Get Case Contact Account</label>
        <locationX>586</locationX>
        <locationY>1023</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Renewal_or_Cross_Sell_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Case_Contact_Account_BusinessGroup</assignToReference>
            <field>BusinessGroup__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Account</name>
        <label>Get Contact Account</label>
        <locationX>1697</locationX>
        <locationY>629</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Hot_List_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhoId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Account_Id</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_LiveChat_Transcript</name>
        <label>Get LiveChat Transcript</label>
        <locationX>76</locationX>
        <locationY>540</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Or_Contact_Activity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Live_Chat_Transcript_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LiveChatTranscript</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Website__c</queriedFields>
        <queriedFields>Custom_Visitor_ID__c</queriedFields>
        <queriedFields>Custom_Session_ID__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Serial_Record</name>
        <label>Get Serial Record</label>
        <locationX>870</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Serial_is_Valid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Serial_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Hot_List_Obj.Serial__c</elementReference>
            </value>
        </filters>
        <object>Serial__c</object>
        <outputReference>Serial_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Business_Group__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Base_Product_SKU__c</queriedFields>
        <queriedFields>Serial_Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>173</locationX>
        <locationY>307</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_LiveChat_Transcript</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Activity_Id</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>Task_Obj</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Primary_Product_Family_2__c</queriedFields>
        <queriedFields>Model_Series__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Hot_List_Type__c</queriedFields>
        <queriedFields>Business_Group__c</queriedFields>
        <queriedFields>Hot_List_Source__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Existing_Serial__c</queriedFields>
        <queriedFields>Existing_Contract__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Look_Up_Case</name>
        <label>Look Up Case</label>
        <locationX>586</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhatId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>Case_Serial_Number.AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Serial_Number.CaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Serial_Number.CaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Serial_Number.ContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Serial_Number.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Serial_Number.Product_Family__c</assignToReference>
            <field>Product_Family__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Serial_Number.Product_Model__c</assignToReference>
            <field>Product_Model__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Case_Serial_Number.Serial_Number__c</assignToReference>
            <field>Serial_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Contact_Object</name>
        <label>Query Contact Object</label>
        <locationX>839</locationX>
        <locationY>753</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_from_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhoId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact_Obj</outputReference>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Query_Contact_Record_Type</name>
        <label>Query Contact Record Type</label>
        <locationX>438</locationX>
        <locationY>688</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Activity_Object_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hot_List_Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hot_List__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Dea_Registration_Record_Type</name>
        <label>Query Deal Registration Record Type</label>
        <locationX>1466</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Hot_List_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deal_Registration</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hot_List__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Lead_Object</name>
        <label>Query Lead Object</label>
        <locationX>990</locationX>
        <locationY>485</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Lead_Hot_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhoId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Lead_Obj</outputReference>
        <queriedFields>Reseller__c</queriedFields>
        <queriedFields>Reseller_Contact__c</queriedFields>
        <queriedFields>LeadSource</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Primary_Product_Family_2__c</queriedFields>
        <queriedFields>Model_Series__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Query_Lead_Object_0</name>
        <label>Query Lead Object</label>
        <locationX>1432</locationX>
        <locationY>466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Lead_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhoId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Lead_Obj</outputReference>
        <queriedFields>Reseller__c</queriedFields>
        <queriedFields>Reseller_Contact__c</queriedFields>
        <queriedFields>LeadSource</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Primary_Product_Family__c</queriedFields>
        <queriedFields>Model_Series__c</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Query_Lead_Record_Type_0</name>
        <label>Query Lead Record Type</label>
        <locationX>437</locationX>
        <locationY>400</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Activity_Object_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hot_List_Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hot_List__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Opportunity_Object</name>
        <label>Query Opportunity Object</label>
        <locationX>717</locationX>
        <locationY>738</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_from_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhatId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Opportunity_Obj</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Primary_Contact__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Requery_Hot_List_Object</name>
        <label>Requery Hot List Object</label>
        <locationX>754</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Serial_is_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Hot_List_Id</elementReference>
            </value>
        </filters>
        <object>Hot_List__c</object>
        <outputReference>Hot_List_Obj</outputReference>
        <queriedFields>Request_Type__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>MQL_Reason__c</queriedFields>
        <queriedFields>Lead_Source__c</queriedFields>
        <queriedFields>Live_Chat_Transcript__c</queriedFields>
        <queriedFields>Serial__c</queriedFields>
        <queriedFields>Existing_Serial__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Requery_Hot_List_Object_2</name>
        <label>Requery Hot List Object</label>
        <locationX>1106</locationX>
        <locationY>921</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Parent_Lead_Source</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Hot_List_Obj.Id</elementReference>
            </value>
        </filters>
        <object>Hot_List__c</object>
        <outputReference>Hot_List_Obj</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MQL_Reason__c</queriedFields>
        <queriedFields>Lead_Source__c</queriedFields>
        <queriedFields>Live_Chat_Transcript__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Requery_Hot_List_Object_3</name>
        <label>Requery Hot List Object</label>
        <locationX>1107</locationX>
        <locationY>617</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Parent_Lead_Source</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Hot_List_Id</elementReference>
            </value>
        </filters>
        <object>Hot_List__c</object>
        <outputReference>Hot_List_Obj</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MQL_Reason__c</queriedFields>
        <queriedFields>Lead_Source__c</queriedFields>
        <queriedFields>Live_Chat_Transcript__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Close_Task</name>
        <label>Close Task</label>
        <locationX>1331</locationX>
        <locationY>1114</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Task_Obj.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Hot_List_Id__c</field>
            <value>
                <elementReference>Hot_List_Obj.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Log_MRKO_Exception</name>
        <label>Log MRKO Exception</label>
        <locationX>410</locationX>
        <locationY>182</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Task_Obj.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MRKO_Exception__c</field>
            <value>
                <elementReference>Trimmed_Fault_Message</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Existing_Serial</name>
        <label>Set Existing Serial</label>
        <locationX>1207</locationX>
        <locationY>11</locationY>
        <connector>
            <targetReference>Deal_Registration_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Hot_List_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Existing_Serial__c</field>
            <value>
                <elementReference>Existing_Serial</elementReference>
            </value>
        </inputAssignments>
        <object>Hot_List__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Hot_List_Account</name>
        <label>Update Hot List Account</label>
        <locationX>1703</locationX>
        <locationY>770</locationY>
        <connector>
            <targetReference>Assign_Hot_List_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Hot_List_Obj.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Hot_List__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Hot_List_Record_Type</name>
        <label>Update Hot List Record Type</label>
        <locationX>1635</locationX>
        <locationY>195</locationY>
        <connector>
            <targetReference>Activity_Who_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Hot_List_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Disposition__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Serial__c</field>
            <value>
                <elementReference>Existing_Serial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Hot_List__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Status</name>
        <label>Update Lead Status</label>
        <locationX>1443</locationX>
        <locationY>599</locationY>
        <connector>
            <targetReference>Assign_Hot_List_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead_Obj.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Marketing Qualified Lead</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_LiveChat_with_Hot_List</name>
        <label>Update LiveChat with Hot List</label>
        <locationX>1583</locationX>
        <locationY>928</locationY>
        <connector>
            <targetReference>Close_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Live_Chat_Transcript_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Hot_List__c</field>
            <value>
                <elementReference>Hot_List_Obj.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>165</locationY>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Assign_Hot_List_2</name>
        <label>Assign Hot List</label>
        <locationX>1355</locationX>
        <locationY>772</locationY>
        <connector>
            <targetReference>Update_Parent_Lead_Source</targetReference>
        </connector>
        <flowName>Hot_List_Assignment</flowName>
        <inputAssignments>
            <name>Account_Id</name>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Hot_List_Id</name>
            <value>
                <elementReference>Hot_List_Obj.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>User_Id</name>
            <value>
                <elementReference>Task_Obj.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Hot_List_Id</assignToReference>
            <name>Hot_List_Id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Used to update the parent lead source as system context</description>
        <name>Update_Parent_Lead_Source</name>
        <label>Update Parent Lead Source</label>
        <locationX>1108</locationX>
        <locationY>781</locationY>
        <connector>
            <targetReference>Check_Live_Chat_Transcript</targetReference>
        </connector>
        <flowName>Update_Hot_List_Parent_Lead_Source</flowName>
        <inputAssignments>
            <name>Most_Recent_Lead_Source</name>
            <value>
                <elementReference>Hot_List_Obj.Lead_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MQL_Reason</name>
            <value>
                <elementReference>Hot_List_Obj.MQL_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WhoId</name>
            <value>
                <elementReference>WhoId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Account_Obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Activity_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Contact_Account_BusinessGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_Serial_Number</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Contact_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_Obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Existing_Serial</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Hot_List_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Hot_List_Obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Hot_List__c</objectType>
    </variables>
    <variables>
        <name>Lead_Obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>Live_Chat_Transcript_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Opportunity_Obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Queue_Dev_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Serial_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Serial__c</objectType>
    </variables>
    <variables>
        <name>Source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Task_Obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>WhatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WhoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
