force-app/main/default/flows/Create_Enterprise_Demo_SE_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Description_Demo</name>
        <label>Set Description Demo</label>
        <locationX>456</locationX>
        <locationY>244</locationY>
        <assignmentItems>
            <assignToReference>DescriptionText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Demo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Group_ID</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_demo_or_Sale</name>
        <label>Is demo or Sale ?</label>
        <locationX>709</locationX>
        <locationY>73</locationY>
        <defaultConnectorLabel>Sale</defaultConnectorLabel>
        <rules>
            <name>Demo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListOfDemoProducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Description_Demo</targetReference>
            </connector>
            <label>Demo</label>
        </rules>
    </decisions>
    <interviewLabel>Create Enterprise Demo SE Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Enterprise Demo SE Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Cloud_Case</name>
        <label>Create Cloud Case</label>
        <locationX>211</locationX>
        <locationY>433</locationY>
        <connector>
            <targetReference>UpdatePassedOppty</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>PassedAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>passedContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescriptionText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_for_SE_Cases__c</field>
            <value>
                <elementReference>passedOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>FoundQueueID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>FoundRectypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>DescriptionText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Language_of_correspondence__c</field>
            <value>
                <stringValue>TBD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Region__c</field>
            <value>
                <stringValue>TBD</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Group_ID</name>
        <label>Find Group ID</label>
        <locationX>538</locationX>
        <locationY>500</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_up_Case_Recordtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TAC_SE_Cases</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>FoundQueueID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get demo records from oppty</description>
        <name>Get_Demo_Records_from_Oppty</name>
        <label>Get Demo Records from Oppty</label>
        <locationX>235</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_SE_Case_Criteria_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Appliance_Line_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demo</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>passedOpportunity</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>ListOfDemoProducts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Appliance_Line_Type__c</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>If_SE_Case_Criteria_1</name>
        <label>If SE Case Criteria = 1 ?</label>
        <locationX>403</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_demo_or_Sale</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>passedOpportunity</elementReference>
            </value>
        </filters>
        <filters>
            <field>SE_Case_Creation_Criteria__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>MatchingProducts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SE_Case_Creation_Criteria__c</queriedFields>
        <queriedFields>Appliance_Line_Type__c</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Look_up_Case_Recordtype</name>
        <label>Look up Case Recordtype</label>
        <locationX>363</locationX>
        <locationY>502</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Cloud_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SE_Cases</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>FoundRectypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePassedOppty</name>
        <label>UpdatePassedOppty</label>
        <locationX>68</locationX>
        <locationY>498</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>passedOpportunity</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Demo_Case_Exists__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Demo_Records_from_Oppty</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DescriptionText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FoundQueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FoundRectypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>list all demo products in the passed oppty</description>
        <name>ListOfDemoProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>MatchingProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>Account ID passed from Process builder</description>
        <name>PassedAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>passedAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Contact ID from Process Builder</description>
        <name>passedContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>passedOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SonianOpptyCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UpdateOppty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
