force-app/main/default/flows/Create_De_book_Re_book_Opportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>De_book_OR_Re_book</name>
        <label>De-book OR Re-book</label>
        <locationX>380</locationX>
        <locationY>132</locationY>
        <defaultConnector>
            <targetReference>Create_Re_book_Oppty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome] - Re-book</defaultConnectorLabel>
        <rules>
            <name>De_book</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Debook_Rebook</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>De-book</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_De_book_Oppty</targetReference>
            </connector>
            <label>De-book</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_IsActive</name>
        <label>Owner IsActive</label>
        <locationX>924</locationX>
        <locationY>157</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Owner_IsActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Called from PB: Order Management - Create/Edit used to create De-book/Re-book opportunities</description>
    <formulas>
        <name>Debook_Amount</name>
        <dataType>Number</dataType>
        <expression>-{!Oppty_Obj.Amount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Create De-book/Re-book Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create De-book/Re-book Opportunities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_De_book_Oppty</name>
        <label>Create De-book Oppty</label>
        <locationX>610</locationX>
        <locationY>54</locationY>
        <assignRecordIdToReference>Debook_Rebook_Oppty_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Check_Oppty_Owner_Active</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Oppty_Obj.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Debook_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Account__c</field>
            <value>
                <elementReference>Oppty_Obj.Bill_To_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Address__c</field>
            <value>
                <elementReference>Oppty_Obj.Billing_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Oppty_Obj.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_ISO_Code__c</field>
            <value>
                <elementReference>Oppty_Obj.Country_ISO_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Oppty_Obj.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distributor_Contact__c</field>
            <value>
                <elementReference>Oppty_Obj.Distributor_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distributor__c</field>
            <value>
                <elementReference>Oppty_Obj.Distributor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>Oppty_Obj.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MSP_Disti_Account__c</field>
            <value>
                <elementReference>Oppty_Obj.MSP_Disti_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model_Series__c</field>
            <value>
                <elementReference>Oppty_Obj.Model_Series__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!Oppty_Obj.Name} - Debook</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Opportunity__c</field>
            <value>
                <elementReference>Oppty_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>Oppty_Obj.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Product_Family_2__c</field>
            <value>
                <elementReference>Oppty_Obj.Primary_Product_Family_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Oppty_Obj.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reseller_Contact__c</field>
            <value>
                <elementReference>Oppty_Obj.Reseller_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reseller__c</field>
            <value>
                <elementReference>Oppty_Obj.Reseller__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBCF_Billing_Aggregator__c</field>
            <value>
                <elementReference>Oppty_Obj.SBCF_Billing_Aggregator__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Ordered__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Serial_Number__c</field>
            <value>
                <elementReference>Oppty_Obj.Serial_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Account__c</field>
            <value>
                <elementReference>Oppty_Obj.Ship_To_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_City__c</field>
            <value>
                <elementReference>Oppty_Obj.Ship_To_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Country__c</field>
            <value>
                <elementReference>Oppty_Obj.Ship_To_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Street__c</field>
            <value>
                <elementReference>Oppty_Obj.Ship_To_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Zip_Postal_Code__c</field>
            <value>
                <elementReference>Oppty_Obj.Ship_To_Zip_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address__c</field>
            <value>
                <elementReference>Oppty_Obj.Shipping_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country_ISO_Code__c</field>
            <value>
                <elementReference>Oppty_Obj.Shipping_Country_ISO_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>Oppty_Obj.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>Oppty_Obj.Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>De-book Re-book</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip_Postal_Code__c</field>
            <value>
                <elementReference>Oppty_Obj.Zip_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Re_book_Oppty</name>
        <label>Create Re-book Oppty</label>
        <locationX>613</locationX>
        <locationY>254</locationY>
        <assignRecordIdToReference>Debook_Rebook_Oppty_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Check_Oppty_Owner_Active</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Oppty_Obj.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Oppty_Obj.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Account__c</field>
            <value>
                <elementReference>Oppty_Obj.Bill_To_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Address__c</field>
            <value>
                <elementReference>Oppty_Obj.Billing_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Oppty_Obj.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_ISO_Code__c</field>
            <value>
                <elementReference>Oppty_Obj.Country_ISO_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Oppty_Obj.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distributor_Contact__c</field>
            <value>
                <elementReference>Oppty_Obj.Distributor_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distributor__c</field>
            <value>
                <elementReference>Oppty_Obj.Distributor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>Oppty_Obj.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MSP_Disti_Account__c</field>
            <value>
                <elementReference>Oppty_Obj.MSP_Disti_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model_Series__c</field>
            <value>
                <elementReference>Oppty_Obj.Model_Series__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!Oppty_Obj.Name} - Rebook</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Opportunity__c</field>
            <value>
                <elementReference>Oppty_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>Oppty_Obj.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Product_Family_2__c</field>
            <value>
                <elementReference>Oppty_Obj.Primary_Product_Family_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Oppty_Obj.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reseller_Contact__c</field>
            <value>
                <elementReference>Oppty_Obj.Reseller_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reseller__c</field>
            <value>
                <elementReference>Oppty_Obj.Reseller__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBCF_Billing_Aggregator__c</field>
            <value>
                <elementReference>Oppty_Obj.SBCF_Billing_Aggregator__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Ordered__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Serial_Number__c</field>
            <value>
                <elementReference>Oppty_Obj.Serial_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Account__c</field>
            <value>
                <elementReference>Oppty_Obj.Ship_To_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_City__c</field>
            <value>
                <elementReference>Oppty_Obj.Ship_To_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Country__c</field>
            <value>
                <elementReference>Oppty_Obj.Ship_To_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Street__c</field>
            <value>
                <elementReference>Oppty_Obj.Ship_To_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Zip_Postal_Code__c</field>
            <value>
                <elementReference>Oppty_Obj.Ship_To_Zip_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address__c</field>
            <value>
                <elementReference>Oppty_Obj.Shipping_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country_ISO_Code__c</field>
            <value>
                <elementReference>Oppty_Obj.Shipping_Country_ISO_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>Oppty_Obj.Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>De-book Re-book</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip_Postal_Code__c</field>
            <value>
                <elementReference>Oppty_Obj.Zip_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Check_Oppty_Owner_Active</name>
        <label>Check Oppty Owner Active</label>
        <locationX>797</locationX>
        <locationY>155</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_IsActive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Oppty_Obj.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>User_IsActive</assignToReference>
            <field>IsActive</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Oppty</name>
        <label>Query Oppty</label>
        <locationX>214</locationX>
        <locationY>130</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>De_book_OR_Re_book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Oppty_Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Oppty_Obj</outputReference>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>Distributor__c</queriedFields>
        <queriedFields>Reseller__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Primary_Contact__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>LeadSource</queriedFields>
        <queriedFields>Primary_Product_Family_2__c</queriedFields>
        <queriedFields>Bill_To_Account__c</queriedFields>
        <queriedFields>Billing_Address__c</queriedFields>
        <queriedFields>Shipping_Address__c</queriedFields>
        <queriedFields>Reseller_Contact__c</queriedFields>
        <queriedFields>Distributor_Contact__c</queriedFields>
        <queriedFields>MSP_Disti_Account__c</queriedFields>
        <queriedFields>SBCF_Billing_Aggregator__c</queriedFields>
        <queriedFields>Serial_Number__c</queriedFields>
        <queriedFields>Street__c</queriedFields>
        <queriedFields>City__c</queriedFields>
        <queriedFields>State__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>Zip_Postal_Code__c</queriedFields>
        <queriedFields>Ship_To_Street__c</queriedFields>
        <queriedFields>Ship_To_City__c</queriedFields>
        <queriedFields>Ship_To_Zip_Postal_Code__c</queriedFields>
        <queriedFields>Ship_To_Country__c</queriedFields>
        <queriedFields>Country_ISO_Code__c</queriedFields>
        <queriedFields>Shipping_Country_ISO_Code__c</queriedFields>
        <queriedFields>Ship_To_Account__c</queriedFields>
        <queriedFields>Model_Series__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Owner</name>
        <label>Update Owner</label>
        <locationX>1093</locationX>
        <locationY>154</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Debook_Rebook_Oppty_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Oppty_Obj.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Query_Oppty</startElementReference>
    <status>Active</status>
    <variables>
        <name>Debook_Rebook</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Debook_Rebook_Oppty_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Oppty_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Oppty_Obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>User_IsActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
