force-app/main/default/flows/CreateMasterOnboard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Business_Thank_You_Email</name>
        <label>Send_Business_Thank_You_Email</label>
        <locationX>701</locationX>
        <locationY>420</locationY>
        <actionName>Contact.MSP_Thank_You_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_For_PLM</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PrimaryCustomerID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.MSP_Thank_You_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_PSM_Invitation</name>
        <label>Send PSM Invitation</label>
        <locationX>1237</locationX>
        <locationY>825</locationY>
        <actionName>Partner_Sucess__c.PSM_MSP_onboarding_invitation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CreateProductTS</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PSM_Milestone_ID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Partner_Sucess__c.PSM_MSP_onboarding_invitation</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_PrimaryContact</name>
        <label>Assign_PrimaryContact</label>
        <locationX>1107</locationX>
        <locationY>132</locationY>
        <assignmentItems>
            <assignToReference>PrimaryCustomerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_OpptyContactRole.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOptyContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PrimaryContact_0</name>
        <label>Assign_PrimaryContact</label>
        <locationX>1127</locationX>
        <locationY>260</locationY>
        <assignmentItems>
            <assignToReference>PrimaryCustomerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_OpptyContactRole.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOptyContacts_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PSM_if_Blank</name>
        <label>Assign PSM if Blank</label>
        <locationX>199</locationX>
        <locationY>660</locationY>
        <assignmentItems>
            <assignToReference>PSM_Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateMasterOnboard</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_PLM</name>
        <label>Check For PLM</label>
        <locationX>528</locationX>
        <locationY>549</locationY>
        <defaultConnector>
            <targetReference>Wait_for_Contract_Start</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NO_PLM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MasterOnboardID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupPSM</targetReference>
            </connector>
            <label>NO PLM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Primary</name>
        <label>Check For Primary</label>
        <locationX>896</locationX>
        <locationY>35</locationY>
        <defaultConnector>
            <targetReference>LoopOptyContacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Primary</defaultConnectorLabel>
        <rules>
            <name>Primary_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_OpptyContactRole.IsPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PrimaryContact</targetReference>
            </connector>
            <label>Primary Role</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_PrimaryCustomerID</name>
        <label>Check for PrimaryCustomerID</label>
        <locationX>689</locationX>
        <locationY>269</locationY>
        <defaultConnector>
            <targetReference>LoopOptyContacts_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Primary Customer ID</defaultConnectorLabel>
        <rules>
            <name>Primary_Is_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrimaryCustomerID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrimaryCustomerID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Business_Thank_You_Email</targetReference>
            </connector>
            <label>Primary Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_PSM</name>
        <label>Check For PSM</label>
        <locationX>50</locationX>
        <locationY>556</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_PSM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PSM_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateMasterOnboard</targetReference>
            </connector>
            <label>Has PSM</label>
        </rules>
        <rules>
            <name>No_PSM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PSM_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PSM_if_Blank</targetReference>
            </connector>
            <label>No PSM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Active</name>
        <label>Check If Active</label>
        <locationX>429</locationX>
        <locationY>831</locationY>
        <defaultConnector>
            <targetReference>Lookup_Primary_Contact_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <label>Is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Renewal</name>
        <label>Check if Renewal</label>
        <locationX>453</locationX>
        <locationY>244</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IS_new_Business</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetOpptyValues.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LookupOpptyRecordType.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpptyValues.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LookupOpptyRecordType_0.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Status</targetReference>
            </connector>
            <label>IS New Business</label>
        </rules>
    </decisions>
    <description>added pause logic to wait for the contract to become effective
5hr offset to deal with UTC conversion issue
added State and Countries to PSM initial</description>
    <formulas>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>Dt_Quote_Start</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!Quote_Start_Date})</expression>
    </formulas>
    <interviewLabel>CreateMasterOnboard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateMasterOnboard</label>
    <loops>
        <name>LoopOptyContacts</name>
        <label>LoopOptyContacts</label>
        <locationX>695</locationX>
        <locationY>94</locationY>
        <assignNextValueToReference>Current_OpptyContactRole</assignNextValueToReference>
        <collectionReference>Collection_Of_OpptyContactRoles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_For_Primary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_PrimaryCustomerID</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOptyContacts_0</name>
        <label>LoopOptyContacts</label>
        <locationX>940</locationX>
        <locationY>260</locationY>
        <assignNextValueToReference>Current_OpptyContactRole</assignNextValueToReference>
        <collectionReference>Collection_Of_OpptyContactRoles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_PrimaryContact_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Business_Thank_You_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_PSM_Initial</name>
        <label>Create_PSM_Initial</label>
        <locationX>1008</locationX>
        <locationY>825</locationY>
        <assignRecordIdToReference>PSM_Milestone_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Send_PSM_Invitation</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Billing_Region__c</field>
            <value>
                <elementReference>BillingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Billing_State__c</field>
            <value>
                <elementReference>BillingStateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_Email__c</field>
            <value>
                <elementReference>PSM_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_Phone__c</field>
            <value>
                <elementReference>PSM_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>PSM_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Lifecycle_Management_ID__c</field>
            <value>
                <elementReference>MasterOnboardID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>PrimaryCustomerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Initial_Setup</stringValue>
            </value>
        </inputAssignments>
        <object>Partner_Sucess__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateMasterOnboard</name>
        <label>CreateMasterOnboard</label>
        <locationX>56</locationX>
        <locationY>829</locationY>
        <assignRecordIdToReference>MasterOnboardID</assignRecordIdToReference>
        <connector>
            <targetReference>UpdateAccount</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>PSM_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Customer_Contact__c</field>
            <value>
                <elementReference>PrimaryCustomerID</elementReference>
            </value>
        </inputAssignments>
        <object>Onboarding_Master__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Status</name>
        <label>Get Account Details</label>
        <locationX>320</locationX>
        <locationY>94</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>BillingCountryCode</assignToReference>
            <field>BillingCountryCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BillingStateCode</assignToReference>
            <field>BillingStateCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MasterOnboardID</assignToReference>
            <field>Onboarding_Master_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Account_Status</assignToReference>
            <field>Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetOpptyValues</name>
        <label>GetOpptyValues</label>
        <locationX>456</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Renewal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpptyID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Quote_Record_Type_Name__c</queriedFields>
        <queriedFields>Record_Type_text__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Optty_Contacts</name>
        <label>Lookup_Optty_Contacts</label>
        <locationX>557</locationX>
        <locationY>94</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOptyContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpptyID</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputReference>Collection_Of_OpptyContactRoles</outputReference>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Role</queriedFields>
        <queriedFields>IsPrimary</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Primary_Contact_Details</name>
        <label>Lookup_PSM_Details</label>
        <locationX>657</locationX>
        <locationY>827</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Wait_for_Contract_Start_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PSM_Contact</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>PSM_Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PSM_Phone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <sortField>Alias</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Quote</name>
        <label>Lookup_Quote</label>
        <locationX>434</locationX>
        <locationY>94</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Optty_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Opportunity2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpptyID</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputAssignments>
            <assignToReference>Quote_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Quote_Start_Date</assignToReference>
            <field>SBQQ__StartDate__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupOpptyRecordType</name>
        <label>LookupOpptyRecordType</label>
        <locationX>185</locationX>
        <locationY>421</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupOpptyRecordType_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New_Business</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>LookupOpptyRecordType_0</name>
        <label>LookupOpptyRecordType</label>
        <locationX>315</locationX>
        <locationY>400</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOpptyValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Locked_New_Business</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAccount</name>
        <label>UpdateAccount</label>
        <locationX>223</locationX>
        <locationY>829</locationY>
        <connector>
            <targetReference>Check_If_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Onboarding_Master_ID__c</field>
            <value>
                <elementReference>MasterOnboardID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>98</locationX>
        <locationY>421</locationY>
        <connector>
            <targetReference>LookupOpptyRecordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CreateProductTS</name>
        <label>CreateProductTS</label>
        <locationX>1237</locationX>
        <locationY>549</locationY>
        <flowName>CreateProductOnboardFromOpp</flowName>
        <inputAssignments>
            <name>Account_ID</name>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ClosedWonOppID</name>
            <value>
                <elementReference>OpptyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PLM_ID</name>
            <value>
                <elementReference>MasterOnboardID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>LookupPSM</name>
        <label>LookupPSM</label>
        <locationX>366</locationX>
        <locationY>547</locationY>
        <connector>
            <targetReference>Check_For_PSM</targetReference>
        </connector>
        <flowName>PSMonAccount</flowName>
        <inputAssignments>
            <name>Account_ID</name>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>PSM_Contact</assignToReference>
            <name>UserID</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Account_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Account_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Assign_PSM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillingCountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillingStateCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Collection_Of_OpptyContactRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>CollectionofMasterOnboards</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Master__c</objectType>
    </variables>
    <variables>
        <name>Current_OpptyContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>Current_PSM_Contact_Role</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>EchoProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Employee_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>InitialProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MasterOnboardID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpptyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrimaryCustomerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PSM_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>PSM_Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PSM_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PSM_Milestone_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PSM_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Quote_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Quote_Start_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Region</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SMB_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>VarPriority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_for_Contract_Start</name>
        <label>Wait for Contract Start</label>
        <locationX>911</locationX>
        <locationY>549</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Wait_For_Start</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>CreateProductTS</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>Dt_Quote_Start</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Wait For Start</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_for_Contract_Start_0</name>
        <label>Wait for Contract Start</label>
        <locationX>827</locationX>
        <locationY>826</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Wait_For_Start_0</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Create_PSM_Initial</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>Dt_Quote_Start</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Wait For Start</label>
        </waitEvents>
    </waits>
</Flow>
