force-app/main/default/flows/Create_Address_from_Lead_Conversion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Addresses</name>
        <label>Add Addresses</label>
        <locationX>1005</locationX>
        <locationY>354</locationY>
        <assignmentItems>
            <assignToReference>Address_Objs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Billing_Address_Obj</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Address_Objs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Shipping_Address_Obj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Addresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Billing_Address</name>
        <label>Set Billing Address</label>
        <locationX>723</locationX>
        <locationY>517</locationY>
        <assignmentItems>
            <assignToReference>Billing_Address_Obj.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Obj.ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Address_Obj.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Obj.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Address_Obj.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Obj.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Address_Obj.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Address_Obj.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Address_Obj.Zip_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Obj.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Address_Obj.Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Primary_Billing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Billing_Address_Obj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Shipping</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Shipping_Address</name>
        <label>Set Shipping Address</label>
        <locationX>867</locationX>
        <locationY>354</locationY>
        <assignmentItems>
            <assignToReference>Shipping_Address_Obj.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Obj.ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shipping_Address_Obj.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Obj.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shipping_Address_Obj.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Obj.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shipping_Address_Obj.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shipping_Address_Obj.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shipping_Address_Obj.Zip_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Obj.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shipping_Address_Obj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Shipping</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shipping_Address_Obj.Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Primary_Shipping</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Addresses</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>State_Exists</name>
        <label>State Exists</label>
        <locationX>521</locationX>
        <locationY>224</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Billing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>State_is_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Obj.StateCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_State</targetReference>
            </connector>
            <label>State is Yes</label>
        </rules>
    </decisions>
    <description>Called from PB: Lead Management - Create/Edit to create an address associated to the converted Account</description>
    <formulas>
        <name>Is_Primary_Billing</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Existing_Primary_Billing_Id} = null, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>Is_Primary_Shipping</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Existing_Primary_Shipping_Id} = null, TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>Create Address from Lead Conversion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Address from Lead Conversion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Addresses</name>
        <label>Create Addresses</label>
        <locationX>1005</locationX>
        <locationY>163</locationY>
        <inputReference>Address_Objs</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Country</name>
        <label>Get Country</label>
        <locationX>390</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>State_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country_ISO__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead_Obj.CountryCode</elementReference>
            </value>
        </filters>
        <object>Country__c</object>
        <outputAssignments>
            <assignToReference>Country_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Billing</name>
        <label>Get Existing Billing</label>
        <locationX>723</locationX>
        <locationY>352</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Billing_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead_Obj.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </filters>
        <object>Address__c</object>
        <outputAssignments>
            <assignToReference>Existing_Primary_Billing_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Shipping</name>
        <label>Get Existing Shipping</label>
        <locationX>867</locationX>
        <locationY>517</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Shipping_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead_Obj.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shipping</stringValue>
            </value>
        </filters>
        <object>Address__c</object>
        <outputAssignments>
            <assignToReference>Existing_Primary_Shipping_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_State</name>
        <label>Get State</label>
        <locationX>723</locationX>
        <locationY>106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Billing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Country_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>State_ISO__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead_Obj.StateCode</elementReference>
            </value>
        </filters>
        <object>State__c</object>
        <outputAssignments>
            <assignToReference>State_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Converted_Lead</name>
        <label>Query Converted Lead</label>
        <locationX>243</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead_Id</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Lead_Obj</outputReference>
        <queriedFields>ConvertedAccountId</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>StateCode</queriedFields>
        <queriedFields>CountryCode</queriedFields>
        <queriedFields>PostalCode</queriedFields>
    </recordLookups>
    <startElementReference>Query_Converted_Lead</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>Address_Objs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>Billing_Address_Obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>Country_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Existing_Primary_Billing_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Existing_Primary_Shipping_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead_Obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>Shipping_Address_Obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>State_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
