force-app/main/default/flows/Create_Lead_or_Task_for_LiveChat.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Assign Case Id</description>
        <name>Case_Assigment</name>
        <label>Case Assigment</label>
        <locationX>725</locationX>
        <locationY>605</locationY>
        <assignmentItems>
            <assignToReference>Existing_Case_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Support_Get_Transcripts_for_External_Id.CaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Support_Region_of_Existing_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign contact or lead Id and Hotlist Id</description>
        <name>Contact_Or_Lead_Assigment</name>
        <label>Contact Or Lead Assigment</label>
        <locationX>839</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference>Existing_Contact_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Get_Transcripts_for_External_Id.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Existing_Lead_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Get_Transcripts_for_External_Id.LeadId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Existing_Hot_List_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Get_Transcripts_for_External_Id.Hot_List__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_LiveChat_Transcript_Hot_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_Exists</name>
        <label>Contact Exists?</label>
        <locationX>1044</locationX>
        <locationY>238</locationY>
        <defaultConnector>
            <targetReference>Check_Existing_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Contact_Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Existing_Contact_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if a transcript with this custom session Id already exists or not</description>
        <name>Duplicate_Check</name>
        <label>Duplicate Exists?</label>
        <locationX>830</locationX>
        <locationY>67</locationY>
        <defaultConnector>
            <targetReference>Check_Existing_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Duplicates</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sales_Get_Transcripts_for_External_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Or_Lead_Assigment</targetReference>
            </connector>
            <label>Duplicate Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if a transcript with this custom session Id already exists or not</description>
        <name>Duplicate_Check_0</name>
        <label>Duplicate Exists?</label>
        <locationX>501</locationX>
        <locationY>505</locationY>
        <defaultConnector>
            <targetReference>Get_Case_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Duplicates</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Exists_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Support_Get_Transcripts_for_External_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Assigment</targetReference>
            </connector>
            <label>Duplicate Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Exists</name>
        <label>Lead Exists</label>
        <locationX>1268</locationX>
        <locationY>247</locationY>
        <defaultConnector>
            <targetReference>Get_Lead_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Lead_Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Existing_Lead_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_or_Support</name>
        <label>Sales or Support</label>
        <locationX>502</locationX>
        <locationY>64</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>LiveChat_Transcript.Chat_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LiveChat_Transcript.Hot_List__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LiveChat_Transcript.Hot_List__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Get_Transcripts_for_External_Id</targetReference>
            </connector>
            <label>Sales</label>
        </rules>
        <rules>
            <name>Support</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>LiveChat_Transcript.Chat_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LiveChat_Transcript.CaseId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LiveChat_Transcript.CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Support_Get_Transcripts_for_External_Id</targetReference>
            </connector>
            <label>Support</label>
        </rules>
    </decisions>
    <description>Called from PB: Chat Transcript Event Management - Create/Edit to create a new Lead or Task for generating a Hot List
// Rahul M- SFDC-11915
+// Rahul M - SFDC-15376</description>
    <formulas>
        <name>Case_Id</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Existing_Case_Id})), {!Existing_Case_Id}, IF(NOT(ISBLANK({!New_Case_Id})), {!New_Case_Id}, &apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>Contact_Id</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Existing_Contact_Id}), &apos;&apos;, {!Existing_Contact_Id})</expression>
    </formulas>
    <formulas>
        <name>GetChatButtonRegion</name>
        <dataType>String</dataType>
        <expression>IF(({!Get_Live_Chat_Buttons.DeveloperName}=&apos;Service_Americas&apos;), &apos;Americas&apos;, 
IF(({!Get_Live_Chat_Buttons.DeveloperName}=&apos;Service_EMEA&apos;),&apos;EMEA&apos;,&apos;Americas&apos;))</expression>
    </formulas>
    <formulas>
        <description>Hot list Id from duplicate transcript</description>
        <name>Hot_List_Id</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Existing_Hot_List_Id}), &apos;&apos;, {!Existing_Hot_List_Id})</expression>
    </formulas>
    <formulas>
        <name>Lead_Contact_Id</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Existing_Contact_Id})),{!Existing_Contact_Id},{!Existing_Lead_Id})</expression>
    </formulas>
    <formulas>
        <name>Lead_Id</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Existing_Lead_Id})), {!Existing_Lead_Id}, 
    IF(NOT(ISBLANK({!New_Lead_Id})), {!New_Lead_Id}, &apos;&apos;)
)</expression>
    </formulas>
    <formulas>
        <name>LiveChat_Message</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!LiveChat_Transcript.Message__c}), &apos;Live Chat&apos;, {!LiveChat_Transcript.Message__c})</expression>
    </formulas>
    <interviewLabel>Create Lead or Task for LiveChat {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Lead or Task for LiveChat</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>745</locationX>
        <locationY>821</locationY>
        <assignRecordIdToReference>New_Case_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Update_LiveChat_Transcript</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>LiveChat_Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Not_Auto_Assign__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Live Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LiveChat_Transcript.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Case_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>LiveChat_Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>LiveChat_Transcript.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Existing_Case__c</field>
            <value>
                <elementReference>LiveChat_Transcript.Existing_Case_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_First_Name__c</field>
            <value>
                <elementReference>LiveChat_Transcript.Visitor_FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Last_Name__c</field>
            <value>
                <elementReference>LiveChat_Transcript.Visitor_LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Region__c</field>
            <value>
                <elementReference>GetChatButtonRegion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Serial__c</field>
            <value>
                <elementReference>LiveChat_Transcript.Serial_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>1448</locationX>
        <locationY>385</locationY>
        <assignRecordIdToReference>New_Lead_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Update_LiveChat_Transcript</targetReference>
        </connector>
        <inputAssignments>
            <field>Business_Group__c</field>
            <value>
                <stringValue>Core</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>LiveChat_Transcript.Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Live Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>LiveChat_Transcript.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>LiveChat_Transcript.Visitor_FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LiveChat_Transcript.Visitor_LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Live Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Live_Chat_Transcript__c</field>
            <value>
                <elementReference>LiveChat_Transcript.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Lead_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>1171</locationX>
        <locationY>386</locationY>
        <connector>
            <targetReference>Update_LiveChat_Transcript</targetReference>
        </connector>
        <inputAssignments>
            <field>Hot_List_Source__c</field>
            <value>
                <stringValue>Live Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Live_Chat_Transcript__c</field>
            <value>
                <elementReference>LiveChat_Transcript.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Live Chat (Autoqualifier)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Lead_Contact_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Check_Existing_Contact</name>
        <label>Check Existing Contact</label>
        <locationX>1053</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LiveChat_Transcript.Email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Existing_Contact_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Check_Existing_Lead</name>
        <label>Check Existing Lead</label>
        <locationX>1276</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LiveChat_Transcript.Email__c</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>Existing_Lead_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_RT</name>
        <label>Get Case RT</label>
        <locationX>506</locationX>
        <locationY>825</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web_Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_RT</name>
        <label>Get Lead RT</label>
        <locationX>1448</locationX>
        <locationY>131</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post_MQL</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Live_Chat_Buttons</name>
        <label>Get Live Chat Buttons</label>
        <locationX>254</locationX>
        <locationY>404</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Duplicate_Check_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LiveChat_Transcript.LiveChatButtonId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LiveChatButton</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get existing transcript records with the same external Id and containing Hotlist Id</description>
        <name>Sales_Get_Transcripts_for_External_Id</name>
        <label>Get Transcripts for External Id for Sales</label>
        <locationX>648</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Duplicate_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LiveChat_Transcript.External_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>LiveChat_Transcript.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Hotlist_Present__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LiveChatTranscript</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get existing transcript records with the same external Id and containing Case Id</description>
        <name>Support_Get_Transcripts_for_External_Id</name>
        <label>Get Transcripts for External Id for Support</label>
        <locationX>510</locationX>
        <locationY>283</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Live_Chat_Buttons</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LiveChat_Transcript.External_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>LiveChat_Transcript.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LiveChatTranscript</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_LiveChat_Transcript</name>
        <label>Update LiveChat Transcript</label>
        <locationX>1192</locationX>
        <locationY>661</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LiveChat_Transcript.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>Case_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Contact_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>Lead_Id</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update only Hot List ID if a duplicate Transcript exists</description>
        <name>Update_LiveChat_Transcript_Hot_List</name>
        <label>Update LiveChat Transcript Hot List</label>
        <locationX>965</locationX>
        <locationY>415</locationY>
        <connector>
            <targetReference>Update_LiveChat_Transcript</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LiveChat_Transcript.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Hot_List__c</field>
            <value>
                <elementReference>Hot_List_Id</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Support_Region_of_Existing_Case</name>
        <label>Update Support Region of Existing Case</label>
        <locationX>881</locationX>
        <locationY>606</locationY>
        <connector>
            <targetReference>Update_LiveChat_Transcript</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Support_Get_Transcripts_for_External_Id.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Web_Region__c</field>
            <value>
                <elementReference>GetChatButtonRegion</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>162</locationX>
        <locationY>62</locationY>
        <connector>
            <targetReference>Sales_or_Support</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Case Id from the transcript with the same external id</description>
        <name>Existing_Case_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Existing_Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Hotlist Id from duplicate transcript</description>
        <name>Existing_Hot_List_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Existing_Lead_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LiveChat_Transcript</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
    <variables>
        <name>New_Case_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_Lead_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
