force-app/main/default/flows/Create_Contact_Community_Users_New_screen_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>SelectedContactAssignment</name>
        <label>SelectedContactAssignment</label>
        <locationX>1023</locationX>
        <locationY>245</locationY>
        <assignmentItems>
            <assignToReference>var_FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedContactInfo.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedContactInfo.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedContactInfo.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedContactInfo.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EnableCommunityUser1</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EnableUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SelectedContactAssignment_0</name>
        <label>SelectedContactAssignment</label>
        <locationX>697</locationX>
        <locationY>433</locationY>
        <assignmentItems>
            <assignToReference>var_FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EnableUser</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CreateContact</name>
        <choiceText>Create a New Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create</stringValue>
        </value>
    </choices>
    <choices>
        <name>EditContact</name>
        <choiceText>Enable User for Community Access</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>modify</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Contact_Type_Decision</name>
        <label>Contact Type Decision</label>
        <locationX>636</locationX>
        <locationY>55</locationY>
        <defaultConnector>
            <targetReference>Existing_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_the_options_below</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_and_Community_User_Screen_Flow</targetReference>
            </connector>
            <label>Create?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Email_Address</name>
        <label>Existing Email Address?</label>
        <locationX>289</locationX>
        <locationY>353</locationY>
        <defaultConnector>
            <targetReference>Create_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_with_same_email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SAmeEmail1</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCommunityUser</name>
        <label>IsCommunityUser?</label>
        <locationX>812</locationX>
        <locationY>184</locationY>
        <defaultConnector>
            <targetReference>contactsuccess_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>NewContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EnableCommunityUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EnableCommunityUser1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_User</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
        <rules>
            <name>Partner</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>NewContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EnableCommunityUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EnableCommunityUser1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_User_0</targetReference>
            </connector>
            <label>Partner</label>
        </rules>
    </decisions>
    <description>SFDC-17745</description>
    <dynamicChoiceSets>
        <name>GetContactInfo</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Community_Enabled__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Community_Enabled__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Community Disabled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PartnerPortalAccess</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Partner_Portal_Access__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PartnerProfileList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>ProfileTrim</elementReference>
            </value>
        </filters>
        <object>Profile</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProfileList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Barracuda CCPlus</stringValue>
            </value>
        </filters>
        <object>Profile</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TimeZone</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TimeZoneSidKey</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AliasFormula</name>
        <dataType>String</dataType>
        <expression>Left({!var_FirstName},1)+Left({!var_LastName},4)</expression>
    </formulas>
    <formulas>
        <name>loggedInUserProfile</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <formulas>
        <name>ProfileId</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISNULL({!ProfileList})), {!ProfileList}, {!PartnerProfileList} )</expression>
    </formulas>
    <formulas>
        <name>ProfileTrim</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Profile.Name},&quot; Admin&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>usernameFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!usernameNewValue}), {!var_email}, {!usernameNewValue})</expression>
    </formulas>
    <formulas>
        <name>UserType</name>
        <dataType>String</dataType>
        <expression>IF( CONTAINS({!$Profile.Name}, &quot;Partner&quot;), &quot;partner&quot;,&quot;customer&quot;)</expression>
    </formulas>
    <interviewLabel>Create Contact &amp; Community Users New screen flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Contact &amp; Enable Contact as Community User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>473</locationX>
        <locationY>491</locationY>
        <assignRecordIdToReference>NewContactId</assignRecordIdToReference>
        <connector>
            <targetReference>SelectedContactAssignment_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Contact_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Portal_Access__c</field>
            <value>
                <elementReference>Partner_Portal_Access</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_User</name>
        <label>Create User</label>
        <locationX>1077</locationX>
        <locationY>367</locationY>
        <connector>
            <targetReference>contactsuccess_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>User_Creation_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>AliasFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>NewContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>var_email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <stringValue>UTF-8</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>var_FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>var_LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>ProfileList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <elementReference>User_Timezone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>usernameFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_User_0</name>
        <label>Create User</label>
        <locationX>814</locationX>
        <locationY>673</locationY>
        <connector>
            <targetReference>contactsuccess_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>User_Creation_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>AliasFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>NewContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>var_email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <stringValue>UTF-8</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>var_FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>var_LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>PartnerProfileList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <elementReference>User_Timezone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>usernameFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_with_same_email</name>
        <label>Get Contact with same email</label>
        <locationX>295</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Email_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SelectedContactInfo</name>
        <label>SelectedContactInfo</label>
        <locationX>1021</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SelectedContactAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Contact</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>contactsuccess_0</name>
        <label>contactsuccess</label>
        <locationX>1003</locationX>
        <locationY>663</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Contact created &amp;amp; enabled for Community access successfully!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Choose_the_options_below</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Create</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>EnableCommunityUser</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>UserSuccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Contact has been enabled for Community access successfully!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Choose_the_options_below</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>modify</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>EnableCommunityUser1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ContactSuccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Contact has been created successfully!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>EnableCommunityUser</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Contact_and_Community_User_Screen_Flow</name>
        <label>Create Contact and Community User Screen Flow</label>
        <locationX>644</locationX>
        <locationY>207</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contact_with_same_email</targetReference>
        </connector>
        <fields>
            <name>FirstName</name>
            <dataType>String</dataType>
            <fieldText>FirstName</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LastName</name>
            <dataType>String</dataType>
            <fieldText>LastName</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AccountId</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Partner_Portal_Access</name>
            <choiceReferences>PartnerPortalAccess</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Partner Portal Access</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>loggedInUserProfile</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Barracuda Partner Core Admin</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>loggedInUserProfile</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Barracuda Partner Distributor Admin</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>loggedInUserProfile</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Barracuda Partner Hybrid Admin</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Contact_Error</name>
        <label>Create Contact Error</label>
        <locationX>584</locationX>
        <locationY>612</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_CC_Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(202, 15, 15);&quot;&gt;﻿&lt;/span&gt;&lt;b style=&quot;color: rgb(211, 23, 23);&quot;&gt;Invalid Email Format ({!Email.value})&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_modify_contacts</name>
        <label>Create/modify contacts</label>
        <locationX>403</locationX>
        <locationY>54</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Contact_Type_Decision</targetReference>
        </connector>
        <fields>
            <name>Choose_the_options_below</name>
            <choiceReferences>CreateContact</choiceReferences>
            <choiceReferences>EditContact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose the options below:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EnableUser</name>
        <label>EnableUser</label>
        <locationX>708</locationX>
        <locationY>275</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IsCommunityUser</targetReference>
        </connector>
        <fields>
            <name>EnableCommunityUser</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Enable Contact as Community User</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Choose_the_options_below</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Create</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>User_Profile</name>
            <choiceReferences>ProfileList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>User Profile</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>(1 OR 2) AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>EnableCommunityUser</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Choose_the_options_below</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>modify</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>UserType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>customer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>User_Profile_Partner</name>
            <choiceReferences>PartnerProfileList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>User Profile</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>(1 OR 3) AND 2</conditionLogic>
                <conditions>
                    <leftValueReference>EnableCommunityUser</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>UserType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>partner</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Choose_the_options_below</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>modify</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>User_Timezone</name>
            <choiceReferences>TimeZone</choiceReferences>
            <dataType>String</dataType>
            <fieldText>User Timezone</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>EnableCommunityUser</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Choose_the_options_below</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>modify</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Input for UserName</description>
        <name>Enter_User_Name</name>
        <label>Enter User Name</label>
        <locationX>1232</locationX>
        <locationY>183</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IsCommunityUser</targetReference>
        </connector>
        <fields>
            <name>UserNameInput</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Username</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>newUserName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>usernameNewValue</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Existing_Contacts</name>
        <label>Existing Contacts</label>
        <locationX>834</locationX>
        <locationY>48</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SelectedContactInfo</targetReference>
        </connector>
        <fields>
            <name>Select_Contact</name>
            <choiceReferences>GetContactInfo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Contact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SAmeEmail1</name>
        <label>SAmeEmail!</label>
        <locationX>479</locationX>
        <locationY>343</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Contact_and_Community_User_Screen_Flow</targetReference>
        </connector>
        <fields>
            <name>SameEmail</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 2, 2);&quot;&gt;There is a Contact with the provided Email ({!Email.value}) in our system. Please verify the email address or try another email.  To view duplicate record go to Contacts section.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays any error message occuring while creating a user</description>
        <name>User_Creation_Error</name>
        <label>User Creation Error</label>
        <locationX>1241</locationX>
        <locationY>577</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_User_Name</targetReference>
        </connector>
        <fields>
            <name>User_Creation_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 13, 13); font-size: 12px;&quot;&gt;This username already exists in Salesforce. &lt;/span&gt;&lt;span style=&quot;color: rgb(240, 13, 13); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Usernames must be unique across all Salesforce organizations. Please enter a different username on the next screen.  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;To make it unique, add a number after username {Eg : username1@company.com}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>15</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>Create_modify_contacts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EnableCommunityUser1</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>usernameNewValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
