force-app/main/default/flows/Credit_Card_Management_for_Hot_Lists.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Default_Exists</name>
        <label>Default Exists</label>
        <locationX>918</locationX>
        <locationY>249</locationY>
        <assignmentItems>
            <assignToReference>Default_Flag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Existing_Credit_Cards</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>End_User_Accoint</name>
        <label>End User Account</label>
        <locationX>251</locationX>
        <locationY>375</locationY>
        <assignmentItems>
            <assignToReference>CC_Account_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Credit_Cards</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reseller_Account</name>
        <label>Reseller Account</label>
        <locationX>410</locationX>
        <locationY>58</locationY>
        <assignmentItems>
            <assignToReference>CC_Account_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reseller_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Credit_Cards</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_CC</name>
        <label>Set Default CC</label>
        <locationX>616</locationX>
        <locationY>601</locationY>
        <assignmentItems>
            <assignToReference>CC_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Credit_Card_Obj.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Oppty_Exists</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Credit_Cards</name>
        <label>Check for Credit Cards</label>
        <locationX>42</locationX>
        <locationY>312</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_Card_Exists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Token</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Expiration_Date</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Last_4_of_CC</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Hot_List_Account</targetReference>
            </connector>
            <label>Credit Card Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Default_on_Oppty</name>
        <label>Default on Oppty?</label>
        <locationX>1084</locationX>
        <locationY>178</locationY>
        <defaultConnectorLabel>Default Outcome - No</defaultConnectorLabel>
        <rules>
            <name>Yes_on_Oppty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Default_Flag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity_Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Oppty</targetReference>
            </connector>
            <label>Yes on Oppty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Token</name>
        <label>Existing Token</label>
        <locationX>515</locationX>
        <locationY>463</locationY>
        <defaultConnector>
            <targetReference>Is_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome - Unmatched Token</defaultConnectorLabel>
        <rules>
            <name>Match_Token</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Credit_Card_Obj.Token__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Token</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Credit_Card_Obj.Is_Deleted__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Default_CC</targetReference>
            </connector>
            <label>Match Token</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Default</name>
        <label>Is Default</label>
        <locationX>810</locationX>
        <locationY>385</locationY>
        <defaultConnector>
            <targetReference>Check_Existing_Credit_Cards</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome - No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Credit_Card</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Exists</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Oppty_Exists</name>
        <label>Oppty Exists?</label>
        <locationX>860</locationX>
        <locationY>556</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Oppty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Oppty</targetReference>
            </connector>
            <label>Yes Oppty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Hot_List_Account</name>
        <label>Which Hot List Account?</label>
        <locationX>244</locationX>
        <locationY>150</locationY>
        <defaultConnector>
            <targetReference>End_User_Accoint</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome - End User</defaultConnectorLabel>
        <rules>
            <name>Reseller</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reseller_Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reseller_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reseller_Account</targetReference>
            </connector>
            <label>Reseller</label>
        </rules>
    </decisions>
    <description>Called from PB: Hot List Management - Create/Edit to verify credit cards from Hot Lists conversions.
Called from PB: Lead Management - Create/Edit to verify credit cards from Lead conversions.</description>
    <formulas>
        <name>Set_Default_Flag</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Default_Flag}, FALSE, TRUE)</expression>
    </formulas>
    <interviewLabel>Credit Card Management for Hot Lists {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Credit Card Management for Hot Lists</label>
    <loops>
        <name>Check_Existing_Credit_Cards</name>
        <label>Check Existing Credit Cards</label>
        <locationX>615</locationX>
        <locationY>249</locationY>
        <assignNextValueToReference>Credit_Card_Obj</assignNextValueToReference>
        <collectionReference>Credit_Card_Objs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Existing_Token</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Credit_Card</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Credit_Card</name>
        <label>Create Credit Card</label>
        <locationX>922</locationX>
        <locationY>110</locationY>
        <assignRecordIdToReference>CC_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Default_on_Oppty</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>CC_Account_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration__c</field>
            <value>
                <elementReference>Expiration_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Default__c</field>
            <value>
                <elementReference>Set_Default_Flag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_4_of_CC__c</field>
            <value>
                <elementReference>Last_4_of_CC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Token__c</field>
            <value>
                <elementReference>Token</elementReference>
            </value>
        </inputAssignments>
        <object>Credit_Card__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Credit_Cards</name>
        <label>Get Credit Cards</label>
        <locationX>464</locationX>
        <locationY>249</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Existing_Credit_Cards</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CC_Account_Id</elementReference>
            </value>
        </filters>
        <object>Credit_Card__c</object>
        <outputReference>Credit_Card_Objs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Token__c</queriedFields>
        <queriedFields>Is_Default__c</queriedFields>
        <queriedFields>Is_Deleted__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Oppty</name>
        <label>Update Oppty</label>
        <locationX>1093</locationX>
        <locationY>464</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bill_To_Credit_Card__c</field>
            <value>
                <elementReference>CC_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_for_Credit_Cards</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CC_Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CC_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Credit_Card_Obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credit_Card__c</objectType>
    </variables>
    <variables>
        <name>Credit_Card_Objs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credit_Card__c</objectType>
    </variables>
    <variables>
        <name>Default_Flag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Expiration_Date</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Last_4_of_CC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opportunity_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Reseller_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Token</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
