force-app/main/default/flows/Deal_Registration_Partner_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approve_Auth_and_Registered</name>
        <label>Approve - Auth and Registered</label>
        <locationX>693</locationX>
        <locationY>263</locationY>
        <actionName>Hot_List__c.Approved_Authorized_and_Registered</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Hot_List_Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Hot_List__c.Approved_Authorized_and_Registered</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Approved_National</name>
        <label>Approved - National</label>
        <locationX>779</locationX>
        <locationY>779</locationY>
        <actionName>Hot_List__c.Approved_National</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Hot_List_Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Hot_List__c.Approved_National</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Approved_Premier_and_Preferred</name>
        <label>Approved - Premier and Preferred</label>
        <locationX>1150</locationX>
        <locationY>545</locationY>
        <actionName>Hot_List__c.Approved_Premier_and_Preferred</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Hot_List_Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Hot_List__c.Approved_Premier_and_Preferred</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Denied_Auth_Registered</name>
        <label>Denied - Auth &amp; Registered</label>
        <locationX>784</locationX>
        <locationY>140</locationY>
        <actionName>Hot_List__c.Denied_Authorized_and_Registered</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Hot_List_Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Hot_List__c.Denied_Authorized_and_Registered</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Denied_National</name>
        <label>Denied - National</label>
        <locationX>818</locationX>
        <locationY>616</locationY>
        <actionName>Hot_List__c.Denied_National</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Hot_List_Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Hot_List__c.Denied_National</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Denied_Premier_and_Preferred</name>
        <label>Denied - Premier and Preferred</label>
        <locationX>1237</locationX>
        <locationY>392</locationY>
        <actionName>Hot_List__c.Denied_Premier_and_Preferred</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Hot_List_Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Hot_List__c.Denied_Premier_and_Preferred</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>First_Auth_and_Registered</name>
        <label>First - Auth and Registered</label>
        <locationX>585</locationX>
        <locationY>40</locationY>
        <actionName>Hot_List__c.First_Response_Authorized_and_Registered</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Hot_List_Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Hot_List__c.First_Response_Authorized_and_Registered</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>First_National</name>
        <label>First - National</label>
        <locationX>589</locationX>
        <locationY>506</locationY>
        <actionName>Hot_List__c.First_Response_National</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Hot_List_Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Hot_List__c.First_Response_National</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>First_Premier_and_Preferred</name>
        <label>First - Premier and Preferred</label>
        <locationX>1031</locationX>
        <locationY>266</locationY>
        <actionName>Hot_List__c.First_Response_Premier_and_Preferred</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Hot_List_Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Hot_List__c.First_Response_Premier_and_Preferred</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Distributor_Email</name>
        <label>Check Distributor Email</label>
        <locationX>235</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Partner_Level_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Distributor_Email_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hot_List_Obj.Deal_Reg_Email_Notifications_Formula__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Hot_List_Deal_Reg_Email</targetReference>
            </connector>
            <label>Distributor Email Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Reseller_Contact</name>
        <label>Check Reseller Contact</label>
        <locationX>42</locationX>
        <locationY>353</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hot_List_Obj.Reseller_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Reseller_Account</targetReference>
            </connector>
            <label>Contact Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_Level_Type</name>
        <label>Partner Level Type</label>
        <locationX>310</locationX>
        <locationY>391</locationY>
        <defaultConnector>
            <targetReference>Response_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome] - Authorized OR Registered</defaultConnectorLabel>
        <rules>
            <name>Preferred_OR_Premier</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Reseller_Account.Partner_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preferred</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reseller_Account.Partner_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Response_Type_0</targetReference>
            </connector>
            <label>Preferred OR Premier</label>
        </rules>
        <rules>
            <name>National</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reseller_Account.Partner_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>National</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Response_Type_0_0</targetReference>
            </connector>
            <label>National</label>
        </rules>
    </decisions>
    <decisions>
        <name>Response_Type</name>
        <label>Response Type</label>
        <locationX>363</locationX>
        <locationY>138</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>First_Reponse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Respons_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>First Response</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_Auth_and_Registered</targetReference>
            </connector>
            <label>First Reponse</label>
        </rules>
        <rules>
            <name>Denied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Respons_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Denied_Authorized</targetReference>
            </connector>
            <label>Denied</label>
        </rules>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Respons_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Approved_Authorized</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Response_Type_0</name>
        <label>Response Type</label>
        <locationX>736</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>First_Reponse_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Respons_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>First Response</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_Premier_and_Preferred</targetReference>
            </connector>
            <label>First Reponse</label>
        </rules>
        <rules>
            <name>Denied_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Respons_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Denied_Preferred</targetReference>
            </connector>
            <label>Denied</label>
        </rules>
        <rules>
            <name>Approved_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Respons_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Approved_Preferred</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Response_Type_0_0</name>
        <label>Response Type</label>
        <locationX>366</locationX>
        <locationY>610</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>First_Reponse_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Respons_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>First Response</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_National</targetReference>
            </connector>
            <label>First Reponse</label>
        </rules>
        <rules>
            <name>Denied_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Respons_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Denied_National</targetReference>
            </connector>
            <label>Denied</label>
        </rules>
        <rules>
            <name>Approved_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Respons_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Approved_National</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <description>Called from PB: Hot List Management - Create/Edit to notify partners of deal registrations</description>
    <interviewLabel>Deal Registration Partner Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deal Registration Partner Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_Hot_List</name>
        <label>Check Hot List</label>
        <locationX>50</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Reseller_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Hot_List_Id</elementReference>
            </value>
        </filters>
        <object>Hot_List__c</object>
        <outputReference>Hot_List_Obj</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Reseller_Contact__c</queriedFields>
        <queriedFields>Deal_Reg_Status__c</queriedFields>
        <queriedFields>Deal_Reg_Type__c</queriedFields>
        <queriedFields>Deal_Registration_Status_Date__c</queriedFields>
        <queriedFields>Reseller_Contact_Email__c</queriedFields>
        <queriedFields>DMR_Email__c</queriedFields>
        <queriedFields>Distributor__c</queriedFields>
        <queriedFields>Deal_Reg_Email_Notifications__c</queriedFields>
        <queriedFields>Deal_Reg_Email_Notifications_Formula__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Query_Reseller_Account</name>
        <label>Query Reseller Account</label>
        <locationX>50</locationX>
        <locationY>582</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Distributor_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Reseller_Account</outputReference>
        <queriedFields>Partner_Level__c</queriedFields>
        <queriedFields>Type</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Set_Approved_Authorized</name>
        <label>Set Approved Authorized</label>
        <locationX>543</locationX>
        <locationY>263</locationY>
        <connector>
            <targetReference>Approve_Auth_and_Registered</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Hot_List_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deal_Reg_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal_Reg_Type__c</field>
            <value>
                <stringValue>Design In</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal_Registration_Status_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Hot_List__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Approved_National</name>
        <label>Set Approved National</label>
        <locationX>602</locationX>
        <locationY>779</locationY>
        <connector>
            <targetReference>Approved_National</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Hot_List_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deal_Reg_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal_Reg_Type__c</field>
            <value>
                <stringValue>Design In</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal_Registration_Status_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Hot_List__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Approved_Preferred</name>
        <label>Set Approved Preferred</label>
        <locationX>977</locationX>
        <locationY>545</locationY>
        <connector>
            <targetReference>Approved_Premier_and_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Hot_List_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deal_Reg_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal_Reg_Type__c</field>
            <value>
                <stringValue>Design In</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal_Registration_Status_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Hot_List__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Denied_Authorized</name>
        <label>Set Denied Authorized</label>
        <locationX>641</locationX>
        <locationY>140</locationY>
        <connector>
            <targetReference>Denied_Auth_Registered</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Hot_List_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deal_Reg_Status__c</field>
            <value>
                <stringValue>Not Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal_Reg_Type__c</field>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal_Registration_Status_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Hot_List__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Denied_National</name>
        <label>Set Denied National</label>
        <locationX>671</locationX>
        <locationY>616</locationY>
        <connector>
            <targetReference>Denied_National</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Hot_List_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deal_Reg_Status__c</field>
            <value>
                <stringValue>Not Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal_Reg_Type__c</field>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal_Registration_Status_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Hot_List__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Denied_Preferred</name>
        <label>Set Denied Preferred</label>
        <locationX>1089</locationX>
        <locationY>392</locationY>
        <connector>
            <targetReference>Denied_Premier_and_Preferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Hot_List_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deal_Reg_Status__c</field>
            <value>
                <stringValue>Not Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal_Reg_Type__c</field>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal_Registration_Status_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Hot_List__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Hot_List_Deal_Reg_Email</name>
        <label>Update Hot List Deal Reg Email</label>
        <locationX>172</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Partner_Level_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Hot_List_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deal_Reg_Email_Notifications__c</field>
            <value>
                <elementReference>Hot_List_Obj.Deal_Reg_Email_Notifications_Formula__c</elementReference>
            </value>
        </inputAssignments>
        <object>Hot_List__c</object>
    </recordUpdates>
    <startElementReference>Check_Hot_List</startElementReference>
    <status>Active</status>
    <variables>
        <name>Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Disti_Deal_Reg_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Hot_List_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Hot_List_Obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Hot_List__c</objectType>
    </variables>
    <variables>
        <name>Reseller_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Respons_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
