force-app/main/default/flows/Deal_Registration_Internal_Email_Alerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_User_Emails</name>
        <label>Get User Emails</label>
        <locationX>728</locationX>
        <locationY>881</locationY>
        <actionName>FlowQueryUserEmailHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Count_Emails</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recIds</name>
            <value>
                <elementReference>User_Ids</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowQueryUserEmailHelper</nameSegment>
        <outputParameters>
            <assignToReference>User_Emails</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Alt_Email</name>
        <label>Send Alt Email</label>
        <locationX>839</locationX>
        <locationY>245</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Deal_Reg_Details</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>User_Emails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>donotreply@barracuda.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Notification - Deal Registration Created</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Batch_Emails</name>
        <label>Send Batch Emails</label>
        <locationX>550</locationX>
        <locationY>346</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Reset_Batch_Counter</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Deal_Reg_Details</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Notification - Deal Registration Created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>donotreply@barracuda.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>User_Emails_Batch_5</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Final_Emails</name>
        <label>Send Final Emails</label>
        <locationX>248</locationX>
        <locationY>609</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Deal_Reg_Details</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Notification - Deal Registration Created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>donotreply@barracuda.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>User_Emails_Batch_5</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Final_Email</name>
        <label>Add Final Email</label>
        <locationX>261</locationX>
        <locationY>333</locationY>
        <assignmentItems>
            <assignToReference>User_Emails_Batch_5</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>User_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch_Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_OwnerId</name>
        <label>Add OwnerId</label>
        <locationX>838</locationX>
        <locationY>701</locationY>
        <assignmentItems>
            <assignToReference>User_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Hot_List_Obj.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_Emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Batch_Counter</name>
        <label>Add to Batch Counter</label>
        <locationX>632</locationX>
        <locationY>673</locationY>
        <assignmentItems>
            <assignToReference>Batch_Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User_Emails_Batch_5</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>User_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_User_Ids</name>
        <label>Add User Ids</label>
        <locationX>1299</locationX>
        <locationY>896</locationY>
        <assignmentItems>
            <assignToReference>User_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UserTerrObj.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Territory_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Total_Email_Count</name>
        <label>Get Total Email Count</label>
        <locationX>447</locationX>
        <locationY>896</locationY>
        <assignmentItems>
            <assignToReference>Total_Number_Email_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>User_Emails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Batch_Counter</name>
        <label>Reset Batch Counter</label>
        <locationX>405</locationX>
        <locationY>324</locationY>
        <assignmentItems>
            <assignToReference>User_Emails_Batch_5</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>User_Emails_Batch_5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Final_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Alt_Email</name>
        <label>Set Alt Email</label>
        <locationX>839</locationX>
        <locationY>100</locationY>
        <assignmentItems>
            <assignToReference>User_Emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Hot_List_Obj.Deal_Reg_Internal_Email_Formula__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Alt_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Var1Assignment</name>
        <label>Var1Assignment</label>
        <locationX>989</locationX>
        <locationY>93</locationY>
        <assignmentItems>
            <assignToReference>Var1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Terr2LoopVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Terr2Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Var2Assignment</name>
        <label>Var2Assignment</label>
        <locationX>1213</locationX>
        <locationY>215</locationY>
        <assignmentItems>
            <assignToReference>Var2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Terr2LoopVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Terr2Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Var3Assignment</name>
        <label>Var3Assignment</label>
        <locationX>1241</locationX>
        <locationY>353</locationY>
        <assignmentItems>
            <assignToReference>Var3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Terr2LoopVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Terr2Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Var4Assignement</name>
        <label>Var4Assignement</label>
        <locationX>1340</locationX>
        <locationY>530</locationY>
        <assignmentItems>
            <assignToReference>Var4</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Terr2LoopVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Terr2Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Var5Assignment</name>
        <label>Var5Assignment</label>
        <locationX>1275</locationX>
        <locationY>676</locationY>
        <assignmentItems>
            <assignToReference>Var5</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Terr2LoopVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Terr2Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Var6Assignment</name>
        <label>Var6Assignment</label>
        <locationX>1200</locationX>
        <locationY>770</locationY>
        <assignmentItems>
            <assignToReference>Var6</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Terr2LoopVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Terr2Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Alt_Internal_Email</name>
        <label>Check Alt Internal Email</label>
        <locationX>541</locationX>
        <locationY>217</locationY>
        <defaultConnector>
            <targetReference>Get_Territory2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Alt_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hot_List_Obj.Deal_Reg_Internal_Email_Formula__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Deal_Reg_Internal_Email_Formula__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Alt_Email</targetReference>
            </connector>
            <label>Alt Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Batch_Counter</name>
        <label>Check Batch Counter</label>
        <locationX>531</locationX>
        <locationY>532</locationY>
        <defaultConnector>
            <targetReference>Add_to_Batch_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Batch_is_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Batch_Counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Batch_Emails</targetReference>
            </connector>
            <label>Batch is 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Email_Batch_5_is_not_Empty</name>
        <label>Check Email Batch 5 is not Empty</label>
        <locationX>237</locationX>
        <locationY>830</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Emails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Emails_Batch_5</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Final_Emails</targetReference>
            </connector>
            <label>Has Emails</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hot_List_Owner_is_User</name>
        <label>Hot List Owner is User</label>
        <locationX>929</locationX>
        <locationY>899</locationY>
        <defaultConnector>
            <targetReference>Get_User_Emails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_is_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hot_List_Obj.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_OwnerId</targetReference>
            </connector>
            <label>Owner is User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Var1Decision</name>
        <label>Var1Decision</label>
        <locationX>1171</locationX>
        <locationY>69</locationY>
        <defaultConnector>
            <targetReference>Var2Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Var1Assignment</targetReference>
            </connector>
            <label>Is Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Var2Decision</name>
        <label>Var2Decision</label>
        <locationX>1397</locationX>
        <locationY>130</locationY>
        <defaultConnector>
            <targetReference>Var3Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Empty_Var2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Var2Assignment</targetReference>
            </connector>
            <label>Is Empty Var2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Var3Decision</name>
        <label>Var3Decision</label>
        <locationX>1439</locationX>
        <locationY>308</locationY>
        <defaultConnector>
            <targetReference>Var4Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Empty_Var3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Var3Assignment</targetReference>
            </connector>
            <label>Is Empty Var3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Var4Decision</name>
        <label>Var4Decision</label>
        <locationX>1536</locationX>
        <locationY>430</locationY>
        <defaultConnector>
            <targetReference>Var5Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Empty_Var4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Var4Assignement</targetReference>
            </connector>
            <label>Is Empty Var4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Var5Decision</name>
        <label>Var5Decision</label>
        <locationX>1658</locationX>
        <locationY>541</locationY>
        <defaultConnector>
            <targetReference>Var6Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Empty_Var5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Var5Assignment</targetReference>
            </connector>
            <label>Is Empty Var5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Var6Decision</name>
        <label>Var6Decision</label>
        <locationX>1770</locationX>
        <locationY>662</locationY>
        <defaultConnector>
            <targetReference>Terr2Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Empty_Var6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Var6Assignment</targetReference>
            </connector>
            <label>Is Empty Var6</label>
        </rules>
    </decisions>
    <description>Called from PB: Hot List Management - Create/Edit to notify the internal team of deal registrations</description>
    <formulas>
        <name>Base_URL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <interviewLabel>Deal Registration Internal Email Alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deal Registration Internal Email Alerts</label>
    <loops>
        <name>Count_Emails</name>
        <label>Count Emails</label>
        <locationX>616</locationX>
        <locationY>797</locationY>
        <assignNextValueToReference>User_Email</assignNextValueToReference>
        <collectionReference>User_Emails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Total_Email_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Over_Emails</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Emails</name>
        <label>Loop Over Emails</label>
        <locationX>418</locationX>
        <locationY>681</locationY>
        <assignNextValueToReference>User_Email</assignNextValueToReference>
        <collectionReference>User_Emails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Batch_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Email_Batch_5_is_not_Empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Territory_Users</name>
        <label>Loop Over Territory Users</label>
        <locationX>1100</locationX>
        <locationY>895</locationY>
        <assignNextValueToReference>UserTerrObj</assignNextValueToReference>
        <collectionReference>Terr_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_User_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Hot_List_Owner_is_User</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Terr2Loop</name>
        <label>Terr2Loop</label>
        <locationX>1002</locationX>
        <locationY>403</locationY>
        <assignNextValueToReference>Terr2LoopVar</assignNextValueToReference>
        <collectionReference>Territory2Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Var1Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Territory_users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Hot_List</name>
        <label>Get Hot List</label>
        <locationX>405</locationX>
        <locationY>83</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Alt_Internal_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Hot_List_Id</elementReference>
            </value>
        </filters>
        <object>Hot_List__c</object>
        <outputReference>Hot_List_Obj</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Lead_Contact_Terr_Location__c</queriedFields>
        <queriedFields>Lead_Contact_Terr_Theater__c</queriedFields>
        <queriedFields>Lead_Contact_Terr_Territory__c</queriedFields>
        <queriedFields>Lead_Contact_Terr_Sub_Territory__c</queriedFields>
        <queriedFields>Lead_Contact_Terr_Region__c</queriedFields>
        <queriedFields>Lead_Contact_Terr_Sub_Theater__c</queriedFields>
        <queriedFields>Hot_List_Name__c</queriedFields>
        <queriedFields>GS_Company__c</queriedFields>
        <queriedFields>City__c</queriedFields>
        <queriedFields>Lead_Contact_State_Province__c</queriedFields>
        <queriedFields>Primary_Product_Family_2__c</queriedFields>
        <queriedFields>Products__c</queriedFields>
        <queriedFields>Deal_Reg_Tracking_No__c</queriedFields>
        <queriedFields>Expected_Close_Date__c</queriedFields>
        <queriedFields>Reseller_Text__c</queriedFields>
        <queriedFields>Partner_Level__c</queriedFields>
        <queriedFields>Reseller_Contact_Text__c</queriedFields>
        <queriedFields>Reseller_Contact_Email__c</queriedFields>
        <queriedFields>Reseller_Contact_Phone__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Deal_Reg_Internal_Email_Formula__c</queriedFields>
        <queriedFields>Usr_Ent_City__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Territory2</name>
        <label>Get Territory2</label>
        <locationX>834</locationX>
        <locationY>402</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Terr2Loop</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Hot_List_Obj.Lead_Contact_Terr_Location__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Hot_List_Obj.Lead_Contact_Terr_Sub_Territory__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Hot_List_Obj.Lead_Contact_Terr_Region__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Hot_List_Obj.Lead_Contact_Terr_Sub_Theater__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Hot_List_Obj.Lead_Contact_Terr_Territory__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Hot_List_Obj.Lead_Contact_Terr_Theater__c</elementReference>
            </value>
        </filters>
        <object>Territory2</object>
        <outputReference>Territory2Collection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Territory_users</name>
        <label>Get Territory users</label>
        <locationX>928</locationX>
        <locationY>572</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Territory_Users</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 12 OR 13) AND (6 OR 7 OR 8 OR 9 OR 10 OR 11)</filterLogic>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Territory Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outside Channel Manager / Partner Account Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account Executive</stringValue>
            </value>
        </filters>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regional Sales Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regional Sales Director</stringValue>
            </value>
        </filters>
        <filters>
            <field>Territory2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var1</elementReference>
            </value>
        </filters>
        <filters>
            <field>Territory2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var2</elementReference>
            </value>
        </filters>
        <filters>
            <field>Territory2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var3</elementReference>
            </value>
        </filters>
        <filters>
            <field>Territory2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var4</elementReference>
            </value>
        </filters>
        <filters>
            <field>Territory2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var5</elementReference>
            </value>
        </filters>
        <filters>
            <field>Territory2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var6</elementReference>
            </value>
        </filters>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account Executive - Public Sector</stringValue>
            </value>
        </filters>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Associate Territory Manager</stringValue>
            </value>
        </filters>
        <object>UserTerritory2Association</object>
        <outputReference>Terr_Users</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RoleInTerritory2</queriedFields>
        <queriedFields>UserId</queriedFields>
    </recordLookups>
    <start>
        <locationX>65</locationX>
        <locationY>83</locationY>
        <connector>
            <targetReference>Get_Hot_List</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Deal_Reg_Details</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>A deal registration hotlist record has been created in your Territory/Region.

Hot List Name: {!Hot_List_Obj.Hot_List_Name__c}
Company: {!Hot_List_Obj.GS_Company__c}
City: {!Hot_List_Obj.Usr_Ent_City__c}
State: {!Hot_List_Obj.Lead_Contact_State_Province__c}
Primary Product Family: {!Hot_List_Obj.Primary_Product_Family_2__c}
Products: {!Hot_List_Obj.Products__c}
Deal Reg Tracking Number: {!Hot_List_Obj.Deal_Reg_Tracking_No__c}
Expected Close Date: {!Hot_List_Obj.Expected_Close_Date__c}

Reseller: {!Hot_List_Obj.Reseller_Text__c}
Partner Level: {!Hot_List_Obj.Partner_Level__c}
Reseller Contact: {!Hot_List_Obj.Reseller_Contact_Text__c}
Reseller Contact Email: {!Hot_List_Obj.Reseller_Contact_Email__c}
Reseller Contact Phone: {!Hot_List_Obj.Reseller_Contact_Phone__c}

Link: {!Base_URL}{!Hot_List_Obj.Id}</text>
    </textTemplates>
    <variables>
        <name>Batch_Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Hot_List_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Hot_List_Obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Hot_List__c</objectType>
    </variables>
    <variables>
        <name>Terr2CollectionString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Terr2LoopVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Territory2</objectType>
    </variables>
    <variables>
        <name>Terr_Users</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserTerritory2Association</objectType>
    </variables>
    <variables>
        <name>Territory2Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Territory2</objectType>
    </variables>
    <variables>
        <name>Total_Number_Email_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>User_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User_Emails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User_Emails_Batch_5</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UsersCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserTerrObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserTerritory2Association</objectType>
    </variables>
    <variables>
        <name>Var1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Var2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Var3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Var4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Var5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Var6</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
