force-app/main/default/flows/Default_Opportunity_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Existing_Business</name>
        <label>Set Existing Business</label>
        <locationX>834</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>Oppty_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Existing Business</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Oppty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Business</name>
        <label>Set New Business</label>
        <locationX>1071</locationX>
        <locationY>598</locationY>
        <assignmentItems>
            <assignToReference>Oppty_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Business</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Oppty</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Verify_Last_closed_Won_Oppty</name>
        <label>Verify Last closed Won Oppty</label>
        <locationX>559</locationX>
        <locationY>390</locationY>
        <defaultConnector>
            <targetReference>Set_Existing_Business</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Migration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsMigration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Existing_Business</targetReference>
            </connector>
            <label>Is Migration</label>
        </rules>
        <rules>
            <name>RT_is_Renewal_or_Locked_Renewal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OpptyRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Locked_Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpptyRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AmendedContract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RenewedContract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Existing_Business</targetReference>
            </connector>
            <label>RT is Renewal or Locked Renewal</label>
        </rules>
        <rules>
            <name>No_Subs_and_Opptys</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Subscription_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LastOpptyId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FirstSubId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FirstClosedOpptyId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Business</targetReference>
            </connector>
            <label>No Subs and Opptys</label>
        </rules>
        <rules>
            <name>Close_date_is_in_last_30_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Last_Closed_Date</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Within30Days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FirstOpptyCloseDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Within30Days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SubStartDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Within30Days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FirstSubStartDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Within30Days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Business</targetReference>
            </connector>
            <label>Close date is in last 30 days</label>
        </rules>
        <rules>
            <name>Close_date_is_in_last_30_days_No_subs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Last_Closed_Date</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Within30Days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FirstOpptyCloseDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Within30Days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FirstSubId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Subscription_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Business</targetReference>
            </connector>
            <label>Close date is in last 30 days No subs</label>
        </rules>
        <rules>
            <name>No_closed_won_Opptys_with_start_date_in_last_30days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirstClosedOpptyId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LastOpptyId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FirstSubStartDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Within30Days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Business</targetReference>
            </connector>
            <label>No closed won Opptys with start date in last 30days</label>
        </rules>
    </decisions>
    <description>Called from PB: Opportunity Management - Create/Edit set Bill To Credit Card Id</description>
    <environments>Default</environments>
    <formulas>
        <name>Three_Years_Ago</name>
        <dataType>Date</dataType>
        <expression>{!Curr_Oppty_Closed_Date}-1095</expression>
    </formulas>
    <formulas>
        <name>Within30Days</name>
        <dataType>Date</dataType>
        <expression>{!Curr_Oppty_Closed_Date}-30</expression>
    </formulas>
    <interviewLabel>Called from PB: Opportunity Management - Create/Edit set Bill To Credit Card Id {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Default Opportunity Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_First_Subs_in_Last_3_years</name>
        <label>Check First Subs in Last 3 years</label>
        <locationX>162</locationX>
        <locationY>621</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Last_closed_Won_Oppty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__EndDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Three_Years_Ago</elementReference>
            </value>
        </filters>
        <object>SBQQ__Subscription__c</object>
        <outputAssignments>
            <assignToReference>FirstSubActive</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FirstSubId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FirstSubsEndDate</assignToReference>
            <field>SBQQ__EndDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FirstSubStartDate</assignToReference>
            <field>SBQQ__StartDate__c</field>
        </outputAssignments>
        <sortField>SBQQ__EndDate__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Check_Subscriptions</name>
        <label>Check Subscriptions</label>
        <locationX>173</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Last_Closed_Won_Oppty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__EndDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Three_Years_Ago</elementReference>
            </value>
        </filters>
        <object>SBQQ__Subscription__c</object>
        <outputAssignments>
            <assignToReference>SubisActive</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Subscription_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SubEndDate</assignToReference>
            <field>SBQQ__EndDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SubStartDate</assignToReference>
            <field>SBQQ__StartDate__c</field>
        </outputAssignments>
        <sortField>SBQQ__EndDate__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Closed_Won_Opptys</name>
        <label>Get Closed Won Opptys</label>
        <locationX>168</locationX>
        <locationY>497</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_First_Subs_in_Last_3_years</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Has_Demo_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Opportunity_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Three_Years_Ago</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>FirstOpptyCloseDate</assignToReference>
            <field>CloseDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FirstClosedOpptyId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CloseDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_Closed_Won_Oppty</name>
        <label>Get Last Closed Won Oppty</label>
        <locationX>168</locationX>
        <locationY>362</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Closed_Won_Opptys</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Has_Demo_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Opportunity_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Three_Years_Ago</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>Last_Closed_Date</assignToReference>
            <field>CloseDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LastOpptyId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CloseDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Oppty</name>
        <label>Update Oppty</label>
        <locationX>1078</locationX>
        <locationY>101</locationY>
        <connector>
            <targetReference>Reset_Exception_Display_Flag</targetReference>
        </connector>
        <faultConnector>
            <targetReference>DML_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Oppty_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>73</locationY>
        <connector>
            <targetReference>Check_Subscriptions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>DML_Exception</name>
        <label>DML Exception</label>
        <locationX>1218</locationX>
        <locationY>322</locationY>
        <flowName>Exception_Handler_Applog</flowName>
        <inputAssignments>
            <name>Error_Message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Id</name>
            <value>
                <elementReference>Opportunity_Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Reset_Exception_Display_Flag</name>
        <label>Reset Exception Display Flag</label>
        <locationX>1264</locationX>
        <locationY>100</locationY>
        <flowName>Exception_Reset_Display_Applog_Details</flowName>
        <inputAssignments>
            <name>Record_Ids</name>
            <value>
                <elementReference>Opportunity_Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AmendedContract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Curr_Oppty_Closed_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>Curr_Oppty_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>FirstClosedOpptyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstOpptyCloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstSubActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstSubId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstSubsEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstSubStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsMigration</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Last_Closed_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastOpptyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opportunity_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Oppty_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpptyRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RenewedContract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubisActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Subscription_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
