force-app/main/default/flows/Disable_Community_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Disable User</description>
        <name>Update_User_Obj</name>
        <label>Update User Obj</label>
        <locationX>950</locationX>
        <locationY>70</locationY>
        <assignmentItems>
            <assignToReference>Get_User_Obj.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_User_Obj.Accepted_Terms_Conditions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_User_Obj.IsPortalEnabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_Obj_Inactive</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_Conditions</name>
        <label>Contact Conditions</label>
        <locationX>430</locationX>
        <locationY>83</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Record_is_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Obj</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Contact Record is NULL</label>
        </rules>
        <rules>
            <name>Contact_Status_Left_Company</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Obj.Contact_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Left Company</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Obj</targetReference>
            </connector>
            <label>Contact Status - Left Company</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_obj_NULL</name>
        <label>User obj NULL</label>
        <locationX>795</locationX>
        <locationY>324</locationY>
        <defaultConnector>
            <targetReference>Update_User_Obj</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not NULL</defaultConnectorLabel>
        <rules>
            <name>NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Obj</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>NULL</label>
        </rules>
    </decisions>
    <description>Disable Customer Community User - if contact changes to Left Company</description>
    <interviewLabel>Disable Customer User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Disable Community User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Obj</name>
        <label>Get Contact Obj</label>
        <locationX>204</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Conditions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>passContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get User record with associated Contact</description>
        <name>Get_User_Obj</name>
        <label>Get User Obj</label>
        <locationX>626</locationX>
        <locationY>246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_obj_NULL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>passContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_Obj_Inactive</name>
        <label>Update User Obj_Inactive</label>
        <locationX>1170</locationX>
        <locationY>94</locationY>
        <inputReference>Get_User_Obj</inputReference>
    </recordUpdates>
    <start>
        <locationX>41</locationX>
        <locationY>74</locationY>
        <connector>
            <targetReference>Get_Contact_Obj</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>passContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
