force-app/main/default/flows/Exception_Handler_Applog.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_Update</name>
        <label>Add to Update</label>
        <locationX>496</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>Update_Display_Err_Msgs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Current_Display_Err_Msg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Existing_Display</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Display</name>
        <label>Reset Display</label>
        <locationX>303</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>Current_Display_Err_Msg.display__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Update_Display_Err_Msgs</name>
        <label>Check Update Display Err Msgs</label>
        <locationX>673</locationX>
        <locationY>141</locationY>
        <defaultConnector>
            <targetReference>Insert_Applog_Header</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Display</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Display_Err_Msgs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Display_Err_Msgs</targetReference>
            </connector>
            <label>Update Display</label>
        </rules>
    </decisions>
    <description>Called as a sub-flow: to store flow exceptions in the applog/applog details</description>
    <formulas>
        <name>Header_Message</name>
        <dataType>String</dataType>
        <expression>LEFT({!Error_Message},255)</expression>
    </formulas>
    <interviewLabel>Exception Handler Applog {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Exception Handler Applog</label>
    <loops>
        <name>Iterate_Over_Existing_Display</name>
        <label>Iterate Over Existing Display</label>
        <locationX>404</locationX>
        <locationY>137</locationY>
        <assignNextValueToReference>Current_Display_Err_Msg</assignNextValueToReference>
        <collectionReference>Current_Display_Err_Msgs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_Display</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Update_Display_Err_Msgs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Applog_Detail</name>
        <label>Create_Applog_Detail</label>
        <locationX>1063</locationX>
        <locationY>140</locationY>
        <assignRecordIdToReference>Applog_Detail_Id</assignRecordIdToReference>
        <inputAssignments>
            <field>AppLog__c</field>
            <value>
                <elementReference>App_Log_Header_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RefRecordID__c</field>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>display__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>message__c</field>
            <value>
                <elementReference>Header_Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>message_long__c</field>
            <value>
                <elementReference>Error_Message</elementReference>
            </value>
        </inputAssignments>
        <object>AppLogDetail__c</object>
    </recordCreates>
    <recordCreates>
        <name>Insert_Applog_Header</name>
        <label>Insert Applog Header</label>
        <locationX>904</locationX>
        <locationY>140</locationY>
        <assignRecordIdToReference>App_Log_Header_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Applog_Detail</targetReference>
        </connector>
        <inputAssignments>
            <field>message__c</field>
            <value>
                <elementReference>Header_Message</elementReference>
            </value>
        </inputAssignments>
        <object>AppLog__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Display_Errors</name>
        <label>Get Existing Display Errors</label>
        <locationX>227</locationX>
        <locationY>137</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Existing_Display</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RefRecordID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>display__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AppLogDetail__c</object>
        <outputReference>Current_Display_Err_Msgs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>display__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Display_Err_Msgs</name>
        <label>Update Existing Display Err Msgs</label>
        <locationX>802</locationX>
        <locationY>368</locationY>
        <connector>
            <targetReference>Insert_Applog_Header</targetReference>
        </connector>
        <inputReference>Update_Display_Err_Msgs</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Existing_Display_Errors</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>App_Log_Header_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Applog_Detail_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Current_Display_Err_Msg</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AppLogDetail__c</objectType>
    </variables>
    <variables>
        <name>Current_Display_Err_Msgs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AppLogDetail__c</objectType>
    </variables>
    <variables>
        <name>Error_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Update_Display_Err_Msgs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AppLogDetail__c</objectType>
    </variables>
</Flow>
