force-app/main/default/flows/Exception_Reset_Display_Applog_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_ALL_Display_Error_Records</name>
        <label>Get ALL Display Error Records</label>
        <locationX>226</locationX>
        <locationY>137</locationY>
        <actionName>AppLogDetailHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Iterate_Over_Existing_Display</targetReference>
        </connector>
        <inputParameters>
            <name>recIds</name>
            <value>
                <elementReference>Record_Ids</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AppLogDetailHelper</nameSegment>
        <outputParameters>
            <assignToReference>Current_Display_Err_Msgs</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_Update</name>
        <label>Add to Update</label>
        <locationX>496</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>Update_Display_Err_Msgs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Current_Display_Err_Msg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Existing_Display</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Display</name>
        <label>Reset Display</label>
        <locationX>303</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>Current_Display_Err_Msg.display__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Update_Display_Err_Msgs</name>
        <label>Check Update Display Err Msgs</label>
        <locationX>673</locationX>
        <locationY>141</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Display</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Display_Err_Msgs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Display_Err_Msgs</targetReference>
            </connector>
            <label>Update Display</label>
        </rules>
    </decisions>
    <description>Called as a sub-flow: to reset display flag for flow exceptions in the applog details.</description>
    <interviewLabel>Reset Exception Display Applog Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Exception Reset Display Applog Details</label>
    <loops>
        <name>Iterate_Over_Existing_Display</name>
        <label>Iterate Over Existing Display</label>
        <locationX>404</locationX>
        <locationY>137</locationY>
        <assignNextValueToReference>Current_Display_Err_Msg</assignNextValueToReference>
        <collectionReference>Current_Display_Err_Msgs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_Display</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Update_Display_Err_Msgs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Existing_Display_Err_Msgs</name>
        <label>Update Existing Display Err Msgs</label>
        <locationX>938</locationX>
        <locationY>138</locationY>
        <inputReference>Update_Display_Err_Msgs</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_ALL_Display_Error_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Current_Display_Err_Msg</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AppLogDetail__c</objectType>
    </variables>
    <variables>
        <name>Current_Display_Err_Msgs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AppLogDetail__c</objectType>
    </variables>
    <variables>
        <name>Record_Ids</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Update_Display_Err_Msgs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AppLogDetail__c</objectType>
    </variables>
</Flow>
