force-app/main/default/flows/From_Address_and_Contact_Center_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>CaseMessageEmailCheck</name>
        <label>CaseMessageEmailCheck</label>
        <locationX>499</locationX>
        <locationY>182</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emailMessageInput.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>emailMessageInput.ParentId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>emailMessageInput.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateCase</targetReference>
            </connector>
            <label>Has Case?</label>
        </rules>
    </decisions>
    <description>Optimized Flow-Deleted Contact_Center_Workaround__c</description>
    <environments>Default</environments>
    <formulas>
        <name>fromNewAddressFormula</name>
        <dataType>String</dataType>
        <expression>If ({!emailMessageInput.CcAddress} == null, {!emailMessageInput.ToAddress}, {!emailMessageInput.ToAddress} + &quot; ;&quot; + {!emailMessageInput.CcAddress})</expression>
    </formulas>
    <interviewLabel>From Address and Contact Center Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>From Address and Contact Center Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateCase</name>
        <label>updateCase</label>
        <locationX>367</locationX>
        <locationY>290</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>emailMessageInput.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>From_Address_New__c</field>
            <value>
                <elementReference>fromNewAddressFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>CaseMessageEmailCheck</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>emailMessageInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
</Flow>
