force-app/main/default/flows/Hot_List_Management_for_Lead_Conversion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_Update_Collection</name>
        <label>Add to Update Collection</label>
        <locationX>455</locationX>
        <locationY>745</locationY>
        <assignmentItems>
            <assignToReference>Hot_List_Objs_Collection_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Hot_List_Obj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Hot_Lists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact</name>
        <label>Set Contact</label>
        <locationX>879</locationX>
        <locationY>657</locationY>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Obj.ConvertedContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Obj.ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Primary_Oppty_Contact</name>
        <label>Set Primary Oppty &amp; Contact</label>
        <locationX>587</locationX>
        <locationY>570</locationY>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Disposition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Converted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Obj.ConvertedContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Converted_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Obj.ConvertedOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hot_List_Locked_Record_Type_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Obj.ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Type_Contact</name>
        <label>Set Type &amp; Contact</label>
        <locationX>1040</locationX>
        <locationY>753</locationY>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Obj.ConvertedContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hot_List_Contact_Record_Type_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Hot_List_Obj.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Obj.ConvertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Primary_Hot_List</name>
        <label>Is Primary Hot List</label>
        <locationX>793</locationX>
        <locationY>428</locationY>
        <defaultConnector>
            <targetReference>Set_Type_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hot_List_Obj.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Lead_Obj.Primary_Hot_List__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Primary_Oppty_Contact</targetReference>
            </connector>
            <label>Yes Primary</label>
        </rules>
        <rules>
            <name>Non_Primary_Locked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hot_List_Obj.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Lead_Obj.Primary_Hot_List__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Hot_List_Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hot List Locked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact</targetReference>
            </connector>
            <label>Non Primary Locked</label>
        </rules>
    </decisions>
    <description>Called from PB: Lead Management - Create/Edit tupdate related Hot List and migrate them to the opportunity</description>
    <interviewLabel>Hot List Management for Lead Conversion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hot List Management for Lead Conversion</label>
    <loops>
        <name>Iterate_over_Hot_Lists</name>
        <label>Iterate over Hot Lists</label>
        <locationX>604</locationX>
        <locationY>240</locationY>
        <assignNextValueToReference>Hot_List_Obj</assignNextValueToReference>
        <collectionReference>Hot_List_Objs_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Primary_Hot_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Hot_Lists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Converted_Lead</name>
        <label>Get Converted Lead</label>
        <locationX>263</locationX>
        <locationY>481</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Hot_Lists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead_Id</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Lead_Obj</outputReference>
        <queriedFields>ConvertedAccountId</queriedFields>
        <queriedFields>ConvertedContactId</queriedFields>
        <queriedFields>ConvertedOpportunityId</queriedFields>
        <queriedFields>Primary_Hot_List__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Hot_Lists</name>
        <label>Get Related Hot Lists</label>
        <locationX>414</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_Hot_Lists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead_Id</elementReference>
            </value>
        </filters>
        <object>Hot_List__c</object>
        <outputReference>Hot_List_Objs_Collection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Converted_Opportunity__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Disposition__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Hot_List_Record_Type__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Query_Contact_Hot_List_Record_Type</name>
        <label>Query Contact Hot List Record Type</label>
        <locationX>107</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Converted_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hot_List_Contact</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Hot_List_Contact_Record_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Locked_Hot_List_Record_Type</name>
        <label>Query Locked Hot List Record Type</label>
        <locationX>198</locationX>
        <locationY>162</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_Contact_Hot_List_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hot_List_Locked</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Hot_List_Locked_Record_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Hot_Lists</name>
        <label>Update Hot Lists</label>
        <locationX>862</locationX>
        <locationY>245</locationY>
        <inputReference>Hot_List_Objs_Collection_Update</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Query_Locked_Hot_List_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Hot_List_Contact_Record_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Hot_List_Locked_Record_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Hot_List_Obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Hot_List__c</objectType>
    </variables>
    <variables>
        <name>Hot_List_Objs_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Hot_List__c</objectType>
    </variables>
    <variables>
        <name>Hot_List_Objs_Collection_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Hot_List__c</objectType>
    </variables>
    <variables>
        <name>Lead_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead_Obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
