force-app/main/default/flows/Hot_List_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Americas_Inside_Sales_Lead_Queue</name>
        <label>Americas Inside Sales Lead Queue</label>
        <locationX>656</locationX>
        <locationY>1219</locationY>
        <assignmentItems>
            <assignToReference>Queue_Dev_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Americas_AE_TM_2_hour_Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Query_Queue_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Americas_LDR_Lead_Queue</name>
        <label>Americas LDR Lead Queue</label>
        <locationX>1724</locationX>
        <locationY>722</locationY>
        <assignmentItems>
            <assignToReference>Queue_Dev_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Americas_LDR_Lead_Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Query_Queue_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AMERICAS_Renewals_Lead_Queue</name>
        <label>AMERICAS Renewals Lead Queue</label>
        <locationX>1616</locationX>
        <locationY>794</locationY>
        <assignmentItems>
            <assignToReference>Queue_Dev_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AMERICAS_Renewals</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Query_Queue_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>APAC_Inside_Outside_Hot_List_Queue</name>
        <label>APAC Inside/Outside Hot List Queue</label>
        <locationX>961</locationX>
        <locationY>748</locationY>
        <assignmentItems>
            <assignToReference>Queue_Dev_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>APAC_Inside_Outside_Sales_Hot_List_Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Query_Queue_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>APAC_LDR_Hot_List_Queue</name>
        <label>APAC LDR Hot List Queue</label>
        <locationX>828</locationX>
        <locationY>736</locationY>
        <assignmentItems>
            <assignToReference>Queue_Dev_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>APAC_LDR_Hot_List_Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Query_Queue_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>APAC_Renewals_Lead_Queue</name>
        <label>APAC Renewals Lead Queue</label>
        <locationX>1327</locationX>
        <locationY>781</locationY>
        <assignmentItems>
            <assignToReference>Queue_Dev_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>APAC_Renewals</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Query_Queue_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Sales_User</name>
        <label>Current Sales User</label>
        <locationX>1354</locationX>
        <locationY>261</locationY>
        <assignmentItems>
            <assignToReference>Hot_List_Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Hot_List_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Lead_Queue</name>
        <label>Default Lead Queue</label>
        <locationX>1540</locationX>
        <locationY>948</locationY>
        <assignmentItems>
            <assignToReference>Queue_Dev_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Default_Lead_Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Query_Queue_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Eastern_Europe_Lead_Queue</name>
        <label>Eastern Europe Lead Queue</label>
        <locationX>482</locationX>
        <locationY>743</locationY>
        <assignmentItems>
            <assignToReference>Queue_Dev_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Eastern_Europe_Lead_Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Query_Queue_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EMEA_Channel_Lead_and_HL_Queue</name>
        <label>EMEA Channel Lead and HL Queue</label>
        <locationX>1080</locationX>
        <locationY>718</locationY>
        <assignmentItems>
            <assignToReference>Queue_Dev_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EMEA_Channel_Lead_and_HL_Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Query_Queue_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EMEA_Inside_Sales_Lead_Queue</name>
        <label>EMEA Inside Sales Lead Queue</label>
        <locationX>1814</locationX>
        <locationY>343</locationY>
        <assignmentItems>
            <assignToReference>Queue_Dev_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EMEA_Inside_Sales_Lead_Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Query_Queue_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EMEA_LDR_Lead_Queue</name>
        <label>EMEA LDR Lead Queue</label>
        <locationX>1728</locationX>
        <locationY>465</locationY>
        <assignmentItems>
            <assignToReference>Queue_Dev_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EMEA_LDR_Lead_Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Query_Queue_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EMEA_Renewals_Lead_Queue</name>
        <label>EMEA Renewals Lead Queue</label>
        <locationX>1477</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>Queue_Dev_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EMEA_Renewals</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Query_Queue_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Japan_Lead_Queue</name>
        <label>Japan Lead Queue</label>
        <locationX>342</locationX>
        <locationY>872</locationY>
        <assignmentItems>
            <assignToReference>Queue_Dev_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Japan_Hot_List_Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Query_Queue_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Middle_East_Lead_Queue</name>
        <label>Middle East Lead Queue</label>
        <locationX>394</locationX>
        <locationY>659</locationY>
        <assignmentItems>
            <assignToReference>Queue_Dev_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Middle_East_Lead_Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Query_Queue_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MSP_MW_Trial_Lead_Queue</name>
        <label>MSP MW Trial Lead Queue</label>
        <locationX>448</locationX>
        <locationY>327</locationY>
        <assignmentItems>
            <assignToReference>Queue_Dev_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MSP_MW_Trial_Lead_Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Query_Queue_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MSP_RAD_Lead_Queue</name>
        <label>MSP RAD Lead Queue</label>
        <locationX>346</locationX>
        <locationY>544</locationY>
        <assignmentItems>
            <assignToReference>Queue_Dev_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MSP_RAD_Lead_Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Query_Queue_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MSP_RAD_Lead_Queue_0</name>
        <label>MSP RAD Lead Queue</label>
        <locationX>364</locationX>
        <locationY>424</locationY>
        <assignmentItems>
            <assignToReference>Queue_Dev_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MSP_PDM_Lead_Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Query_Queue_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WW_Sonian_Lead_Queue</name>
        <label>WW Sonian Lead Queue</label>
        <locationX>589</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>Queue_Dev_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WW_Sonian_Lead_Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Query_Queue_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>APAC_Partner_ETS_Scans</name>
        <label>APAC Partner ETS Scans</label>
        <locationX>1458</locationX>
        <locationY>1300</locationY>
        <defaultConnector>
            <targetReference>APAC_LDR_Hot_List_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>APAC_Partner_ETS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_Terr_Theater</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct Website Visit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.MQL_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Autoqualifier &gt; ETS Office 365</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Other_Notes2__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Reseller</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APAC_Inside_Outside_Hot_List_Queue</targetReference>
            </connector>
            <label>APAC Partner ETS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account_Id</name>
        <label>Check Account Id</label>
        <locationX>967</locationX>
        <locationY>76</locationY>
        <defaultConnector>
            <targetReference>Check_Current_User_Profile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Id_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_For_Territory</targetReference>
            </connector>
            <label>Account Id Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Current_User_Profile</name>
        <label>Check Current User Profile</label>
        <locationX>1051</locationX>
        <locationY>195</locationY>
        <defaultConnector>
            <targetReference>Check_Queue_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Sales</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>User_Profile_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Apollo: Custom- Sales Profile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_Profile_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Apollo: Custom- Sales Operations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_Profile_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Apollo: Custom- Sales_China Profile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User_Profile_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Apollo: Custom- Sales Engineers Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Sales_User</targetReference>
            </connector>
            <label>Is Sales</label>
        </rules>
        <rules>
            <name>Owner_Id_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hot_List_Obj.Owner:User.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Apollo: API</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live Chat</stringValue>
                </rightValue>
            </conditions>
            <label>Owner Id Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_AMERICAS_ETS_Scan</name>
        <label>Check for AMERICAS ETS Scans</label>
        <locationX>1366</locationX>
        <locationY>1040</locationY>
        <defaultConnector>
            <targetReference>Americas_LDR_Lead_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_AMERICAS_ETS_Scans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_Terr_Theater</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMERICAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct Website Visit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.MQL_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Autoqualifier &gt; ETS Office 365</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Reseller_Contact_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Americas_Inside_Sales_Lead_Queue</targetReference>
            </connector>
            <label>If AMERICAS ETS Scans</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_APAC_Partner_ETS_Scans</name>
        <label>Check For APAC Partner ETS Scans</label>
        <locationX>1116</locationX>
        <locationY>1326</locationY>
        <defaultConnector>
            <targetReference>APAC_LDR_Hot_List_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NOT_ETS_Scans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_Terr_Theater</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct Website Visit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.MQL_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Autoqualifier &gt; ETS Office 365</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APAC_LDR_Hot_List_Queue</targetReference>
            </connector>
            <label>NOT APAC ETS Scans</label>
        </rules>
        <rules>
            <name>If_ETS_Scan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_Terr_Theater</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct Website Visit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.MQL_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Autoqualifier &gt; ETS Office 365</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Other_Notes2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APAC_Partner_ETS_Scans</targetReference>
            </connector>
            <label>If APAC ETS Scans</label>
        </rules>
        <rules>
            <name>If_APAC_ETS_Scans_Notes_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_Terr_Theater</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct Website Visit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.MQL_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Autoqualifier &gt; ETS Office 365</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Other_Notes2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APAC_LDR_Hot_List_Queue</targetReference>
            </connector>
            <label>If APAC ETS Scans Notes Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_EMEA_ETS</name>
        <label>Check for EMEA ETS</label>
        <locationX>1663</locationX>
        <locationY>1311</locationY>
        <defaultConnector>
            <targetReference>EMEA_LDR_Lead_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_NOT_EMEA_ETS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_Terr_Theater</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct Website Visit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.MQL_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Autoqualifier &gt; ETS Office 365</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EMEA_LDR_Lead_Queue</targetReference>
            </connector>
            <label>If NOT EMEA ETS</label>
        </rules>
        <rules>
            <name>If_EMEA_ETS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_Terr_Theater</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct Website Visit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.MQL_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Autoqualifier &gt; ETS Office 365</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Other_Notes2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EMEA_Partner_ETS_Scans</targetReference>
            </connector>
            <label>If EMEA ETS</label>
        </rules>
        <rules>
            <name>If_EMEA_ETS_Scan_Notes_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_Terr_Theater</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct Website Visit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.MQL_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Autoqualifier &gt; ETS Office 365</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Other_Notes2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EMEA_LDR_Lead_Queue</targetReference>
            </connector>
            <label>If EMEA ETS Scan Notes Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Queue_Assignment</name>
        <label>Check Queue Assignment</label>
        <locationX>1125</locationX>
        <locationY>525</locationY>
        <defaultConnector>
            <targetReference>Default_Lead_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Business_Group_Sonian</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hot_List_Obj.Business_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sonian</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WW_Sonian_Lead_Queue</targetReference>
            </connector>
            <label>Business Group Sonian</label>
        </rules>
        <rules>
            <name>Business_Group_MSP_MW_Trial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hot_List_Obj.Business_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.MQL_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MSP_MW_Trial_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MSP_MW_Trial_Lead_Queue</targetReference>
            </connector>
            <label>Business Group MSP &amp; MW Trial</label>
        </rules>
        <rules>
            <name>Business_Group_MSP_RAD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hot_List_Obj.Business_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Formula_Account_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MSP_RAD_Lead_Queue</targetReference>
            </connector>
            <label>Business Group MSP RAD</label>
        </rules>
        <rules>
            <name>Business_Group_MSP_PDM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hot_List_Obj.Business_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Formula_Account_Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MSP_RAD_Lead_Queue_0</targetReference>
            </connector>
            <label>Business Group MSP PDM</label>
        </rules>
        <rules>
            <name>Theater_is_AMERICAS_AND_License_Overage_Quantity_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Contact_Terr_Theater__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMERICAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.MQL_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.MQL_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Autoqualifier &gt; License Level Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.License_Overage_Quantity__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Americas_LDR_Lead_Queue</targetReference>
            </connector>
            <label>Theater is AMERICAS AND Licenes Overage Quantity &lt;=100</label>
        </rules>
        <rules>
            <name>Theater_is_APAC_AND_Licenes_Overage_Quantity_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Contact_Terr_Theater__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.MQL_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.MQL_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Autoqualifier &gt; License Level Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.License_Overage_Quantity__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APAC_LDR_Hot_List_Queue</targetReference>
            </connector>
            <label>Theater is APAC AND Licenes Overage Quantity &lt;=100</label>
        </rules>
        <rules>
            <name>Theater_is_AMERICAS_AND_Licenes_Overage_Quantity_greaterthan_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Contact_Terr_Theater__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMERICAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.MQL_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.MQL_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Autoqualifier &gt; License Level Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.License_Overage_Quantity__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Americas_Inside_Sales_Lead_Queue</targetReference>
            </connector>
            <label>Theater is AMERICAS AND Licenes Overage Quantity greaterthan 100</label>
        </rules>
        <rules>
            <name>Theater_is_EMEA_AND_Licenes_Overage_Quantity_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Contact_Terr_Theater__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.MQL_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.MQL_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Autoqualifier &gt; License Level Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.License_Overage_Quantity__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EMEA_LDR_Lead_Queue</targetReference>
            </connector>
            <label>Theater is EMEA AND Licenes Overage Quantity &lt;=100</label>
        </rules>
        <rules>
            <name>Theater_is_EMEA_AND_Licenes_Overage_Quantity_greaterthan_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Contact_Terr_Theater__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.MQL_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.MQL_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Autoqualifier &gt; License Level Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.License_Overage_Quantity__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EMEA_Inside_Sales_Lead_Queue</targetReference>
            </connector>
            <label>Theater is EMEA AND Licenes Overage Quantity greaterthan 100</label>
        </rules>
        <rules>
            <name>Theater_is_APAC_AND_Licenes_Overage_Quantity_greaterthan_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Contact_Terr_Theater__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.MQL_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.MQL_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Autoqualifier &gt; License Level Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.License_Overage_Quantity__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APAC_Inside_Outside_Hot_List_Queue</targetReference>
            </connector>
            <label>Theater is APAC AND Licenes Overage Quantity greaterthan 100</label>
        </rules>
        <rules>
            <name>Region_is_Middle_East</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_Terr_Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MIDDLE EAST - REGION</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Middle_East_Lead_Queue</targetReference>
            </connector>
            <label>Region is MIDDLE EAST - REGION</label>
        </rules>
        <rules>
            <name>Theater_is_EMEA_AND_Partner_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hot_List_Obj.Business_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Core</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Formula_Terr_Theater</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner Event</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EMEA_Channel_Lead_and_HL_Queue</targetReference>
            </connector>
            <label>Theater is EMEA AND Partner Event</label>
        </rules>
        <rules>
            <name>Region_is_EASTERN_EUROPE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_Terr_Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EASTERN EUROPE - REGION</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eastern_Europe_Lead_Queue</targetReference>
            </connector>
            <label>Region is EASTERN EUROPE - REGION</label>
        </rules>
        <rules>
            <name>Region_is_JAPAN_REGION</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_Terr_Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JAPAN - REGION</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Japan_Lead_Queue</targetReference>
            </connector>
            <label>Region is JAPAN - REGION</label>
        </rules>
        <rules>
            <name>Theater_is_APAC_LDR</name>
            <conditionLogic>(1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17 OR 18 OR 19 OR 20 OR 21 OR 22 OR 23 OR 24 OR 25 OR 26 OR 27 OR 28)) OR (29 OR 30 OR 31)</conditionLogic>
            <conditions>
                <leftValueReference>Formula_Terr_Theater</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ad Click</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advertising</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blog</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate Event</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct Mailer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email Marketing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Natural Search</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid Search</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PR article</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retargeting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trade Show</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Social Media</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Webinar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live Chat</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Mapping</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Content Syndication</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distribution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>List Import</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketplace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound SDR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Prospecting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stocking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unknown</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Formula_Terr_Theater</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CHINA - TERRITORY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Contact_Terr_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GREATER CHINA - REGION</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Contact_Terr_Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CHINA - TERRITORY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APAC_LDR_Hot_List_Queue</targetReference>
            </connector>
            <label>Theater is APAC LDR</label>
        </rules>
        <rules>
            <name>Theater_is_APAC_Sales</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 )</conditionLogic>
            <conditions>
                <leftValueReference>Formula_Terr_Theater</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner Application</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner Event</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cross Sell / Upsell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner Portal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APAC_Inside_Outside_Hot_List_Queue</targetReference>
            </connector>
            <label>Theater is APAC Sales</label>
        </rules>
        <rules>
            <name>Lead_Source_is_Renewals_AND_Theater_is_APAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_Terr_Theater</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APAC_Renewals_Lead_Queue</targetReference>
            </connector>
            <label>Lead Source is Renewals AND Theater is APAC</label>
        </rules>
        <rules>
            <name>Lead_Source_is_Renewals_AND_Theater_is_EMEA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_Terr_Theater</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EMEA_Renewals_Lead_Queue</targetReference>
            </connector>
            <label>Lead Source is Renewals AND Theater is EMEA</label>
        </rules>
        <rules>
            <name>Lead_Source_is_Renewals_AND_Theater_is_AMERICAS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Formula_Terr_Theater</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMERICAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AMERICAS_Renewals_Lead_Queue</targetReference>
            </connector>
            <label>Lead Source is Renewals AND Theater is AMERICAS</label>
        </rules>
        <rules>
            <name>Lead_Source_is_Partner_AND_Reseller_is_National</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Hot_List_Obj.Partner_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>National</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Formula_Terr_Theater</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMERICAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deal Registration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Americas_Inside_Sales_Lead_Queue</targetReference>
            </connector>
            <label>Lead Source is Partner AND Reseller is National</label>
        </rules>
        <rules>
            <name>Lead_Source_is_LDR_AND_Theater_is_AMERICAS</name>
            <conditionLogic>1 AND 16 AND 17 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 18 OR 19 OR 20 OR 21 OR 22 OR 23 OR 24 OR 25 OR 26 OR 27 OR 28 OR 29 OR 30 OR(31 AND 32)  OR (33 AND 34))</conditionLogic>
            <conditions>
                <leftValueReference>Formula_Terr_Theater</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMERICAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ad Click</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advertising</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blog</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate Event</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct Mailer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email Marketing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Natural Search</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid Search</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PR article</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retargeting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trade Show</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Webinar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Social Media</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.ETS_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Deal Registration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live Chat</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Mapping</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Content Syndication</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distribution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>List Import</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketplace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound SDR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Prospecting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stocking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unknown</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct Website Visit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.MQL_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cross Sell / Upsell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cross Sell - Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Americas_LDR_Lead_Queue</targetReference>
            </connector>
            <label>Lead Source is LDR AND Theater is AMERICAS</label>
        </rules>
        <rules>
            <name>Lead_Source_is_Inside_Sales_AND_Theater_is_AMERICAS</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR (6 AND 10) OR 7 OR 8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>Formula_Terr_Theater</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMERICAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner Application</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner Event</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distribution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cross Sell / Upsell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.ETS_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deal Registration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cross Sell - Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Americas_Inside_Sales_Lead_Queue</targetReference>
            </connector>
            <label>Lead Source is Inside Sales AND Theater is AMERICAS</label>
        </rules>
        <rules>
            <name>Lead_Source_is_LDR_AND_Theater_is_EMEA</name>
            <conditionLogic>1 AND 16 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 17 OR 18 OR 19 OR 20 OR 21 OR 22 OR 23 OR 24 OR 25 OR 26 OR 27 OR 28 OR 29)</conditionLogic>
            <conditions>
                <leftValueReference>Formula_Terr_Theater</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ad Click</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advertising</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blog</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate Event</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct Mailer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email Marketing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Natural Search</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid Search</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PR article</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retargeting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trade Show</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Webinar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Social Media</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Deal Registration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live Chat</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Mapping</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Content Syndication</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>List Import</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketplace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound SDR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stocking</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unknown</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distribution</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Prospecting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EMEA_LDR_Lead_Queue</targetReference>
            </connector>
            <label>Lead Source is LDR AND Theater is EMEA</label>
        </rules>
        <rules>
            <name>Lead_Source_is_Inside_Sales_AND_Theater_is_EMEA</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>Formula_Terr_Theater</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cross Sell / Upsell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deal Registration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EMEA_Inside_Sales_Lead_Queue</targetReference>
            </connector>
            <label>Lead Source is Inside Sales AND Theater is EMEA</label>
        </rules>
        <rules>
            <name>APAC_Direct_Website_Visit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct Website Visit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.MQL_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Formula_Terr_Theater</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APAC_LDR_Hot_List_Queue</targetReference>
            </connector>
            <label>APAC Direct Website Visit</label>
        </rules>
        <rules>
            <name>EMEA_Direct_Website_Visit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct Website Visit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.MQL_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Formula_Terr_Theater</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EMEA_LDR_Lead_Queue</targetReference>
            </connector>
            <label>EMEA Direct Website Visit</label>
        </rules>
        <rules>
            <name>Check_for_APAC_ETS_Scans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_Terr_Theater</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct Website Visit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.MQL_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_For_APAC_Partner_ETS_Scans</targetReference>
            </connector>
            <label>Check for APAC ETS Scans</label>
        </rules>
        <rules>
            <name>Check_For_EMEA_ETS_Scans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_Terr_Theater</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct Website Visit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.MQL_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_EMEA_ETS</targetReference>
            </connector>
            <label>Check For EMEA ETS Scans</label>
        </rules>
        <rules>
            <name>Check_For_AMERICAS_ETS_Scans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_Terr_Theater</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMERICAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct Website Visit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.MQL_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_AMERICAS_ETS_Scan</targetReference>
            </connector>
            <label>Check For AMERICAS ETS Scans</label>
        </rules>
        <rules>
            <name>AMER_Direct_Website_Visit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct Website Visit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.MQL_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Contact_Terr_Theater__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMERICAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Americas_LDR_Lead_Queue</targetReference>
            </connector>
            <label>AMER Direct Website Visit</label>
        </rules>
    </decisions>
    <decisions>
        <name>EMEA_Partner_ETS_Scans</name>
        <label>EMEA Partner ETS Scans</label>
        <locationX>1893</locationX>
        <locationY>1291</locationY>
        <defaultConnector>
            <targetReference>EMEA_LDR_Lead_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EMEA_Partner_ETS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_Terr_Theater</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Lead_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct Website Visit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.MQL_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Autoqualifier &gt; ETS Office 365</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Other_Notes2__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Reseller</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Reseller_Contact_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EMEA_Inside_Sales_Lead_Queue</targetReference>
            </connector>
            <label>EMEA Partner ETS</label>
        </rules>
    </decisions>
    <description>Called as a sub-flow: responsible for updating the hot list owner/assignment
Called from Hot List PB: responsible for updating the hot list owner/assignment</description>
    <environments>Default</environments>
    <formulas>
        <name>Formula_Account_Status</name>
        <dataType>String</dataType>
        <expression>IF({!Account_Id} = &apos;&apos;, &apos;&apos;, TEXT({!Account_Obj.Status__c}))</expression>
    </formulas>
    <formulas>
        <name>Formula_Terr_Location</name>
        <dataType>String</dataType>
        <expression>IF({!Account_Id} = &apos;&apos;, {!Hot_List_Obj.Lead_Contact_Terr_Location__c}, {!Account_Obj.Terr_Location__c})</expression>
    </formulas>
    <formulas>
        <name>Formula_Terr_Region</name>
        <dataType>String</dataType>
        <expression>IF({!Account_Id} = &apos;&apos;, {!Hot_List_Obj.Lead_Contact_Terr_Region__c}, {!Account_Obj.Terr_Region__c})</expression>
    </formulas>
    <formulas>
        <name>Formula_Terr_Sub_Territory</name>
        <dataType>String</dataType>
        <expression>IF({!Account_Id} = &apos;&apos;, {!Hot_List_Obj.Lead_Contact_Terr_Sub_Territory__c}, {!Account_Obj.Terr_Sub_Territory__c})</expression>
    </formulas>
    <formulas>
        <name>Formula_Terr_Sub_Theater</name>
        <dataType>String</dataType>
        <expression>IF({!Account_Id} = &apos;&apos;, {!Hot_List_Obj.Lead_Contact_Terr_Sub_Theater__c}, {!Account_Obj.Terr_Sub_Theater__c})</expression>
    </formulas>
    <formulas>
        <name>Formula_Terr_Territory</name>
        <dataType>String</dataType>
        <expression>IF({!Account_Id} = &apos;&apos;, {!Hot_List_Obj.Lead_Contact_Terr_Territory__c}, {!Account_Obj.Territory__c})</expression>
    </formulas>
    <formulas>
        <name>Formula_Terr_Theater</name>
        <dataType>String</dataType>
        <expression>IF({!Account_Id} = &apos;&apos;, {!Hot_List_Obj.Lead_Contact_Terr_Theater__c}, {!Account_Obj.Terr_Theater__c})</expression>
    </formulas>
    <interviewLabel>Hot List Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hot List Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_For_Territory</name>
        <label>Get Account For Territory</label>
        <locationX>1575</locationX>
        <locationY>142</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Current_User_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account_Obj</outputReference>
        <queriedFields>BusinessGroup__c</queriedFields>
        <queriedFields>Terr_Theater__c</queriedFields>
        <queriedFields>Terr_Sub_Theater__c</queriedFields>
        <queriedFields>Terr_Region__c</queriedFields>
        <queriedFields>Territory__c</queriedFields>
        <queriedFields>Terr_Location__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_CMDT_MSP_MW_Trial_Name</name>
        <label>Get CMDT MSP MW Trial Name</label>
        <locationX>820</locationX>
        <locationY>73</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MSP_MW_Trial_Program_Name</stringValue>
            </value>
        </filters>
        <object>MW_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>MSP_MW_Trial_Name</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Hot_List</name>
        <label>Get Hot List</label>
        <locationX>690</locationX>
        <locationY>73</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CMDT_MSP_MW_Trial_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Hot_List_Id</elementReference>
            </value>
        </filters>
        <object>Hot_List__c</object>
        <outputReference>Hot_List_Obj</outputReference>
        <queriedFields>Lead_Source__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Primary_Product_Family_2__c</queriedFields>
        <queriedFields>Business_Group__c</queriedFields>
        <queriedFields>ETS_ID__c</queriedFields>
        <queriedFields>Lead_Contact_Terr_Theater__c</queriedFields>
        <queriedFields>Lead_Contact_Terr_Sub_Theater__c</queriedFields>
        <queriedFields>Lead_Contact_Terr_Region__c</queriedFields>
        <queriedFields>Lead_Contact_Terr_Territory__c</queriedFields>
        <queriedFields>Lead_Contact_Terr_Sub_Territory__c</queriedFields>
        <queriedFields>Lead_Contact_Terr_Location__c</queriedFields>
        <queriedFields>Partner_Level__c</queriedFields>
        <queriedFields>MQL_Detail__c</queriedFields>
        <queriedFields>Live_Chat_Transcript__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>MQL_Reason__c</queriedFields>
        <queriedFields>Other_Notes2__c</queriedFields>
        <queriedFields>Reseller_Contact_Email__c</queriedFields>
        <queriedFields>License_Overage_Quantity__c</queriedFields>
        <queriedFields>Purchased_Quantity__c</queriedFields>
        <queriedFields>Deployed_Quantity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Profile</name>
        <label>Lookup Profile</label>
        <locationX>563</locationX>
        <locationY>72</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Hot_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Profile_Id</elementReference>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>User_Profile_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Queue_Id</name>
        <label>Query Queue Id</label>
        <locationX>875</locationX>
        <locationY>1051</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Hot_List_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Queue_Dev_Name</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>Hot_List_Owner_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>User_Lookup</name>
        <label>User Lookup</label>
        <locationX>439</locationX>
        <locationY>73</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>User_Profile_Id</assignToReference>
            <field>ProfileId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Hot_List_Owner</name>
        <label>Update Hot List Owner</label>
        <locationX>545</locationX>
        <locationY>934</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Hot_List_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Hot_List_Owner_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Hot_List__c</object>
    </recordUpdates>
    <start>
        <locationX>34</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>User_Lookup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Account_Obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Hot_List_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Hot_List_Obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Hot_List__c</objectType>
    </variables>
    <variables>
        <name>Hot_List_Owner_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HotListReason</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MSP_MW_Trial_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Queue_Dev_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User_Profile_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User_Profile_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
