force-app/main/default/flows/Internal_Ticket_Case_Team_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Case_Team_Member_Already_Exists</name>
        <label>Case Team Member Already Exists</label>
        <locationX>329</locationX>
        <locationY>223</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseTeamMemberUserID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_Team_Member</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>Internal Ticket Case Team Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Internal Ticket Case Team Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_Team_Member</name>
        <label>Create Case Team Member</label>
        <locationX>545</locationX>
        <locationY>56</locationY>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>InternalTicketRecord.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>InternalTicketRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamRoleId</field>
            <value>
                <elementReference>CaseTeamRoleID</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamMember</object>
    </recordCreates>
    <recordLookups>
        <name>Case_Team_Member_Exists</name>
        <label>Case Team Member Exists</label>
        <locationX>332</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Team_Member_Already_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InternalTicketRecord.CreatedById</elementReference>
            </value>
        </filters>
        <object>CaseTeamMember</object>
        <outputAssignments>
            <assignToReference>CaseTeamMemberUserID</assignToReference>
            <field>MemberId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Case_Team_Role</name>
        <label>Lookup Case Team Role</label>
        <locationX>175</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Team_Member_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Created By</stringValue>
            </value>
        </filters>
        <object>CaseTeamRole</object>
        <outputAssignments>
            <assignToReference>CaseTeamRoleID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Lookup_Case_Team_Role</startElementReference>
    <status>Active</status>
    <variables>
        <name>CaseTeamMemberUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseTeamRoleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InternalTicketRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>QueueDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
