force-app/main/default/flows/Internal_Tickets_Case_Queue_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Internal_Ticket_Gainsight_Queue</name>
        <label>Assign Internal Ticket - Gainsight Queue</label>
        <locationX>2132</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>CaseOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G5x000006utitEAA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GTM_Data_BI_Queue</name>
        <label>GTM Data/BI Queue</label>
        <locationX>2162</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>CaseOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G5x000006CCEzEAO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RMA_Requests_Queue</name>
        <label>RMA Requests Queue</label>
        <locationX>842</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>CaseOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G5x000006BzD7EAK</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sales_Enhancement_Queue</name>
        <label>Sales Enhancement Queue</label>
        <locationX>1635</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>CaseOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G5x0000048eCWEAY</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sales_Ops_Issues_queue</name>
        <label>Sales Ops Issues queue</label>
        <locationX>1370</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>CaseOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00Gf2000005f2z5EAA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Auto_Renewals_Queue</name>
        <label>Set Auto Renewals Queue</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>CaseOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G5x000006BzCiEAK</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CS_queue</name>
        <label>Set CS queue</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>CaseOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G5x000006BzCsEAK</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Hardware_Refresh_Queue</name>
        <label>Set Hardware Refresh Queue</label>
        <locationX>579</locationX>
        <locationY>501</locationY>
        <assignmentItems>
            <assignToReference>CaseOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G5x000006BzD2EAK</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tier_1_Queue</name>
        <label>Tier 1 Queue</label>
        <locationX>1898</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>CaseOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G5x000006BzDCEA0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Trade_Compliance_Queue</name>
        <label>Trade Compliance Queue</label>
        <locationX>1106</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>CaseOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G5x000006BzDMEA0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Request_Type</name>
        <label>Check Request Type</label>
        <locationX>1238</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Services Issues (order, billing address, credit card, shipping, invoicing)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CS_queue</targetReference>
            </connector>
            <label>Customer Services</label>
        </rules>
        <rules>
            <name>Auto_Renewals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auto-renewal / Legacy RBM Issues</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Auto_Renewals_Queue</targetReference>
            </connector>
            <label>Auto Renewals</label>
        </rules>
        <rules>
            <name>Hardware_Refresh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hardware refresh</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hardware_Refresh_Queue</targetReference>
            </connector>
            <label>Hardware Refresh</label>
        </rules>
        <rules>
            <name>RMA_Requests</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RMA Requests / Issues</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RMA_Requests_Queue</targetReference>
            </connector>
            <label>RMA Requests</label>
        </rules>
        <rules>
            <name>Trade_Compliance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trade Compliance / DPL Issues</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trade_Compliance_Queue</targetReference>
            </connector>
            <label>Trade Compliance</label>
        </rules>
        <rules>
            <name>Sales_Ops_issues</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Ops Issues (Acct/Opp Ownership, Compensation, Partner Levels, Territory)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Ops_Issues_queue</targetReference>
            </connector>
            <label>Sales Ops issues</label>
        </rules>
        <rules>
            <name>Feature_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Feature Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Enhancement_Queue</targetReference>
            </connector>
            <label>Feature Request</label>
        </rules>
        <rules>
            <name>Salesforce_All_other_Issues</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce - All Other Issues</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tier_1_Queue</targetReference>
            </connector>
            <label>Salesforce All other Issues</label>
        </rules>
        <rules>
            <name>Data_Business_Reporting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data/Business Reporting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GTM_Data_BI_Queue</targetReference>
            </connector>
            <label>Data/Business Reporting</label>
        </rules>
        <rules>
            <name>Gainsight_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gainsight</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Internal_Ticket_Gainsight_Queue</targetReference>
            </connector>
            <label>Gainsight Cases</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Internal Tickets Case Queue Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Internal Tickets Case Queue Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Case_Owner</name>
        <label>Update Case Owner</label>
        <locationX>1154</locationX>
        <locationY>747</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CaseOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1112</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Request_Type</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
