force-app/main/default/flows/Lead_Async.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>IsConverted_MW_Trial</name>
        <label>IsConverted MW Trial</label>
        <locationX>374</locationX>
        <locationY>1008</locationY>
        <defaultConnectorLabel>FALSE_IsConverted MW Trial</defaultConnectorLabel>
        <rules>
            <name>TRUE_IsConverted_MW_Trial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Hot_List__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Hot_List__r.MQL_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IsConverted_MW_Trial_Formula</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reparent_Hot_Lists_2</targetReference>
            </connector>
            <label>TRUE_IsConverted MW Trial</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsConverted_NOT_MW_Trial</name>
        <label>IsConverted (NOT MW Trial)</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>IsConverted_MW_Trial</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_IsConverted (NOT MW Trial)</defaultConnectorLabel>
        <rules>
            <name>TRUE_IsConverted_NOT_MW_Trial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Hot_List__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Hot_List__r.MQL_Detail__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>IsConverted_NOT_MWTrial_Formula</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reparent_Hot_Lists</targetReference>
            </connector>
            <label>TRUE_IsConverted (NOT MW Trial)</label>
        </rules>
    </decisions>
    <formulas>
        <name>Converted_Account_Formula</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.MW_Setting__mdt.MSP_MW_Trial_Acc_OwnerId.Value__c}</expression>
    </formulas>
    <formulas>
        <name>IsConverted_MW_Trial_Formula</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.MW_Setting__mdt.MSP_MW_Trial_Program_Name.Value__c}</expression>
    </formulas>
    <formulas>
        <name>IsConverted_NOT_MWTrial_Formula</name>
        <dataType>String</dataType>
        <expression>{!$CustomMetadata.MW_Setting__mdt.MSP_MW_Trial_Program_Name.Value__c}</expression>
    </formulas>
    <formulas>
        <name>IsNewPostMQLFormula</name>
        <dataType>Boolean</dataType>
        <expression>AND(
   ISNEW(),
   {!$Record.RecordType.DeveloperName} = &apos;Post_MQL&apos;,
   NOT(CONTAINS({!$Record.CreatedBy.Username} , &apos;marketo&apos;)),
   NOT($Profile.Name = &apos;Apollo: API&apos;),
   NOT(ISPICKVAL( {!$Record.LeadSource}, &apos;ZoomInfo&apos;) )
)</expression>
    </formulas>
    <formulas>
        <name>Profile_Name_Formula</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <interviewLabel>Lead: Async {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead: Async</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Converted_Account</name>
        <label>Update Converted Account</label>
        <locationX>242</locationX>
        <locationY>1332</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Converted_Account_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.ConvertedAccount</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Primary_Hot_List__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>IsConverted_NOT_MW_Trial</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_MW2Account</name>
        <label>Create MW2Account</label>
        <locationX>242</locationX>
        <locationY>1224</locationY>
        <connector>
            <targetReference>Update_Converted_Account</targetReference>
        </connector>
        <flowName>Create_MW2Account</flowName>
        <inputAssignments>
            <name>Account_Id</name>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Contact_Id</name>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Hot_List_Id</name>
            <value>
                <elementReference>$Record.Primary_Hot_List__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Lead_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Migrate_Open_Tasks</name>
        <label>Migrate Open Tasks</label>
        <locationX>242</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>IsConverted_MW_Trial</targetReference>
        </connector>
        <flowName>Migrate_Tasks_from_Hot_List_to_Opportunity</flowName>
        <inputAssignments>
            <name>Current_User_Profile</name>
            <value>
                <elementReference>Profile_Name_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Hot_List_Id</name>
            <value>
                <elementReference>$Record.Primary_Hot_List__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Opportunity_Id</name>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Reparent_Hot_Lists</name>
        <label>Reparent Hot Lists</label>
        <locationX>242</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Set_Default_Oppty_Address</targetReference>
        </connector>
        <flowName>Hot_List_Management_for_Lead_Conversion</flowName>
        <inputAssignments>
            <name>Lead_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Reparent_Hot_Lists_2</name>
        <label>Reparent Hot Lists</label>
        <locationX>242</locationX>
        <locationY>1116</locationY>
        <connector>
            <targetReference>Create_MW2Account</targetReference>
        </connector>
        <flowName>Hot_List_Management_for_Lead_Conversion</flowName>
        <inputAssignments>
            <name>Lead_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Set_Default_Oppty_Address</name>
        <label>Set Default Oppty Address</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Update_Oppty_from_Hot_List</targetReference>
        </connector>
        <flowName>Default_Opportunity_Bill_To_Ship_To</flowName>
        <inputAssignments>
            <name>Current_User_Profile</name>
            <value>
                <elementReference>Profile_Name_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Distributor_Account_Id</name>
            <value>
                <elementReference>$Record.Distributor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>End_User_Account_Id</name>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Opportunity_Id</name>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Reseller_Account_Id</name>
            <value>
                <elementReference>$Record.Reseller__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Oppty_Contact_Role</name>
        <label>Update Oppty Contact Role</label>
        <locationX>242</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Migrate_Open_Tasks</targetReference>
        </connector>
        <flowName>Update_Converted_Contact_Role</flowName>
        <inputAssignments>
            <name>Contact_Id</name>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Current_User_Profile</name>
            <value>
                <elementReference>Profile_Name_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Opportunity_Id</name>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Oppty_from_Hot_List</name>
        <label>Update Oppty from Hot List</label>
        <locationX>242</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Update_Oppty_Contact_Role</targetReference>
        </connector>
        <flowName>Update_Opportunity_From_Hot_List</flowName>
        <inputAssignments>
            <name>Current_User_Profile</name>
            <value>
                <elementReference>Profile_Name_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Hot_List_Id</name>
            <value>
                <elementReference>$Record.Primary_Hot_List__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Opportunity_Id</name>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Primary_Contact_Id</name>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
