force-app/main/default/flows/Lead_Save_Operations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_to_Hotlist_Update</name>
        <label>Add to Hotlist Update</label>
        <locationX>459</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>Hotlist_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_Hotlists</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Hotlists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact</name>
        <label>Set Contact</label>
        <locationX>719</locationX>
        <locationY>563</locationY>
        <assignmentItems>
            <assignToReference>Iterate_over_Hotlists.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_over_Hotlists.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HotListContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_over_Hotlists.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Hotlist_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Contact_Exists</name>
        <label>Check Contact Exists</label>
        <locationX>167</locationX>
        <locationY>563</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConvertedContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ConvertedOpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Hot_List__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Hotlists</targetReference>
            </connector>
            <label>Contact Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Is_Converted</name>
        <label>Lead Is Converted</label>
        <locationX>161</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Contact_Exists</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Is Converted</label>
        </rules>
    </decisions>
    <interviewLabel>Lead Save Operations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Save Operations</label>
    <loops>
        <name>Iterate_over_Hotlists</name>
        <label>Iterate over Hotlists</label>
        <locationX>459</locationX>
        <locationY>487</locationY>
        <collectionReference>Get_Hotlists</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Hotlists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Hotlists</name>
        <label>Get Hotlists</label>
        <locationX>459</locationX>
        <locationY>362</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_Hotlists</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hot List Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deal Registration</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Hot_List__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Hotlists</name>
        <label>Update Hotlists</label>
        <locationX>922</locationX>
        <locationY>357</locationY>
        <inputReference>Hotlist_Update</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lead_Is_Converted</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Hotlist_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Hot_List__c</objectType>
    </variables>
    <variables>
        <name>HotListContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>012f2000001261dAAA</stringValue>
        </value>
    </variables>
</Flow>
