force-app/main/default/flows/MSP_Service_Enablement_Case_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Queue_Id</name>
        <label>Assign Queue Id</label>
        <locationX>1364</locationX>
        <locationY>1368</locationY>
        <assignmentItems>
            <assignToReference>QueueId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Filtered_Queues.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Filtered_Queues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Var</name>
        <label>Assign Case Values</label>
        <locationX>1276</locationX>
        <locationY>1584</locationY>
        <assignmentItems>
            <assignToReference>CaseRec.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRec.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRec.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRec.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RT_MSP_Enablement.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRec.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRec.ProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QuoteLine_Records.SBQQ__Product__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRec.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRec.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Account.Name}  -  New S1 Purchase</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRec.Opportunity_for_SE_Cases__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRec.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRec.Opportunity_Theatre__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Terr_Theater__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRec.ContactEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRec.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SKU : {!Loop_QuoteLine_Records.SBQQ__Product__r.ProductCode} , Quantity Sold :   {!Loop_QuoteLine_Records.SBQQ__Quantity__c}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRec.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QueueId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Case_Rec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Case_Rec</name>
        <label>Collect Case Rec</label>
        <locationX>1276</locationX>
        <locationY>1704</locationY>
        <assignmentItems>
            <assignToReference>CaseColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CaseRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_QuoteLine_Records</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>FILTER_WM_SONIAN</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>FILTER_WM_SONIAN</label>
        <locationX>1276</locationX>
        <locationY>1128</locationY>
        <assignNextValueToReference>currentItem_FILTER_WM_SONIAN</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Queues</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_FILTER_WM_SONIAN.DeveloperName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>WM_SONIAN</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Filtered_Queues</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Product_Sold</name>
        <label>Check Product Sold</label>
        <locationX>1936</locationX>
        <locationY>888</locationY>
        <defaultConnector>
            <targetReference>Loop_QuoteLine_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RMM_S1AD_MSP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_QuoteLine_Records.SBQQ__Product__r.ProductCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RMM-S1AD-MSP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Or_Amendment_Sale</targetReference>
            </connector>
            <label>RMM-S1AD-MSP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Quantity_Increased</name>
        <label>Is Quantity Increased</label>
        <locationX>1672</locationX>
        <locationY>1128</locationY>
        <defaultConnector>
            <targetReference>Loop_QuoteLine_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_QuoteLine_Records.SBQQ__EffectiveQuantity__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>FILTER_WM_SONIAN</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Or_Amendment_Sale</name>
        <label>New Or Amendment Sale</label>
        <locationX>1628</locationX>
        <locationY>1008</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsRenewal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FILTER_WM_SONIAN</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Amendment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsAmendment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsRenewal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Quantity_Increased</targetReference>
            </connector>
            <label>Amendment</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsAmendment</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND(NOT(ISBLANK({!$Record.SBQQ__AmendedContract__c})), ISBLANK({!$Record.SBQQ__RenewedContract__c})),True,False)</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND((ISBLANK({!$Record.SBQQ__RenewedContract__c})), ISBLANK({!$Record.SBQQ__AmendedContract__c})),True,False)</expression>
    </formulas>
    <formulas>
        <name>IsQuantityIncreased</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Loop_QuoteLine_Records.SBQQ__Quantity__c} - {!Loop_QuoteLine_Records.SBQQ__EffectiveQuantity__c}&gt;0, TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>IsRenewal</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND(NOT(ISBLANK({!$Record.SBQQ__RenewedContract__c})), ISBLANK({!$Record.SBQQ__AmendedContract__c})),True,False)</expression>
    </formulas>
    <interviewLabel>MSP Service Enablement Case Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MSP Service Enablement Case Creation</label>
    <loops>
        <name>Loop_Filtered_Queues</name>
        <label>Loop Filtered Queues</label>
        <locationX>1276</locationX>
        <locationY>1248</locationY>
        <collectionReference>FILTER_WM_SONIAN</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Queue_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Case_Var</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_QuoteLine_Records</name>
        <label>Loop QuoteLine Records</label>
        <locationX>1100</locationX>
        <locationY>768</locationY>
        <collectionReference>Get_Quote_Line_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Product_Sold</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Cases</name>
        <label>Create Cases</label>
        <locationX>1100</locationX>
        <locationY>2112</locationY>
        <inputReference>CaseColl</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Queues</name>
        <label>Get Queues</label>
        <locationX>1100</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_QuoteLine_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Records</name>
        <label>Get Quote Line Records</label>
        <locationX>1100</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RT_MSP_Enablement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote_Records.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Records</name>
        <label>Get_Quote_Records</label>
        <locationX>1100</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Line_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__PrimaryQuote__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RT_MSP_Enablement</name>
        <label>Get RT: MSP Enablement</label>
        <locationX>1100</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MSP_Enablement</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__PrimaryQuote__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Business_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MSP</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Quote_Records</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>currentItem_FILTER_WM_SONIAN</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>QueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
