force-app/main/default/flows/Notification_when_User_Licenses_are_Low.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Notification</name>
        <label>Send Email Notification</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>varEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>ssinha@barracuda.com, ratluri-c@barracuda.com, spanigrahy@barracuda.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_remaining_license</name>
        <label>Assign remaining license</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>RemainingLicenses</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRemainingLicenses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Less_than_10_users</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Less_than_10_users</name>
        <label>Less than 10 users</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Less_than_10_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RemainingLicenses</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Notification</targetReference>
            </connector>
            <label>Less than 10 user</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varEmailBody</name>
        <dataType>String</dataType>
        <expression>&quot;You have &quot;&amp;TEXT({!RemainingLicenses})&amp; &quot; Salesforce user license(s) left. &quot;</expression>
    </formulas>
    <formulas>
        <name>varRemainingLicenses</name>
        <dataType>Number</dataType>
        <expression>{!varUserLicenseInfo.TotalLicenses} - {!varUserLicenseInfo.UsedLicenses}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Alert: You have &quot;&amp;TEXT({!RemainingLicenses}) &amp; &quot; Salesforce user licenses left &quot;</expression>
    </formulas>
    <interviewLabel>Notification when User Licenses are Low {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notification when User Licenses are Low</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Retrieve_Salesforce_user_license_info</name>
        <label>Retrieve Salesforce user license info</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_remaining_license</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </filters>
        <object>UserLicense</object>
        <outputReference>varUserLicenseInfo</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TotalLicenses</queriedFields>
        <queriedFields>UsedLicenses</queriedFields>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Retrieve_Salesforce_user_license_info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>RemainingLicenses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varUserLicenseInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserLicense</objectType>
    </variables>
</Flow>
