force-app/main/default/flows/Onboarding_Ticket_Deployment_Steps_case_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Cloud_General_License_Quantity_For_DS</name>
        <label>Assign Cloud General License Quantity For DS</label>
        <locationX>8871</locationX>
        <locationY>2496</locationY>
        <assignmentItems>
            <assignToReference>CloudGeneralLicenseQuantityDS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloudGeneralLiceseIncrementDS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quoteline_Records_for_Deployment_Steps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_EDR_General_License_Count</name>
        <label>Assign EDR General License Count</label>
        <locationX>6187</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>EDRGeneralLicenseQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EDRGeneralLicenseIncrement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_QuoteLine_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_EDR_General_License_Qty_DS</name>
        <label>Assign EDR General License Qty DS</label>
        <locationX>9663</locationX>
        <locationY>2496</locationY>
        <assignmentItems>
            <assignToReference>EDRGeneralLicenseQtyDS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EDRGeneralLicenseQtyIncrementDS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quoteline_Records_for_Deployment_Steps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_EDR_Sentinel_One_License_Qty_for_DS</name>
        <label>Assign EDR Sentinel One License Qty for DS</label>
        <locationX>9399</locationX>
        <locationY>2496</locationY>
        <assignmentItems>
            <assignToReference>EDRSentinalOneLicenseQtyDS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EDRSentinelLicenseQtyIncrementDS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quoteline_Records_for_Deployment_Steps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_EDR_SentinelOne_Licenses</name>
        <label>Assign EDR SentinelOne Licenses</label>
        <locationX>5923</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>EDRSentinelOneLicenseQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EDRSentinelOneLicenseIncrement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_QuoteLine_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_General_License_Qty_for_DS</name>
        <label>Assign Email General License Qty for DS</label>
        <locationX>9135</locationX>
        <locationY>2496</locationY>
        <assignmentItems>
            <assignToReference>EmailGeneralLicenseQuantityDS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailGeneralLicenseQtyIncrementDS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quoteline_Records_for_Deployment_Steps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_License_quantity_for_DS_Case</name>
        <label>Assign Email License quantity for DS Case</label>
        <locationX>7287</locationX>
        <locationY>2496</locationY>
        <assignmentItems>
            <assignToReference>Email_Protection_License_Quantity_For_DS_Case</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_License_Quantity_Increment_For_DS_Cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quoteline_Records_for_Deployment_Steps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Endpoint_License_quantity_for_DS_Case</name>
        <label>Assign Endpoint License quantity for DS Case</label>
        <locationX>7815</locationX>
        <locationY>2496</locationY>
        <assignmentItems>
            <assignToReference>Endpoint_Protection_License_Quantity_for_DS_Case</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Endpoint_Protection_License_Quantity_Increment_for_DS_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quoteline_Records_for_Deployment_Steps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_License_Values_to_Zero</name>
        <label>Assign License Values to Zero</label>
        <locationX>7199</locationX>
        <locationY>3072</locationY>
        <assignmentItems>
            <assignToReference>Email_Protection_License_Quantity_For_DS_Case</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Endpoint_Protection_License_Quantity_for_DS_Case</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>O365_License_Quantity_for_DS_Case</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Log_Monitoring_License_Quantity_for_DS_Case</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Network_Monitoring_LIcense_Quantity_for_DS_Case</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>XDR_Sensor_Count_for_DS_Cases</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloudGeneralLicenseQuantityDS</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailGeneralLicenseQuantityDS</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EDRSentinalOneLicenseQtyDS</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EDRGeneralLicenseQtyDS</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NetworkGeneralLicenseQtyDS</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServerGeneralLicenseQtyDS</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>XDRWarrentyQuantityDS</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Line_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Log_Monitoring_License_quantity_for_DS_Case</name>
        <label>Assign Log Monitoring License quantity for DS Case</label>
        <locationX>8079</locationX>
        <locationY>2496</locationY>
        <assignmentItems>
            <assignToReference>Log_Monitoring_License_Quantity_for_DS_Case</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Log_Monitoring_License_Quantity_Increment_for_DS_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quoteline_Records_for_Deployment_Steps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Network_General_License_Qty_DS</name>
        <label>Assign Network General License Qty DS</label>
        <locationX>9927</locationX>
        <locationY>2496</locationY>
        <assignmentItems>
            <assignToReference>NetworkGeneralLicenseQtyDS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NetworkGeneralLicenseQtyIncrementDS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quoteline_Records_for_Deployment_Steps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Network_General_Licenses</name>
        <label>Assign Network General Licenses</label>
        <locationX>6451</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>NetworkgeneralLicenseQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NetworkGeneralLicenseIncrement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_QuoteLine_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Network_License_quantity_for_DS_Case</name>
        <label>Assign Network License quantity for DS Case</label>
        <locationX>8343</locationX>
        <locationY>2496</locationY>
        <assignmentItems>
            <assignToReference>Network_Monitoring_LIcense_Quantity_for_DS_Case</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Network_License_Quantity_Increment_for_DS_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quoteline_Records_for_Deployment_Steps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_O365_License_quantity_for_DS_Case</name>
        <label>Assign O365 License quantity for DS Case</label>
        <locationX>7551</locationX>
        <locationY>2496</locationY>
        <assignmentItems>
            <assignToReference>O365_License_Quantity_for_DS_Case</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Authentication_Monitoring_License_Quantity_Increment_forDS_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quoteline_Records_for_Deployment_Steps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Server_General_License_Qty_DS</name>
        <label>Assign Server General License Qty DS</label>
        <locationX>10191</locationX>
        <locationY>2496</locationY>
        <assignmentItems>
            <assignToReference>ServerGeneralLicenseQtyDS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServerGeneralLicenseQtyIncrementDS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quoteline_Records_for_Deployment_Steps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Server_General_Licenses</name>
        <label>Assign Server General Licenses</label>
        <locationX>6715</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>ServerGeneralLicenseQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServerGeneralLicenseIncrement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_QuoteLine_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_XDR_Sensor_Count_for_DS_Cases</name>
        <label>Assign XDR Sensor Count for DS Cases</label>
        <locationX>8607</locationX>
        <locationY>2496</locationY>
        <assignmentItems>
            <assignToReference>XDR_Sensor_Count_for_DS_Cases</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>XDR_Senor_Count_Increment_for_DS_Cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quoteline_Records_for_Deployment_Steps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_XDR_Sensor_Count_Value</name>
        <label>Assign XDR Sensor Count Value</label>
        <locationX>5131</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>XDR_Sensor_Count</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>XDR_Senor_Count_Increment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_QuoteLine_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_XDR_Warrenty_QTY</name>
        <label>Assign XDR Warrenty QTY</label>
        <locationX>6979</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>XDRWarrentyQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>XDRWarrentyQuantityIncrement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_QuoteLine_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_XDR_Warrenty_Qty_DS</name>
        <label>Assign XDR Warrenty Qty DS</label>
        <locationX>10455</locationX>
        <locationY>2496</locationY>
        <assignmentItems>
            <assignToReference>XDRWarrentyQuantityDS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>XDRWarrentyQuantityIncrementDS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quoteline_Records_for_Deployment_Steps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Final_Cloud_General_License_Quantity_Value</name>
        <label>Final Cloud General License Quantity Value</label>
        <locationX>5395</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>CloudGeneralLicenseQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloudGeneralLicenseIncrement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_QuoteLine_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Final Email Protection License Quantity</description>
        <name>Final_EmailP_License_Quantity_Value</name>
        <label>Final EmailP License Quantity Value</label>
        <locationX>3811</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>Email_Protection_License_Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Protection_License_Increment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_QuoteLine_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Final_Endpoint_Protection_License_Quantity_Value</name>
        <label>Final Endpoint Protection License Quantity Value</label>
        <locationX>4339</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>Endpoint_Protection_License_Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Endpoint_Protection_License_Quantity_Increment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_QuoteLine_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Final_General_License_Quantity</name>
        <label>Final General License Quantity</label>
        <locationX>5659</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>EmailGeneralLicenseQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailGeneralLicenseIncrement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_QuoteLine_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Final_Log_Monitoring_License_Quantity_Value</name>
        <label>Final Log Monitoring License Quantity Value</label>
        <locationX>4603</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>Log_Monitoring_License_Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Log_Monitoring_License_Quantity_Increment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_QuoteLine_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Final_Network_Monitoring_License_Quantity_Value</name>
        <label>Final Network Monitoring License Quantity Value</label>
        <locationX>4867</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>Network_Monitoring_License_Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Network_License_Quantity_Value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_QuoteLine_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Final_O365_License_Quantity_Value</name>
        <label>Final O365 License Quantity Value</label>
        <locationX>4075</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>O365_License_Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Authentication_Monitoring_License_Increment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_QuoteLine_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Quote_group_is_present</name>
        <label>Check if Quote group is present</label>
        <locationX>3723</locationX>
        <locationY>1848</locationY>
        <defaultConnector>
            <targetReference>Create_Deployment_Steps_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_Group_is_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Records.SBQQ__LineItemsGrouped__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Quote_Line_Group</targetReference>
            </connector>
            <label>Quote Group is present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Quoteline_has_which_License</name>
        <label>Check if Quoteline has which License</label>
        <locationX>5527</locationX>
        <locationY>1032</locationY>
        <defaultConnector>
            <targetReference>Loop_QuoteLine_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Protection_License</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_QuoteLine_Records.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-EML1-MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_QuoteLine_Records.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-EML1-XMSP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_EmailP_License_Quantity_Value</targetReference>
            </connector>
            <label>Email Protection License</label>
        </rules>
        <rules>
            <name>Authentication_Monitoring_License</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_QuoteLine_Records.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-O365-MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_QuoteLine_Records.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-0365-XMSP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_O365_License_Quantity_Value</targetReference>
            </connector>
            <label>Authentication Monitoring License</label>
        </rules>
        <rules>
            <name>Endpoint_Protection_License</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_QuoteLine_Records.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-ENPT-MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_QuoteLine_Records.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-ENDPT-XMSP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Endpoint_Protection_License_Quantity_Value</targetReference>
            </connector>
            <label>Endpoint Protection License</label>
        </rules>
        <rules>
            <name>Log_Security_License</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_QuoteLine_Records.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-LOG1-MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_QuoteLine_Records.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-LOG1-XMSP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Log_Monitoring_License_Quantity_Value</targetReference>
            </connector>
            <label>Log Security License</label>
        </rules>
        <rules>
            <name>Network_License</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_QuoteLine_Records.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-NTWK-MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_QuoteLine_Records.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-NTWK-XMSP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Network_Monitoring_License_Quantity_Value</targetReference>
            </connector>
            <label>Network License</label>
        </rules>
        <rules>
            <name>XDR_Sensor_Product_Count</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_QuoteLine_Records.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-LGSR-MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_QuoteLine_Records.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-SMSR-MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_QuoteLine_Records.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-NGSR-MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_QuoteLine_Records.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-VSR1-MSP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_XDR_Sensor_Count_Value</targetReference>
            </connector>
            <label>XDR Sensor Product Count</label>
        </rules>
        <rules>
            <name>Cloud_General_Licenses</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_QuoteLine_Records.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-CLOUD-MON-MB-1M</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Cloud_General_License_Quantity_Value</targetReference>
            </connector>
            <label>Cloud General Licenses</label>
        </rules>
        <rules>
            <name>Email_General_Licenses</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_QuoteLine_Records.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-EMAIL-MON-MB-1M</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_General_License_Quantity</targetReference>
            </connector>
            <label>Email General Licenses</label>
        </rules>
        <rules>
            <name>EDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_QuoteLine_Records.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-EDR-MNG-DVC-1M</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_EDR_SentinelOne_Licenses</targetReference>
            </connector>
            <label>EDR SentinelOne Licenses</label>
        </rules>
        <rules>
            <name>EDR_general_Licenses</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_QuoteLine_Records.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-EDR-MON-DVC-1M</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_EDR_General_License_Count</targetReference>
            </connector>
            <label>EDR general Licenses</label>
        </rules>
        <rules>
            <name>Network_General_Licenses</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_QuoteLine_Records.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-NTWK-MON-DVC-1M</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Network_General_Licenses</targetReference>
            </connector>
            <label>Network General Licenses</label>
        </rules>
        <rules>
            <name>Server_general_Licenses</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_QuoteLine_Records.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-SVR-MON-DVC-1M</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Server_General_Licenses</targetReference>
            </connector>
            <label>Server general Licenses</label>
        </rules>
        <rules>
            <name>XDR_Warrrenty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_QuoteLine_Records.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-WAR-XS-MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_QuoteLine_Records.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-WAR-SM-MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_QuoteLine_Records.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-WAR-MED-MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_QuoteLine_Records.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-WAR-LRG-MSP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_XDR_Warrenty_QTY</targetReference>
            </connector>
            <label>XDR Warrrenty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Quoteline_has_which_License_0</name>
        <label>Check if Quoteline has which License</label>
        <locationX>9003</locationX>
        <locationY>2388</locationY>
        <defaultConnector>
            <targetReference>Loop_Quoteline_Records_for_Deployment_Steps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Protection_License_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-EML1-MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-EML1-XMSP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email_License_quantity_for_DS_Case</targetReference>
            </connector>
            <label>Email Protection License</label>
        </rules>
        <rules>
            <name>Authentication_Monitoring_License_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-O365-MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-0365-XMSP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_O365_License_quantity_for_DS_Case</targetReference>
            </connector>
            <label>Authentication Monitoring License</label>
        </rules>
        <rules>
            <name>Endpoint_Protection_License_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-ENPT-MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-ENDPT-XMSP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Endpoint_License_quantity_for_DS_Case</targetReference>
            </connector>
            <label>Endpoint Protection License</label>
        </rules>
        <rules>
            <name>Log_Security_License_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-LOG1-MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-LOG1-XMSP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Log_Monitoring_License_quantity_for_DS_Case</targetReference>
            </connector>
            <label>Log Security License</label>
        </rules>
        <rules>
            <name>Network_License_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-NTWK-MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-NTWK-XMSP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Network_License_quantity_for_DS_Case</targetReference>
            </connector>
            <label>Network License</label>
        </rules>
        <rules>
            <name>XDR_Sensor_Product_Count_DS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-SMSR-MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-LGSR-MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-NGSR-MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-VSR1-MSP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_XDR_Sensor_Count_for_DS_Cases</targetReference>
            </connector>
            <label>XDR Sensor Product Count DS</label>
        </rules>
        <rules>
            <name>Cloud_General_Licenses_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-CLOUD-MON-MB-1M</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Cloud_General_License_Quantity_For_DS</targetReference>
            </connector>
            <label>Cloud General Licenses</label>
        </rules>
        <rules>
            <name>Email_General_Licenses_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-EMAIL-MON-MB-1M</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email_General_License_Qty_for_DS</targetReference>
            </connector>
            <label>Email General Licenses</label>
        </rules>
        <rules>
            <name>EDR_SentinelOne_Licenses_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-EDR-MNG-DVC-1M</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_EDR_Sentinel_One_License_Qty_for_DS</targetReference>
            </connector>
            <label>EDR SentinelOne Licenses</label>
        </rules>
        <rules>
            <name>EDR_general_Licenses_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-EDR-MON-DVC-1M</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_EDR_General_License_Qty_DS</targetReference>
            </connector>
            <label>EDR general Licenses</label>
        </rules>
        <rules>
            <name>Network_General_License_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-NTWK-MON-DVC-1M</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Network_General_License_Qty_DS</targetReference>
            </connector>
            <label>Network General License</label>
        </rules>
        <rules>
            <name>Server_general_Licenses_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-SVR-MON-DVC-1M</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Server_General_License_Qty_DS</targetReference>
            </connector>
            <label>Server general Licenses</label>
        </rules>
        <rules>
            <name>XDR_Warranty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-WAR-SM-MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-WAR-MED-MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XDR-WAR-LRG-MSP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_XDR_Warrenty_Qty_DS</targetReference>
            </connector>
            <label>XDR Warranty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Quotelines_in_the_Group_are_Skout_or_not</name>
        <label>Check if Quotelines in the Group are Skout or not</label>
        <locationX>7199</locationX>
        <locationY>2772</locationY>
        <defaultConnector>
            <targetReference>Assign_License_Values_to_Zero</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_QuoteLine_Records_for_Deployment_Steps_0.SBQQ__ProductFamily__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Skout</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Deployment_Steps</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_there_are_products_with_Added</name>
        <label>Check if there are products with Added</label>
        <locationX>3921</locationX>
        <locationY>816</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Line_Records_0.SBQQ__EffectiveQuantity__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_QuoteLine_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skout_Products_Available</name>
        <label>Skout Products Available?</label>
        <locationX>4152</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__PrimaryQuote__r.Skout_Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote_Records</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <description>Onboarding Ticket &amp; Deployment Steps case Creation, when an Opportunity is closed won with Skout products</description>
    <environments>Default</environments>
    <formulas>
        <name>Authentication_Monitoring_License_Increment</name>
        <dataType>Number</dataType>
        <expression>{!O365_License_Quantity} + {!Loop_QuoteLine_Records.SBQQ__EffectiveQuantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Authentication_Monitoring_License_Quantity_Increment_forDS_Case</name>
        <dataType>Number</dataType>
        <expression>{!O365_License_Quantity_for_DS_Case} + {!Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__EffectiveQuantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Authentication_Monitoring_Status_Formula</name>
        <dataType>String</dataType>
        <expression>IF(({!O365_License_Quantity} == 0), &quot;N/A&quot;, &quot;Not Started&quot;)</expression>
    </formulas>
    <formulas>
        <name>Authentication_Monitoring_Status_Formula_for_DS_Case</name>
        <dataType>String</dataType>
        <expression>IF(({!O365_License_Quantity_for_DS_Case} == 0), &quot;N/A&quot;, &quot;Not Started&quot;)</expression>
    </formulas>
    <formulas>
        <name>Cloud_General_Status_Formula</name>
        <dataType>String</dataType>
        <expression>IF(({!CloudGeneralLicenseQuantity} == 0), &quot;N/A&quot;, &quot;Not Started&quot;)</expression>
    </formulas>
    <formulas>
        <name>Cloud_General_Status_Formula_for_DS_Case</name>
        <dataType>String</dataType>
        <expression>IF(({!CloudGeneralLicenseQuantityDS} == 0), &quot;N/A&quot;, &quot;Not Started&quot;)</expression>
    </formulas>
    <formulas>
        <name>CloudGeneralLicenseIncrement</name>
        <dataType>Number</dataType>
        <expression>{!CloudGeneralLicenseQuantity} + {!Loop_QuoteLine_Records.SBQQ__EffectiveQuantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CloudGeneralLiceseIncrementDS</name>
        <dataType>Number</dataType>
        <expression>{!CloudGeneralLicenseQuantityDS} + {!Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__EffectiveQuantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>EDR_General_Status_Formula_for_DS_Case</name>
        <dataType>String</dataType>
        <expression>IF(({!EDRGeneralLicenseQtyDS} == 0), &quot;N/A&quot;, &quot;Not Started&quot;)</expression>
    </formulas>
    <formulas>
        <name>EDR_Sentinel_One_Status_Formula</name>
        <dataType>String</dataType>
        <expression>IF(({!EDRSentinelOneLicenseQuantity} == 0), &quot;N/A&quot;, &quot;Not Started&quot;)</expression>
    </formulas>
    <formulas>
        <name>EDR_Sentinel_One_Status_Formula_for_DS_Case</name>
        <dataType>String</dataType>
        <expression>IF(({!EDRSentinalOneLicenseQtyDS} == 0), &quot;N/A&quot;, &quot;Not Started&quot;)</expression>
    </formulas>
    <formulas>
        <name>EDRGeneralLicenseIncrement</name>
        <dataType>Number</dataType>
        <expression>{!EDRGeneralLicenseQuantity} + {!Loop_QuoteLine_Records.SBQQ__EffectiveQuantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>EDRGeneralLicenseQtyIncrementDS</name>
        <dataType>Number</dataType>
        <expression>{!EDRGeneralLicenseQtyDS} + {!Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__EffectiveQuantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>EDRSentinelLicenseQtyIncrementDS</name>
        <dataType>Number</dataType>
        <expression>{!EDRSentinalOneLicenseQtyDS} + {!Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__EffectiveQuantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>EDRSentinelOneLicenseIncrement</name>
        <dataType>Number</dataType>
        <expression>{!EDRSentinelOneLicenseQuantity} + {!Loop_QuoteLine_Records.SBQQ__EffectiveQuantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Email_General_Status_Formula</name>
        <dataType>String</dataType>
        <expression>IF(({!EmailGeneralLicenseQuantity} == 0), &quot;N/A&quot;, &quot;Not Started&quot;)</expression>
    </formulas>
    <formulas>
        <name>Email_General_Status_Formula_for_DS_Case</name>
        <dataType>String</dataType>
        <expression>IF(({!EmailGeneralLicenseQuantityDS} == 0), &quot;N/A&quot;, &quot;Not Started&quot;)</expression>
    </formulas>
    <formulas>
        <name>Email_License_Quantity_Increment_For_DS_Cases</name>
        <dataType>Number</dataType>
        <expression>{!Email_Protection_License_Quantity_For_DS_Case} + {!Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__EffectiveQuantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Email_Protection_License_Increment</name>
        <dataType>Number</dataType>
        <expression>{!Email_Protection_License_Quantity} + {!Loop_QuoteLine_Records.SBQQ__EffectiveQuantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Email_Protection_Status_Formula</name>
        <dataType>String</dataType>
        <expression>IF(({!Email_Protection_License_Quantity} == 0), &quot;N/A&quot;, &quot;Not Started&quot;)</expression>
    </formulas>
    <formulas>
        <name>Email_Protection_Status_Formula_for_DS_Case</name>
        <dataType>String</dataType>
        <expression>IF(({!Email_Protection_License_Quantity_For_DS_Case} == 0), &quot;N/A&quot;, &quot;Not Started&quot;)</expression>
    </formulas>
    <formulas>
        <name>EmailGeneralLicenseIncrement</name>
        <dataType>Number</dataType>
        <expression>{!EmailGeneralLicenseQuantity} + {!Loop_QuoteLine_Records.SBQQ__EffectiveQuantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>EmailGeneralLicenseQtyIncrementDS</name>
        <dataType>Number</dataType>
        <expression>{!EDRGeneralLicenseQtyDS} + {!Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__EffectiveQuantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Endpoint_Protection_License_Quantity_Increment</name>
        <dataType>Number</dataType>
        <expression>{!Endpoint_Protection_License_Quantity} + {!Loop_QuoteLine_Records.SBQQ__EffectiveQuantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Endpoint_Protection_License_Quantity_Increment_for_DS_Case</name>
        <dataType>Number</dataType>
        <expression>{!Endpoint_Protection_License_Quantity_for_DS_Case} + {!Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__EffectiveQuantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Endpoint_Protection_Status_Formula</name>
        <dataType>String</dataType>
        <expression>IF(({!Endpoint_Protection_License_Quantity} == 0), &quot;N/A&quot;, &quot;Not Started&quot;)</expression>
    </formulas>
    <formulas>
        <name>Endpoint_Protection_Status_Formula_for_DS_Case</name>
        <dataType>String</dataType>
        <expression>IF(({!Endpoint_Protection_License_Quantity_for_DS_Case} == 0), &quot;N/A&quot;, &quot;Not Started&quot;)</expression>
    </formulas>
    <formulas>
        <name>Log_Monitoring_License_Quantity_Increment</name>
        <dataType>Number</dataType>
        <expression>{!Log_Monitoring_License_Quantity} + {!Loop_QuoteLine_Records.SBQQ__EffectiveQuantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Log_Monitoring_License_Quantity_Increment_for_DS_Case</name>
        <dataType>Number</dataType>
        <expression>{!Log_Monitoring_License_Quantity_for_DS_Case} + {!Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__EffectiveQuantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Log_Monitoring_Status_Formula</name>
        <dataType>String</dataType>
        <expression>IF(({!Log_Monitoring_License_Quantity} == 0), &quot;N/A&quot;, &quot;Not Started&quot;)</expression>
    </formulas>
    <formulas>
        <name>Log_Monitoring_Status_Formula_for_DS_Case</name>
        <dataType>String</dataType>
        <expression>IF(({!Log_Monitoring_License_Quantity_for_DS_Case} == 0), &quot;N/A&quot;, &quot;Not Started&quot;)</expression>
    </formulas>
    <formulas>
        <name>Network_General_Status_Formula</name>
        <dataType>String</dataType>
        <expression>IF(({!NetworkgeneralLicenseQuantity} == 0), &quot;N/A&quot;, &quot;Not Started&quot;)</expression>
    </formulas>
    <formulas>
        <name>Network_General_Status_Formula_for_DS_Case</name>
        <dataType>String</dataType>
        <expression>IF(({!NetworkGeneralLicenseQtyDS} == 0), &quot;N/A&quot;, &quot;Not Started&quot;)</expression>
    </formulas>
    <formulas>
        <name>Network_License_Quantity_Increment_for_DS_Case</name>
        <dataType>Number</dataType>
        <expression>{!Network_Monitoring_LIcense_Quantity_for_DS_Case} + {!Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__EffectiveQuantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Network_License_Quantity_Value</name>
        <dataType>Number</dataType>
        <expression>{!Network_Monitoring_License_Quantity} + {!Loop_QuoteLine_Records.SBQQ__EffectiveQuantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Network_Monitoring_Status_Formula</name>
        <dataType>String</dataType>
        <expression>IF(({!Network_Monitoring_License_Quantity} == 0), &quot;N/A&quot;, &quot;Not Started&quot;)</expression>
    </formulas>
    <formulas>
        <name>Network_Monitoring_Status_Formula_for_DS_Case</name>
        <dataType>String</dataType>
        <expression>IF(({!Network_Monitoring_LIcense_Quantity_for_DS_Case} == 0), &quot;N/A&quot;, &quot;Not Started&quot;)</expression>
    </formulas>
    <formulas>
        <name>NetworkGeneralLicenseIncrement</name>
        <dataType>Number</dataType>
        <expression>{!NetworkgeneralLicenseQuantity} + {!Loop_QuoteLine_Records.SBQQ__EffectiveQuantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NetworkGeneralLicenseQtyIncrementDS</name>
        <dataType>Number</dataType>
        <expression>{!NetworkGeneralLicenseQtyDS} + {!Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__EffectiveQuantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Server_General_Status_Formula</name>
        <dataType>String</dataType>
        <expression>IF(({!ServerGeneralLicenseQuantity} == 0), &quot;N/A&quot;, &quot;Not Started&quot;)</expression>
    </formulas>
    <formulas>
        <name>Server_General_Status_Formula_for_DS_Case</name>
        <dataType>String</dataType>
        <expression>IF(({!ServerGeneralLicenseQtyDS} == 0), &quot;N/A&quot;, &quot;Not Started&quot;)</expression>
    </formulas>
    <formulas>
        <name>ServerGeneralLicenseIncrement</name>
        <dataType>Number</dataType>
        <expression>{!ServerGeneralLicenseQuantity} + {!Loop_QuoteLine_Records.SBQQ__EffectiveQuantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ServerGeneralLicenseQtyIncrementDS</name>
        <dataType>Number</dataType>
        <expression>{!ServerGeneralLicenseQtyDS} + {!Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__EffectiveQuantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>XDR_Senor_Count_Increment</name>
        <dataType>Number</dataType>
        <expression>{!XDR_Sensor_Count} + {!Loop_QuoteLine_Records.SBQQ__EffectiveQuantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>XDR_Senor_Count_Increment_for_DS_Cases</name>
        <dataType>Number</dataType>
        <expression>{!XDR_Sensor_Count_for_DS_Cases} + {!Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__EffectiveQuantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>XDRWarrentyQuantityIncrement</name>
        <dataType>Number</dataType>
        <expression>{!XDRWarrentyQuantity} + {!Loop_QuoteLine_Records.SBQQ__EffectiveQuantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>XDRWarrentyQuantityIncrementDS</name>
        <dataType>Number</dataType>
        <expression>{!XDRWarrentyQuantityDS} + {!Loop_Quoteline_Records_for_Deployment_Steps.SBQQ__EffectiveQuantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Onboarding Ticket &amp; Deployment Steps case Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboarding Ticket &amp; Deployment Steps case Creation</label>
    <loops>
        <name>Loop_Quote_Line_Group</name>
        <label>Loop Quote Line Group</label>
        <locationX>3591</locationX>
        <locationY>1956</locationY>
        <collectionReference>Get_Quote_Line_Group_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_QuoteLine_Records_for_Deployment_Steps</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_QuoteLine_Records</name>
        <label>Loop QuoteLine Records</label>
        <locationX>3723</locationX>
        <locationY>924</locationY>
        <collectionReference>Get_Quote_Line_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Quoteline_has_which_License</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Quote_Line_Group_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Quoteline_Records_for_Deployment_Steps</name>
        <label>Loop Quoteline Records for Deployment Steps</label>
        <locationX>7199</locationX>
        <locationY>2280</locationY>
        <collectionReference>Get_QuoteLine_Records_for_Deployment_Steps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Quoteline_has_which_License_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Quotelines_in_the_Group_are_Skout_or_not</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Deployment_Steps</name>
        <label>Create Deployment Steps</label>
        <locationX>7067</locationX>
        <locationY>2880</locationY>
        <connector>
            <targetReference>Assign_License_Values_to_Zero</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authentication_Monitoring_Licenses__c</field>
            <value>
                <elementReference>O365_License_Quantity_for_DS_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authentication_Monitoring_Status__c</field>
            <value>
                <elementReference>Authentication_Monitoring_Status_Formula_for_DS_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cloud_General_Licenses__c</field>
            <value>
                <elementReference>CloudGeneralLicenseQuantityDS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cloud_General_Status__c</field>
            <value>
                <elementReference>Cloud_General_Status_Formula_for_DS_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Service_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDR_General_Status__c</field>
            <value>
                <elementReference>EDR_General_Status_Formula_for_DS_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDR_SentinelOne_Licenses__c</field>
            <value>
                <elementReference>EDRSentinalOneLicenseQtyDS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDR_Sentinel_One_Status__c</field>
            <value>
                <elementReference>EDR_Sentinel_One_Status_Formula_for_DS_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDR_general_Licenses__c</field>
            <value>
                <elementReference>EDRGeneralLicenseQtyDS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_General_Status__c</field>
            <value>
                <elementReference>Email_General_Status_Formula_for_DS_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Protection_Licenses__c</field>
            <value>
                <elementReference>Email_Protection_License_Quantity_For_DS_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Protection_Status__c</field>
            <value>
                <elementReference>Email_Protection_Status_Formula_for_DS_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_general_Licenses__c</field>
            <value>
                <elementReference>EmailGeneralLicenseQuantityDS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Endpoint_Licenses__c</field>
            <value>
                <elementReference>Endpoint_Protection_License_Quantity_for_DS_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Endpoint_Protection_Status__c</field>
            <value>
                <elementReference>Endpoint_Protection_Status_Formula_for_DS_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Monitoring_Licenses__c</field>
            <value>
                <elementReference>Log_Monitoring_License_Quantity_for_DS_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Monitoring_Status__c</field>
            <value>
                <elementReference>Log_Monitoring_Status_Formula_for_DS_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Network_General_Licenses__c</field>
            <value>
                <elementReference>NetworkGeneralLicenseQtyDS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Network_General_Status__c</field>
            <value>
                <elementReference>Network_General_Status_Formula_for_DS_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Network_Monitoring_Licenses__c</field>
            <value>
                <elementReference>Network_Monitoring_LIcense_Quantity_for_DS_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Network_Monitoring_Status__c</field>
            <value>
                <elementReference>Network_Monitoring_Status_Formula_for_DS_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_for_SE_Cases__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Skout-Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>ParentCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Case_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Line_Group__c</field>
            <value>
                <elementReference>Loop_Quote_Line_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RT_Deployment_Steps.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Server_General_Licenses__c</field>
            <value>
                <elementReference>ServerGeneralLicenseQtyDS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Server_General_Status__c</field>
            <value>
                <elementReference>Server_General_Status_Formula_for_DS_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Loop_Quote_Line_Group.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>$Record.Contact_Name__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>XDR_Sensor_Count__c</field>
            <value>
                <elementReference>XDR_Sensor_Count_for_DS_Cases</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>XDR_Warranty__c</field>
            <value>
                <elementReference>XDRWarrentyQuantityDS</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Deployment_Steps_0</name>
        <label>Create Deployment Steps</label>
        <locationX>3855</locationX>
        <locationY>1956</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authentication_Monitoring_Licenses__c</field>
            <value>
                <elementReference>O365_License_Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authentication_Monitoring_Status__c</field>
            <value>
                <elementReference>Authentication_Monitoring_Status_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cloud_General_Licenses__c</field>
            <value>
                <elementReference>CloudGeneralLicenseQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cloud_General_Status__c</field>
            <value>
                <elementReference>Cloud_General_Status_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Service_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDR_SentinelOne_Licenses__c</field>
            <value>
                <elementReference>EDRSentinelOneLicenseQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDR_Sentinel_One_Status__c</field>
            <value>
                <elementReference>EDR_Sentinel_One_Status_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDR_general_Licenses__c</field>
            <value>
                <elementReference>EDRGeneralLicenseQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_General_Status__c</field>
            <value>
                <elementReference>Email_General_Status_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Protection_Licenses__c</field>
            <value>
                <elementReference>Email_Protection_License_Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Protection_Status__c</field>
            <value>
                <elementReference>Email_Protection_Status_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_general_Licenses__c</field>
            <value>
                <elementReference>EmailGeneralLicenseQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Endpoint_Licenses__c</field>
            <value>
                <elementReference>Endpoint_Protection_License_Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Endpoint_Protection_Status__c</field>
            <value>
                <elementReference>Endpoint_Protection_Status_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Monitoring_Licenses__c</field>
            <value>
                <elementReference>Log_Monitoring_License_Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Monitoring_Status__c</field>
            <value>
                <elementReference>Log_Monitoring_Status_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Network_General_Licenses__c</field>
            <value>
                <elementReference>NetworkgeneralLicenseQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Network_General_Status__c</field>
            <value>
                <elementReference>Network_General_Status_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Network_Monitoring_Licenses__c</field>
            <value>
                <elementReference>Network_Monitoring_License_Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Network_Monitoring_Status__c</field>
            <value>
                <elementReference>Network_Monitoring_Status_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_for_SE_Cases__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Skout-Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>ParentCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Case_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RT_Deployment_Steps.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Server_General_Licenses__c</field>
            <value>
                <elementReference>ServerGeneralLicenseQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Server_General_Status__c</field>
            <value>
                <elementReference>Server_General_Status_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Get_Quote_Line_Records_0.Reseller_Memo_Sonian_Only__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>$Record.Contact_Name__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>XDR_Sensor_Count__c</field>
            <value>
                <elementReference>XDR_Sensor_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>XDR_Warranty__c</field>
            <value>
                <elementReference>XDRWarrentyQuantity</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Onboarding_Ticket</name>
        <label>Create Onboarding Ticket</label>
        <locationX>3723</locationX>
        <locationY>1632</locationY>
        <assignRecordIdToReference>ParentCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>RT_Deployment_Steps</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authentication_Monitoring_Licenses__c</field>
            <value>
                <elementReference>O365_License_Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cloud_General_Licenses__c</field>
            <value>
                <elementReference>CloudGeneralLicenseQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Service_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDR_SentinelOne_Licenses__c</field>
            <value>
                <elementReference>EDRSentinelOneLicenseQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDR_general_Licenses__c</field>
            <value>
                <elementReference>EDRGeneralLicenseQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Protection_Licenses__c</field>
            <value>
                <elementReference>Email_Protection_License_Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_general_Licenses__c</field>
            <value>
                <elementReference>EmailGeneralLicenseQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Endpoint_Licenses__c</field>
            <value>
                <elementReference>Endpoint_Protection_License_Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Monitoring_Licenses__c</field>
            <value>
                <elementReference>Log_Monitoring_License_Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Network_General_Licenses__c</field>
            <value>
                <elementReference>NetworkgeneralLicenseQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Network_Monitoring_Licenses__c</field>
            <value>
                <elementReference>Network_Monitoring_License_Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_for_SE_Cases__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Skout-Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RT_Onboarding_Ticket.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Server_General_Licenses__c</field>
            <value>
                <elementReference>ServerGeneralLicenseQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>$Record.Contact_Name__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>XDR_Sensor_Count__c</field>
            <value>
                <elementReference>XDR_Sensor_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>XDR_Warranty__c</field>
            <value>
                <elementReference>XDRWarrentyQuantity</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>4152</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Skout_Products_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Group_Records</name>
        <label>Get Quote Line Group Records</label>
        <locationX>3723</locationX>
        <locationY>1416</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RT_Onboarding_Ticket</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote_Records.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Records</name>
        <label>Get Quote Line Records</label>
        <locationX>3921</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Line_Records_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote_Records.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__EffectiveQuantity__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Skout</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Records_0</name>
        <label>Get Quote Line Records</label>
        <locationX>3921</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_there_are_products_with_Added</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote_Records.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__EffectiveQuantity__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Skout</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Records</name>
        <label>Get Quote Records</label>
        <locationX>3921</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Line_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__PrimaryQuote__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_QuoteLine_Records_for_Deployment_Steps</name>
        <label>Get QuoteLine Records for Deployment Steps</label>
        <locationX>7199</locationX>
        <locationY>2064</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_QuoteLine_Records_for_Deployment_Steps_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Quote_Line_Group.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Skout</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__EffectiveQuantity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <sortField>SBQQ__ProductName__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_QuoteLine_Records_for_Deployment_Steps_0</name>
        <label>Get QuoteLine Records for Deployment Steps</label>
        <locationX>7199</locationX>
        <locationY>2172</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Quoteline_Records_for_Deployment_Steps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Quote_Line_Group.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Skout</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__EffectiveQuantity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <sortField>SBQQ__ProductName__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RT_Deployment_Steps</name>
        <label>RT: Deployment Steps</label>
        <locationX>3723</locationX>
        <locationY>1740</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Quote_group_is_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deployment_Steps</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RT_Onboarding_Ticket</name>
        <label>RT: Onboarding Ticket</label>
        <locationX>3723</locationX>
        <locationY>1524</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Onboarding_Ticket</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding_Ticket</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2 AND 3 AND (4 AND 5 AND 6)</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__PrimaryQuote__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Business_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MSP</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Locked Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__RenewedContract__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Opportunity_Products</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CloudGeneralLicenseQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CloudGeneralLicenseQuantityDS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EDRGeneralLicenseQtyDS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EDRGeneralLicenseQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EDRSentinalOneLicenseQtyDS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EDRSentinelOneLicenseQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Email_Protection_License_Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Email_Protection_License_Quantity_For_DS_Case</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EmailGeneralLicenseQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EmailGeneralLicenseQuantityDS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Endpoint_Protection_License_Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Endpoint_Protection_License_Quantity_for_DS_Case</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Log_Monitoring_License_Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Log_Monitoring_License_Quantity_for_DS_Case</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Network_Monitoring_License_Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Network_Monitoring_LIcense_Quantity_for_DS_Case</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NetworkGeneralLicenseQtyDS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NetworkgeneralLicenseQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NewCases</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>O365_License_Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>O365_License_Quantity_for_DS_Case</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ParentCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Create_Onboarding_Ticket</elementReference>
        </value>
    </variables>
    <variables>
        <name>QLGCases</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>RMA_Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServerGeneralLicenseQtyDS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ServerGeneralLicenseQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>XDR_Sensor_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>XDR_Sensor_Count_for_DS_Cases</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>XDRWarrentyQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>XDRWarrentyQuantityDS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
