force-app/main/default/flows/Opportunity_After_Save_Operations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AMERICAS_EMEA_Big_Deal_Alert_for_over_50k</name>
        <label>AMERICAS&amp;EMEA Big Deal Alert for over 50k</label>
        <locationX>1018</locationX>
        <locationY>647</locationY>
        <actionName>Opportunity.AMERICAS_EMEA_Big_Deal_Alert_for_over_50k</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_Big_Deal_Email_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.AMERICAS_EMEA_Big_Deal_Alert_for_over_50k</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>APAC_Big_Deal_Alert_for_over_25k</name>
        <label>APAC Big Deal Alert for over 25k</label>
        <locationX>1546</locationX>
        <locationY>647</locationY>
        <actionName>Opportunity.APAC_Big_Deal_Alert_for_over_25k</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_Big_Deal_Email_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.APAC_Big_Deal_Alert_for_over_25k</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>New_Business_AMERICAS_EMEA_Big_Deal_Alert</name>
        <label>New Business AMERICAS&amp;EMEA Big Deal Alert</label>
        <locationX>754</locationX>
        <locationY>647</locationY>
        <actionName>Opportunity.New_Business_AMERICAS_EMEA_Big_Deal_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_Big_Deal_Email_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.New_Business_AMERICAS_EMEA_Big_Deal_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>New_Business_APAC_Big_Deal_Alert</name>
        <label>New Business APAC Big Deal Alert</label>
        <locationX>1282</locationX>
        <locationY>647</locationY>
        <actionName>Opportunity.New_Business_APAC_Big_Deal_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_Big_Deal_Email_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.New_Business_APAC_Big_Deal_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_email_to_MSP_Slack_channel</name>
        <label>Send email to MSP Slack channel</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>Opportunity.MSP_Big_Deals_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Account_Details</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.MSP_Big_Deals_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Record_Id</name>
        <label>Assign Record Id</label>
        <locationX>1326</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>Object_Opportunity_To_Be_Updated.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SFDC-15315</description>
        <name>Prepare_Object_to_be_Updated</name>
        <label>Prepare Object to be Updated</label>
        <locationX>1062</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>Object_Opportunity_To_Be_Updated.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_Opportunity_To_Be_Updated.Auto_Renewal_Status_Core__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_Opportunity_To_Be_Updated.Auto_Renewal_Status_Reason_Core__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Big_Deal_Email_Sent</name>
        <label>Set Big Deal Email Sent</label>
        <locationX>1282</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>Object_Opportunity_To_Be_Updated.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Object_Opportunity_To_Be_Updated.BigDealEmailSent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsBigdeal</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Record_Type_and_Hot_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bigdeal</name>
        <label>Bigdeal</label>
        <locationX>1458</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bigdeal_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsBigdeal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Record_Id</targetReference>
            </connector>
            <label>Bigdeal Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_MSP_Quote_amount_is_10000</name>
        <label>Check if MSP Quote amount is &gt;=10000</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_email_to_Slack_channel</name>
            <conditionLogic>(1 OR 4) AND 2 AND 3 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New_Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MSP_Quote_Full_Amount_Converted__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Admin Salesforce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Locked_New_Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Terr_Theater__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMERICAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_to_MSP_Slack_channel</targetReference>
            </connector>
            <label>Send email to Slack channel</label>
        </rules>
    </decisions>
    <decisions>
        <description>SFDC-15315</description>
        <name>Check_Record_Type_and_Hot_List</name>
        <label>Is New Business Record Type and Hot List</label>
        <locationX>1260</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Bigdeal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Business_HotList</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New_Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hot_List__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__RenewedContract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepare_Object_to_be_Updated</targetReference>
            </connector>
            <label>Yes New Business HotList</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Theater</name>
        <label>Check Theater</label>
        <locationX>1282</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Record_Type_and_Hot_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AMERICAS_EMEA_NEW_BUSINESS</name>
            <conditionLogic>1 AND 4 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Terr_Theater__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMERICAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Terr_Theater__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount_Converted__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Business_AMERICAS_EMEA_Big_Deal_Alert</targetReference>
            </connector>
            <label>AMERICAS&amp;EMEA NEW BUSINESS</label>
        </rules>
        <rules>
            <name>AMERICAS_EMEA_NOT_NEW_BUSINESS</name>
            <conditionLogic>1 AND 4 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Terr_Theater__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMERICAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Terr_Theater__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount_Converted__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AMERICAS_EMEA_Big_Deal_Alert_for_over_50k</targetReference>
            </connector>
            <label>AMERICAS&amp;EMEA NOT NEW BUSINESS</label>
        </rules>
        <rules>
            <name>APAC_NEW_BUSINESS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Terr_Theater__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount_Converted__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Business_APAC_Big_Deal_Alert</targetReference>
            </connector>
            <label>APAC NEW BUSINESS</label>
        </rules>
        <rules>
            <name>APAC_NOT_NEW_BUSINESS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Terr_Theater__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount_Converted__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>25000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APAC_Big_Deal_Alert_for_over_25k</targetReference>
            </connector>
            <label>APAC NOT NEW BUSINESS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_or_update</name>
        <label>Is New or update</label>
        <locationX>655</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Msp_Opportunity_CLosed_Won</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Quote_field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order in Process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Opportunity_Status_field</targetReference>
            </connector>
            <label>Update Quote field</label>
        </rules>
    </decisions>
    <decisions>
        <description>This Condition Added for SFDC-18889</description>
        <name>Msp_Opportunity_CLosed_Won</name>
        <label>Msp Opportunity CLosed Won</label>
        <locationX>1260</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_Record_Type_and_Hot_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_MSP_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_MSP_Quote_amount_is_10000</targetReference>
            </connector>
            <label>Is MSP Opportunity</label>
        </rules>
        <rules>
            <name>Is_CORE_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Core</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BigDealEmailSent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Admin Salesforce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NOTTESTACCOUNT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Theater</targetReference>
            </connector>
            <label>Is CORE Opportunity</label>
        </rules>
    </decisions>
    <description>SFDC-20648 Big Deal Email Alerts added
SFDC-15315
SFDC-18767
SFDC-18889
Added an extra condition to send email to Slack channel as a part of SFDC-19576
SFDC-20119: Added an extra condition to send email to Slack channel only for opportunities with Theatre AMERICAS
SFDC-20390New Vs. Renewal on Order Product</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() || ISCLONE()</expression>
    </formulas>
    <formulas>
        <description>SFDC-18767</description>
        <name>LastCLosedWonDate</name>
        <dataType>Date</dataType>
        <expression>IF({!$Record.MSP_Quote_Full_Amount__c} &gt;=0 &amp;&amp; {!$Record.Owner.Username}!={!$Label.Admin_Salesforce_Username},TODAY(),{!Get_Account_Details.Last_Closed_Won__c})</expression>
    </formulas>
    <formulas>
        <description>SFDC-18889</description>
        <name>NewtoMSPDate</name>
        <dataType>Date</dataType>
        <expression>IF({!$Record.MSP_Quote_Full_Amount__c}&gt; 0 &amp;&amp; {!$Record.SBQQ__RenewedContract__c} == null &amp;&amp; (ISNULL({!Get_Account_Details.New_to_MSP__c})  ||   ISBLANK({!Get_Account_Details.New_to_MSP__c})),TODAY(),{!Get_Account_Details.New_to_MSP__c})</expression>
    </formulas>
    <formulas>
        <name>NOTTESTACCOUNT</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND(NOT(CONTAINS({!$Record.Account.Name}, &apos;Big Huge&apos;)),
NOT(CONTAINS({!$Record.Account.Name}, &apos;Tiny Small&apos;)),
NOT(CONTAINS({!$Record.Account.Name}, &apos;Apollo Test&apos;))),TRUE,FALSE)</expression>
    </formulas>
    <interviewLabel>Opportunity After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity After Save Operations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>446</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_Last_Closed_Won</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>This is for SFDC-18767</description>
        <name>Update_Account_Last_Closed_Won</name>
        <label>Update Account Last Closed Won</label>
        <locationX>446</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Check_Record_Type_and_Hot_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Closed_Won__c</field>
            <value>
                <elementReference>LastCLosedWonDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_to_MSP__c</field>
            <value>
                <elementReference>NewtoMSPDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>1260</locationX>
        <locationY>1631</locationY>
        <inputReference>Object_Opportunity_To_Be_Updated</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Opportunity_Status_field</name>
        <label>Update Quote Opportunity Status field</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__PrimaryQuote__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity_Status__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>529</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New_or_update</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>IsBigdeal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Object_Opportunity_To_Be_Updated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
