force-app/main/default/flows/Order_Product_After_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Is_After_Insert_Core_Quote_Type</name>
        <label>Is After Insert Core Quote Type?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesCoreQuote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.SBQQ__Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.SBQQ__Quote__r.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.SBQQ__Quote__r.Business_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Core</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.SBQQ__Quote__r.SBQQ__StartDate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_OLI_Start_Date</targetReference>
            </connector>
            <label>YesCoreQuote</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Order Product After Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Product After Save Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_OLI_Start_Date</name>
        <label>Update OLI Start Date</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>ServiceDate</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_After_Insert_Core_Quote_Type</targetReference>
        </connector>
        <object>OrderItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
