force-app/main/default/flows/Order_After_Insert_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CPQ_Order_confirmation</name>
        <label>CPQ Order confirmation</label>
        <locationX>50</locationX>
        <locationY>2424</locationY>
        <actionName>Order.CPQ_Order_Confirmation_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>OrderItems</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Order.CPQ_Order_Confirmation_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_AR</name>
        <label>Notify AR</label>
        <locationX>204</locationX>
        <locationY>900</locationY>
        <actionName>Order.Notify_AR_Legacy_Returns_Occurred</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Activated_Has_RMA_Replace</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Order.Notify_AR_Legacy_Returns_Occurred</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_BOS</name>
        <label>Notify BOS</label>
        <locationX>336</locationX>
        <locationY>1500</locationY>
        <actionName>Order.Notify_BOS_RMA_Replace_Occurred</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Order_Entry_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Order.Notify_BOS_RMA_Replace_Occurred</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Finance</name>
        <label>Notify Finance</label>
        <locationX>72</locationX>
        <locationY>1500</locationY>
        <actionName>Order.Order_Notify_Finance_of_Billing_Schedule_Change_Request</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Order_Entry_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Order.Order_Notify_Finance_of_Billing_Schedule_Change_Request</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Request_RMA_email_alert</name>
        <label>Request RMA email alert</label>
        <locationX>776</locationX>
        <locationY>384</locationY>
        <actionName>Order.Request_RMA</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Order.Request_RMA</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Product_Variable_assignment</name>
        <label>Product Variable assignment</label>
        <locationX>270</locationX>
        <locationY>2940</locationY>
        <assignmentItems>
            <assignToReference>Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Item_Iteration</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Auto_place_if_auto_renewal_eligible</name>
        <label>Auto place if auto renewal eligible</label>
        <locationX>2228</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Auto_renewal_eligible_oppty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Auto_Renewal_Eligible_Core__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Place</targetReference>
            </connector>
            <label>Is Auto renewal eligible?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Auto_Renewal_Eligible</name>
        <label>Auto Renewal Eligible</label>
        <locationX>182</locationX>
        <locationY>2316</locationY>
        <defaultConnector>
            <targetReference>OrderItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Notify_Order_Confirmation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.Auto_Renewal_Eligible_Core__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quote_Business_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Barracuda</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CPQ_Order_confirmation</targetReference>
            </connector>
            <label>Notify Order Confirmation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account_MSP_Bill_Day</name>
        <label>Check Account MSP Bill Day</label>
        <locationX>182</locationX>
        <locationY>1908</locationY>
        <defaultConnector>
            <targetReference>Create_TAC_SE_Services_Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Order_related_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Placed_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quote_Business_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Barracuda MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.MSP_Bill_Day__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MSP_First_Order_on_Account</targetReference>
            </connector>
            <label>Check Order related Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Activated_Has_RMA_Replace</name>
        <label>Check Activated Has RMA Replace</label>
        <locationX>336</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>Order_Status_Activated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Activated_Has_RMA_Replace</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6 AND (7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__PriceCalcStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Needed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__PriceCalcStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Check_Order_Products_activated__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_RMA_Replace__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Credit_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Credit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updated_contracted_true</targetReference>
            </connector>
            <label>Order Activated Has RMA Replace ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Activated_Legacy_Return</name>
        <label>Check Activated Legacy Return</label>
        <locationX>336</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Check_Activated_Has_RMA_Replace</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Legacy_Return</name>
            <conditionLogic>(1 AND 2) AND (3 OR 4) AND (5 OR 11) AND 6 AND ((7 AND 8) OR (9 AND 10 AND 12 AND 13))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBCF_Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New - Return</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBCF_Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal - Return</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TotalAmount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.SBQQ__RenewedContract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.SBQQ__RenewedContract__r.Legacy_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.SBQQ__AmendedContract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.SBQQ__AmendedContract__r.Legacy_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.List_Total__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBCF_Count_Subs_with_no_Revisions__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_AR</targetReference>
            </connector>
            <label>Check Legacy Return</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quote_Start_date_Less_than_current_date</name>
        <label>Check Quote Start date Less than current date</label>
        <locationX>2756</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Order_Start_Date_1</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND  5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Business_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Core</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__StartDate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EffectiveDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_start_date_to_current_date</targetReference>
            </connector>
            <label>Update Order Start Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Auto_renewal_Eligible</name>
        <label>Is Auto renewal Eligible</label>
        <locationX>1568</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Auto_renewal_eligible_opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Auto_Renewal_Eligible_Core__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_Activated</targetReference>
            </connector>
            <label>Auto renewal eligible Opportunity</label>
        </rules>
        <rules>
            <name>Account_Ship_to_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ship_To_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Shipping_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Ship_to_Account</targetReference>
            </connector>
            <label>Account Ship to Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Debook_Rebook_updated</name>
        <label>Is Debook Rebook updated</label>
        <locationX>336</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Check_Activated_Legacy_Return</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Debook_Rebook_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Debook_Rebook__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Debook_Rebook__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Debook_Rebook_Opportunities</targetReference>
            </connector>
            <label>Debook Rebook not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Item_entry_check</name>
        <label>Item entry check</label>
        <locationX>402</locationX>
        <locationY>2832</locationY>
        <defaultConnector>
            <targetReference>Order_Item_Iteration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order_Item_Iteration.SBCF_Serial_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Order_Item_Iteration.SBQQ__Subscription__r.SBQQ__Account__r.Premium_Support__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Variable_assignment</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Entry_Check</name>
        <label>Order Entry Check</label>
        <locationX>336</locationX>
        <locationY>1692</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Placed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Placed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Placed_Date</targetReference>
            </connector>
            <label>Placed?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Status_Activated</name>
        <label>Order Status Activated</label>
        <locationX>336</locationX>
        <locationY>1392</locationY>
        <defaultConnector>
            <targetReference>Order_Entry_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_status_activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Require_Billing_Schedule_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Finance</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Is status activated</label>
        </rules>
        <rules>
            <name>Status_not_activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StatusCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_RMA_Replace__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order_Item_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__PriceCalcStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__PriceCalcStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Started</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_BOS</targetReference>
            </connector>
            <label>Status not activated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Request_RMA_for_new_Order</name>
        <label>Request RMA for new Order</label>
        <locationX>908</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewrecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LoyaltyPromoUpgrade__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_RMA_email_alert</targetReference>
            </connector>
            <label>New Order</label>
        </rules>
    </decisions>
    <description>Last Update: CMD Ship to Updates SH 10/6/2023
Last Update : SFDC-20721 Schedule path has been added to update order start date after 1min of order creation.</description>
    <environments>Default</environments>
    <formulas>
        <name>DayofToday</name>
        <dataType>Number</dataType>
        <expression>DAY({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>IsNewrecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Order After Insert/Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order After Insert/Update Flow</label>
    <loops>
        <name>Order_Item_Iteration</name>
        <label>Order Item Iteration</label>
        <locationX>182</locationX>
        <locationY>2724</locationY>
        <collectionReference>OrderItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Item_entry_check</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>one min</description>
        <name>OrderItems</name>
        <label>OrderItems</label>
        <locationX>182</locationX>
        <locationY>2616</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Item_Iteration</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4 AND 5</filterLogic>
        <filters>
            <field>SBQQ__Subscription__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBCF_Order_Line_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBCF_Order_Line_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Premium_Support__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__Subscription__c</queriedFields>
        <queriedFields>SBCF_Serial_Number__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Auto_Place</name>
        <label>Auto Place</label>
        <locationX>2096</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Placed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>MSP_First_Order_on_Account</name>
        <label>Set MSP First Order on Account</label>
        <locationX>50</locationX>
        <locationY>2016</locationY>
        <connector>
            <targetReference>Create_TAC_SE_Services_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MSP_Bill_Day__c</field>
            <value>
                <elementReference>DayofToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MSP_First_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_Debook_Rebook</name>
        <label>Reset Debook Rebook null</label>
        <locationX>204</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Check_Activated_Legacy_Return</targetReference>
        </connector>
        <inputAssignments>
            <field>Debook_Rebook__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Status_Activated</name>
        <label>Set Status Activated</label>
        <locationX>1304</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_start_date_to_current_date</name>
        <label>Update Order start date to current date</label>
        <locationX>2624</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Placed_Date</name>
        <label>Update Placed Date</label>
        <locationX>182</locationX>
        <locationY>1800</locationY>
        <connector>
            <targetReference>Check_Account_MSP_Bill_Day</targetReference>
        </connector>
        <inputAssignments>
            <field>Placed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Contracting_method</name>
        <label>Update Quote Contracting method</label>
        <locationX>336</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Is_Debook_Rebook_updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__ContractingMethod__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__ContractingMethod__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__ContractingMethod__c</field>
            <value>
                <elementReference>$Record.SBQQ__ContractingMethod__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SBQQ__Quote__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Ship to Account fields</description>
        <name>Update_Ship_to_Account</name>
        <label>Update Ship to Account</label>
        <locationX>1568</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Ship_To_Contact__c</field>
            <value>
                <elementReference>$Record.Opportunity.Shipping_Contact__r.Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Email__c</field>
            <value>
                <elementReference>$Record.Opportunity.Shipping_Contact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Ship_To_Account__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updated_contracted_true</name>
        <label>Updated contracted true</label>
        <locationX>204</locationX>
        <locationY>1200</locationY>
        <connector>
            <targetReference>Order_Status_Activated</targetReference>
        </connector>
        <inputAssignments>
            <field>SBQQ__Contracted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1420</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Quote_Contracting_method</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Request_RMA</name>
            <connector>
                <targetReference>Request_RMA_for_new_Order</targetReference>
            </connector>
            <label>Request RMA</label>
            <offsetNumber>30</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>ActivatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Auto_renewal_Auto_Place_and_Account_Update</name>
            <connector>
                <targetReference>Is_Auto_renewal_Eligible</targetReference>
            </connector>
            <label>Auto renewal Auto Place and Account Update</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Autorenewal_Order</name>
            <connector>
                <targetReference>Auto_place_if_auto_renewal_eligible</targetReference>
            </connector>
            <label>Autorenewal - Order</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Contracted_Date_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Update_Order_start_date</name>
            <connector>
                <targetReference>Check_Quote_Start_date_Less_than_current_date</targetReference>
            </connector>
            <label>Update Order start date</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Debook_Rebook_Opportunities</name>
        <label>Create Debook/Rebook Opportunities</label>
        <locationX>204</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Reset_Debook_Rebook</targetReference>
        </connector>
        <flowName>Create_De_book_Re_book_Opportunities</flowName>
        <inputAssignments>
            <name>Debook_Rebook</name>
            <value>
                <elementReference>$Record.Debook_Rebook__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Oppty_Id</name>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_TAC_SE_Services_Cases</name>
        <label>Create TAC SE Services Cases</label>
        <locationX>182</locationX>
        <locationY>2208</locationY>
        <connector>
            <targetReference>Auto_Renewal_Eligible</targetReference>
        </connector>
        <flowName>Create_TAC_SE_Services_Case</flowName>
        <inputAssignments>
            <name>passedOrder</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Found</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
