force-app/main/default/flows/Ownership_Management_Opportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_All</name>
        <label>Assign All</label>
        <locationX>1166</locationX>
        <locationY>643</locationY>
        <assignmentItems>
            <assignToReference>Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Id_All</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IS_Sonian</name>
        <label>Assign IS Sonian</label>
        <locationX>1325</locationX>
        <locationY>795</locationY>
        <assignmentItems>
            <assignToReference>Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Id_Sonian</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Over_3000_Direct</name>
        <label>Assign Over 3000 Direct</label>
        <locationX>1029</locationX>
        <locationY>436</locationY>
        <assignmentItems>
            <assignToReference>Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Id_Over_3000_Direct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PSM</name>
        <label>Assign PSM</label>
        <locationX>1244</locationX>
        <locationY>717</locationY>
        <assignmentItems>
            <assignToReference>Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Id_PSM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Under_1500</name>
        <label>Assign Under 1500</label>
        <locationX>1085</locationX>
        <locationY>30</locationY>
        <assignmentItems>
            <assignToReference>Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Id_Under_1500</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Under_2000</name>
        <label>Assign Under 2000</label>
        <locationX>957</locationX>
        <locationY>117</locationY>
        <assignmentItems>
            <assignToReference>Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Id_Under_2000</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Under_3000_Direct</name>
        <label>Assign Under 3000 Direct</label>
        <locationX>1089</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Id_Under_3000_Direct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Under_3000_Indirect</name>
        <label>Assign Under 3000_Indirect</label>
        <locationX>1096</locationX>
        <locationY>531</locationY>
        <assignmentItems>
            <assignToReference>Owner_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Id_Over_2000_Indirect</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Business_Group</name>
        <label>Check Business Group</label>
        <locationX>42</locationX>
        <locationY>795</locationY>
        <defaultConnector>
            <targetReference>Territory_Theater</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Core - Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MSP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Business_Group</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MSP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PSM</targetReference>
            </connector>
            <label>MSP</label>
        </rules>
        <rules>
            <name>Sonian</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Business_Group</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sonian</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_IS_Sonian</targetReference>
            </connector>
            <label>Sonian</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Unit_Test</name>
        <label>Check Unit Test</label>
        <locationX>42</locationX>
        <locationY>188</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Unit_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsUnitTest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Territory</targetReference>
            </connector>
            <label>Not Unit Test</label>
        </rules>
    </decisions>
    <decisions>
        <name>Direct_vs_Indirect</name>
        <label>Direct vs. Indirect</label>
        <locationX>384</locationX>
        <locationY>321</locationY>
        <defaultConnector>
            <targetReference>Get_Over_2000_Indirect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Indirect &amp; Amt =&gt; $2000 Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Direct_Under_3000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Distributor_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reseller_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Under_3000_Direct</targetReference>
            </connector>
            <label>Direct &amp; Amt &lt; $3000</label>
        </rules>
        <rules>
            <name>Direct_Over_3000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Distributor_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reseller_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Over_3000_Direct</targetReference>
            </connector>
            <label>Direct &amp; Amt =&gt; $3000</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exists_All</name>
        <label>Exists All</label>
        <locationX>749</locationX>
        <locationY>677</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Exists_All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Id_All</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_All</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exists_IS_Sonian</name>
        <label>Exists IS Sonian</label>
        <locationX>1041</locationX>
        <locationY>840</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Exists_IS_Sonian</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Id_Sonian</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_IS_Sonian</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exists_Over_2000_Indirect</name>
        <label>Exists Over 2000 Indirect</label>
        <locationX>916</locationX>
        <locationY>570</locationY>
        <defaultConnector>
            <targetReference>Get_All_Renewal_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Exists_Over_2000_Indirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Id_Over_2000_Indirect</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Under_3000_Indirect</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exists_Over_3000_Direct</name>
        <label>Exists Over 3000 Direct</label>
        <locationX>770</locationX>
        <locationY>472</locationY>
        <defaultConnector>
            <targetReference>Get_All_Renewal_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Exists_Over_3000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Id_Over_3000_Direct</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Over_3000_Direct</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exists_PSM</name>
        <label>Exists PSM</label>
        <locationX>866</locationX>
        <locationY>760</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Exists_PSM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Id_PSM</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PSM</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exists_Under_1500</name>
        <label>Exists Under 1500</label>
        <locationX>736</locationX>
        <locationY>33</locationY>
        <defaultConnector>
            <targetReference>Get_Under_2000</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Exists_Under_1500</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Id_Under_1500</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Under_1500</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exists_Under_2000</name>
        <label>Exists Under 2000</label>
        <locationX>654</locationX>
        <locationY>181</locationY>
        <defaultConnector>
            <targetReference>Direct_vs_Indirect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Exists_Under_2000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Id_Under_2000</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Under_2000</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exists_Under_3000_Direct</name>
        <label>Exists Under 3000 Direct</label>
        <locationX>885</locationX>
        <locationY>354</locationY>
        <defaultConnector>
            <targetReference>Get_Over_3000_Direct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Exists_Under_3000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Id_Under_3000_Direct</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Under_3000_Direct</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Swim_Lane</name>
        <label>Swim Lane</label>
        <locationX>180</locationX>
        <locationY>260</locationY>
        <defaultConnector>
            <targetReference>Direct_vs_Indirect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Amt =&gt; $2000 - Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Under_1500</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1500.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Under_1500</targetReference>
            </connector>
            <label>Amt &lt; $1500</label>
        </rules>
        <rules>
            <name>Under_2000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>2000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1500.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Under_2000</targetReference>
            </connector>
            <label>$1500 =&gt; Amt &lt; $2000</label>
        </rules>
    </decisions>
    <decisions>
        <name>Territory_Exists</name>
        <label>Territory Exists</label>
        <locationX>42</locationX>
        <locationY>621</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Territory_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Territory_Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Business_Group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Territory_Theater</name>
        <label>Territory Theater</label>
        <locationX>230</locationX>
        <locationY>631</locationY>
        <defaultConnector>
            <targetReference>Swim_Lane</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AMERICAS - Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EMEA_or_APAC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Terr_Theater</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Terr_Theater</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Renewal_User</targetReference>
            </connector>
            <label>EMEA or APAC</label>
        </rules>
    </decisions>
    <description>Called from PB: Opportunity Management - Create/Edit used to update ownership of Opportunities</description>
    <interviewLabel>Ownership Management - Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ownership Management - Opportunities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Territory</name>
        <label>Get Territory</label>
        <locationX>50</locationX>
        <locationY>357</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Territory_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </filters>
        <object>ObjectTerritory2Association</object>
        <outputAssignments>
            <assignToReference>Territory_Id</assignToReference>
            <field>Territory2Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Territory_Users</name>
        <label>Get Territory Users</label>
        <locationX>50</locationX>
        <locationY>496</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Territory_Exists</targetReference>
        </connector>
        <filterLogic>1 AND 10 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9)</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewals</stringValue>
            </value>
        </filters>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewals Over 2000 Indirect</stringValue>
            </value>
        </filters>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewals Over 3000 Direct</stringValue>
            </value>
        </filters>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewals Under 1500</stringValue>
            </value>
        </filters>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewals Under 2000</stringValue>
            </value>
        </filters>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewals Under 3000 Direct</stringValue>
            </value>
        </filters>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inside Sales - Sonian</stringValue>
            </value>
        </filters>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner Success Manager - MSP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Territory2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Territory_Id</elementReference>
            </value>
        </filters>
        <object>UserTerritory2Association</object>
        <outputReference>Renewal_Terr_User_Objs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserId</queriedFields>
        <queriedFields>RoleInTerritory2</queriedFields>
        <queriedFields>Territory2Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Owner</name>
        <label>Update Opportunity Owner</label>
        <locationX>1309</locationX>
        <locationY>117</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Oppty_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Owner_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Check_Unit_Test</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Get_All_Renewal_User</name>
        <label>Get All Renewal User</label>
        <locationX>506</locationX>
        <locationY>627</locationY>
        <connector>
            <targetReference>Exists_All</targetReference>
        </connector>
        <flowName>Check_User_Roles_in_Territories</flowName>
        <inputAssignments>
            <name>Obj_Collection</name>
            <value>
                <elementReference>Renewal_Terr_User_Objs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Query_Terr_Role</name>
            <value>
                <stringValue>Renewals</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>User_Id_All</assignToReference>
            <name>User_Id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_IS_Sonian</name>
        <label>Get IS Sonian</label>
        <locationX>421</locationX>
        <locationY>838</locationY>
        <connector>
            <targetReference>Exists_IS_Sonian</targetReference>
        </connector>
        <flowName>Check_User_Roles_in_Territories</flowName>
        <inputAssignments>
            <name>Obj_Collection</name>
            <value>
                <elementReference>Renewal_Terr_User_Objs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Query_Terr_Role</name>
            <value>
                <stringValue>Inside Sales - Sonian</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>User_Id_Sonian</assignToReference>
            <name>User_Id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Over_2000_Indirect</name>
        <label>Get Over $2000 Indirect</label>
        <locationX>393</locationX>
        <locationY>507</locationY>
        <connector>
            <targetReference>Exists_Over_2000_Indirect</targetReference>
        </connector>
        <flowName>Check_User_Roles_in_Territories</flowName>
        <inputAssignments>
            <name>Obj_Collection</name>
            <value>
                <elementReference>Renewal_Terr_User_Objs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Query_Terr_Role</name>
            <value>
                <stringValue>Renewals Over 2000 Indirect</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>User_Id_Over_2000_Indirect</assignToReference>
            <name>User_Id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Over_3000_Direct</name>
        <label>Get Over $3000 Direct</label>
        <locationX>634</locationX>
        <locationY>401</locationY>
        <connector>
            <targetReference>Exists_Over_3000_Direct</targetReference>
        </connector>
        <flowName>Check_User_Roles_in_Territories</flowName>
        <inputAssignments>
            <name>Obj_Collection</name>
            <value>
                <elementReference>Renewal_Terr_User_Objs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Query_Terr_Role</name>
            <value>
                <stringValue>Renewals Over 3000 Direct</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>User_Id_Over_3000_Direct</assignToReference>
            <name>User_Id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_PSM</name>
        <label>Get PSM</label>
        <locationX>420</locationX>
        <locationY>725</locationY>
        <connector>
            <targetReference>Exists_PSM</targetReference>
        </connector>
        <flowName>Check_User_Roles_in_Territories</flowName>
        <inputAssignments>
            <name>Obj_Collection</name>
            <value>
                <elementReference>Renewal_Terr_User_Objs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Query_Terr_Role</name>
            <value>
                <stringValue>Partner Success Manager - MSP</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>User_Id_PSM</assignToReference>
            <name>User_Id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Under_1500</name>
        <label>Get Under $1500</label>
        <locationX>236</locationX>
        <locationY>24</locationY>
        <connector>
            <targetReference>Exists_Under_1500</targetReference>
        </connector>
        <flowName>Check_User_Roles_in_Territories</flowName>
        <inputAssignments>
            <name>Obj_Collection</name>
            <value>
                <elementReference>Renewal_Terr_User_Objs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Query_Terr_Role</name>
            <value>
                <stringValue>Renewals Under 1500</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>User_Id_Under_1500</assignToReference>
            <name>User_Id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Under_2000</name>
        <label>Get Under $2000</label>
        <locationX>437</locationX>
        <locationY>110</locationY>
        <connector>
            <targetReference>Exists_Under_2000</targetReference>
        </connector>
        <flowName>Check_User_Roles_in_Territories</flowName>
        <inputAssignments>
            <name>Obj_Collection</name>
            <value>
                <elementReference>Renewal_Terr_User_Objs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Query_Terr_Role</name>
            <value>
                <stringValue>Renewals Under 2000</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>User_Id_Under_2000</assignToReference>
            <name>User_Id</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Under_3000_Direct</name>
        <label>Get Under $3000 Direct</label>
        <locationX>791</locationX>
        <locationY>263</locationY>
        <connector>
            <targetReference>Exists_Under_3000_Direct</targetReference>
        </connector>
        <flowName>Check_User_Roles_in_Territories</flowName>
        <inputAssignments>
            <name>Obj_Collection</name>
            <value>
                <elementReference>Renewal_Terr_User_Objs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Query_Terr_Role</name>
            <value>
                <stringValue>Renewals Under 3000 Direct</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>User_Id_Under_3000_Direct</assignToReference>
            <name>User_Id</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Amount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Business_Group</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Distributor_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>IsUnitTest</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Oppty_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Owner_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Renewal_Terr_User_Objs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserTerritory2Association</objectType>
    </variables>
    <variables>
        <name>Reseller_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Terr_Theater</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Territory_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>User_Id_All</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>User_Id_Over_2000_Indirect</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>User_Id_Over_3000_Direct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>User_Id_PSM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>User_Id_Sonian</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>User_Id_Under_1500</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>User_Id_Under_2000</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>User_Id_Under_3000_Direct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
