force-app/main/default/flows/Ownership_Management_Partners_MSP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Michel_Calouri</name>
        <label>Assign Michel Calouri</label>
        <locationX>59</locationX>
        <locationY>527</locationY>
        <assignmentItems>
            <assignToReference>AccountOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User_Id_MichelCalouri</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_MSP_PDM</name>
        <label>Assign MSP-PDM</label>
        <locationX>1444</locationX>
        <locationY>814</locationY>
        <assignmentItems>
            <assignToReference>AccountOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MSP_PDM_UserId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_MSP_PDM21</name>
        <label>Assign MSP-PDM21</label>
        <locationX>1483</locationX>
        <locationY>459</locationY>
        <assignmentItems>
            <assignToReference>AccountOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MSP_PDM_21_UserId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_MSP_PDM_20</name>
        <label>Assign MSP-PDM 20</label>
        <locationX>1349</locationX>
        <locationY>331</locationY>
        <assignmentItems>
            <assignToReference>AccountOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MSP_PDM20_UserId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_MSP_PDM_Director</name>
        <label>Assign MSP-PDM Director</label>
        <locationX>1595</locationX>
        <locationY>594</locationY>
        <assignmentItems>
            <assignToReference>AccountOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MSP_PDM_Director_UserId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_MSP_PDM_SSP</name>
        <label>Assign MSP PDM SSP</label>
        <locationX>1064</locationX>
        <locationY>573</locationY>
        <assignmentItems>
            <assignToReference>AccountOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MSP_PDM_SSP_UserId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_MSP_RAD</name>
        <label>Assign MSP RAD</label>
        <locationX>1527</locationX>
        <locationY>899</locationY>
        <assignmentItems>
            <assignToReference>AccountOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MSP_RAD_UserId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_MSP_RAD_Director</name>
        <label>Assign MSP RAD Director</label>
        <locationX>1343</locationX>
        <locationY>72</locationY>
        <assignmentItems>
            <assignToReference>AccountOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MSP_RAD_Director_UserId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_MSP_RAD_Emerging</name>
        <label>Assign MSP RAD Emerging</label>
        <locationX>1592</locationX>
        <locationY>1021</locationY>
        <assignmentItems>
            <assignToReference>AccountOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MSP_RAD_Emerging_UserId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_MSP_RAD_Hybrid</name>
        <label>Assign MSP-RAD Hybrid</label>
        <locationX>1471</locationX>
        <locationY>598</locationY>
        <assignmentItems>
            <assignToReference>AccountOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MSP_RAD_Hybrid_UserId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_MSP_RAD_Lead</name>
        <label>Assign MSP_RAD Lead</label>
        <locationX>1854</locationX>
        <locationY>780</locationY>
        <assignmentItems>
            <assignToReference>AccountOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MSP_RAD_Lead_UserId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_MSP_RAD_NAMED</name>
        <label>Assign MSP RAD NAMED</label>
        <locationX>773</locationX>
        <locationY>41</locationY>
        <assignmentItems>
            <assignToReference>AccountOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MSP_RAD_NAMED_UserId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_MSP_Theater_VP</name>
        <label>Assign MSP - Theater VP</label>
        <locationX>199</locationX>
        <locationY>707</locationY>
        <assignmentItems>
            <assignToReference>AccountOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MSP_Theater_VP_UserId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>End_the_Flow</name>
        <label>End the Flow</label>
        <locationX>809</locationX>
        <locationY>217</locationY>
        <assignmentItems>
            <assignToReference>Text_End_Flow</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>AccountStatus</name>
        <label>AccountStatus</label>
        <locationX>346</locationX>
        <locationY>330</locationY>
        <defaultConnector>
            <targetReference>End_the_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MSP_AMERICAS_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMERICAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_PDM_SSP</targetReference>
            </connector>
            <label>MSP AMERICAS Cancelled</label>
        </rules>
        <rules>
            <name>NOT_AMERICAS_Active_Credit_Hold</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5 AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMBARGO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Region2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>FRANCE - REGION</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Sub_Theater2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>BENELUX - NORDICS - SUB THEATER</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Sub_Theater2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>DACH - SUB THEATER</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Sub_Theater2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>UK-IRL - SUB THEATER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_RAD_Hybrid</targetReference>
            </connector>
            <label>NOT AMERICAS Active/Credit Hold</label>
        </rules>
        <rules>
            <name>FRANCE</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Region2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FRANCE - REGION</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_RAD_Hybrid</targetReference>
            </connector>
            <label>FRANCE</label>
        </rules>
        <rules>
            <name>DACH_NewtoMSP_greaterthan_180_Infinigate</name>
            <conditionLogic>(1 OR 8) AND 2 AND 3 AND (4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>Account_New_To_MSP</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Six_Months_Ago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Billing_Aggregator</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Sub_Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DACH - SUB THEATER</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Billing_Aggregator</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001f200001zWFgwAAG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Billing_Aggregator</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001f20000225nKtAAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Billing_Aggregator</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0015x000029AwG9AAK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Billing_Aggregator</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001f20000225zd0AAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_New_To_MSP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_PDM_21</targetReference>
            </connector>
            <label>DACH NewtoMSP&gt;180 Infinigate</label>
        </rules>
        <rules>
            <name>DACH_NewtoMSP_greaterthan_180_NOTInfinigate</name>
            <conditionLogic>4 AND (1 OR 8) AND (2 OR (3 AND 5 AND 6 AND 7))</conditionLogic>
            <conditions>
                <leftValueReference>Account_New_To_MSP</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Six_Months_Ago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Billing_Aggregator</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Billing_Aggregator</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>001f20000225zd0AAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Sub_Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DACH - SUB THEATER</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Billing_Aggregator</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>001f200001zWFgwAAG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Billing_Aggregator</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>001f20000225nKtAAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Billing_Aggregator</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0015x000029AwG9AAK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_New_To_MSP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_PDM</targetReference>
            </connector>
            <label>DACH NewtoMSP&gt;180 NOT Infinigate</label>
        </rules>
        <rules>
            <name>DACH_NewtoMSP_Lessthan180</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_New_To_MSP</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Six_Months_Ago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Sub_Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DACH - SUB THEATER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_RAD</targetReference>
            </connector>
            <label>DACH NewtoMSP&lt;=180</label>
        </rules>
        <rules>
            <name>MSP_AMERICAS_LATAM_20_greaterthan_60_Days</name>
            <conditionLogic>(1 OR 5 OR 6) AND (7 OR 2) AND (4 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Account_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountEmployees</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_New_To_MSP</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Sixty_Days_Ago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_New_To_MSP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountEmployees</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_lessthan_equal_20_AND_greaterthan_60</targetReference>
            </connector>
            <label>NumberofEmployees &lt;=20 greaterthan 60 Days</label>
        </rules>
        <rules>
            <name>MSP_AMERICAS_LATAM_20_Lessthan_60_Days</name>
            <conditionLogic>(1 OR 4 OR 6) AND (2 OR 7) AND 3 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>Account_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountEmployees</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_New_To_MSP</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Sixty_Days_Ago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_New_To_MSP</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Six_Months_Ago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountEmployees</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_lessthan_equal_20_AND_Lessthan_60</targetReference>
            </connector>
            <label>NumberofEmployees &lt;=20 Lessthan 60 Days</label>
        </rules>
        <rules>
            <name>NumberofEmployees_20_greaterthan_6_months</name>
            <conditionLogic>(1 OR 2 OR 5) AND 3 AND (4 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>Account_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountEmployees</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_New_To_MSP</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Six_Months_Ago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_New_To_MSP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_greater_than_20_AND_greaterthan_180</targetReference>
            </connector>
            <label>NumberofEmployees &gt;20 greaterthan 6 months</label>
        </rules>
        <rules>
            <name>NumberofEmployees_20_Lessthan_6_months</name>
            <conditionLogic>(1 OR 2 OR 5) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Account_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountEmployees</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_New_To_MSP</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Six_Months_Ago</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_greater_than_20_AND_Lessthanequal_180</targetReference>
            </connector>
            <label>NumberofEmployees &gt;20 Lessthan 6 months</label>
        </rules>
        <rules>
            <name>NOT_AMERICAS_Prospect_Cancelled_greaterthan_20</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMBARGO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountEmployees</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_PDM_21</targetReference>
            </connector>
            <label>NOT AMERICAS Prospect / Cancelled &gt;20</label>
        </rules>
        <rules>
            <name>NOT_AMERICAS_Prospect_Cancelled_Lessthan_20</name>
            <conditionLogic>(1 OR 2 OR 3) AND (4 OR 6) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMBARGO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountEmployees</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountEmployees</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_PDM_20</targetReference>
            </connector>
            <label>NOT AMERICAS Prospect / Cancelled &lt;=20</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_greater_than_20_AND_greaterthan_180</name>
        <label>Check greater than 20 AND greaterthan 180</label>
        <locationX>746</locationX>
        <locationY>1046</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LATAM_greaterthan20_greaterthan180</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Sub_Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LATAM - SUB THEATER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_PDM</targetReference>
            </connector>
            <label>LATAM &gt;20&amp;&gt;180</label>
        </rules>
        <rules>
            <name>CANADA_greaterthan20_greaterthan180</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Sub_Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CANADA - SUB THEATER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_PDM_21</targetReference>
            </connector>
            <label>CANADA &gt;20&amp;&gt;180</label>
        </rules>
        <rules>
            <name>AMERICAS_greaterthan20_greaterthan180</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMERICAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Sub_Theater2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>LATAM - SUB THEATER</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Sub_Theater2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CANADA - SUB THEATER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_PDM_21</targetReference>
            </connector>
            <label>AMERICAS &gt;20&amp;&gt;180</label>
        </rules>
        <rules>
            <name>UK_IRL_greaterthan20_greaterthan180_Blank_Billingagg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Sub_Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK-IRL - SUB THEATER</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Billing_Aggregator</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_PDM_SSP</targetReference>
            </connector>
            <label>UK-IRL &gt;20&amp;&gt;180 Blank Billingagg</label>
        </rules>
        <rules>
            <name>BENELUX_greaterthan20_greaterthan180</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Sub_Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BENELUX - NORDICS - SUB THEATER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_PDM_21</targetReference>
            </connector>
            <label>BENELUX&gt;20&amp;&gt;180</label>
        </rules>
        <rules>
            <name>UK_IRL_greaterthan20_greaterthan180_CMSorInty_Billingagg</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Sub_Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK-IRL - SUB THEATER</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Billing_Aggregator</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Billing_Aggregator</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0015x00002Jx1J6AAJ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Billing_Aggregator</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001f200001vgKLQAA2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Billing_Aggregator</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0015x000029hwsmAAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_PDM_20</targetReference>
            </connector>
            <label>UK-IRL &gt;20&amp;&gt;180 CMSorInty Billingagg</label>
        </rules>
        <rules>
            <name>UK_IRL_greaterthan20_greaterthan180_NOTBlank_Billingagg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Sub_Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK-IRL - SUB THEATER</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Billing_Aggregator</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Billing_Aggregator</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0015x000029hwsmAAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Billing_Aggregator</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0015x00002Jx1J6AAJ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Billing_Aggregator</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>001f200001vgKLQAA2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_PDM_21</targetReference>
            </connector>
            <label>UK-IRL &gt;20&amp;&gt;180 NOTBlank Billingagg</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_greater_than_20_AND_Lessthanequal_180</name>
        <label>Check greater than 20 AND lessthanequal 180</label>
        <locationX>836</locationX>
        <locationY>1120</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LATAM_greaterthan20_Lessthanequal180</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Sub_Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LATAM - SUB THEATER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_RAD</targetReference>
            </connector>
            <label>LATAM &gt;20&amp;&lt;=180</label>
        </rules>
        <rules>
            <name>CANADA_greaterthan20_Lessthanequal180</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Sub_Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CANADA - SUB THEATER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_RAD</targetReference>
            </connector>
            <label>CANADA &gt;20&amp;&lt;=180</label>
        </rules>
        <rules>
            <name>AMERICAS_greaterthan20_Lessthanequal180</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMERICAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Sub_Theater2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>LATAM - SUB THEATER</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Sub_Theater2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CANADA - SUB THEATER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_RAD_NAMED</targetReference>
            </connector>
            <label>AMERICAS &gt;20&amp;&lt;=180</label>
        </rules>
        <rules>
            <name>UK_IRL_greaterthan20_Lessthanequal180</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Sub_Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK-IRL - SUB THEATER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_RAD_Emerging</targetReference>
            </connector>
            <label>UK-IRL &gt;20&amp;&lt;=180</label>
        </rules>
        <rules>
            <name>BENELUX_greaterthan20_Lessthanequal180</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Sub_Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BENELUX - NORDICS - SUB THEATER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_RAD</targetReference>
            </connector>
            <label>BENELUX &gt;20&amp;&lt;=180</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_lessthan_equal_20_AND_greaterthan_60</name>
        <label>Check lessthan equal 20 AND greaterthan 60</label>
        <locationX>867</locationX>
        <locationY>788</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LATAM_Lessthan20_greaterthan60</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Sub_Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LATAM - SUB THEATER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_PDM</targetReference>
            </connector>
            <label>LATAM &lt;=20&amp;&gt;60</label>
        </rules>
        <rules>
            <name>CANADA_Lessthan20_greaterthan60</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Sub_Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CANADA - SUB THEATER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_PDM_20</targetReference>
            </connector>
            <label>CANADA &lt;=20&amp;&gt;60</label>
        </rules>
        <rules>
            <name>AMERICAS_Lessthan20_greaterthan60</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMERICAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Sub_Theater2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>LATAM - SUB THEATER</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Sub_Theater2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CANADA - SUB THEATER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_PDM_20</targetReference>
            </connector>
            <label>AMERICAS &lt;=20&amp;&gt;60</label>
        </rules>
        <rules>
            <name>UK_IRL_Lessthan20_greaterthan60</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Sub_Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK-IRL - SUB THEATER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_PDM_20</targetReference>
            </connector>
            <label>UK-IRL &lt;=20&amp;&gt;60</label>
        </rules>
        <rules>
            <name>BENELUX_NORDICS_Lessthan20_greaterthan60_ggregator_blank</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Sub_Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BENELUX - NORDICS - SUB THEATER</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Billing_Aggregator</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Billing_Aggregator</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_PDM_20</targetReference>
            </connector>
            <label>BENELUX - NORDICS &lt;=20&amp;&gt;60 aggregator blank</label>
        </rules>
        <rules>
            <name>BENELUX_NORDICS_20_60_aggregator_NOTblank</name>
            <conditionLogic>1 AND (3 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Sub_Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BENELUX - NORDICS - SUB THEATER</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Billing_Aggregator</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Billing_Aggregator</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_PDM_21</targetReference>
            </connector>
            <label>BENELUX - NORDICS &lt;=20&amp;&gt;60 aggregator NOTblank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_lessthan_equal_20_AND_Lessthan_60</name>
        <label>Check lessthan equal 20 AND Lessthan 60</label>
        <locationX>940</locationX>
        <locationY>908</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LATAM_Lessthanequal20_greaterthan60</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Sub_Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LATAM - SUB THEATER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_RAD</targetReference>
            </connector>
            <label>LATAM &lt;=20&amp;&lt;60</label>
        </rules>
        <rules>
            <name>CANADA_lessthanequal20_lessthan60</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Sub_Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CANADA - SUB THEATER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_RAD</targetReference>
            </connector>
            <label>CANADA &lt;=20&amp;&lt;60</label>
        </rules>
        <rules>
            <name>AMERICAS_lessthanequal20_lessthan60</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMERICAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Sub_Theater2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>LATAM - SUB THEATER</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Sub_Theater2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CANADA - SUB THEATER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_RAD_Emerging</targetReference>
            </connector>
            <label>AMERICAS &lt;=20&amp;&lt;60</label>
        </rules>
        <rules>
            <name>UK_IRL_Lessthanequal20_Lessthan60</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Sub_Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK-IRL - SUB THEATER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_RAD_Emerging</targetReference>
            </connector>
            <label>UK-IRL &lt;=20&amp;&lt;60</label>
        </rules>
        <rules>
            <name>BENELUX_NORDICS_Lessthanequal20_lessthan60_aggregator_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Territory2_Obj_from_flow.Sub_Theater2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BENELUX - NORDICS - SUB THEATER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_RAD</targetReference>
            </connector>
            <label>BENELUX - NORDICS &lt;=20&amp;&lt;60 aggregator blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Michel_Calouri_Exists</name>
        <label>Check Michel Calouri Exists</label>
        <locationX>50</locationX>
        <locationY>318</locationY>
        <defaultConnector>
            <targetReference>Get_MSP_Theater_VP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Michel_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Id_MichelCalouri</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Michel_Calouri</targetReference>
            </connector>
            <label>Yes Michel Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_MSP_PDM_20_Exists</name>
        <label>Check MSP-PDM 20 Exists</label>
        <locationX>1125</locationX>
        <locationY>222</locationY>
        <defaultConnector>
            <targetReference>Get_MSP_PDM_Director</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_MSP_PDM20_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MSP_PDM20_UserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MSP_PDM_20</targetReference>
            </connector>
            <label>Yes MSP-PDM20 Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_MSP_PDM_21_Exists</name>
        <label>Check MSP - PDM 21 Exists</label>
        <locationX>924</locationX>
        <locationY>366</locationY>
        <defaultConnector>
            <targetReference>Get_MSP_PDM_Director</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_MSP_PDM_21_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MSP_PDM_21_UserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MSP_PDM21</targetReference>
            </connector>
            <label>Yes MSP - PDM 21 Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_MSP_PDM_Director_Exists</name>
        <label>Check MSP-PDM Director Exists</label>
        <locationX>1597</locationX>
        <locationY>401</locationY>
        <defaultConnector>
            <targetReference>Get_MSP_PDM_SSP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_MSP_PDM_Director_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MSP_PDM_Director_UserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MSP_PDM_Director</targetReference>
            </connector>
            <label>Yes MSP-PDM Director Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_MSP_PDM_Exists</name>
        <label>Check MSP-PDM Exists</label>
        <locationX>1155</locationX>
        <locationY>757</locationY>
        <defaultConnector>
            <targetReference>Get_MSP_PDM_Director</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_MSP_PDM_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MSP_PDM_UserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MSP_PDM</targetReference>
            </connector>
            <label>Yes MSP-PDM Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_MSP_PDM_SSP_Exists</name>
        <label>Check MSP PDM&amp;SSP Exists</label>
        <locationX>665</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Get_MSP_Theater_VP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_MSP_PDM_SSP_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MSP_PDM_SSP_UserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MSP_PDM_SSP</targetReference>
            </connector>
            <label>Yes MSP PDM SSP Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_MSP_RAD_Director_Exists</name>
        <label>Check MSP RAD Director Exists</label>
        <locationX>1066</locationX>
        <locationY>7</locationY>
        <defaultConnector>
            <targetReference>Get_MSP_Theater_VP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_RAD_Director_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MSP_RAD_Director_UserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MSP_RAD_Director</targetReference>
            </connector>
            <label>Yes RAD Director Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_MSP_RAD_Emerging_Exists</name>
        <label>Check MSP RAD Emerging Exists</label>
        <locationX>1287</locationX>
        <locationY>1025</locationY>
        <defaultConnector>
            <targetReference>Get_MSP_RAD_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_MSP_RAD_Emerging_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MSP_RAD_Emerging_UserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MSP_RAD_Emerging</targetReference>
            </connector>
            <label>Yes MSP RAD Emerging Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_MSP_RAD_Exists</name>
        <label>Check MSP RAD Exists</label>
        <locationX>1264</locationX>
        <locationY>915</locationY>
        <defaultConnector>
            <targetReference>Get_MSP_RAD_Director</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_MSP_RAD_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MSP_RAD_UserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MSP_RAD</targetReference>
            </connector>
            <label>Yes MSP RAD Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_MSP_RAD_Hybrid_Exists</name>
        <label>Check MSP-RAD Hybrid Exists</label>
        <locationX>1241</locationX>
        <locationY>642</locationY>
        <defaultConnector>
            <targetReference>Get_MSP_RAD_Director</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_MSP_RAD_Hybrid_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MSP_RAD_Hybrid_UserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MSP_RAD_Hybrid</targetReference>
            </connector>
            <label>Yes MSP-RAD Hybrid Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_MSP_RAD_Lead_Exists</name>
        <label>Check MSP RAD Lead Exists</label>
        <locationX>1704</locationX>
        <locationY>781</locationY>
        <defaultConnector>
            <targetReference>Get_MSP_RAD_Director</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_MSP_RAD_Lead_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MSP_RAD_Lead_UserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MSP_RAD_Lead</targetReference>
            </connector>
            <label>Yes MSP RAD Lead Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_MSP_RAD_NAMED_Exists</name>
        <label>Check MSP-RAD NAMED Exists</label>
        <locationX>525</locationX>
        <locationY>146</locationY>
        <defaultConnector>
            <targetReference>Get_MSP_RAD_Director</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_MSP_RAD_NAMED_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MSP_RAD_NAMED_UserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MSP_RAD_NAMED</targetReference>
            </connector>
            <label>Yes MSP RAD NAMED Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PartnerType</name>
        <label>Check PartnerType</label>
        <locationX>198</locationX>
        <locationY>209</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Distributor_MSP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PartnerType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distributor - MSP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_Theater_VP</targetReference>
            </connector>
            <label>Distributor - MSP</label>
        </rules>
        <rules>
            <name>Partner_is_Sonian</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PartnerType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner - Sonian</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Michel_Calouri</targetReference>
            </connector>
            <label>Partner is Sonian</label>
        </rules>
        <rules>
            <name>Partner_is_MSP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PartnerType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner - MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NamedAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountStatus</targetReference>
            </connector>
            <label>Partner is MSP</label>
        </rules>
        <rules>
            <name>NAMED_MSP_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NamedAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PartnerType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner - MSP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_MSP_RAD_NAMED</targetReference>
            </connector>
            <label>NAMED MSP Partner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exists_MSP_Theater_VP</name>
        <label>Exists MSP - Theater VP</label>
        <locationX>177</locationX>
        <locationY>512</locationY>
        <defaultConnector>
            <targetReference>End_the_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MSP_Theater_VP_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MSP_Theater_VP_UserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MSP_Theater_VP</targetReference>
            </connector>
            <label>MSP - Theater VP Exists</label>
        </rules>
    </decisions>
    <description>This flow is called from the Ownership Management - Partners flow. This flow will have only MSP, Sonian logic.</description>
    <environments>Default</environments>
    <formulas>
        <name>Six_Months_Ago</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-182</expression>
    </formulas>
    <formulas>
        <name>Sixty_Days_Ago</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-60</expression>
    </formulas>
    <interviewLabel>Ownership Management - Partners MSP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ownership Management - Partners MSP&amp;SONIAN</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Michel_Calouri</name>
        <label>Get Michel Calouri</label>
        <locationX>60</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Michel_Calouri_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>mcaluori@barracuda.com</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsPortalEnabled</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>User_Id_MichelCalouri</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_MSP_PDM</name>
        <label>Get MSP-PDM</label>
        <locationX>1047</locationX>
        <locationY>741</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_MSP_PDM_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MSP - PDM</stringValue>
            </value>
        </filters>
        <filters>
            <field>Territory2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TerritoryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>UserTerritory2Association</object>
        <outputAssignments>
            <assignToReference>MSP_PDM_UserId</assignToReference>
            <field>UserId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_MSP_PDM_20</name>
        <label>Get MSP-PDM 20</label>
        <locationX>1073</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_MSP_PDM_20_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MSP - PDM 20</stringValue>
            </value>
        </filters>
        <filters>
            <field>Territory2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TerritoryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>UserTerritory2Association</object>
        <outputAssignments>
            <assignToReference>MSP_PDM20_UserId</assignToReference>
            <field>UserId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_MSP_PDM_21</name>
        <label>Get MSP - PDM 21</label>
        <locationX>836</locationX>
        <locationY>356</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_MSP_PDM_21_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MSP - PDM 21</stringValue>
            </value>
        </filters>
        <filters>
            <field>Territory2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TerritoryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>UserTerritory2Association</object>
        <outputAssignments>
            <assignToReference>MSP_PDM_21_UserId</assignToReference>
            <field>UserId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_MSP_PDM_Director</name>
        <label>Get MSP-PDM Director</label>
        <locationX>1435</locationX>
        <locationY>245</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_MSP_PDM_Director_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MSP - PDM Director</stringValue>
            </value>
        </filters>
        <filters>
            <field>Territory2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TerritoryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>UserTerritory2Association</object>
        <outputAssignments>
            <assignToReference>MSP_PDM_Director_UserId</assignToReference>
            <field>UserId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_MSP_PDM_SSP</name>
        <label>Get MSP - PDM &amp; SSP</label>
        <locationX>777</locationX>
        <locationY>485</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_MSP_PDM_SSP_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MSP - PDM &amp; SSP</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Territory2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TerritoryId</elementReference>
            </value>
        </filters>
        <object>UserTerritory2Association</object>
        <outputAssignments>
            <assignToReference>MSP_PDM_SSP_UserId</assignToReference>
            <field>UserId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_MSP_RAD</name>
        <label>Get MSP-RAD</label>
        <locationX>1190</locationX>
        <locationY>875</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_MSP_RAD_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MSP - RAD</stringValue>
            </value>
        </filters>
        <filters>
            <field>Territory2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TerritoryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>UserTerritory2Association</object>
        <outputAssignments>
            <assignToReference>MSP_RAD_UserId</assignToReference>
            <field>UserId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_MSP_RAD_Director</name>
        <label>Get MSP - RAD Director</label>
        <locationX>884</locationX>
        <locationY>135</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_MSP_RAD_Director_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MSP - RAD Director</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Territory2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TerritoryId</elementReference>
            </value>
        </filters>
        <object>UserTerritory2Association</object>
        <outputAssignments>
            <assignToReference>MSP_RAD_Director_UserId</assignToReference>
            <field>UserId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_MSP_RAD_Emerging</name>
        <label>Get MSP-RAD Emerging</label>
        <locationX>1139</locationX>
        <locationY>1023</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_MSP_RAD_Emerging_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MSP - RAD Emerging</stringValue>
            </value>
        </filters>
        <filters>
            <field>Territory2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TerritoryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>UserTerritory2Association</object>
        <outputAssignments>
            <assignToReference>MSP_RAD_Emerging_UserId</assignToReference>
            <field>UserId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_MSP_RAD_Hybrid</name>
        <label>Get MSP-RAD Hybrid</label>
        <locationX>1131</locationX>
        <locationY>546</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_MSP_RAD_Hybrid_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MSP - RAD Hybrid</stringValue>
            </value>
        </filters>
        <filters>
            <field>Territory2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TerritoryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>UserTerritory2Association</object>
        <outputAssignments>
            <assignToReference>MSP_RAD_Hybrid_UserId</assignToReference>
            <field>UserId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_MSP_RAD_Lead</name>
        <label>Get MSP-RAD Lead</label>
        <locationX>1609</locationX>
        <locationY>779</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_MSP_RAD_Lead_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MSP - RAD Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Territory2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TerritoryId</elementReference>
            </value>
        </filters>
        <object>UserTerritory2Association</object>
        <outputAssignments>
            <assignToReference>MSP_RAD_Lead_UserId</assignToReference>
            <field>UserId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_MSP_RAD_NAMED</name>
        <label>Get MSP - RAD NAMED</label>
        <locationX>439</locationX>
        <locationY>143</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_MSP_RAD_NAMED_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Territory2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TerritoryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MSP - RAD Named</stringValue>
            </value>
        </filters>
        <object>UserTerritory2Association</object>
        <outputAssignments>
            <assignToReference>MSP_RAD_NAMED_UserId</assignToReference>
            <field>UserId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_MSP_Theater_VP</name>
        <label>Get MSP - Theater VP</label>
        <locationX>205</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exists_MSP_Theater_VP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MSP - Theater VP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Territory2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TerritoryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>UserTerritory2Association</object>
        <outputAssignments>
            <assignToReference>MSP_Theater_VP_UserId</assignToReference>
            <field>UserId</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>81</locationX>
        <locationY>74</locationY>
        <connector>
            <targetReference>Check_PartnerType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account_New_To_MSP</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Account_Status</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountEmployees</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Billing_Aggregator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MSP_PDM20_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MSP_PDM_21_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MSP_PDM_Director_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MSP_PDM_SSP_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MSP_PDM_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MSP_RAD_Director_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MSP_RAD_Emerging_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MSP_RAD_Hybrid_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MSP_RAD_Lead_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MSP_RAD_NAMED_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MSP_RAD_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MSP_Theater_VP_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NamedAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberofEmployees</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PartnerType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Territory2_Obj_from_flow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Territory2</objectType>
    </variables>
    <variables>
        <name>TerritoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Text_End_Flow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User_Id_MichelCalouri</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
