force-app/main/default/flows/Pick_Product_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AssignedSerailAssignment_Lst</name>
        <label>AssignedSerailAssignment_Lst</label>
        <locationX>1131</locationX>
        <locationY>517</locationY>
        <assignmentItems>
            <assignToReference>FinalAssignedSerialList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SerialLoop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignedSerailMatchFound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignedSerailMatchFound</name>
        <label>AssignedSerailMatchFound</label>
        <locationX>992</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>PreviousPickProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SerialLoop.Subscription_Name_Pick_Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SerialLoop</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>AssignedSerialSort</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>AssignedSerialSort</label>
        <locationX>410</locationX>
        <locationY>269</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>AssignedSerialList</collectionReference>
        <connector>
            <targetReference>SerialLoop</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Subscription_Name_Pick_Product__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>AssignedSerialCheck</name>
        <label>AssignedSerialCheck</label>
        <locationX>991</locationX>
        <locationY>258</locationY>
        <defaultConnector>
            <targetReference>AssignedSerailAssignment_Lst</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SerialLoop.Subscription_Name_Pick_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PreviousPickProduct</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignedSerailMatchFound</targetReference>
            </connector>
            <label>Same?</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AssignedSerialFinalList</name>
        <collectionReference>FinalAssignedSerialList</collectionReference>
        <dataType>String</dataType>
        <displayField>Subscription_Name_Pick_Product__c</displayField>
        <object>Assigned_Serial__c</object>
        <valueField>Subscription_Name_Pick_Product__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Pick Product Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pick Product Active Subscriptions</label>
    <loops>
        <name>SerialLoop</name>
        <label>SerialLoop</label>
        <locationX>607</locationX>
        <locationY>266</locationY>
        <collectionReference>AssignedSerialList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignedSerialCheck</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Pick_Product_Selection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>AssignedSerialList</name>
        <label>AssignedSerialList</label>
        <locationX>228</locationX>
        <locationY>269</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignedSerialSort</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Serial__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serialID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subscription_End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Assigned_Serial__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>1222</locationX>
        <locationY>78</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pick_Product_only_if_Essentials__c</field>
            <value>
                <elementReference>PickProduct</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Pick_Product_Selection</name>
        <label>Pick Product Active Subscriptions</label>
        <locationX>875</locationX>
        <locationY>76</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <fields>
            <name>AssignedSerailEmptyCheck</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 15px; font-family: Slack-Lato, appleLogo, sans-serif; color: rgb(255, 13, 0);&quot;&gt;No active subscriptions, select pick product manually&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ProductCount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PickProduct</name>
            <choiceReferences>AssignedSerialFinalList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pick Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ProductCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p&gt;Email Protection Pick Product Naming Convention:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;(Former &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Saas Product Names&lt;/span&gt;)&amp;nbsp;as &lt;span style=&quot;color: rgb(51, 140, 101);&quot;&gt;(&lt;/span&gt;&lt;b style=&quot;color: rgb(51, 140, 101);&quot;&gt;New &lt;/b&gt;&lt;b style=&quot;color: rgb(51, 140, 101); background-color: rgb(255, 255, 255);&quot;&gt;Saas Product Names&lt;/b&gt;&lt;span style=&quot;color: rgb(51, 140, 101);&quot;&gt;)&lt;/span&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;(Used in)&lt;/p&gt;&lt;p&gt;&apos;Email Security Services&apos;&amp;nbsp;  as &apos;&lt;b style=&quot;color: rgb(51, 140, 101);&quot;&gt;Email Gateway Defense&lt;/b&gt;&apos;   (New Orders &amp;amp; Renewals)&lt;/p&gt;&lt;p&gt;&apos;Email Security Services&apos;&amp;nbsp;  as&amp;nbsp;&lt;b style=&quot;color: rgb(51, 140, 101);&quot;&gt;&apos;Email Security Services&apos;&amp;nbsp;  &lt;/b&gt;(Professional Service Bundles)&lt;/p&gt;&lt;p&gt;&apos;Cloud Archiving Service&apos;&amp;nbsp;as&amp;nbsp;&lt;b style=&quot;color: rgb(51, 140, 101);&quot;&gt;&apos;Cloud Archiving Service&apos;&amp;nbsp;&lt;/b&gt;&amp;nbsp;&amp;nbsp;(New Orders &amp;amp; Renewals, Pro Svc Bundles)  &lt;/p&gt;&lt;p&gt;&apos;Cloud to Cloud Backup&apos;&amp;nbsp;as&amp;nbsp;&amp;nbsp;&lt;b style=&quot;color: rgb(51, 140, 101);&quot;&gt;&apos;Cloud to Cloud Backup&apos;&amp;nbsp;&lt;/b&gt;&amp;nbsp;(&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;New Orders &amp;amp; Renewals, Pro Svc Bundles)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&apos;Phishline&apos;                         as&amp;nbsp;&lt;b style=&quot;color: rgb(51, 140, 101);&quot;&gt;&apos;Security Awareness Training&apos;&lt;/b&gt;&amp;nbsp;&amp;nbsp;(New Orders &amp;amp; Renewals)&lt;/p&gt;&lt;p&gt;&apos;Phishline&apos;                         as&amp;nbsp;&amp;nbsp;&lt;b style=&quot;color: rgb(51, 140, 101);&quot;&gt;&apos;Phishline&apos;&lt;/b&gt; (Professional Service Bundles)&lt;/p&gt;&lt;p&gt;&apos;Content Shield&apos;                as&amp;nbsp;&lt;b style=&quot;color: rgb(51, 140, 101);&quot;&gt;&apos;Content Shield&apos;&amp;nbsp;&lt;/b&gt;(&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;New Orders &amp;amp; Renewals, Pro Svc Bundles)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&apos;Forensics&apos;                         as &lt;b style=&quot;color: rgb(51, 140, 101);&quot;&gt;&apos;Forensics&apos;&lt;/b&gt;&amp;nbsp;&amp;nbsp;(Professional Service Bundles)&lt;/p&gt;&lt;p&gt;&apos;Sentinel&apos;                           as &lt;b style=&quot;color: rgb(51, 140, 101);&quot;&gt;&apos;Sentinel&apos;&lt;/b&gt;&amp;nbsp;(Professional Service Bundles)&lt;/p&gt;&lt;p&gt;&apos;Data Inspector&apos;                 as &lt;b style=&quot;color: rgb(51, 140, 101);&quot;&gt;&apos;Data Inspector&apos;&lt;/b&gt;&amp;nbsp;(&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;New Orders &amp;amp; Renewals, Pro Svc Bundles)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ProductCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>AssignedSerialList</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalAssignedSerialList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Assigned_Serial__c</objectType>
    </variables>
    <variables>
        <name>PreviousPickProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>serialID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
