force-app/main/default/flows/Primary_Billing_Address_MSP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Bill_Address_on_Opp</name>
        <label>Assign Bill Address on Opp</label>
        <locationX>138</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>OpportunityRecord.Billing_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityRecord.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityRecord.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.State__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityRecord.Zip_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Zip_Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityRecord.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityRecord.Country_ISO_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country_ISO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityRecord.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Billing_City_Address</name>
        <label>Assign Billing City Address</label>
        <locationX>138</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>ContractRecord.Billing_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.State__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Zip_Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.BillingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country_ISO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.BillingLatitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Latitude__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRecord.BillingLongitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Longitude__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContractRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MSP_Account_Assignment</name>
        <label>MSP Account Assignment</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetContractRelatedToAccount</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>MSPValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MSP</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Contract_is_there</name>
        <label>Is Contract is there?</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Is_opportunity_there</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Contract_There</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContractRelatedToAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract</targetReference>
            </connector>
            <label>Yes Contract There</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_MSP_Account</name>
        <label>Is MSP Account</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>GetContractRelatedToAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_MSP_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.BusinessGroup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MSPValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MSP_Account_Assignment</targetReference>
            </connector>
            <label>Yes MSP Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_opportunity_there</name>
        <label>Is opportunity there?</label>
        <locationX>182</locationX>
        <locationY>1439</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Opp_there</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunityRelatedToAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Loop</targetReference>
            </connector>
            <label>Yes Opp there?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Primary Billing Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Primary Billing Address MSP</label>
    <loops>
        <name>Contract</name>
        <label>Contract</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <collectionReference>GetContractRelatedToAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Billing_City_Address</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contract</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Opportunity_Loop</name>
        <label>Opportunity Loop</label>
        <locationX>50</locationX>
        <locationY>1547</locationY>
        <collectionReference>GetOpportunityRelatedToAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Bill_Address_on_Opp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetContractRelatedToAccount</name>
        <label>GetContractRelatedToAccount</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOpportunityRelatedToAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MSPValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Business_Group__c</queriedFields>
        <queriedFields>BillingAddress</queriedFields>
        <queriedFields>Billing_Address__c</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingCountryCode</queriedFields>
        <queriedFields>BillingStateCode</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunityRelatedToAccount</name>
        <label>GetOpportunityRelatedToAccount</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Contract_is_there</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Business_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MSP</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Ordered__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Business_Group__c</queriedFields>
        <queriedFields>Billing_Address__c</queriedFields>
        <queriedFields>City__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>State__c</queriedFields>
        <queriedFields>Street__c</queriedFields>
        <queriedFields>Zip_Postal_Code__c</queriedFields>
        <queriedFields>Country_ISO_Code__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Is_opportunity_there</targetReference>
        </connector>
        <inputReference>ContractUpdateList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>50</locationX>
        <locationY>1847</locationY>
        <inputReference>OpportunityUpdateList</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_MSP_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </filters>
        <object>Address__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContractRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>ContractUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>OpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
