force-app/main/default/flows/Profession_Services_Case_Close_After_3_days.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>ChangeStatus</name>
        <label>Change Status</label>
        <locationX>66</locationX>
        <locationY>433</locationY>
        <assignmentItems>
            <assignToReference>Resolved_to_closed.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Resolved_to_closed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Resolved_to_closed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Case_to_be_Closed</name>
        <label>Has Case to be Closed</label>
        <locationX>756</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCaseRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resolved_to_closed</targetReference>
            </connector>
            <label>Has Case</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Before3Days</name>
        <dataType>Date</dataType>
        <expression>Today()-3</expression>
    </formulas>
    <interviewLabel>Profession Services Case Close After 3 days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Profession Services Case Close After 3 days</label>
    <loops>
        <name>Resolved_to_closed</name>
        <label>Resolved to closed</label>
        <locationX>6</locationX>
        <locationY>196</locationY>
        <collectionReference>GetCaseRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ChangeStatus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCaseRecord</name>
        <label>GetCaseRecord</label>
        <locationX>772</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Case_to_be_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetProfessionalRecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Resolved_Datetime__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Before3Days</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProfessionalRecordType</name>
        <label>GetProfessionalRecordType</label>
        <locationX>259</locationX>
        <locationY>1</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCaseRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Professional_Services</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>364</locationX>
        <locationY>430</locationY>
        <inputReference>CaseList</inputReference>
    </recordUpdates>
    <start>
        <locationX>179</locationX>
        <locationY>126</locationY>
        <connector>
            <targetReference>GetProfessionalRecordType</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-11-11</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
