force-app/main/default/flows/PSM_RAD_MSP_Case_Notification_Not_resolved_after_4_days_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_PSM_about_MSP_Case_Not_resolved_or_Closed_after_4_days</name>
        <label>Notify PSM about MSP Case Not resolved or Closed after 4 days</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <actionName>Case.Case_MSP_Notification_when_Restore_4_days_Unattended_to_PSM</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_MSP_Notification_when_Restore_4_days_Unattended_to_PSM</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_RAD_about_MSP_Restore_4_days_Unattended</name>
        <label>Notify RAD about MSP Restore 4 days Unattended</label>
        <locationX>842</locationX>
        <locationY>708</locationY>
        <actionName>Case.Case_MSP_Notification_when_Restore_4_days_Unattended_to_RAD</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_MSP_Notification_when_Restore_4_days_Unattended_to_RAD</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Does_PSM_exist</name>
        <label>Does PSM exist?</label>
        <locationX>1106</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PSM_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_PSM_about_MSP_Case_Not_resolved_or_Closed_after_4_days</targetReference>
            </connector>
            <label>PSM Exists</label>
        </rules>
        <rules>
            <name>PSM_does_not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RAD_Account_Team_Member</targetReference>
            </connector>
            <label>PSM does not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_RAD_exist</name>
        <label>Does RAD exist?</label>
        <locationX>1106</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RAD_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_RAD_about_MSP_Restore_4_days_Unattended</targetReference>
            </connector>
            <label>RAD Exists</label>
        </rules>
        <rules>
            <name>RAD_does_not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>RAD does not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>MSP_Unattended_New_Restore_Notified_is_False</name>
        <label>MSP Unattended New Restore Notified	is False?</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MSP_Unattended_New_Restore_Notified_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MSP_Unattended_New_Restore_Notified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MSP_Unattended_New_Restore_Notified</targetReference>
            </connector>
            <label>MSP Unattended New Restore Notified	= False</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>PSM/RAD - MSP Case Notification - Not resolved after 4 days Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PSM/RAD - MSP Case Notification - Not resolved after 4 days Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Team_Member_PSM</name>
        <label>Get Account Team Member - PSM</label>
        <locationX>1106</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_PSM_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner Success Manager - MSP</stringValue>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputAssignments>
            <assignToReference>UserId</assignToReference>
            <field>UserId</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_RAD_Account_Team_Member</name>
        <label>Get RAD Account Team Member</label>
        <locationX>1106</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_RAD_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regional Account Director</stringValue>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputAssignments>
            <assignToReference>UserId</assignToReference>
            <field>UserId</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_MSP_Unattended_New_Restore_Notified</name>
        <label>Update MSP Unattended New Restore Notified</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>MSP_Unattended_New_Restore_Notified__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>MSP_Unattended_New_Restore_Notified_is_False</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>AND({!$Record.BusinesGroup__c}==&apos;MSP&apos;,ISPICKVAL({!$Record.Status},&apos;New&apos;),{!$Record.RecordType.DeveloperName}==&apos;Technical_Support&apos;,ISPICKVAL({!$Record.Case_Reason__c},&apos;Restore&apos;))</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>executeAfter_4_days</name>
            <connector>
                <targetReference>Get_Account_Team_Member_PSM</targetReference>
            </connector>
            <label>executeAfter 4 days</label>
            <maxBatchSize>20</maxBatchSize>
            <offsetNumber>4</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
