force-app/main/default/flows/Re_Generate_Renewal_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_Business_Group</name>
        <label>Check Business Group</label>
        <locationX>524</locationX>
        <locationY>401</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_MSP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.Business_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Business_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Core</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsEligibleOrder</targetReference>
            </connector>
            <label>Is MSP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_existing_Quote_is_Approved</name>
        <label>Check if existing Quote is Approved</label>
        <locationX>693</locationX>
        <locationY>834</locationY>
        <defaultConnectorLabel>Not Approved</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Active_Contract__r.SBQQ__RenewalOpportunity__r.SBQQ__PrimaryQuote__r.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active_Contract__r.SBQQ__RenewalOpportunity__r.Business_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MSP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active_Contract__r.SBQQ__RenewalOpportunity__r.Business_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Core</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_In_Auto_Approve_Contract</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Renewal_Quote_Status</name>
        <label>Check Renewal Quote Status</label>
        <locationX>520</locationX>
        <locationY>723</locationY>
        <defaultConnector>
            <targetReference>Set_Ren_Quoted_to_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Checked</defaultConnectorLabel>
        <rules>
            <name>Already_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Active_Contract__r.SBQQ__RenewalQuoted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active_Contract__r.All_Subs_RMA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Ren_Quoted_to_False</targetReference>
            </connector>
            <label>Already Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsEligibleOrder</name>
        <label>IsEligibleOrder</label>
        <locationX>522</locationX>
        <locationY>538</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkEligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isEligible</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Renewal_Quote_Status</targetReference>
            </connector>
            <label>checkEligible</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isEligible</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND({!$Record.Opportunity.SBQQ__AmendedContract__c}&lt;&gt;NULL,{!$Record.Active_Contract__r.SBQQ__RenewalOpportunity__c}&lt;&gt;NULL,
{!$Record.Active_Contract__r.SBQQ__RenewalOpportunity__r.SBQQ__PrimaryQuote__c}&lt;&gt;NULL),TRUE,FALSE)</expression>
    </formulas>
    <interviewLabel>Re Generate Renewal Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Re Generate Renewal Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_In_Auto_Approve_Contract</name>
        <label>Insert In Auto Approve Contract</label>
        <locationX>922</locationX>
        <locationY>857</locationY>
        <inputAssignments>
            <field>Contract_ID__c</field>
            <value>
                <elementReference>$Record.Active_Contract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Approval_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Auto_Approve_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Set_Ren_Quoted_to_False</name>
        <label>Set Ren Quoted to False</label>
        <locationX>260</locationX>
        <locationY>841</locationY>
        <connector>
            <targetReference>Set_Ren_Quoted_to_True</targetReference>
        </connector>
        <inputAssignments>
            <field>SBQQ__RenewalQuoted__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Active_Contract__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Ren_Quoted_to_True</name>
        <label>Set Ren Quoted to True</label>
        <locationX>547</locationX>
        <locationY>1004</locationY>
        <connector>
            <targetReference>Check_if_existing_Quote_is_Approved</targetReference>
        </connector>
        <inputAssignments>
            <field>SBQQ__RenewalQuoted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Active_Contract__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active_Contract__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Contracted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>ReGen_Quote_With_Delay</name>
            <connector>
                <targetReference>Check_Business_Group</targetReference>
            </connector>
            <label>ReGen Quote With Delay</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Contracted_Date_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
