force-app/main/default/flows/Sensor_Shipment_Case_Creation_from_Asset_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Sensor_Products_are_available_or_not</name>
        <label>Check Sensor Products are available or not</label>
        <locationX>638</locationX>
        <locationY>1128</locationY>
        <defaultConnector>
            <targetReference>Loop_Quote_lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sensor_Available</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_lines.SBQQ__ProductName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Barracuda SKOUT Large Physical Sensor Appliance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_lines.SBQQ__ProductName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Barracuda SKOUT Small Physical Sensor Appliance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_lines.SBQQ__ProductName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Barracuda SKOUT NextGen Sensor Appliance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RT_Onboarding_Ticket_Creation</targetReference>
            </connector>
            <label>Sensor Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skout_Quote_Check</name>
        <label>Skout Quote Check</label>
        <locationX>550</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SkoutQuoteCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__QuoteLine__r.SBQQ__Quote__r.Skout_Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quoteline_Records</targetReference>
            </connector>
            <label>Skout Quote Check</label>
        </rules>
    </decisions>
    <description>Sensor Shipment Case is created when an Asset is created with SKOUT quote.</description>
    <environments>Default</environments>
    <formulas>
        <name>City</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Loop_Quote_lines.SBQQ__Group__r.ShipToAddress__r.City__c}), &apos;&apos;, {!Loop_Quote_lines.SBQQ__Group__r.ShipToAddress__r.City__c})</expression>
    </formulas>
    <formulas>
        <name>Country</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Loop_Quote_lines.SBQQ__Group__r.ShipToAddress__r.Country__c}), &apos;&apos;, {!Loop_Quote_lines.SBQQ__Group__r.ShipToAddress__r.Country__r.Name})</expression>
    </formulas>
    <formulas>
        <name>Sensor_Shipment_Subject</name>
        <dataType>String</dataType>
        <expression>{!Loop_Quote_lines.Reseller_Memo_Sonian_Only__c}+&quot; - &quot;+{!Loop_Quote_lines.SBQQ__ProductName__c}</expression>
    </formulas>
    <formulas>
        <name>State</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Loop_Quote_lines.SBQQ__Group__r.ShipToAddress__r.State__c}), &apos;&apos;, {!Loop_Quote_lines.SBQQ__Group__r.ShipToAddress__r.State__r.Name})</expression>
    </formulas>
    <formulas>
        <name>Street</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Loop_Quote_lines.SBQQ__Group__r.ShipToAddress__r.Street__c}),&apos;&apos;,{!Loop_Quote_lines.SBQQ__Group__r.ShipToAddress__r.Street__c})</expression>
    </formulas>
    <formulas>
        <name>Zip</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Loop_Quote_lines.SBQQ__Group__r.ShipToAddress__r.Zip_Postal_Code__c}),&apos;&apos;,{!Loop_Quote_lines.SBQQ__Group__r.ShipToAddress__r.Zip_Postal_Code__c})</expression>
    </formulas>
    <interviewLabel>Sensor Shipment Case Creation from Asset Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sensor Shipment Case Creation from Asset Creation</label>
    <loops>
        <name>Loop_Quote_lines</name>
        <label>Loop Quote lines</label>
        <locationX>418</locationX>
        <locationY>1008</locationY>
        <collectionReference>Get_Quote_Line_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Sensor_Products_are_available_or_not</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Sensor_Shipment_Case</name>
        <label>Create Sensor Shipment Case</label>
        <locationX>506</locationX>
        <locationY>1608</locationY>
        <connector>
            <targetReference>Loop_Quote_lines</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Onboarding_Ticket_Case_Records.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Onboarding_Ticket_Case_Records.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_Onboarding_Ticket_Case_Records.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_for_SE_Cases__c</field>
            <value>
                <elementReference>Get_Onboarding_Ticket_Case_Records.Opportunity_for_SE_Cases__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>$Record.Related_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Skout-Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Get_Onboarding_Ticket_Case_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RT_Sensor_Shipment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_State__c</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Sensor_Shipment_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>Get_Opportunity_Closed_Won_Records.Contact_Name__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip_Postal_Code__c</field>
            <value>
                <elementReference>Zip</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Onboarding_Ticket_Case_Records</name>
        <label>Get Onboarding Ticket Case Records</label>
        <locationX>506</locationX>
        <locationY>1368</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RT_Sensor_Shipment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RT_Onboarding_Ticket_Creation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity_for_SE_Cases__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Closed_Won_Records.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Closed_Won_Records</name>
        <label>Get Opportunity Closed Won Records</label>
        <locationX>418</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Line_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__PrimaryQuote__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Business_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MSP</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__PrimaryQuote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote_Records.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Group_Records</name>
        <label>Get Quote Group Records</label>
        <locationX>418</locationX>
        <locationY>888</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Quote_lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote_Records.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLineGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Records</name>
        <label>Get Quote Line Records</label>
        <locationX>418</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Group_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote_Records.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__QuoteLine__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Records</name>
        <label>Get Quote Records</label>
        <locationX>418</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Closed_Won_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quoteline_Records.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quoteline_Records</name>
        <label>Get Quoteline Records</label>
        <locationX>418</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__QuoteLine__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RT_Onboarding_Ticket_Creation</name>
        <label>RT: Onboarding Ticket Creation</label>
        <locationX>506</locationX>
        <locationY>1248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Onboarding_Ticket_Case_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding_Ticket</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RT_Sensor_Shipment</name>
        <label>RT: Sensor Shipment</label>
        <locationX>506</locationX>
        <locationY>1488</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Sensor_Shipment_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sensor_Shipment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Asset</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Skout_Quote_Check</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
