force-app/main/default/flows/Set_Default_Credit_Card.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Payment_Terms</name>
        <label>Check Payment Terms</label>
        <locationX>213</locationX>
        <locationY>322</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Payment_Terms</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Card</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Credit_Card</targetReference>
            </connector>
            <label>Credit Card</label>
        </rules>
    </decisions>
    <decisions>
        <name>Default_CC_Exists</name>
        <label>Default CC Exists</label>
        <locationX>414</locationX>
        <locationY>124</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Credit_Card_Obj</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Oppty</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Called from PB: Opportunity Management - Create/Edit set Bill To Credit Card Id</description>
    <interviewLabel>Set Default Credit Card {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Default Credit Card</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_Account_Payment_Terms</name>
        <label>Check Account Payment Terms</label>
        <locationX>221</locationX>
        <locationY>126</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Payment_Terms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Payment_Terms</assignToReference>
            <field>Payment_Terms__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Credit_Card</name>
        <label>Get Credit Card</label>
        <locationX>422</locationX>
        <locationY>322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Default_CC_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Default__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Credit_Card__c</object>
        <outputReference>Credit_Card_Obj</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Oppty</name>
        <label>Update Oppty</label>
        <locationX>620</locationX>
        <locationY>121</locationY>
        <connector>
            <targetReference>Reset_Exception_Display_Flag</targetReference>
        </connector>
        <faultConnector>
            <targetReference>DML_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bill_To_Credit_Card__c</field>
            <value>
                <elementReference>Credit_Card_Obj.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Account_Payment_Terms</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>DML_Exception</name>
        <label>DML Exception</label>
        <locationX>621</locationX>
        <locationY>319</locationY>
        <flowName>Exception_Handler_Applog</flowName>
        <inputAssignments>
            <name>Error_Message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Id</name>
            <value>
                <elementReference>Opportunity_Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Reset_Exception_Display_Flag</name>
        <label>Reset Exception Display Flag</label>
        <locationX>808</locationX>
        <locationY>121</locationY>
        <flowName>Exception_Reset_Display_Applog_Details</flowName>
        <inputAssignments>
            <name>Record_Ids</name>
            <value>
                <elementReference>Opportunity_Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Credit_Card_Obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credit_Card__c</objectType>
    </variables>
    <variables>
        <name>Opportunity_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Payment_Terms</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
