force-app/main/default/flows/Set_Hotlist_for_MSP_Upsells.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Amendment</name>
        <label>Amendment</label>
        <locationX>758</locationX>
        <locationY>462</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Amendment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__AmendedContract__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__AmendedContract__r.Most_Recent_Upsell_Hot_List__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Hotlist</targetReference>
            </connector>
            <label>Yes Amendment</label>
        </rules>
        <rules>
            <name>Yes_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__RenewedContract__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__RenewedContract__r.Most_Recent_Upsell_Hot_List__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Hotlist</targetReference>
            </connector>
            <label>Yes Renewal</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Set Hotlist for MSP Upsells {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Hotlist for MSP Upsells</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Hotlist</name>
        <label>Update Hotlist</label>
        <locationX>957</locationX>
        <locationY>466</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__RenewedContract__r.Most_Recent_Upsell_Hot_List__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__AmendedContract__r.Most_Recent_Upsell_Hot_List__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Converted_Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disposition__c</field>
            <value>
                <stringValue>Converted</stringValue>
            </value>
        </inputAssignments>
        <object>Hot_List__c</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Amendment</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Business_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MSP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Business_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sonian</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AmendmentOpptyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
