force-app/main/default/flows/Set_Serial_Information_on_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>CaseUpdates</name>
        <label>CaseUpdates</label>
        <locationX>774</locationX>
        <locationY>65</locationY>
        <assignmentItems>
            <assignToReference>GetCaseObj.Product_Family_List__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getProductObj.CPQ_Product_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCaseObj.ProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getProductObj.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseObj</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Product_Exist</name>
        <label>Does Product Exist</label>
        <locationX>459</locationX>
        <locationY>270</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>putSerialObj.Base_Product_SKU__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getProductObj</targetReference>
            </connector>
            <label>Product Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Serial_Exist_on_Case</name>
        <label>Does Serial Exist on Case</label>
        <locationX>268</locationX>
        <locationY>314</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Serial_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCaseObj.Serial__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSerialObj</targetReference>
            </connector>
            <label>Serial Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Serial_is_NULL</name>
        <label>Serial is NULL</label>
        <locationX>669</locationX>
        <locationY>293</locationY>
        <defaultConnector>
            <targetReference>CaseUpdates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>getSerialObj_is_NULL</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getProductObj</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>getSerialObj is NULL</label>
        </rules>
    </decisions>
    <description>Updates Serial information on case once the Serial__c is added to the case</description>
    <interviewLabel>Set Serial Information on Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Serial Information on Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCaseObj</name>
        <label>GetCaseObj</label>
        <locationX>204</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Serial_Exist_on_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>passedCaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Serial__c</queriedFields>
        <queriedFields>Product_Model__c</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
        <queriedFields>Product_Family_List__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getProductObj</name>
        <label>getProductObj</label>
        <locationX>578</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Serial_is_NULL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>putSerialObj.Base_Product_SKU__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Model_Number__c</queriedFields>
        <queriedFields>CPQ_Product_Family__c</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <queriedFields>Product_Model__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSerialObj</name>
        <label>GetSerialObj</label>
        <locationX>385</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Product_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseObj.Serial__c</elementReference>
            </value>
        </filters>
        <object>Serial__c</object>
        <outputReference>putSerialObj</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Base_Product_SKU__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCaseObj</name>
        <label>UpdateCaseObj</label>
        <locationX>978</locationX>
        <locationY>64</locationY>
        <inputReference>GetCaseObj</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>GetCaseObj</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>passedCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>putSerialObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Serial__c</objectType>
    </variables>
</Flow>
