force-app/main/default/flows/Subscription_After_Update_FLOW.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailContacts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emailList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>donotreply@barracuda.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Barracuda Premium Support Subscription Expiration Update</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Emails</name>
        <label>Assign Emails</label>
        <locationX>270</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>emailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>premium_Contact_Email_List.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>premium_Contact_Email_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Email_Decision_Check</name>
        <label>Email Decision Check</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Emails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emailList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>Has Emails?</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_and_Prior_Value_check</name>
        <label>New and Prior Value check</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AnnotationReason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.AnnotationReason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>is changed?</label>
        </rules>
    </decisions>
    <interviewLabel>Subscription After Update FLOW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subscription After Update FLOW</label>
    <loops>
        <name>premium_Contact_Email_List</name>
        <label>premium Contact Email List</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_Premium_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Emails</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Email_Decision_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Premium_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Premium_Contacts</name>
        <label>Get Premium Contacts</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>premium_Contact_Email_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Premium_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_and_Prior_Value_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AnnotationReason__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Premium_Support__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SBQQ__Subscription__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailContacts</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!AccountName} Team,&lt;/p&gt;&lt;p&gt;We have noticed that the Premium Support Subscription for the following product will not be renewed:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;P&lt;/span&gt;roduct Name: &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.SBQQ__ProductName__c} &lt;/span&gt;&lt;/li&gt;&lt;li&gt;Subscription: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Record.Name}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;Subscription End Date:&amp;nbsp;{!$Record.SBQQ__EndDate__c}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;If you feel your expiration is incorrect or need to renew your subscription to maintain the Premium Support Services, please contact the renewal team at&amp;nbsp;&lt;a href=&quot;mailto:renewals@barracuda.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 82, 204);&quot;&gt;renewals@barracuda.com&lt;/a&gt;&lt;/p&gt;&lt;p&gt;To review your support changes when the Premium Support expires, please review our support packages at&lt;a href=&quot;https://www.barracuda.com/support/premium&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 82, 204);&quot;&gt;: https://www.barracuda.com/support/premium&lt;/a&gt;&lt;/p&gt;&lt;p&gt;When the Premium Support expires, you can reach your Support team by email region below:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Americas –&amp;nbsp;&lt;a href=&quot;mailto:support@barracuda.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 82, 204);&quot;&gt;support@barracuda.com&lt;/a&gt;&lt;/li&gt;&lt;li&gt;EMEA –&amp;nbsp;&lt;a href=&quot;mailto:emeasupport@barracuda.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 82, 204);&quot;&gt;emeasupport@barracuda.com&lt;/a&gt;&lt;/li&gt;&lt;li&gt;APAC –&amp;nbsp;&lt;a href=&quot;mailto:indiasupport@barracuda.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 82, 204);&quot;&gt;indiasupport@barracuda.com&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Thank you very much.&lt;/p&gt;&lt;p&gt;Your Barracuda Support Team&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
