force-app/main/default/flows/TS_Case_Workflow_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <constants>
        <description>Busines Group = &apos;Core&apos;</description>
        <name>Core</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Core</stringValue>
        </value>
    </constants>
    <constants>
        <description>Busines Group = &apos;MSP&apos;</description>
        <name>MSP</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MSP</stringValue>
        </value>
    </constants>
    <constants>
        <description>Busines Group = &apos;Sonian&apos;</description>
        <name>Sonian</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sonian</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Case Status is &apos;Waiting for Customer Response&apos; and WOC Reason is &apos;Call Back&apos; and Business Group is either &apos;CORE&apos; or &apos;MSP&apos; or &apos;SONIAN&apos;</description>
        <name>Check_WOC_Reason_and_Business_Group</name>
        <label>Check WOC Reason and Business Group</label>
        <locationX>1898</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tech_Support_WOC_CB</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for Customer Response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WOC_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Call back</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BusinesGroup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Core</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BusinesGroup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MSP</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BusinesGroup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sonian</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CB_Fields</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Tech Support - WOC - CB</label>
        </rules>
        <rules>
            <name>Tech_Support_WOC_PAI</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for Customer Response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WOC_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Additional Information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BusinesGroup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Core</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BusinesGroup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MSP</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BusinesGroup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sonian</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PAI_Fields</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Tech Support - WOC - PAI</label>
        </rules>
        <rules>
            <name>Tech_Support_WOC_RO</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for Customer Response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WOC_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolution Offered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BusinesGroup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Core</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BusinesGroup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MSP</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BusinesGroup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sonian</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_RO_Fields</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Tech Support - WOC - RO</label>
        </rules>
        <rules>
            <name>New_Case_Notification_Non_alt_emails</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Alt_Email_in_use__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.New_Case_Notification_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BusinesGroup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Core</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BusinesGroup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MSP</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BusinesGroup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sonian</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Non_Alt_New_Case_Notification_field_and_flags</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>New Case Notification - Non alt emails</label>
        </rules>
        <rules>
            <name>New_Case_Notification_alt_emails</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Alt_Email_in_use__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.New_Case_Notification_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BusinesGroup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Core</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BusinesGroup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MSP</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BusinesGroup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sonian</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Alt_New_Case_Notification_flags</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>New Case Notification - alt emails</label>
        </rules>
        <rules>
            <name>Case_Resolved_Notification_Core_or_Sonian</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5) AND 6 AND (7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Case_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Couldn&apos;t contact customer (after at least 3 attempts)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Case_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Duplicate case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Case_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Customer rebooted before troubleshooting was possible, issue gone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Case_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for further customer contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Do_Not_Send_CSAT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BusinesGroup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Core</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BusinesGroup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sonian</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CSAT_Fields_Core_or_Sonian</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Case Resolved Notification - Core or Sonian</label>
        </rules>
        <rules>
            <name>Case_Resolved_Notification_MSP</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5) AND (6 OR 7 OR 8 OR 9) AND 10 AND 11</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Case_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Couldn&apos;t contact customer (after at least 3 attempts)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Case_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Duplicate case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Case_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Customer rebooted before troubleshooting was possible, issue gone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Case_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for further customer contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Initial Seed Enabled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Shipping</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Packaging Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Do_Not_Send_CSAT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BusinesGroup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MSP</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CSAT_Fields_MSP</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Case Resolved Notification - MSP</label>
        </rules>
        <rules>
            <name>Case_Resolved_Notification_Core_or_Sonian_No_CSAT2</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5) AND 6 AND (7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Case_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Couldn&apos;t contact customer (after at least 3 attempts)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Case_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Duplicate case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Case_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Customer rebooted before troubleshooting was possible, issue gone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Case_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for further customer contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Do_Not_Send_CSAT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BusinesGroup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Core</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BusinesGroup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sonian</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Resolved_DateTime_Core_or_Sonian</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Case Resolved Notification - Core or Sonian - No CSAT</label>
        </rules>
        <rules>
            <name>Case_Resolved_Notification_MSP_No_CSAT2</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5) AND (6 OR 7 OR 8 OR 9) AND 10 AND 11 AND 12</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Case_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Couldn&apos;t contact customer (after at least 3 attempts)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Case_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Duplicate case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Case_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Customer rebooted before troubleshooting was possible, issue gone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Closed_Case_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for further customer contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Initial Seed Enabled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Shipping</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Packaging Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Do_Not_Send_CSAT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Initial Seed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BusinesGroup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MSP</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Resolved_DateTime_MSP</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Case Resolved Notification - MSP - No CSAT</label>
        </rules>
        <rules>
            <name>Initial_Seed_Stage_Complete2</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Seed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tracking_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Complete_Initial_Seed_Date_Time__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Initial_Seed_Stage_Complete_Fields</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Initial Seed Stage = Complete</label>
        </rules>
        <rules>
            <name>Initial_Seed_Stage_Shipping2</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipping</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Initial_Seed_Stage_Shipping_Fields</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Initial Seed Stage = Shipping</label>
        </rules>
        <rules>
            <name>Initial_Seed_Stage_Package_Received2</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Packaging Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Package_Received_Notificaiton__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Initial_Seed_Stage_Package_Received_Fields</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Initial Seed Stage = Package Received</label>
        </rules>
        <rules>
            <name>Initial_Seed_Stage_UK_Package2</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Seed Enabled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Initial_Seed_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Initial_Seed_UK_Package_Fields</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Initial Seed Stage : UK Package</label>
        </rules>
        <rules>
            <name>Initial_Seed_Stage_US_Package2</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial Seed Enabled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Initial_Seed_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US/Canada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Initial_Seed_US_Package_Fields</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Initial Seed Stage : US Package</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Flow Switch Support Active Run the Flow else end execution of Flow</description>
        <name>Is_Flow_Switch_Support_Active</name>
        <label>Is Flow Switch Support Active?</label>
        <locationX>2954</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Flow_Switch_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Flow_Switch_Support</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_WOC_Reason_and_Business_Group</targetReference>
            </connector>
            <label>Active Flow Switch Support</label>
        </rules>
    </decisions>
    <description>Technical Support Record Type Case updates</description>
    <environments>Default</environments>
    <interviewLabel>TS Case Workflow Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TS Case Workflow Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Custom Metadata Flow Switch Support</description>
        <name>Get_Flow_Switch_Support</name>
        <label>Get Flow Switch Support</label>
        <locationX>2954</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Flow_Switch_Support_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Flow_Switch_Support__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Alt &apos;New Case Notification&apos; flags</description>
        <name>Update_Alt_New_Case_Notification_flags</name>
        <label>Update Alt &apos;New Case Notification&apos; flags</label>
        <locationX>1106</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Web_Message_Attempt_1_Time_Stamp__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Message_Attempt_1__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Message_Attempt_2_Time_Stamp__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Message_Attempt_2__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Message_Attempt_3_Time_Stamp__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Message_Attempt_3__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Case Resolved Date/Time field for busines group = Core or Sonian</description>
        <name>Update_Case_Resolved_DateTime_Core_or_Sonian</name>
        <label>Update Case Resolved DateTime - Core or Sonian</label>
        <locationX>1898</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Case_Resolved_Datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Case Resolved Date/Time field for busines group = MSP</description>
        <name>Update_Case_Resolved_DateTime_MSP</name>
        <label>Update Case Resolved DateTime - MSP</label>
        <locationX>2162</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Case_Resolved_Datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CB_Fields</name>
        <label>Update CB Fields</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Customer_Hold_Attempt_1_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Hold_Attempt_1__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Hold_Attempt_2_Date_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Hold_Attempt_2__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Hold_Attempt_3_Date_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Hold_Attempt_3__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update CSAT Sent and Resolved Date/Time fields for busines group = Core or Sonian</description>
        <name>Update_CSAT_Fields_Core_or_Sonian</name>
        <label>Update CSAT Fields - Core or Sonian</label>
        <locationX>1370</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>CSAT_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Resolved_Datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update CSAT Sent and Resolved Date/Time fields for busines group = MSP</description>
        <name>Update_CSAT_Fields_MSP</name>
        <label>Update CSAT Fields - MSP</label>
        <locationX>1634</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>CSAT_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Resolved_Datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update CSAT Sent and Case Resolved Date/Time fields for Initial Seed Stage = &apos;Complete&apos;</description>
        <name>Update_Initial_Seed_Stage_Complete_Fields</name>
        <label>Update Initial Seed Stage = Complete Fields</label>
        <locationX>2426</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>CSAT_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Resolved_Datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complete_Initial_Seed_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update fields for Initial Seed Stage = &apos;Package Received&apos;</description>
        <name>Update_Initial_Seed_Stage_Package_Received_Fields</name>
        <label>Update Initial Seed Stage = Package Received Fields</label>
        <locationX>2954</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Package_Received_Notificaiton__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Package_Received_Upload_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update fields for Initial Seed Stage = &apos;Shipping&apos;</description>
        <name>Update_Initial_Seed_Stage_Shipping_Fields</name>
        <label>Update Initial Seed Stage = Shipping Fields</label>
        <locationX>2690</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Shipping_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update fields for Initial Seed = &apos;UK Package&apos;</description>
        <name>Update_Initial_Seed_UK_Package_Fields</name>
        <label>Update Initial Seed : UK Package Fields</label>
        <locationX>3218</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Case_Reason__c</field>
            <value>
                <stringValue>Initial Seed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Seed_Enabled_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sent_Initial_Seed_Package_to_Customer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update fields for Initial Seed = &apos;US Package&apos;</description>
        <name>Update_Initial_Seed_US_Package_Fields</name>
        <label>Update Initial Seed : US Package Fields</label>
        <locationX>3482</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Case_Reason__c</field>
            <value>
                <stringValue>Initial Seed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Seed_Enabled_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sent_Initial_Seed_Package_to_Customer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Non-Alt &apos;New Case Notification&apos; field and flags</description>
        <name>Update_Non_Alt_New_Case_Notification_field_and_flags</name>
        <label>Update Non-Alt &apos;New Case Notification&apos; field and flags</label>
        <locationX>842</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>New_Case_Notification_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Message_Attempt_1_Time_Stamp__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Message_Attempt_1__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Message_Attempt_2_Time_Stamp__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Message_Attempt_2__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Message_Attempt_3_Time_Stamp__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Message_Attempt_3__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PAI_Fields</name>
        <label>Update PAI Fields</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Customer_Hold_Attempt_1_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Hold_Attempt_1__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Hold_Attempt_2_Date_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Hold_Attempt_2__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Hold_Attempt_3_Date_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Hold_Attempt_3__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RO_Fields</name>
        <label>Update RO Fields</label>
        <locationX>578</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Customer_Hold_Attempt_1_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Hold_Attempt_1__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Hold_Attempt_2_Date_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Hold_Attempt_2__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Hold_Attempt_3_Date_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Hold_Attempt_3__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2828</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Flow_Switch_Support</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.Name} == &apos;Technical Support&apos;</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
