force-app/main/default/flows/Update_Onboarding2Contact_Update_Flag.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Update_Flag</name>
        <label>Assign_Update_Flag</label>
        <locationX>571</locationX>
        <locationY>150</locationY>
        <assignmentItems>
            <assignToReference>Current_Contact.update_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Update_Flag_0</name>
        <label>Assign_Update_Flag</label>
        <locationX>573</locationX>
        <locationY>560</locationY>
        <assignmentItems>
            <assignToReference>Current_Contact.update_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_the_collection</name>
        <label>Update the collection</label>
        <locationX>571</locationX>
        <locationY>300</locationY>
        <assignmentItems>
            <assignToReference>Collect_to_update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Current_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_the_collection_0</name>
        <label>Update the collection</label>
        <locationX>573</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>Second_Collection_2_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Current_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_contacts_0</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Update_Onboarding2Contact_Update_Flag {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update_Onboarding2Contact_Update_Flag</label>
    <loops>
        <name>loop_through_contacts</name>
        <label>loop through contacts</label>
        <locationX>354</locationX>
        <locationY>150</locationY>
        <assignNextValueToReference>Current_Contact</assignNextValueToReference>
        <collectionReference>Collection_of_onboarding_contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Update_Flag</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_the_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_through_contacts_0</name>
        <label>loop through contacts</label>
        <locationX>356</locationX>
        <locationY>560</locationY>
        <assignNextValueToReference>Current_Contact</assignNextValueToReference>
        <collectionReference>Collection_of_onboarding_contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Update_Flag_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_the_records_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Contacts</name>
        <label>Lookup_Contacts</label>
        <locationX>163</locationX>
        <locationY>153</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Onboarding_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TS_ID</elementReference>
            </value>
        </filters>
        <object>Onboarding_Product_2_contact__c</object>
        <outputReference>Collection_of_onboarding_contacts</outputReference>
        <queriedFields>update_Required__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_records</name>
        <label>Update the records</label>
        <locationX>354</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>wait_a_minute</targetReference>
        </connector>
        <inputReference>Collect_to_update</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_records_0</name>
        <label>Update the records</label>
        <locationX>356</locationX>
        <locationY>710</locationY>
        <inputReference>Second_Collection_2_Update</inputReference>
    </recordUpdates>
    <startElementReference>Lookup_Contacts</startElementReference>
    <status>Active</status>
    <variables>
        <name>Collect_to_update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Product_2_contact__c</objectType>
    </variables>
    <variables>
        <name>Collection_of_onboarding_contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Product_2_contact__c</objectType>
    </variables>
    <variables>
        <name>Current_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Product_2_contact__c</objectType>
    </variables>
    <variables>
        <name>Second_Collection_2_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Onboarding_Product_2_contact__c</objectType>
    </variables>
    <variables>
        <name>TS_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Update_Choice</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <waits>
        <name>wait_a_minute</name>
        <label>wait_a_minute</label>
        <locationX>354</locationX>
        <locationY>417</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>wait</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>loop_through_contacts_0</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.001</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>wait</label>
        </waitEvents>
    </waits>
</Flow>
