force-app/main/default/flows/UpdateGlobalcheckboxfields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Parent</name>
        <label>Check Parent</label>
        <locationX>172</locationX>
        <locationY>368</locationY>
        <defaultConnector>
            <targetReference>Update_Child_records_directly</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Parent</defaultConnectorLabel>
        <rules>
            <name>Parent_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Details</targetReference>
            </connector>
            <label>Parent Found</label>
        </rules>
    </decisions>
    <interviewLabel>Update Global Accounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Global/Named checkbox fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Parent_Details</name>
        <label>Get Parent Details</label>
        <locationX>440</locationX>
        <locationY>362</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_all_child_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Global_Account__c</queriedFields>
        <queriedFields>Named_Account__c</queriedFields>
        <queriedFields>Global_Network__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_all_child_records</name>
        <label>Update all child records</label>
        <locationX>682</locationX>
        <locationY>355</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Details.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Global_Account__c</field>
            <value>
                <elementReference>Get_Parent_Details.Global_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Global_Network__c</field>
            <value>
                <elementReference>Get_Parent_Details.Global_Network__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Named_Account__c</field>
            <value>
                <elementReference>Get_Parent_Details.Named_Account__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Child_records_directly</name>
        <label>Update Child records directly</label>
        <locationX>173</locationX>
        <locationY>615</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Global_Account__c</field>
            <value>
                <elementReference>$Record.Global_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Global_Network__c</field>
            <value>
                <elementReference>$Record.Global_Network__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Named_Account__c</field>
            <value>
                <elementReference>$Record.Named_Account__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Parent</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
