force-app/main/default/flows/Update_Internal_PS_Email_and_send_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_PS_Web_Case</name>
        <label>Notify PS Web Case</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>Case.Notify_on_PS_Web_Case</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Notify_on_PS_Web_Case</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Only_on_first_E2C</name>
        <label>Only on first E2C</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Only_on_first_E2C_for_a_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Internal_PS_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateTimeValue>2022-08-16T07:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Object</targetReference>
            </connector>
            <label>Only on first E2C for  a case</label>
        </rules>
    </decisions>
    <formulas>
        <name>PSEmail</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Parent.Web_Region__c}, &quot;EMEA&quot;), {!$Label.EMEA_PS_Email}, 
IF(ISPICKVAL({!$Record.Parent.Web_Region__c},&quot;Americas&quot;),{!$Label.Americas_PS_EMail},
IF(ISPICKVAL({!$Record.Parent.Web_Region__c},&apos;APAC&apos;),{!$Label.APAC_PS_Email},&quot;&quot;)))</expression>
    </formulas>
    <interviewLabel>Update Internal PS Email and send ALert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Internal PS Email and send Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Case_Object</name>
        <label>Update Case Object</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Notify_PS_Web_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Internal_PS_Email__c</field>
            <value>
                <elementReference>PSEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Only_on_first_E2C</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>500</stringValue>
            </value>
        </filters>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ToAddress</field>
            <operator>Contains</operator>
            <value>
                <stringValue>professionalservice</stringValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
