force-app/main/default/flows/Update_Next_Activity_Date_on_Hotlist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Update_Hotlist_Next_activity_date</name>
        <label>Update Hotlist.Next_activity_date</label>
        <locationX>644</locationX>
        <locationY>107</locationY>
        <assignmentItems>
            <assignToReference>GetHotListObj.Next_Activity_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetTaskRecords.ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Hotlist</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Tasks_Found</name>
        <label>Tasks Found ?</label>
        <locationX>289</locationX>
        <locationY>353</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Any_open_task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTaskRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetHotListObj</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Hotlist_Next_activity_date</targetReference>
            </connector>
            <label>Any open task ?</label>
        </rules>
    </decisions>
    <description>Updates next activity date by qureying all tasks to the Hotlist, getting the due date that the most recent for open tasks, and adds the value to the Hot list record next activity date field. 
1. Get Task with Due date that most upcoming 
2. Add Due date to Hot list next activity date</description>
    <interviewLabel>Update Next Activity Date on Hotlist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Next Activity Date on Hotlist</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetHotListObj</name>
        <label>GetHotListObj</label>
        <locationX>386</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tasks_Found</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Disposition__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketing Qualified Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>Disposition__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Accepted Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>Disposition__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>passHotListID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Hot_List__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTaskRecords</name>
        <label>GetTaskRecords</label>
        <locationX>225</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetHotListObj</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Deferred</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>passHotListID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ActivityDate</queriedFields>
        <sortField>ActivityDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Hotlist</name>
        <label>Update Hotlist</label>
        <locationX>775</locationX>
        <locationY>73</locationY>
        <inputReference>GetHotListObj</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetTaskRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>passHotListID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
