force-app/main/default/flows/Update_Pick_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_Product_Family</name>
        <label>Check Product Family</label>
        <locationX>446</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Essentials</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Family_List__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Family_List__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Essentials</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pick_Product_Case_Reason_and_Closed_Case_Reason</targetReference>
            </connector>
            <label>Is Essentials</label>
        </rules>
        <rules>
            <name>Is_Cloud_Control</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Family_List__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cloud Control</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Pick_Product</targetReference>
            </connector>
            <label>Is Cloud Control</label>
        </rules>
        <rules>
            <name>Is_Product_Family_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Family_List__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pick_Product</targetReference>
            </connector>
            <label>Is Product Family Changed</label>
        </rules>
    </decisions>
    <description>Update Pick Product when Pick Product is selected + SFDC-18821</description>
    <environments>Default</environments>
    <interviewLabel>Update Pick Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Pick Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Clear_Pick_Product</name>
        <label>Clear Pick Product</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pick_Product_only_if_Essentials__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cloud Control</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Pick_Product_only_if_Essentials__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pick_Product</name>
        <label>Update Pick Product</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sub_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Files &amp; Folders</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Reason__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closed_Case_Reason__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pick_Product_only_if_Essentials__c</field>
            <value>
                <elementReference>$Record.Product_Family_List__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pick_Product_Case_Reason_and_Closed_Case_Reason</name>
        <label>Update Pick Product, Case Reason and Closed Case Reason</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sub_Reason__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Files &amp; Folders</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Reason__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closed_Case_Reason__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pick_Product_only_if_Essentials__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Product_Family</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Family_List__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Sonian</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Family_List__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Barracuda Total Email Protection</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
