force-app/main/default/flows/Update_Hot_List_Parent_Lead_Source.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Type</name>
        <label>Check Type</label>
        <locationX>165</locationX>
        <locationY>205</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Most_Recent_Lead_Source</targetReference>
            </connector>
            <label>Is Lead</label>
        </rules>
        <rules>
            <name>Is_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Most_Recent_Lead_Source</targetReference>
            </connector>
            <label>Is Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>IS_NULL</name>
        <label>IS NULL</label>
        <locationX>525</locationX>
        <locationY>99</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Most_Recent_Lead_Source_is_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Most_Recent_Lead_Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Source</targetReference>
            </connector>
            <label>Most Recent Lead Source is NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>IS_NULL_Contact</name>
        <label>IS NULL Contact</label>
        <locationX>554</locationX>
        <locationY>240</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Most_Recent_Lead_Source_iS_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Most_Recent_Lead_Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Most Recent Lead Source iS Blank</label>
        </rules>
    </decisions>
    <description>Call as sub-flow: to update the parent lead source value for Lead or Contact</description>
    <interviewLabel>Update Hot List Parent Lead Source {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Hot List Parent Lead Source</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Most_Recent_Lead_Source</name>
        <label>Get Contact Most Recent Lead Source</label>
        <locationX>379</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IS_NULL_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhoId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Lead_Most_Recent_Lead_Source</assignToReference>
            <field>Most_Recent_Lead_Source__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Most_Recent_Lead_Source</name>
        <label>Get Lead Most Recent Lead Source</label>
        <locationX>367</locationX>
        <locationY>90</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IS_NULL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhoId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>Lead_Most_Recent_Lead_Source</assignToReference>
            <field>Most_Recent_Lead_Source__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Reset_Contact_Bypass</name>
        <label>Reset Contact Bypass</label>
        <locationX>1064</locationX>
        <locationY>233</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bypass_Validation__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_Lead_Bypass</name>
        <label>Reset Lead Bypass</label>
        <locationX>1051</locationX>
        <locationY>84</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bypass_Validation__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>884</locationX>
        <locationY>238</locationY>
        <connector>
            <targetReference>Reset_Contact_Bypass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bypass_Validation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Lead_Source__c</field>
            <value>
                <elementReference>Most_Recent_Lead_Source</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Source</name>
        <label>Update Lead Source</label>
        <locationX>858</locationX>
        <locationY>85</locationY>
        <connector>
            <targetReference>Reset_Lead_Bypass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bypass_Validation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MQL_Reason__c</field>
            <value>
                <elementReference>MQL_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Lead_Source__c</field>
            <value>
                <elementReference>Most_Recent_Lead_Source</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Type</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Contact_Most_Recent_Lead_Source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lead_Most_Recent_Lead_Source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Most_Recent_Lead_Source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MQL_Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>record_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WhoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
