force-app/main/default/flows/Update_Hot_List_Parent_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Open_Hot_List_Flag</name>
        <label>Open Hot List Flag</label>
        <locationX>945</locationX>
        <locationY>327</locationY>
        <assignmentItems>
            <assignToReference>OpenFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Open_Hot_Lists</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Disposition</name>
        <label>Check Disposition</label>
        <locationX>42</locationX>
        <locationY>490</locationY>
        <defaultConnector>
            <targetReference>Set_Unqualified_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Return_to_Marketing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Hot_List_Obj.Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return to Marketing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Return_Reason</targetReference>
            </connector>
            <label>Return to Marketing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Open_Disposition</name>
        <label>Check Open Disposition</label>
        <locationX>735</locationX>
        <locationY>404</locationY>
        <defaultConnector>
            <targetReference>Check_Other_Hot_Lists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Hot_List_Obj.Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing Qualified Lead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hot_List_Obj.Disposition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Accepted Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Hot_List_Flag</targetReference>
            </connector>
            <label>Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Open_Hot_Lists</name>
        <label>Has Open Hot Lists</label>
        <locationX>830</locationX>
        <locationY>151</locationY>
        <defaultConnectorLabel>Default Outcome - Yes</defaultConnectorLabel>
        <rules>
            <name>Lead_No</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>OpenFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead</targetReference>
            </connector>
            <label>Lead - No</label>
        </rules>
        <rules>
            <name>Contact_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpenFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact_Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Status</targetReference>
            </connector>
            <label>Contact - No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hot_List_Type</name>
        <label>Hot List Type</label>
        <locationX>215</locationX>
        <locationY>102</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_Hot_Lists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome - Contact</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Hot_Lists</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <description>Called from PB: Hot List Management - Create/Edit to update Lead OR Contact Status</description>
    <formulas>
        <name>Return_Unqualified_Reason_Formula</name>
        <dataType>String</dataType>
        <expression>IF( ISPICKVAL({!Current_Hot_List_Obj.Disposition__c}, &apos;Unqualified&apos;), TEXT({!Current_Hot_List_Obj.Unqualified_Reasons__c}),TEXT({!Current_Hot_List_Obj.Return_to_Marketing_Reasons__c}) )</expression>
    </formulas>
    <interviewLabel>Update Hot List Parent Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Hot List Parent Status</label>
    <loops>
        <name>Check_Other_Hot_Lists</name>
        <label>Check Other Hot Lists</label>
        <locationX>610</locationX>
        <locationY>217</locationY>
        <assignNextValueToReference>Hot_List_Obj</assignNextValueToReference>
        <collectionReference>Other_Hot_List_Objs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Open_Disposition</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Open_Hot_Lists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Hot_Lists</name>
        <label>Get Contact Hot Lists</label>
        <locationX>462</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Other_Hot_Lists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Hot_List_Id</elementReference>
            </value>
        </filters>
        <object>Hot_List__c</object>
        <outputReference>Other_Hot_List_Objs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Disposition__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Hot_List</name>
        <label>Get Current Hot List</label>
        <locationX>50</locationX>
        <locationY>239</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Disposition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Hot_List_Id</elementReference>
            </value>
        </filters>
        <object>Hot_List__c</object>
        <outputReference>Current_Hot_List_Obj</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Disposition__c</queriedFields>
        <queriedFields>Return_Unqualified_Reason__c</queriedFields>
        <queriedFields>Reason_Comments__c</queriedFields>
        <queriedFields>Return_to_Marketing_Reasons__c</queriedFields>
        <queriedFields>Unqualified_Reasons__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Hot_Lists</name>
        <label>Get Lead Hot Lists</label>
        <locationX>495</locationX>
        <locationY>93</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Other_Hot_Lists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Hot_List_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead_Id</elementReference>
            </value>
        </filters>
        <object>Hot_List__c</object>
        <outputReference>Other_Hot_List_Objs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Disposition__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Set_Return_Reason</name>
        <label>Set Return Reason</label>
        <locationX>315</locationX>
        <locationY>541</locationY>
        <connector>
            <targetReference>Hot_List_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Hot_List_Obj.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Return_Unqualified_Reason__c</field>
            <value>
                <elementReference>Current_Hot_List_Obj.Return_to_Marketing_Reasons__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unqualified_Reasons__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Hot_List__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Unqualified_Reason</name>
        <label>Set Unqualified Reason</label>
        <locationX>169</locationX>
        <locationY>333</locationY>
        <connector>
            <targetReference>Hot_List_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Hot_List_Obj.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Return_Unqualified_Reason__c</field>
            <value>
                <elementReference>Current_Hot_List_Obj.Unqualified_Reasons__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_to_Marketing_Reasons__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Hot_List__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Status</name>
        <label>Update Contact Status</label>
        <locationX>1110</locationX>
        <locationY>247</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_LeadStatus__c</field>
            <value>
                <elementReference>Current_Hot_List_Obj.Disposition__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Comments__c</field>
            <value>
                <elementReference>Current_Hot_List_Obj.Reason_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Unqualified_Reason__c</field>
            <value>
                <elementReference>Return_Unqualified_Reason_Formula</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>1106</locationX>
        <locationY>66</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason_Comments__c</field>
            <value>
                <elementReference>Current_Hot_List_Obj.Reason_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Unqualified_Reason__c</field>
            <value>
                <elementReference>Return_Unqualified_Reason_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Current_Hot_List_Obj.Disposition__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Current_Hot_List</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Current_Hot_List_Obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Hot_List__c</objectType>
    </variables>
    <variables>
        <name>Disposition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Hot_List_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Hot_List_Obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Hot_List__c</objectType>
    </variables>
    <variables>
        <name>Lead_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>OpenFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Other_Hot_List_Objs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Hot_List__c</objectType>
    </variables>
</Flow>
