force-app/main/default/flows/Update_Opportunity_isOutOfDate_Field_on_Opportunity_Closure.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Store_the_updated_Opportunity</name>
        <label>Store the updated Opportunity</label>
        <locationX>1139</locationX>
        <locationY>378</locationY>
        <assignmentItems>
            <assignToReference>updatedOpportunityList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_the_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_the_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opportunity_isOutOfDate_Field</name>
        <label>Update Opportunity isOutOfDate Field</label>
        <locationX>829</locationX>
        <locationY>233</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_the_Opportunities.isOutOfDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_the_updated_Opportunity</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Amendment</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Amendment</stringValue>
        </value>
    </constants>
    <constants>
        <name>Renewal</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Renewal</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Credit_Oppty</name>
        <label>Is Credit Oppty</label>
        <locationX>50</locationX>
        <locationY>448</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Credit_Oppty_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order in Process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Amendment_Opportunities</targetReference>
            </connector>
            <label>Not a Credit Oppty</label>
        </rules>
        <rules>
            <name>Yes_a_Credit_Oppty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Credit_Oppty_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <label>Yes a Credit Oppty</label>
        </rules>
    </decisions>
    <description>+ SFDC-15061</description>
    <interviewLabel>Update Opportunity isOutOfDate Field on Opportunity Closure {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Opportunity isOutOfDate Field on Opportunity Closure</label>
    <loops>
        <name>Loop_Through_the_Opportunities</name>
        <label>Loop Through the Opportunities</label>
        <locationX>622</locationX>
        <locationY>378</locationY>
        <collectionReference>Fetch_Amendment_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Opportunity_isOutOfDate_Field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_Amendment_Opportunities</name>
        <label>Fetch Amendment Opportunities</label>
        <locationX>195</locationX>
        <locationY>605</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_the_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MSP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Amendment</elementReference>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThan</operator>
            <value>
                <dateValue>2020-10-01</dateValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Credit_Oppty_Products</name>
        <label>Get Credit Oppty Products</label>
        <locationX>232</locationX>
        <locationY>303</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Credit_Oppty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CR-ADJ-Other</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>619</locationX>
        <locationY>665</locationY>
        <inputReference>updatedOpportunityList</inputReference>
    </recordUpdates>
    <start>
        <locationX>225</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Credit_Oppty_Products</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND ( 4 OR 5)</filterLogic>
        <filters>
            <field>Business_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MSP</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order in Process</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Amendment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>IsCreditAmendOppty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>updatedOpportunityList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
