force-app/main/default/flows/Update_Case_Outbound_or_Inbound_Call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Last_Inbound</name>
        <label>Assign Last Inbound</label>
        <locationX>1003</locationX>
        <locationY>561</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.Agent_Last_Inbound_Call__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCase_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inbound_First_Response</name>
        <label>Inbound First Response</label>
        <locationX>1575</locationX>
        <locationY>420</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.Agent_First_Communication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.Agent_First_Communication_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inbound Call</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Outbound_First_Response_0</name>
        <label>Outbound First Response</label>
        <locationX>1574</locationX>
        <locationY>573</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.Agent_First_Communication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.Agent_First_Communication_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outbound Call</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Last_Outbound</name>
        <label>Update Last Outbound</label>
        <locationX>999</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.Agent_Last_Outbound_Call__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCase_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>First_Response</name>
        <label>First Response</label>
        <locationX>1333</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InboundType</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.CallType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Inbound</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inbound Phone Call</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Agent_First_Communication__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inbound_First_Response</targetReference>
            </connector>
            <label>Inbound</label>
        </rules>
        <rules>
            <name>OutboundType</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound Phone Call</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task.CallType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Agent_First_Communication__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outbound_First_Response_0</targetReference>
            </connector>
            <label>Outbound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inbound_Outbound</name>
        <label>Inbound/Outbound</label>
        <locationX>720</locationX>
        <locationY>501</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inbound</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inbound Phone Call</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task.CallType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inbound</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Last_Inbound</targetReference>
            </connector>
            <label>Inbound</label>
        </rules>
        <rules>
            <name>Outbound</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.CallType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outbound Phone Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_Outbound</targetReference>
            </connector>
            <label>Outbound</label>
        </rules>
    </decisions>
    <interviewLabel>Update Case Outbound or Inbound Call (First Response) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Case Outbound or Inbound Call</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>206</locationX>
        <locationY>499</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>passCaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>490</locationX>
        <locationY>499</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inbound_Outbound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>passTaskId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>UpdateCase</label>
        <locationX>1758</locationX>
        <locationY>493</locationY>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCase_0</name>
        <label>UpdateCase</label>
        <locationX>1155</locationX>
        <locationY>498</locationY>
        <connector>
            <targetReference>First_Response</targetReference>
        </connector>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <start>
        <locationX>78</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>passCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>passTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
