force-app/main/default/flows/User_Process_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Update_user_name</name>
        <label>Update user name</label>
        <locationX>308</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.Community_UserName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Username</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_record</targetReference>
        </connector>
    </assignments>
    <description>Flow on User object</description>
    <environments>Default</environments>
    <interviewLabel>User Process Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Process Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>308</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_user_name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Community_Enabled__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Community Enabled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Community_UserName__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates &quot;Community Username&quot; field on Contact object when the &quot;Username&quot; field on User object is updated.</description>
        <name>Update_Contact_record</name>
        <label>Update Contact record</label>
        <locationX>308</locationX>
        <locationY>528</locationY>
        <inputReference>Get_Contact_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Contact_Record</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
